body{
    background-color: skyblue;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 30px;
}
.first {
    width: 500px;
    height: 50px;
     padding: 15px;
     border: 1px solid black;
}
                                              
.second {
    background-color: coral;
    color: white;
}

.third {
   text-transform: uppercase;
   text-align: center;
   font-size: 15px;
}