<div class="" style="background: #f5f5f5; padding: 0 4%;">
    <!-- <ngx-loading-bar color="#009688"></ngx-loading-bar> -->

<!-- <div style="position: absolute; right: 20px; "><h3> عربى</h3></div> -->

  <div fxLayout="row wrap">
      <!-- <div class="loading-indicator">
          <mat-progress-spinner *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-spinner>
        </div> -->
       
    <div fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" class="session">
      <div class="session-content">
        <div class="session-wrapper">
          <div class="pad-hor">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="login-logo">
              </div>
              <div fxLayout="column" fxLayoutAlign="space-around">
                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <input matInput autofocus allow-email-charecters placeholder="Username" [formControl]="form.controls['uname']" name="username"
                      [(ngModel)]="model.username" >
                  </mat-form-field>
                  <small *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched" class="mat-text-warn loginerror">Username
                    is required.</small>
                </div>
                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <input matInput type="password" placeholder="Password" [formControl]="form.controls['password']"
                      name="password" [(ngModel)]="model.password">
                  </mat-form-field>
                  <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                    class="mat-text-warn loginerror">Password is required.</small>
                </div>
                <!-- <div class="pb-1">
                <mat-checkbox>Stay logged in</mat-checkbox>
              </div> -->
                <!-- <div class="pt-1 pb-1"> -->
                  <!-- <mat-checkbox color="primary">Keep me signed in</mat-checkbox> -->
                  <!-- <a class="pull-right text-dark">Forgot password?</a> -->
                  <!-- <a [routerLink]="['/session/signup']">Sign up for a new account.</a> -->
                <!-- </div> -->
                <br>
                <button mat-raised-button color="primary" type="submit" 
                [disabled]="!form.valid || loading" style="padding: 10px;">Sign in</button>
                <mat-spinner matSuffix *ngIf="loading" mode="indeterminate" diameter="17"></mat-spinner>
                <div *ngIf=messageflag class="alert alert-danger margin-top-5"><strong>{{message}}</strong></div>
                <!-- <div class="pt-1 pb-1 text-xs-center">Don’t have an account?
                  <a [routerLink]="['/signup']">Sign Up</a>
                </div> -->
                <img src="assets/images/synapse-logo.svg" width="180" style="margin-left: 95px;margin-top: 20px"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    

    <div fxFlex.gt-sm="60" fxFlex.gt-xs="100" fxFlex="100" class="session">
      <div class="rgt-btm session-content">
        <!-- <div>
          <img src="assets/images/login-img.jpg" width="100%" />
        </div> -->
        <div class="loginbg"></div>
        <div  style="width: 100%; text-align: center; margin: 0 auto; position: absolute;  bottom:0; left:0;">
            <span style="margin-right: 40px;">
            <span><img src="assets/images/sms.svg" width="18"> SMS</span>
          </span>

          <span style="margin-right: 40px;">
            <span><img src="assets/images/email2.svg" width="19"> Email</span></span>
          <!-- <div fxFlex.gt-sm="35" fxFlex="50" matTooltip="Increase engagement with your APP users and drive conversions with Push Notifications."
            [matTooltipPosition]="position" [matTooltipClass]="{'blue-tooltip': showExtraClass}"><span><img src="assets/images/bell.svg"
                width="18"> Push Notification</span></div> -->
          <span>
            <span><img src="assets/images/bell.svg" width="18"> Push Notification</span></span>
             
              <div style="font-size: 12px; color:#6c8da8; margin: 15px;">Powered by Vectramind Corporation</div> 
        </div>
      </div>
    </div>
  </div>
</div>