<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-grid-list cols="2" rowHeight="14:1" class="alert-success">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <div class="example-button-row">
            <a mat-stroked-button routerLink="login" [ngStyle]="{'color':'blue'}">Login</a>  
            <a mat-stroked-button routerLink="regform" [ngStyle]="{'color':'blue'}">Registration</a>
          </div>  
        </mat-grid-tile>
   </mat-grid-list>

</div>

<router-outlet></router-outlet>
