<nav id="mainnav-container" class="sidebar">

  <div class="row">

    <div class="tab-lft-sec">
      <!-- <perfect-scrollbar style=" overflow-y: auto;" [config]="config"> -->
      <ul class="nav nav-tabs tabs-left ulsideicons" role="tablist" style="padding:0">
        <li role="presentation" *ngFor="let menuitem of menuitems" [ngClass]="(menuitem.link == activeTab)?'active':''">


          <a (click)="handleClick(menuitem,true)" aria-controls="home" role="tab" data-toggle="tab"
            title="{{'MenuNames.'+menuitem.name | translate}}" aria-expanded="true">
            <i class="{{menuitem.icon}}"></i>
          </a>

        </li>
      </ul>
      <!-- </perfect-scrollbar> -->
    </div>

    <div class=" tab-rgt-sec" >
      <perfect-scrollbar style="overflow-y: auto;" [config]="config">
        <div class="tab-content tab-cnt-inner">
          <div *ngFor="let menuitem of menuitems" role="tabpanel" class="sideicons tab-pane"
            [ngClass]="(menuitem.link == activeTab)?'active':''" id="{{menuitem.id}}">
            <div class="sd-title">{{ 'MenuNames.'+menuitem.name | translate}} </div>
            <div >
              <ul class="list-unstyled">
                <li *ngFor="let submenuitem of menuitem.submenu">
                    <a (click)="handleClick(submenuitem,false)" *ngIf="submenuitem.link == 'manualtoken' ? _manualAction  : true" [routerLinkActive]="['active']" [ngClass]=" activeSubTab == '/'+submenuitem.link ? 'mainmenuActive' :''" >
                      {{'SubMenuNames.'+submenuitem.name | translate}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>

  </div>

</nav>