<mat-card>
  <mat-card-header>
    <div class="w80">
      <h4 class=" wrap-word">{{'GroupsModule.groupdetails.pageTitle' | translate}}</h4> 
    </div>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%; "><i class="ti-close"></i></button>
  </mat-card-header>

  <mat-card-content class="pad-all2 wrap-word pre-content">

    <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex>
            <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>{{'GroupsModule.groupdetails.groupName' | translate}}</strong> </div> 
            <div class="bord-all pad-all-sm"> {{groupName}}</div>
        </div>

        <div fxFlex>
            <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>{{'GroupsModule.groupdetails.clientName' | translate}} </strong> </div>
            <div  class="bord-all pad-all-sm"> {{clientName}}</div>
        </div>
    </div>

    
         
        <div fxLayout="row wrap" class="clearfix mar-top">

        <div class="bord-all pad-all-sm w100" style="background: #fafafa"><strong>{{'GroupsModule.groupdetails.hospital' | translate}} </strong></div>
        <div fxFlex fxFlex="50" class="bord-all  pad-all-sm licensedetails" *ngFor="let item of this.selectedhosp" >
        
          {{item.organization}}
         
        </div>
    </div>

  </mat-card-content>


</mat-card>