<!-- <p>
    studio works!
  </p> -->
<!-- <ul *ngIf="song" class="player">
  <li class="player-item">
    <a class="player-link" (click)="toggleAudio()">
      <i *ngIf="isPlaying"  class="fa fa-play" aria-hidden="true"></i>
      <i *ngIf="!isPlaying" class="fa fa-pause" aria-hidden="true"></i>
    </a>
  </li>
  <li class="player-item">
    <a class="player-link"><i class="fa fa-volume-up" aria-hidden="true"></i></a>
  </li>
  <li class="player-item">
    <a class="player-link">{{currentTime}}</a>
  </li>
  <li class="player-item">
    <a class="player-link"><i class="fa fa-fast-backward" aria-hidden="true"></i></a>
  </li>
  <li class="player-desc">
    <a class="player-link">{{song.title}} by {{song.artist}}</a>
  </li>
  <li class="player-item">
    <a class="player-link"><i class="fa fa-fast-forward" aria-hidden="true"></i></a>
  </li>
  <li class="player-item">
    <a class="player-link">{{fullTime}}</a>
  </li>
  <li class="player-item">
    <a class="player-link"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </li>
  <li class="player-item">
    <a class="player-link"><i class="fa fa-share" aria-hidden="true"></i></a>
  </li>
</ul> -->