<mat-card class="no-shadow">
  <mat-card-header style="border-bottom: 1px solid #eee;">

    <h4>
      {{  _editAlertData==null  ?('Alert Manager.createAlert.create' | translate) : ('Alert Manager.createAlert.update' | translate)}}
    </h4>

    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i class="ti-close"></i></button>
  </mat-card-header>
  <mat-card-content>

    <div class="mystepper">
      <mat-vertical-stepper labelPosition="bottom" linear #stepper>
        <mat-step [stepControl]="_inputData">
          <form [formGroup]="_inputData">
            <ng-template matStepLabel>{{'Alert Manager.createAlert.inputData' | translate}}</ng-template>

            <div class="stepcontainer" fxLayout="row wrap" cdkFocusInitial>

              <div class="w100">
              <mat-form-field class="w95 mar-top">
                <input formControlName="alertName" autocomplete="off" [readonly]="_editAlertData"
                  placeholder="{{'Alert Manager.createAlert.createAlertName' | translate}}" allow-alpha-numeric-singlespace matInput
                  (change)="!_inputData.controls.alertName.errors?.required && _inputData.controls.alertName.valid ?
              _inputData.get('validateAlertName').setValue(_inputData.value.alertName): _inputData.get('validateAlertName').setValue(null)" required maxlength="30">
                <mat-error *ngIf="_inputData.controls.alertName.errors?.required">{{'Alert Manager.createAlert.alertRequired' | translate}}</mat-error>
                <mat-error *ngIf="_inputData.controls.alertName.errors?.minlength">{{'Alert Manager.createAlert.alertMinlen' | translate}}
                </mat-error>
              </mat-form-field>
              <mat-error *ngIf="_editAlertData == null && !_inputData.controls.validateAlertName.errors?.required &&
              !_inputData.controls.alertName.errors?.required && !_inputData.controls.validateAlertName.errors?.invalid
              " style="display: inline;"><i class=" ti-check text-success"></i></mat-error>
              <mat-error *ngIf="_editAlertData==null &&_inputData.controls.validateAlertName.errors?.invalid">
                <i class="ti-close text-danger">
                  <small style="font-family: Arial, Helvetica, sans-serif;">
                    {{'Alert Manager.createAlert.alertExists' | translate}}</small>
                </i></mat-error>
              </div>
              <mat-form-field class="full-width">
                <mat-select placeholder="{{'Alert Manager.createAlert.connectionProfiles' | translate}}" formControlName="connectionProfile"
                  (selectionChange)="ConnectionProfileChange()" required>
                  <mat-optgroup *ngFor="let profile of dbProfileData" [label]="profile?.deptName">
                    <mat-option *ngFor="let prof of profile?.dbProfileInfo" [value]="prof.dbProfileId">
                      {{prof.profileName}}</mat-option>
                  </mat-optgroup>
                  <!-- <mat-option *ngFor="let profile of dbProfiles" [value]="profile.dbProfileId">{{profile.profileName}}</mat-option> -->
                </mat-select>
                <mat-error *ngIf="_inputData.controls.connectionProfile.errors?.required">{{'Alert Manager.createAlert.connectionRequired' | translate}}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width">
                <textarea matTextareaAutosize matAutosizeMinRows="5"   matAutosizeMaxRows="5"
                  formControlName="selectStatement" [readonly]="validate" placeholder="{{'Alert Manager.createAlert.selectStatement' | translate}}" matInput
                  required maxlength="3000"></textarea>
                <mat-error *ngIf="_inputData.controls.selectStatement.errors?.required">{{'Alert Manager.createAlert.statementRequired' | translate}}
                </mat-error>
                <mat-error *ngIf="_inputData.controls.selectStatement.errors?.minlength">{{'Alert Manager.createAlert.statementMinlen' | translate}}
                </mat-error>
              </mat-form-field>
              <mat-hint *ngIf="selectQuerycount>-1" style="color:green">
                {{'Alert Manager.createAlert.count' | translate}}  :{{selectQuerycount}}
              </mat-hint>
              <div class="col-sm-3">
                <button type="button" *ngIf="!validate" actionClick (debounceClick)="ValidateSelectQuery(true)"
                  [disabled]="_inputData.controls.selectStatement.invalid || _inputData.controls.connectionProfile.invalid "
                  mat-raised-button class="submitbutton">{{'Alert Manager.createAlert.verifyQuery' | translate}}</button>
                <button type="button" *ngIf="validate" actionClick (debounceClick)="editSelectQuery()" mat-raised-button
                class="submitbutton">{{'Alert Manager.createAlert.editQuery' | translate}}</button>
              </div>
              <mat-form-field class="full-width">
                <mat-select placeholder="{{'Alert Manager.createAlert.mobileField' | translate}}" formControlName="mobileField" required>
                  <mat-option *ngFor="let field of Columns" [value]="field">{{field}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="_inputData.controls.mobileField.errors?.required">{{'Alert Manager.createAlert.mobileRequired' | translate}}</mat-error>
              </mat-form-field>
            </div>

            <div>
              <button type="button" mat-raised-button class="submitbutton" matStepperNext>{{'ActionNames.next' | translate}}</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="_updateData">
          <form [formGroup]="_updateData">
            <ng-template matStepLabel>{{'Alert Manager.createAlert.updateData' | translate}}</ng-template>
            <div class="stepcontainer">
              <mat-form-field class="full-width mar-top">
                <mat-select placeholder="{{'Alert Manager.createAlert.updateTable' | translate}}" (selectionChange)="tableSelection($event.value,true)"
                  formControlName="updateTable" required>
                  <mat-option *ngFor="let table of tableData" [value]="table.tableName">{{table.tableName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="_updateData.controls.updateTable.errors?.required">{{'Alert Manager.createAlert.tableRequired' | translate}}</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-select placeholder="{{'Alert Manager.createAlert.uniqueColumn' | translate}}" formControlName="UpdateUniqueColumn" required>
                  <mat-option *ngFor="let column of columnData" [value]="column.columnName">{{column.columnName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="_updateData.controls.UpdateUniqueColumn.errors?.required">{{'Alert Manager.createAlert.columnRequired' | translate}}
                </mat-error>
              </mat-form-field>
              <div formGroupName="updateDetails">
                <mat-form-field class="full-width">
                  <mat-select placeholder="{{'Alert Manager.createAlert.updateColumn' | translate}}" formControlName="updateColumnName">
                    <mat-option *ngFor="let column of columnData" [value]="column.columnName">{{column.columnName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-radio-group class="full-width" formControlName="isStatic">
                  <mat-radio-button value='0' color="primary" checked>{{'Alert Manager.createAlert.static' | translate}}</mat-radio-button>&nbsp;
                  <mat-radio-button value='1' color="primary">{{'Alert Manager.createAlert.dynamic' | translate}}</mat-radio-button>
                </mat-radio-group>
                <div class="clearfix pad-top">
                  <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="80" *ngIf="_updateDetails.value.isStatic=='0'">
                      <mat-form-field class="full-width">
                        <input formControlName="staticColumnValue" placeholder="{{'Alert Manager.createAlert.Value' | translate}}" matInput
                          allow-alpha-numeric-singlespace>

                      </mat-form-field>
                    </div>

                    <div fxFlex.gt-sm="80" *ngIf="_updateDetails.value.isStatic=='1'">
                      <mat-form-field class="full-width">
                        <mat-select placeholder="{{'Alert Manager.createAlert.Value' | translate}}" formControlName="dynamicColumnValue">
                          <mat-option *ngFor="let param of systemParams" [value]="param.id">{{param.name}}</mat-option>
                        </mat-select>

                      </mat-form-field>
                    </div>

                    <div fxFlex.gt-sm="20">
                      <button type="button" class="btn submitbutton" style="padding-top:10px"
                        [disabled]="_updateDetails.value.isStatic=='0' ? (_updateDetails.value.updateColumnName == null || (_updateDetails.value.staticColumnValue==null && _updateDetails.value.staticColumnValue=='')) : (_updateDetails.value.updateColumnName == null || _updateDetails.value.dynamicColumnValue==null)"
                        actionClick (debounceClick)="addSetColumnData(true)"><i class="ti-plus"></i></button>
                    </div>
                  </div>


                  <table class="table table-horizontal" style="width:100%" *ngIf="columnDetails.length > 0">
                    <tr style="background: #adadad; color: #ffffff">
                      <td>{{'Alert Manager.createAlert.columnNames' | translate}}</td>
                      <td>{{'Alert Manager.createAlert.type' | translate}}</td>
                      <td>{{'Alert Manager.createAlert.updateValue' | translate}}</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr *ngFor="let item of columnDetails">

                      <td>{{item.columnName}}</td>
                      <td>{{item.staticvalue =='0' ? 'Static': 'Dynamic'}}</td>
                      <td>{{item.UpdateValue}}</td>
                      <td><i class="ti-close" actionClick (debounceClick)="removeSetColumnData(item)"></i></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <mat-hint *ngIf="columnDetails.length==0" style="color:red">
              {{'Alert Manager.createAlert.updateColumnData' | translate}}
            </mat-hint>
            <div>

              <button mat-raised-button matStepperPrevious>{{'ActionNames.back' | translate}}</button>&nbsp;&nbsp;
              <button type="button" mat-raised-button class="submitbutton" matStepperNext>{{'ActionNames.next' | translate}}</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="_alertDetails">
          <form [formGroup]="_alertDetails">
            <ng-template matStepLabel>{{'Alert Manager.createAlert.alertDetails' | translate}}</ng-template>
            <div class="stepcontainer">


              <mat-form-field class="full-width mar-top">
                <mat-select placeholder="{{'Alert Manager.createAlert.senderId' | translate}}" formControlName="senderId" required>
                  <mat-option *ngFor="let sender of sendersData" [value]="sender.senderId">{{sender.senderName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="_alertDetails.controls.senderId.errors?.required">{{'Alert Manager.createAlert.senderRequired' | translate}}</mat-error>
              </mat-form-field>

              <div>
                <mat-checkbox class="example-margin" color="primary" formControlName="isCustom" (change)="customSelection()">{{'Alert Manager.createAlert.customMessage' | translate}}</mat-checkbox>
              </div>
              <div *ngIf="_alertDetails.controls.isCustom.value==true">
                <mat-form-field class="full-width">
                  <mat-select placeholder="{{'Alert Manager.createAlert.columnNames' | translate}}" formControlName="columnName">
                    <mat-option *ngFor="let column of columnData" [value]="column.columnName">{{column.columnName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>&nbsp;
                <label *ngIf="_alertDetails.value.columnName != null" for="focus-input" type="button"
                  class="btn btn-primary" actionClick (debounceClick)="addColumnFieldToMesssage()">{{'ActionNames.add'|translate}}</label>
              </div>
              <mat-form-field class="example-full-width group-top-margin" style="width: 100%;">
                <textarea matInput placeholder="{{'ActionNames.'+msgPlaceHolder | translate}}" formControlName="alertMessage" class="typewriter"
                  #message name="focus-input" matTextareaAutosize matAutosizeMinRows="5"  matAutosizeMaxRows="5"
                  rows="5" maxlength="{{msglength}}"
                  [ngClass]=" _arabic.test(_alertDetails.value.alertMessage) ? {arabic : true} : {english : true}" required>
                </textarea>
                <mat-hint align="end" style="color: green;font-weight: bold">{{charcount}}
                  {{'Alert Manager.createAlert.character' | translate}}(s) |
                  {{msgCount}} {{'Alert Manager.createAlert.message' | translate}}(s)</mat-hint>
                <mat-error *ngIf="_alertDetails.controls.alertMessage.errors?.required">
                  {{'Alert Manager.createAlert.msgRequired' | translate}}</mat-error>
              </mat-form-field>

              <mat-form-field style="width: 100%;">
                <mat-select placeholder="{{'Alert Manager.createAlert.selectService' | translate}}" formControlName="service" required>
                  <mat-option *ngFor="let serv of ServiceList" [value]="serv.templateId" >{{serv.serviceName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="schedule">
                <strong> {{'Alert Manager.createAlert.scheduledJob' | translate}}: </strong>
              </div>

              <mat-form-field class="full-width mar-top">
                <mat-select placeholder="{{'Alert Manager.createAlert.intervalType' | translate}}" (selectionChange)="intervalTypeChange(true)"
                  formControlName="intervalType" required>
                  <mat-option *ngFor="let interval of intervalTypes" [value]="interval.intervalTypeId">
                    {{interval.intervalName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="_alertDetails.controls.intervalType.errors?.required">{{'Alert Manager.createAlert.intervalTypeRequired' | translate}}</mat-error>
              </mat-form-field>

              <mat-form-field style="width: 100%;">
                <mat-select
                  placeholder="{{_alertDetails.value.intervalType=='1'  ? ('Alert Manager.createAlert.selectSeconds'|translate) : _alertDetails.value.intervalType=='2' ? ('Alert Manager.createAlert.selectMinutes' | translate): _alertDetails.value.intervalType=='3' ? ('Alert Manager.createAlert.selectHours' | translate) : ('Alert Manager.createAlert.selectIntervalTime' | translate)}}"
                  formControlName="intervalTime" required>
                  <mat-option *ngFor="let time of Time" [value]="time">{{time}}</mat-option>
                </mat-select>
                <mat-error *ngIf="_alertDetails.controls.intervalTime.errors?.required">
                  {{'Alert Manager.createAlert.pleaseSelect' | translate}} {{_alertDetails.value.intervalType=='1'  ? ('Alert Manager.createAlert.Seconds' | translate) : _alertDetails.value.intervalType=='2' ? ('Alert Manager.createAlert.Minutes' | translate): _alertDetails.value.intervalType=='3' ? ('Alert Manager.createAlert.Hours' | translate) : ('Alert Manager.createAlert.intervalTime' | translate)}}
                </mat-error>
              </mat-form-field>

            </div>
            <div>
              <button type="button" mat-raised-button color="" matStepperPrevious>{{'ActionNames.back' | translate}}</button>&nbsp;
              <button type="button" mat-raised-button class="submitbutton" matStepperNext>{{'ActionNames.next' | translate}}</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form>
            <ng-template matStepLabel> {{  _editAlertData  ? ('ActionNames.update' | translate) : ('ActionNames.save' | translate) }}</ng-template>
            <div class="stepcontainer">
              <div class="wizardForm">
                <table class="table table-bordered campaigndetails">
                  <tbody>
                    <tr>
                      <td>{{'Alert Manager.alertName' | translate}}</td>
                      <td>{{_inputData.value.alertName}}</td>
                    </tr>
                    <tr>
                      <td>{{'Alert Manager.createAlert.connectionProfiles' | translate}}</td>
                      <td>{{_dbProfileName}}
                      </td>
                    </tr>
                    <tr>
                      <td>{{'Alert Manager.createAlert.query' | translate}}</td>
                      <td>{{_inputData.value.selectStatement}}</td>
                    </tr>
                    <tr>
                      <td>{{'Alert Manager.createAlert.mobileField' | translate}}</td>
                      <td>{{_inputData.value.mobileField}}</td>
                    </tr>

                    <tr>
                      <td>{{'Alert Manager.createAlert.selectedTable' | translate}}</td>
                      <td>{{_updateData.value.updateTable}}</td>
                    </tr>
                    <tr>
                      <td>{{'Alert Manager.createAlert.updateUniqueColumn' | translate}}</td>
                      <td>{{_updateData.value.UpdateUniqueColumn}}</td>
                    </tr>
                    <tr>
                      <td>{{'Alert Manager.createAlert.senderName' | translate}}</td>
                      <td>{{_senderName}}</td>
                    </tr>
                    <tr>
                      <td>{{'Alert Manager.createAlert.scheduledTime' | translate}}</td>
                      <td>
                        {{_intervalType}}({{_alertDetails.value.intervalTime}})
                      </td>

                    </tr>
                    <tr>
                      <td>{{'Alert Manager.createAlert.message' | translate}}</td>
                      <td
                        [ngClass]=" _arabic.test(_alertDetails.value.alertMessage) ? {arabic : true} : {english : true}">
                        {{_alertDetails.value.alertMessage}}</td>
                    </tr>

                  </tbody>
                </table>

              </div>

              <div class="pad-all2">
                <button matStepperPrevious mat-raised-button>{{'ActionNames.back' | translate}}</button>
                <button mat-raised-button class="submitbutton" [disabled]="loading" actionClick (debounceClick)="createAlert()">{{ _editAlertData ?
                  ('ActionNames.update' | translate):('ActionNames.save' | translate)}}</button>
              </div>

            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </mat-card-content>

</mat-card>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>