<!--The content below is only a placeholder and can be replaced.-->
<h3>Single selection</h3>
<div>
  <mat-form-field>
      <mat-label>Bank Place Names</mat-label>
    <mat-select [formControl]="bankCtrl" placeholder="Bank" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<p>
  Selected Bank: {{bankCtrl.value?.name}}
</p> <br><br><hr>

<app-multi-select></app-multi-select><hr><br><br>
<app-multi-select-with-allcheckbox></app-multi-select-with-allcheckbox>