<mat-card class="no-shadow" style="position: relative;">

    <mat-card-header class="pad-all">
      <div class="details-heading clearfix">{{'DoctorServingModule.servingTokeninfo' | translate}}</div>
      <button mat-icon-button (click)="close()" style="position: absolute; right: 1%; top: 1%;">
        <i class="ti-close"></i>
      </button>
    </mat-card-header>
    <mat-card-content class="pad-all2" *ngIf="roomData?.length > 0">
      <mat-form-field class="w20">
        <mat-select cdkFocusInitial placeholder="{{'DoctorServingModule.selectRoom' | translate}}" 
        [(ngModel)]="roomno" (selectionChange)="roomChange()" required>
            <mat-option *ngFor="let room of roomData" [value]="room">{{room}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content class="pad-all2" *ngIf="serviceArray?.length > 0">
  
      <mat-table #table [dataSource]="dataSource" style="box-shadow: none; margin:0;" class="mar-no pad-no">
  
          <ng-container matColumnDef="tokenNo">
              <mat-header-cell *matHeaderCellDef class="pad-all">{{'DoctorServingModule.token' | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element" class="pad-all"> {{element.tokenNo}} / {{element.patientName}} </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="mrnNo">
              <mat-header-cell *matHeaderCellDef class="pad-all">{{'DoctorServingModule.mrnNo' | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element" class="pad-all"> {{element.mrnNo}} </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="apptDate">
              <mat-header-cell *matHeaderCellDef class="pad-all">{{'DoctorServingModule.apptDate' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let element" class="pad-all"> {{element.apptDate}} / {{element.serviceEngName}}
              </mat-cell>
            </ng-container>
  
        <ng-container matColumnDef="roomNo">
          <mat-header-cell *matHeaderCellDef class="pad-all"> {{'DoctorServingModule.room' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="pad-all">{{element.roomNo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nurseName">
          <mat-header-cell *matHeaderCellDef class="pad-all"> {{'DoctorServingModule.nurseName' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="pad-all">{{element.nurseName}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="pad-all">{{'DoctorServingModule.actions' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row" class="pad-all">
            <div class="stkn-info">
              <!-- <button class="btn btn-success" [disabled]="row.roomId == 0" (click)="returnToQueue(row)">{{'DoctorServingModule.returnToqueue'
                  | translate}}</button> -->
            <button class="recycling" mat-icon-button matTooltip="Return to Queue" [disabled]="row.roomId == 0" (click)="returnToQueue(row)"><img src="assets/images/recycling.svg"></button> &nbsp;
           
            <!-- <button class="btn btn-danger" (click)="endToken(row)">{{'DoctorServingModule.end' | translate}}</button> -->
            <button class="end" mat-icon-button matTooltip="End Journey" (click)="endToken(row)"><img src="assets/images/end.svg"></button>
          </div>
          </mat-cell>
        </ng-container>
        

        <mat-header-row *matHeaderRowDef="displayedColumns" style="padding-left: 8px;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
  
  
    </mat-card-content>
    <mat-card-content class="pad-all2" *ngIf="serviceArray?.length == 0 && roomno">
      <span>{{'DoctorServingModule.noData' | translate}}</span>
      </mat-card-content>
    <div class="fullloader3" *ngIf="loading">
      <div class="fullloaderInner">
        <img src="assets/images/loading.gif">
      </div>
    </div>
  
  </mat-card>

