<mat-card>
  <form [formGroup]="groupsForm">
    <mat-card-header style="border-bottom: 1px solid #eee;">
      <div fxLayout="row wrap">
        <h4>
          {{data ? ('groupManagementModule.create.editTitleName' | translate):('groupManagementModule.create.title' | translate)}}
        </h4>
      </div>
      <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
          class="ti-close"></i></button>
    </mat-card-header>
    <mat-card-content>
      <div class="clearfix">
        <div class="col-sm-12">
          <div class="example-container">
            <div class="w100">
            <mat-form-field class="w95">
              <input matInput allow-alpha-numeric-singlespace
                placeholder="{{'groupManagementModule.create.groupName' | translate }}" formControlName="groupName"
                [readonly]="data"
                (change)="!groupsForm.controls.groupName.errors?.required && groupsForm.controls.groupName.valid ?
                groupsForm.get('validategroupName').setValue(groupsForm.value.groupName): groupsForm.get('validategroupName').setValue(null)"
                allow-alpha-numeric-singlespace cdkFocusInitial minlength="3" maxLength="20" autocomplete="off"
                required>
              <mat-error *ngIf="groupsForm.controls.groupName.errors?.required">
                {{'groupManagementModule.create.gNameRequired' | translate }}</mat-error>
              <mat-error *ngIf="groupsForm.get('groupName').hasError('minlength')">
                {{'groupManagementModule.create.gNameMinimum' | translate }}</mat-error>
            </mat-form-field>
            <mat-error *ngIf="!data &&
            !groupsForm.controls.validategroupName.errors?.required &&
            !groupsForm.controls.groupName.errors?.required && !groupsForm.controls.validategroupName.errors?.invalid
            " style="display: inline"><i class=" ti-check text-success"></i></mat-error>
            <mat-error *ngIf="groupsForm.controls.validategroupName.errors?.invalid"><i class="ti-close text-danger">
                {{'groupManagementModule.create.gNameExist' | translate }}
              </i></mat-error>
            </div>
            <mat-form-field class="w100">
              <input matInput allow-all-space placeholder="{{'groupManagementModule.description' | translate }}"
                formControlName="description" minlength="5" maxLength="50" autocomplete="off" required>
              <mat-error *ngIf="groupsForm.controls.description.errors?.required">
                {{'groupManagementModule.create.descriptionRequired' | translate }}
              </mat-error>
              <mat-error *ngIf="groupsForm.get('description').hasError('minlength')">
                {{'groupManagementModule.create.descriptionMinimum' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field class="w100">
  
              <mat-select placeholder=" {{'groupManagementModule.create.department' | translate }}"
                formControlName="department" (selectionChange)="DepartmentSelection(true)" multiple required>
                <mat-select-trigger> 
                  {{deptName}}
                  <span *ngIf="(groupsForm?.value.department)?.length>
                    1" class="example-additional-selection">
                    (+{{(groupsForm?.value.department)?.length - 1}} others)
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let dept of deptList" [value]="dept.deptId" [disabled]="dept.status==0 ?(groupsForm.value.department|groupDisableFilter:dept.deptId): false">{{dept.deptName}}
                    <span *ngIf="dept.status==0" style="color: red;font-size: 40px">.</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="groupsForm.controls.department.errors?.required">
                {{'groupManagementModule.create.departmentRequired' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field class="w100">
              <mat-select placeholder="{{'groupManagementModule.create.user' | translate }}"
                formControlName="groupUsers" (selectionChange)="UserSelection(true)" multiple required>
                <mat-select-trigger> 
                  {{userName ? userName : ''}}
                  <span *ngIf="(groupsForm?.value.groupUsers)?.length>
                    1" class="example-additional-selection">
                    (+{{(groupsForm?.value.groupUsers)?.length - 1}} others)
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let user of userList" [value]="user.userId" [disabled]="user.isactive==0 ?(groupsForm.value.groupUsers|groupDisableFilter:user.userId): false">{{user.login}}
                    <span *ngIf="user.isactive==0" style="color: red;font-size: 40px">.</span>
                </mat-option>

              </mat-select>
              <mat-error *ngIf="groupsForm.controls.groupUsers.errors?.required">
                {{'groupManagementModule.create.userRequired' | translate }}</mat-error>
            </mat-form-field>

          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="toast-top-right">
      <div style="margin-left: 12px;">
        <button mat-raised-button class="submitbutton" type="submit" [disabled]="!groupsForm.valid || loading"
        actionClick (debounceClick)="groupCreation()">{{data ? ('ActionNames.update' | translate):('ActionNames.save' | translate)}}</button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>