<mat-card >
  <mat-card-header class="wrap-word">
    <div  style="margin-top:5px;" *ngIf="!row" class=" w80">
      <h4 >{{ 'ClientsModule.addClient' | translate}}</h4>
    </div>
    <div fxLayout="row wrap" style="margin-top:5px;" *ngIf="row"  class=" w80">
      <h4>{{ 'ClientsModule.editClient' | translate}}</h4>
    </div>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%; ">
      <i class="ti-close"></i>
    </button>
  </mat-card-header>
  <mat-card-content class="pad-all2">
    <!-- {{clientform.value | json}} -->
    <form [formGroup]="clientform" class="w100" >
      <div fxLayout="row wrap" class="mar-btm">

        <input type="hidden" formControlName="orgId">
        <mat-form-field class="w100">
          <input cdkFocusInitial matInput  placeholder="{{ 'ClientsModule.createclient.name' | translate}}"
            allow-alpha-numeric-singlespace formControlName="organization" [readonly]="clientform.value.orgId != ''"
            maxlength="25" autocomplete="off">
          <mat-error *ngIf="clientform.controls['organization'].errors && clientform.controls['organization'].touched">
            <div *ngIf="clientform.controls['organization'].errors.required">
              {{ 'ClientsModule.createclient.nameRequired' | translate}}
            </div>
            <!-- <div
              *ngIf="clientform.controls['organization'].errors.minlength && !clientform.controls['organization'].errors.pattern">
              {{ 'ClientsModule.createclient.nameMinLength' | translate}}
            </div> -->
            <div *ngIf="clientform.controls['organization'].errors.pattern">
              {{ 'ClientsModule.createclient.nameValidation' | translate}}
            </div>
          </mat-error>
          <mat-error *ngIf="clientform.get('organization').hasError('minlength')"> {{'ActionNames.minLengthError5' | translate}}</mat-error>
          <mat-hint>{{ 'ClientsModule.createclient.nameMaxLength' | translate}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="w100">
          <input matInput placeholder="{{ 'ClientsModule.createclient.address' | translate}}" formControlName="address"
            maxlength="100" allow-all-singlespace required autocomplete="off">
          <mat-error *ngIf="clientform.controls['address'].errors && clientform.controls['address'].touched">
            <div
              *ngIf="clientform.controls['address'].errors.required && (clientform.controls['address'].touched || clientform.controls['address'].dirty)">
              {{ 'ClientsModule.createclient.addressRequired' | translate}}
            </div>
            <!-- <div *ngIf="clientform.controls['address'].errors.minlength && !clientform.controls['address'].errors.pattern">
              Please enter upto 5 char long
            </div> -->
            <div *ngIf="clientform.controls['address'].errors.pattern">
              {{ 'ClientsModule.createclient.addressValidation' | translate}}
            </div>
          </mat-error>
          <mat-error *ngIf="clientform.get('address').hasError('minlength')"> {{'ActionNames.minLengthError5' | translate}}</mat-error>
          <mat-hint>{{ 'ClientsModule.createclient.addressMaxLength' | translate}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="w100">
          <input matInput placeholder="{{ 'ClientsModule.createclient.emailId' | translate}}" formControlName="emailId"
            required maxlength="30"  minlength="6"  allow-email-charecters autocomplete="off">
          <mat-error *ngIf="clientform.controls['emailId'].errors && clientform.controls['emailId'].touched">
            <div
              *ngIf="clientform.controls['emailId'].errors.required && (clientform.controls['emailId'].touched || clientform.controls['emailId'].dirty)">
              {{ 'ClientsModule.createclient.emailIdRequired' | translate}}
            </div>

          </mat-error>
          <mat-error *ngIf="clientform.controls.emailId.touched">{{ 'usersModule.emailValid' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="w100">
            <input matInput placeholder=" {{ 'ClientsModule.createclient.mobileNo' | translate}}" allow-mobilenumber-nospace formControlName="mobileNo" maxlength="15"  required autocomplete="off">
            <mat-error *ngIf="clientform.controls.mobileNo.errors?.required">{{ 'ClientsModule.createclient.mobileNoRequired' |
              translate
              }}</mat-error>
              <mat-error *ngIf="clientform.get('mobileNo').hasError('minlength')"> {{'ActionNames.minLengthError8' | translate}}</mat-error>
          </mat-form-field>
        <!-- <mat-form-field class="w100"> -->
        <!-- <input matInput placeholder="{{ 'ClientsModule.createclient.mobileNo' | translate}}"
            formControlName="mobileNo" maxlength="10" required> -->
        <!-- <div class="w100">
          <div class="mar-btm int-mbl">
            <label>{{ 'ClientsModule.createclient.mobileNo' | translate}}</label>
            <int-phone-prefix formControlName="mobileNo" defaultCountry="{{country}}" minlength="8" maxlength="15"
              autocomplete="off" required>
            </int-phone-prefix>
          </div>
        </div> -->
        <!-- </mat-form-field> -->
        <br />

        <div class="w100 clearfix">
          <div class="pull-left">
            <!-- <small>{{ 'ClientsModule.createclient.uploadLogo' | translate}}</small> -->
            <!-- <input type="file" name="file" formControlName="logoPath" accept=".jpg,.png" style="color:transparent;"
              (change)='FileUpload($event,false)'> -->
            <!-- <small>{{ 'ClientsModule.createclient.logoSize' | translate}}</small> -->
            <button mat-raised-button color="primary" [ngxFilePicker]="readMode" accept=".jpg,.png"
              (change)="FileUpload($event,false)"
              required>{{ 'ClientsModule.createclient.uploadLogo' | translate}}</button>

            <!-- <div *ngIf="imageSrc" class="img_wrp">
                <small class="close" (click)="closeImg()" style="color:orangered">&times;</small>
                <img [src]="imageSrc" style="width: 100px;height: 100;" alt="no file">
              </div> -->

          </div>
          <div class="pull-left" style="padding-top: 15px;">
            <span *ngIf="validLogo"><i class=" ti-check text-success"></i></span>
            <span *ngIf="inValidLogo"><i class=" ti-close text-danger"></i></span>
            <!-- <button mat-raised-button color="primary" type="submit"
              [disabled]="!clientform.value.logoPath || fileerror "
              (click)="validatelogo(this.clientform.controls.logoPath)">{{ 'ClientsModule.createclient.validateLogo' | translate}}</button> -->
          </div>

          <div class="example-container clearfix" *ngIf="!clientform.value.orgId">
            <input type="hidden" formControlName="licenseId">
            <div class="pull-left mar-lft">
              <!-- <small>{{ 'ClientsModule.createclient.licenseFileLabel' | translate}}</small>
            <input type="file" #validatebtn formControlName="licensePath" accept=".l4j" style="color:transparent;" (change)='FileUpload($event,true)'
              required>&nbsp; -->
              <button mat-raised-button color="primary" [ngxFilePicker]="readMode" accept=".l4j"
                (change)="FileUpload($event,true)"
                required>{{ 'ClientsModule.createclient.licenseFileLabel' | translate}}</button>
              <!-- style="color:red;" -->
              <span *ngIf="inValidLicense">{{ 'ClientsModule.createclient.invalidLicense' | translate}}</span>
            </div>

            <div class="pull-left" style="padding-top: 15px;">
              <span *ngIf="validLicense"><i class=" ti-check text-success"></i></span>
              <span *ngIf="inValidLicense"><i class=" ti-close text-danger"></i></span>
              <!-- <span style="padding-top: 15px;" *ngIf="message">Count : {{message}}</span> -->
              <!-- <button mat-raised-button color="primary" type="submit"
              [disabled]="clientform.controls.licensePath.invalid || fileerror "
              (click)="validate(this.clientform.controls.licensePath)">{{ 'ClientsModule.createclient.validateLicense' | translate}}</button> -->
            </div>
          </div>
        </div>

        <div *ngIf="imageSrc" class="img_wrp clearfix pad-top">
          <!-- <small class="close" (click)="closeImg()" style="color:orangered">&times;</small> -->
          <img [src]="imageSrc" style="width: 100px;height: 100;">
        </div>

      </div>
    </form>

    <div class="pad-var" style="padding-top: 15px;">
      <button *ngIf="!clientform.value.orgId" mat-raised-button color="primary" (click)="onSubmit()"
        [disabled]="clientform.invalid || !submitbtn || !submitbtn1">
        {{ 'ActionNames.submit' |translate}}</button>
      <button *ngIf="clientform.value.orgId" mat-raised-button color="primary" (click)="onSubmit()"
        [disabled]="clientform.invalid || !clientform.value.orgId || this.btnSubmitDisaable">
        {{ 'ActionNames.submit' |translate}}</button>
    </div>

    <br>
    <div *ngIf="message">
      <h4>{{'ClientsModule.hospitals' | translate }} : </h4>
      <div fxLayout="row wrap" class="clearfix"
        style="background: #f7f8fb; border: 1px solid #dddddd; padding: 10px; margin-right: 6px; margin-bottom: 6px; "
         *ngFor="let item of hospitalList">
        <div fxFlex>
          <h5 class="mar-no"> <strong>{{'ClientsModule.licenseId' | translate }} :</strong> {{item?.licenseid}}</h5>
        </div>
        <div fxFlex>
          <h5 class="mar-no"> <strong>{{'ClientsModule.facility' | translate }} :</strong> {{item?.facility}}</h5>
        </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>