<mat-card style="box-shadow: none;" *ngIf="data?.action =='add'">

  <mat-card-header>

    <h4>{{ 'ActionNames.add' | translate}} {{data.roomInfo.roomTypeDsc}}</h4>

    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i class="ti-close"></i></button>
  </mat-card-header>
  <mat-card-content class="pad-all2">

    <form [formGroup]="roomForms">
      <div>
        <mat-form-field class="w100">
          <input matInput placeholder="{{'roomModule.roomType' | translate }}" formControlName="roomType"
            [readonly]="true" autocomplete="off" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w100">
          <input cdkFocusInitial matInput allow-roomnumber-charecters
            placeholder="{{('ActionNames.'+data.roomInfo.roomTypeDsc | translate)+ ('ActionNames.numbers' | translate)+'(ex : A10,102 or 1-20)'}}"
            formControlName="roomNumber" autocomplete="off" maxlength=50 required>
          <mat-error *ngIf="roomForms.controls.roomNumber.errors?.required">{{ 'ActionNames.errorMessage' | translate
          }}</mat-error>
        </mat-form-field>

      </div>

      <div class=" pad-ver clearfix w100">
        <button mat-raised-button color="primary" [disabled]="roomForms.invalid"
          (click)="onSubmit()">{{'ActionNames.submit' | translate}}</button>
      </div>
    </form>

  </mat-card-content>

</mat-card>

<mat-card style="box-shadow: none;" *ngIf="data?.action =='edit'">

  <mat-card-header>

    <h4>{{ 'ActionNames.edit' | translate}} {{data.roomInfo.roomTypeDsc}}</h4>

    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i class="ti-close"></i></button>
  </mat-card-header>
  <mat-card-content class="pad-all2">

    <form [formGroup]="editForms">

      <div>
        <mat-form-field class="w100">
          <input cdkFocusInitial matInput placeholder="{{'roomModule.addRoom.roomEngLang' | translate }}" formControlName="roomEng"
            autocomplete="off" allow-Service-English1 required  maxLength=25>
          <mat-error *ngIf="editForms.controls.roomEng.errors?.required">{{ 'ActionNames.errorMessage' | translate
            }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w100">
        <input matInput placeholder="{{'roomModule.addRoom.roomArbLang' | translate }}" formControlName="roomArb"
        autocomplete="off" [ngClass]="{arabic: true}" allow-Service-Arbic1 required  maxLength=25>
        <mat-error *ngIf="editForms.controls.roomArb.errors?.required">{{ 'ActionNames.errorMessage' | translate
        }}</mat-error>
        </mat-form-field>
        </div>

        <mat-form-field class="w100">      
          <input matInput type="number"
            placeholder="{{ 'roomModule.roomcreate.maxserve' | translate}}"
            formControlName="allowedToAccess"  min="1" [max]="maxtoken"  autocomplete="off" required>
            <mat-error *ngIf="editForms.controls.allowedToAccess.errors?.max">{{ 'ActionNames.Countmsg' | translate
            }} 1-{{maxtoken}}</mat-error>
            <mat-error *ngIf="editForms.controls.allowedToAccess.errors?.min">{{ 'ActionNames.Countmsg' | translate
            }} 1-{{maxtoken}}</mat-error>
            <mat-error *ngIf="editForms.controls.allowedToAccess.errors?.required">{{ 'ActionNames.errorMessage' | translate
            }}</mat-error>
        </mat-form-field>

      <div class=" pad-ver clearfix w100">
        <button mat-raised-button color="primary" [disabled]="editForms.invalid"
          (click)="editRoom()">{{'ActionNames.update' | translate}}</button>
      </div>
    </form>

  </mat-card-content>

</mat-card>
