<!--The content below is only a placeholder and can be replaced.-->
<form  class="example-form" [formGroup]="Card_Form">  
  <mat-form-field appearance="outline">
    <mat-label>Select Card</mat-label>
    <mat-select  multiple formControlName="CardName" (selectionChange)="SelectCard($event.value)" >
      <mat-option *ngFor="let cnames of Cards" [value]="cnames">{{cnames}}</mat-option>
    </mat-select>

  </mat-form-field>
  
   <div formArrayName="detailsArray" > 
      <div *ngFor="let item of checkedData.controls; let i=index;" [formGroupName]="i">
        <mat-card>   
          {{Card_Form.value.CardName}}
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Enter Number" formControlName="CNumber">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Enter Name" formControlName="CName">
          </mat-form-field>
        
        </mat-card> 
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="Submit()" [disabled]="Card_Form.invalid">Submit</button>
  </form>  


<router-outlet></router-outlet>
