.mn-icon{ float: left;}

.mat-toolbar-single-row{ height: 50px;}

.mat-toolbar.main-header .logo{ margin-left: 0;}

.mat-toolbar.main-header .branding{ margin: 0;}

.mn-icon{ display: none;}

.mat-menu-item .mat-icon{margin-right: 3px !important;}
.main-header a:hover{ text-decoration: none;}
a:hover{  text-decoration: none !important;}


@media(max-width:1023px){
.mn-icon{ display: block;}
}

mat-toolbar.main-header a{ color: #ffffff;}
.head2 {
    background: #e6e6e6;
    box-shadow: 0 3px 4px rgba(0,0,0,.2);
    padding: 4px 18px;
    /* overflow: overlay; */
    color: #666666;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 8;
    font-size: 11px;
  }
  .head3 {
    background: #e6e6e6;
    box-shadow: 0 3px 4px rgba(0,0,0,.2);
    padding: 4px 18px;
    /* overflow: overlay; */
    color: #666666;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 8;
    font-size: 11px;
  }

