<div fxLayout="row wrap">

  <div fxFlex="60">
    <button mat-raised-button (click)="addmailserver()" class="addbutton">
      <i class="ti-plus"></i>&nbsp; {{'MailServer.addMailServerSettings' | translate}}</button>
  </div>

  <div fxFlex="40" class="search-align pad-rgt">
    <div fxFlex="92">
      <a [matMenuTriggerFor]="SearchGrid"><img src="assets/images/filter-icon.png" width="12" /></a> &nbsp;
      <mat-form-field>
        <mat-menu #SearchGrid="matMenu">
          <button mat-menu-item (click)="searchFilter('1')"><i class="ti-check"></i>
            {{'ActionNames.active' | translate}}</button>
          <button mat-menu-item (click)="searchFilter('0')"><i class="ti-close"></i>
            {{'ActionNames.inActive' | translate}}</button>
          <button mat-menu-item (click)="searchFilter('')"><i class="ti-reload"></i>
            {{'ActionNames.reset' | translate}}</button>
        </mat-menu>
        <input matInput [(ngModel)]="searchdata" (keyup)="applyFilterDataSouce($event.target.value)"
          placeholder="{{'ActionNames.search' | translate}}">
      </mat-form-field>
    </div>

    <div fxFlex="8">
      <div style="margin-top: 18px; font-size: 16px;">
        <i *ngIf="listflag" class="ti-layout-grid2-alt  text-muted" matTooltip="{{'ActionNames.gridView' | translate}}"
          (click)="loadGrid()" style="cursor: pointer; "></i>
        <i *ngIf="!listflag" class="ti-menu text-muted" matTooltip="{{'ActionNames.listView' | translate}}" (click)="loadList()"
          style="cursor: pointer;"></i>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!listflag">
  <div fxLayout="row wrap"
    *ngIf="searchdata=='' ? true :(filtermailserverList | MailServerfilter : totalMails : searchdata) as result">
    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" fxFlex="100"
      *ngFor="let serverList of filtermailserverList | MailServerfilter : totalMails : searchdata">
      <mat-card fxFlex class="usercard">
        <mat-card-content>
          <div fxLayout="row wrap">
            <div fxFlex="98" class="UcardLeft">
              <div class="pad-all2 clearfix" style="padding-bottom: 8px !important;">
                <div fxLayout="row wrap" class="clearfix card-top">
                  <div>
                    <div class="card-avatar" *ngIf="serverList?.status == '1'">
                      <div class="image-inner">
                        <img src="assets/images/mail.svg" />
                        <span class="status-g active"></span>
                      </div>
                    </div>
                    <div class="card-avatar" *ngIf="serverList?.status != '1'">
                      <div class="image-inner">
                        <img src="assets/images/mail.svg" />
                        <span class="status-g inactive"></span>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="77">
                    <div class="card-details">
                      <span>{{serverList.emailServerName}}</span>

                      <small><strong>{{'MailServer.mailAccount' | translate}}:
                        </strong>{{serverList.emailFromId}}</small>
                      <small><strong>{{'MailServer.manage.server' | translate}}:
                        </strong>{{serverList.serverIp}}</small>
                      <small><strong>{{'MailServer.mailBoxType' | translate}}:
                        </strong>{{serverList.emailBoxType == 3?"IMAP":(serverList.emailBoxType == 2?"POP3":"SMTP")}}</small>
                      <!-- <small><strong>{{'ActionNames.status'| translate}}: </strong>{{serverList?.status==1?'Active':'InActive'}}</small> -->
                      <!-- <small style="color:green;" *ngIf="serverList?.status=='-1'"><strong>{{'ActionNames.pending'| translate}}
                        </strong></small>
                      <small style="color:red;" *ngIf="serverList?.status=='-2'"><strong>{{'ActionNames.rejected'| translate}}</strong></small> -->
                        <small style="color:green;" *ngIf="serverList?.status=='-1'"><strong>
                            {{'ActionNames.status'| translate}}:</strong><strong>{{'ActionNames.pending'| translate}}
                          </strong></small>
                        <small style="color:red;" *ngIf="serverList?.status=='-2'"><strong>
                            {{'ActionNames.status'| translate}}:</strong><strong>{{'ActionNames.rejected'| translate}}</strong></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" Umore-btn">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <button *ngIf="serverList?.status == '1'" mat-menu-item (click)="editmailserver(serverList)"><i
                    class="ti-pencil-alt"></i>{{'ActionNames.edit'| translate}}</button>
                <button *ngIf="serverList?.status == '1'"
                   mat-menu-item (click)="mailActiveDialog(serverList,0)"><i class="ti-close"></i>{{'ActionNames.inActive'| translate}}</button>
                <button *ngIf="serverList?.status=='0'" mat-menu-item (click)="
              mailActiveDialog(serverList,1)"><i class="ti-check"></i>{{'ActionNames.active'| translate}}</button>
                <button 
                  mat-menu-item (click)="mailserverDetails(serverList)"><i class="ti-info-alt"></i>{{'ActionNames.details'| translate}}</button>
              </mat-menu>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div style="width: 100%" *ngIf="totalMails?.length> pageSize && searchdata==''">
      <mat-paginator [length]="totalMails?.length" [pageSize]="pageSize" [pageIndex]="initPage" showFirstLastButtons
        (page)="getData($event)">
      </mat-paginator>
    </div>
    <div *ngIf="(result.length==0 || totalMails?.length==0)&& !loading">
      {{ totalMails?.length==0 ? ('ActionNames.noDataFound' | translate) :('ActionNames.noFilterDataFound' | translate)}}
    </div>
  </div>
</div>
<div *ngIf="listflag && (searchdata=='' ? totalMails?.length>0 : dataSource.filteredData.length>0)"
  class="example-container mat-elevation-z8 no-shadow bord-all">
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()" class="listtable">
    <ng-container matColumnDef="emailServerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MailServer.Name' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.emailServerName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="emailFromId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'MailServer.mailAccount' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.emailFromId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serverIp">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'MailServer.serverIP' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.serverIp}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serverPort">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'MailServer.port' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.serverPort}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="emailBoxType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'MailServer.mailBoxType' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.emailBoxType == 3?"IMAP":(element.emailBoxType == 2?"POP3":"SMTP")}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="emailSsl">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'MailServer.create.ssltls' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.emailSsl ==1?"true":"false"}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="checkInterval">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'MailServer.mailInterval' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.checkInterval}} Sec </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="mat-column-actions">
        {{'ActionNames.actions' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-actions">
        <!-- <i class="ti-info-alt link" (click)="mailserverDetails(element)"></i>&nbsp;&nbsp;
        <i class="ti-pencil-alt link" (click)="editmailserver(element)"></i>&nbsp;&nbsp; -->
        <span>
          <i class="ti-info-alt link" matTooltip="{{'ActionNames.details' | translate}}"
            (click)="mailserverDetails(element)"></i>
          <i *ngIf="element.status == '1'" class="ti-pencil-alt link" matTooltip="{{'ActionNames.edit' | translate}}"
            (click)="editmailserver(element)"></i>
          <i *ngIf="element.status == '1'" class="ti-close link" matTooltip="{{'ActionNames.inActive' | translate}}"
            (click)="mailActiveDialog(element,0)"></i>
          <i *ngIf="element.status == '0'" class="ti-check link" matTooltip="{{'ActionNames.active' | translate}}"
            (click)="mailActiveDialog(element,1)"></i>
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div style="width: 100%" *ngIf="totalMails?.length>pageSize && searchdata==''">
    <mat-paginator #paginator [length]="totalMails?.length" [pageSize]="pageSize" [pageIndex]="listPage"
      showFirstLastButtons (page)="getListData($event)">
    </mat-paginator>
  </div>
</div>
<div *ngIf="listflag && (searchdata=='' ? totalMails.length==0 : dataSource.filteredData.length==0)">
  {{ totalMails?.length==0 ? ('ActionNames.noDataFound' | translate) :('ActionNames.noFilterDataFound' | translate)}}
  </div>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>