<mat-card style="box-shadow: none;">
    <form>
        <mat-card-header>
            <h4>{{'CreditManagementModule.departmentquota.dQD' | translate}}</h4>
            <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
                    class="ti-close"></i></button>
        </mat-card-header>
        <mat-card-content>
            <!-- {{departmentQuotaDetails | json}} -->
            <div fxLayout="row wrap" class="clearfix pad-top" cdkFocusInitial>
                <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>
                            {{'CreditManagementModule.departmentquota.details.departmentName' | translate}}</strong>
                    </div>
                    <div class="bord-all pad-all-sm"> {{departmentQuotaDetails?.deptName}}</div>
                </div>
            </div>

            <div fxLayout="row wrap" class="clearfix pad-top">
                <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa">
                        <strong>{{'CreditManagementModule.departmentquota.setLimit.accountType' | translate}}</strong>
                    </div>
                    <div class="bord-all pad-all-sm"> {{departmentQuotaDetails?.creditType?.creditName}}</div>
                </div>
            </div>

            <div fxLayout="row wrap" class="clearfix pad-top"
                *ngIf="departmentQuotaDetails.creditType?.creditCode =='PEP'">
                <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa">
                        <strong>{{'CreditManagementModule.departmentquota.setLimit.availableBalance' | translate}}</strong>
                    </div>
                    <div class="bord-all pad-all-sm"> {{departmentQuotaDetails?.deptcredit.availableCredit}}</div>
                </div>
            </div>

            <div fxLayout="row wrap" class="clearfix pad-top"
                *ngIf="departmentQuotaDetails?.creditType?.creditCode=='POP'">
                <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa">
                        <strong>{{'CreditManagementModule.departmentquota.setLimit.cTL' | translate}}
                        </strong> </div>
                    <div class="bord-all pad-all-sm">{{departmentQuotaDetails?.deptcredit.thresoldLimit}}</div>
                </div>
            </div>

            <!-- <div fxLayout="row wrap" class="clearfix pad-top" *ngIf="departmentQuotaDetails.creditType=='postpaid'"> -->
            <!-- <div fxFlex>
                  <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Credits Usage</strong> </div> 
                  <div class="bord-all pad-all-sm"> {{departmentQuotaDetails?.creditsUsage}}</div>
              </div>

              <div fxFlex>
                  <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Upper Limit</strong> </div> 
                  <div class="bord-all pad-all-sm"> {{departmentQuotaDetails?.upperLimit}}</div>
              </div> -->

            <!-- <div fxFlex>
                  <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Threshold Limit</strong> </div> 
                  <div class="bord-all pad-all-sm"> {{departmentQuotaDetails?.thresoldLimit}}</div>
              </div> -->
            <!-- </div> -->

            <!-- <div fxLayout="row wrap" class="clearfix pad-top">
            <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Created By</strong> </div> 
                    <div class="bord-all pad-all-sm" style="background: #fafafa"><strong>Modified By</strong></div>
                    <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Created Date</strong> </div> 
                    <div class="bord-all pad-all-sm" style="background: #fafafa"><strong>Modified Date</strong></div>
                </div>
    
                <div fxFlex>
                    <div class="bord-all pad-all-sm">{{departmentQuotaDetails?.createdBy}}</div> 
                    <div class="bord-all pad-all-sm"> {{departmentQuotaDetails?.modifiedBy}}</div>
                    <div class="bord-all pad-all-sm"> {{departmentQuotaDetails?.createdDate}}</div>
                    <div class="bord-all pad-all-sm"> {{departmentQuotaDetails?.modifiedDate}}</div>
                </div>
      </div> -->
        </mat-card-content>
    </form>
</mat-card>