<mat-card>
  <form [formGroup]="deptQuotaSetlimitForm">
    <mat-card-header style="border-bottom: 1px solid #eee;">
      <mat-card-title style="margin-top: 8px;">
        <span>{{add}} Limit</span>
      </mat-card-title>
      <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
          class="ti-close"></i></button>
    </mat-card-header>

    <mat-card-content>
      <div class="clearfix">
        <div class="col-sm-12">
          <div class="example-container">

              <mat-form-field class="full-width">
                  <input matInput placeholder="Platform Credits" cdkFocusInitial formControlName="platformCredits" value="10000" readonly >
               
                </mat-form-field>
    
                <mat-form-field class="full-width">
                    <mat-select  placeholder="Department" formControlName="department">
                      <mat-option value="IT">IT</mat-option>
                      <mat-option value="Finance">Finance</mat-option>
                      <mat-option value="Health">Health</mat-option>
                    </mat-select>
                    <mat-error *ngIf="deptQuotaSetlimitForm.controls.department.errors?.required">
                        Department Required</mat-error> 
                  </mat-form-field>

                  <mat-form-field class="full-width">
                      <mat-select  placeholder="Account Type" formControlName="accountType" [disabled]="editData != null">
                        <mat-option value="Prepaid">Prepaid</mat-option>
                        <mat-option value="Postpaid">Postpaid</mat-option>
                      </mat-select>
                      <mat-error *ngIf="deptQuotaSetlimitForm.controls.accountType.errors?.required">
                          Account Type Required</mat-error>
                    </mat-form-field>
  
            <mat-form-field class="full-width" *ngIf="deptQuotaSetlimitForm.value.accountType == 'Prepaid'">
              <input matInput placeholder="Available Balance"  formControlName="availableBalance" readonly value="1000">
            </mat-form-field>

            <mat-form-field class="full-width" *ngIf="deptQuotaSetlimitForm.value.accountType == 'Postpaid'">
                <input matInput placeholder="Current Threshold Limit"  formControlName="currentThresholdLimit" readonly value="50%">
              </mat-form-field>

      
            <mat-form-field class="full-width">
              <mat-select autofocus placeholder="Adjustment Type" formControlName="adjustmentType">
                <mat-option value="Recharge">Recharge</mat-option>
                <mat-option value="Rollback">Rollback</mat-option>
              </mat-select>
              <mat-error *ngIf="deptQuotaSetlimitForm.controls.adjustmentType.errors?.required">
              Adjustment Type is required</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="Credits" formControlName="credits"
                allow-numbers-nospace maxlength="10">
              <mat-error *ngIf="deptQuotaSetlimitForm.controls.credits.errors?.required">
              Credits required </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width ">
                <input matInput [matDatepicker]="picker" required placeholder="Expiry Date"
                  formControlName="expiryDate" parse-format="MM/dd/yyyy" readonly (focus)="picker.open()" [min]="today">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="deptQuotaSetlimitForm.controls.expiryDate.errors?.required">Expiry Date is required</mat-error>
              </mat-form-field>

          </div>

        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="toast-top-right">
      <div style="margin-left: 12px;">
        <button class="submitbutton" mat-raised-button >Save</button>
      </div>
    </mat-card-actions>

  </form>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>
