<div fxLayout="row wrap">

  <div fxFlex="60">
    <button mat-raised-button (click)="addNotification()" class="addbutton">
      <i class="ti-bell"></i>&nbsp;
      {{'CreditManagementModule.setNotification.manage.setAlertonExpiry' | translate}}</button>
  </div>

  <div fxFlex="40" class="search-align pad-rgt">
    <div fxFlex="92">
      <a [matMenuTriggerFor]="SearchGrid"><img src="assets/images/filter-icon.png" width="12" /></a> &nbsp;
      <mat-form-field>
        <mat-menu #SearchGrid="matMenu">
          <button mat-menu-item
            (click)="searchFilter('1')"><i class="ti-check"></i>{{'ActionNames.active' | translate}}</button>
          <button mat-menu-item (click)="searchFilter('0')"><i class="ti-check-box"></i>
            {{'ActionNames.inActive' | translate}}</button>
          <button mat-menu-item (click)="searchFilter('')"><i class="ti-reload"></i>
            {{'ActionNames.reset' | translate}}</button>
        </mat-menu>
        <input matInput placeholder="{{'ActionNames.search'|translate}}" [(ngModel)]="searchdata"
          (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
    </div>

    <div fxFlex="8">
      <div style="margin-top: 18px; font-size: 16px;">
        <i *ngIf="listflag" class="ti-layout-grid2-alt  text-muted" matTooltip="{{'ActionNames.gridView' | translate}}"
          (click)="loadGrid()" style="cursor: pointer;  "></i>&nbsp;
        <i *ngIf="!listflag" class="ti-menu text-muted" matTooltip="{{'ActionNames.listView' | translate}}"
          (click)="loadList()" style="cursor: pointer; "></i>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!listflag">
<div fxLayout="row wrap" 
*ngIf="searchdata=='' ? true :(filternotification | Notificationfilter : setnotificationalertList : searchdata) as result">
  <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" fxFlex="100"
    *ngFor="let notify of filternotification | Notificationfilter : setnotificationalertList : searchdata">
    <mat-card fxFlex class="usercard no-shadow mat-elevation-z0">
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex="98" class="UcardLeft">
            <div class="pad-all2 clearfix" style="padding-bottom: 8px !important;">
              <div fxLayout="row wrap" class="clearfix card-top">
                <div>

                  <div class="card-avatar" *ngIf="notify?.status =='1'">
                    <i class="ti-bell"></i>
                    <span class="status-g active"></span>
                  </div>

                  <div class="card-avatar" *ngIf="notify?.status !='1'">
                    <i class="ti-bell"></i>
                    <span class="status-g inactive"></span>
                  </div>


                </div>
                <div fxFlex="77">
                  <div class="card-details">
                    <span>{{notify?.alertsName}}</span>
                    <small
                      class="longtext wraptext"><strong>{{'CreditManagementModule.setNotification.manage.name' | translate}}
                        :</strong>{{notify?.alertDetails[0]?.name}}</small>
                    <small
                      class="longtext wraptext"><strong>{{'CreditManagementModule.setNotification.manage.emailId' | translate}}
                        :</strong>{{notify?.alertDetails[0]?.emailId}}</small>
                    <small><strong
                        style="color:#B40000">{{'CreditManagementModule.setNotification.manage.expiringInDays' | translate}}
                        :</strong>{{notify?.expiringInDays}}</small>
                  </div>

                </div>
              </div>

            </div>

          </div>


          <div class="Umore-btn">
            <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
            <mat-menu #UcardEdit="matMenu">
              <button mat-menu-item (click)="notificationDetails(notify)"><i class="ti-info-alt"></i>
                {{'ActionNames.details' | translate}}</button>
              <button mat-menu-item *ngIf="notify.status" (click)="editnotification(notify)"><i class="ti-pencil-alt"></i>
                {{'ActionNames.edit' | translate}}</button>
              <!-- <button mat-menu-item (click)="deleteNotification(notify)"><i class="ti-trash"></i>
                {{'ActionNames.delete' | translate}}</button> -->
              <div *ngIf="!notify.status">
                <button mat-menu-item (click)="updatePlatformAlertStatus(notify,1)"><i class="ti-check link"></i>
                  {{'ActionNames.active'| translate}}</button>
              </div>
              <div *ngIf="notify.status">
                <button mat-menu-item (click)="updatePlatformAlertStatus(notify,0)"><i class="ti-close link"></i>
                  {{'ActionNames.inActive'| translate}}</button>
              </div>
            </mat-menu>
          </div>

        </div>


      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="setnotificationalertList?.length> pageSize && searchdata==''" style="width: 100%">
    <mat-paginator [length]="setnotificationalertList.length" [pageSize]="pageSize" [pageIndex]="initPage"
      showFirstLastButtons (page)="getData($event)">
    </mat-paginator>
  </div>

  <div *ngIf="(result?.length==0 || setnotificationalertList?.length==0) && !loading">
    {{ setnotificationalertList?.length==0 ? ('ActionNames.noDataFound' | translate) :('ActionNames.noFilterDataFound' | translate)}}
  </div>
</div>
</div>


<div *ngIf="listflag   && (searchdata=='' ? setnotificationalertList?.length>0 : dataSource.filteredData.length>0)"
  class="example-container mat-elevation-z8 no-shadow bord-all">

  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()" class="listtable">

    <ng-container matColumnDef="alertsName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'CreditManagementModule.setNotification.manage.alertsName' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.alertsName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="channels">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'CreditManagementModule.setNotification.manage.channels' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.channels=="1,2"? "SMS ,EMAIL":(element.channels=='1'? "SMS":"EMAIL")}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="creditsMessage">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'CreditManagementModule.setNotification.manage.creditsMessage' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.creditsMessage}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="expiringInDays">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-expiringInDays">
        {{'CreditManagementModule.setNotification.manage.expiringInDays' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-expiringInDays"> {{element.expiringInDays}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expiringMessage">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-expiringMessage">
        {{'CreditManagementModule.setNotification.manage.expiringMessage' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-expiringMessage"> {{element.expiringMessage}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="mat-column-actions">
        {{'CreditManagementModule.setNotification.manage.actions' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-actions">
        <i class="ti-info-alt link" matTooltip="{{'ActionNames.details' | translate}}" (click)="notificationDetails(element)"></i>&nbsp;&nbsp;
        <i class="ti-pencil-alt link" *ngIf="element.status" matTooltip="{{'ActionNames.edit' | translate}}" (click)="editnotification(element)"></i>&nbsp;&nbsp;
        <!-- <i class="ti-trash link" (click)="deleteNotification(element)"></i> -->
        <span *ngIf="!element.status">
          <i class="ti-check link" matTooltip="{{'ActionNames.active' | translate}}"
            (click)="updatePlatformAlertStatus(element,1)"></i>
        </span>
        <span *ngIf="element.status">
          <i class="ti-close link" matTooltip="{{'ActionNames.inActive' | translate}}"
            (click)="updatePlatformAlertStatus(element,0)"></i>
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
  </mat-table>



  <div *ngIf="setnotificationalertList?.length> pageSize && searchdata==''" style="width: 100%">
    <mat-paginator [length]="setnotificationalertList.length" [pageSize]="pageSize" [pageIndex]="listPage"
      showFirstLastButtons (page)="getListData($event)">
    </mat-paginator>
  </div>

</div>
<div *ngIf="listflag && (searchdata=='' ? setnotificationalertList?.length==0 : dataSource.filteredData?.length==0)">
  {{ setnotificationalertList?.length==0 ? ('ActionNames.noDataFound' | translate) :('ActionNames.noFilterDataFound' | translate)}}
</div>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>