.btn-yellow{ background:#E4B204; border:#E4B204; color: #ffffff; }
.mat-paginator{ background: transparent } 
.no-recrds{ width: 100%;  text-align: center; padding-top: 15%; font-size: 20px;}
.whitespace{white-space: pre}