<div fxLayout="row wrap" id="page-title" style="padding-right:0;" class="scroll-top">

  <div fxFlex="70" class="wrap-word">
    <h2 class="pad-lft">{{'ErrorModule.display' | translate }}</h2>
  </div>
  <!-- 
  <div fxFlex="30" class="text-right pad-rgt">
    <mat-form-field>
      <input matInput [(ngModel)]="searchdata" placeholder="{{'ErrorModule.search' | translate }}">
    </mat-form-field>
  </div> -->
</div>

<div fxLayout="row wrap">

  <div id="sndrActv" class="clearfix left-sec left-col" fxFlex.gt-sm="30">
      <div class="search">
          <mat-form-field class="full-width">
        <input matInput [(ngModel)]="searchdata" placeholder="{{ 'ErrorModule.search' | translate }}">
      </mat-form-field>
    </div>

    <perfect-scrollbar style="height:47vh;">
      <div style="padding-right:10px;">
        <mat-card style="cursor: pointer;" class=" no-shadow bord-all"
          *ngFor="let levelDetails of pagedlevelsData  | errorfilter: levelInfo: searchdata : 'floorName';first as isFirst" [class.pbActive]="isFirst" (click)="activeClass($event)"  style="padding:0">
          <mat-card-content (click)="getAllErrorMessages(levelDetails?.floorId)">
            <!-- <mat-card style="cursor: pointer;" class=" no-shadow bord-all" *ngFor="let levelDetails of levelInfo"
          style="padding:0"> -->
            <!-- <mat-card-content> -->
            <div fxFlex="90" class="wrap-word pre-content" >
              <ngx-avatar class="card-avatar pull-left" size="25" name="{{levelDetails.floorName}}"></ngx-avatar>
              <div style="padding-top: 11px;">{{levelDetails?.floorName}}</div>
            </div>
            <!-- <div class="Umore-btn">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <button mat-menu-item (click)="getAllErrorMessages(levelDetails?.floorId)">ErrorDetails</button>
              </mat-menu>
            </div> -->
          </mat-card-content>
        </mat-card>
      </div>

    </perfect-scrollbar>
    <div *ngIf="levelInfo.length>pageSize">
      
          <mat-paginator [length]="levelInfo?.length" [pageSize]="pageSize" [pageIndex]="initPage"
            (page)="getData($event)">
          </mat-paginator>
     
    </div>
  </div>

  <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100" class="cmpn-right">
    <perfect-scrollbar style="height:68vh;">
      <div fxLayout="row wrap " style="padding-right: 10px;">
        <div fxFlex.gt-sm="50" fxFlex="100" class="pad-no"
          *ngFor="let errorInfo of errorlist">
          <mat-card fxFlex class="usercard" style="position: relative; padding-bottom: 40px;">

            <mat-card-content>
              <div class="pad-all clearfix text-center">
                <div class="clearfix card-top">
                  <div>
                    <div class="card-avatar">
                      <div class="avatar-inner">
                        <img src="assets/images/error.svg">
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="card-details wrap-word pre-content">
                      <span style="color: #e4262c">{{errorInfo.errorType.errorName}}</span>
                      <small><b>{{'ErrorModule.english' | translate }}</b> : {{errorInfo.messageEn}}</small>
                      <small><b>{{'ErrorModule.arabic' | translate }}</b>: {{errorInfo.messageAr}}</small>
                    </div>
                  </div>
                </div>
              </div>
              
            </mat-card-content>

            <div class="clearfix devicecard-footer">
              <div class="col-sm-12 pad-no">
                <button mat-menu-item (click)="onUpdate(errorInfo)" style="height: 30px; line-height: 33px;"><i
                    class="ti-pencil-alt"></i>
                  {{'ErrorModule.edit' | translate }}</button>
              </div>
            </div>

          </mat-card>

          
        </div>
      </div>
    </perfect-scrollbar>
    <div *ngIf="errorlist.length>pageSize">
      <mat-card class="no-shadow bord-all">
        <mat-card-content class="text-right">
          <mat-paginator [length]="errorlist?.length" [pageSize]="pageSize" [pageIndex]="initPage"
            (page)="getErrorData($event)">
          </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>