<mat-card>
  <mat-card-header style="border-bottom: 1px solid #eee;">
    <h4>
      {{_editnotifydata ? ('CreditManagementModule.setNotification.create.editSetnotificationalert' | translate):('CreditManagementModule.setNotification.create.CreateSetNotificationAlert' | translate)}}
    </h4>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;">
      <i class="ti-close"></i>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="mystepper" cdkFocusInitial>
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="firstFormGroup">

          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>{{'CreditManagementModule.setNotification.create.Step-1' | translate}}
            </ng-template>
            <div>
              <mat-form-field style="width: 100%;">
                <input matInput placeholder="{{'CreditManagementModule.setNotification.create.alertsName' | translate}}"
                  [readonly]="_editnotifydata" formControlName="notificationName" allow-alpha-numeric-nospacewithdot
                  cdkFocusInitial autocomplete="off" minlength="5" required
                  (change)="!firstFormGroup.controls.notificationName.errors?.required && firstFormGroup.controls.notificationName.valid ?
                firstFormGroup.get('validatePlatformAlertName').setValue(firstFormGroup.value.notificationName): firstFormGroup.get('validatePlatformAlertName').setValue(null)"
                  maxlength="50" required>
                <mat-error *ngIf="firstFormGroup.controls.notificationName.errors?.required">
                  {{'CreditManagementModule.setNotification.create.alertnamerequired' | translate}}
                </mat-error>
                <mat-error *ngIf="firstFormGroup.controls.notificationName.errors?.minlength">
                  {{'CreditManagementModule.setNotification.create.minLengthReqired' | translate}}
                </mat-error>

              </mat-form-field>
              <mat-error *ngIf="!firstFormGroup.controls.validatePlatformAlertName.errors?.required &&
              !firstFormGroup.controls.notificationName.errors?.required && !firstFormGroup.controls.validatePlatformAlertName.errors?.invalid
              " style="display: inline;"><i class=" ti-check text-success"></i></mat-error>
              <mat-error *ngIf="firstFormGroup.controls.validatePlatformAlertName.errors?.invalid">
                <i class="ti-close text-danger">
                  <small
                    style="font-family: Arial, Helvetica, sans-serif;">{{'CreditManagementModule.setNotification.create.alertnamealreadyexit' | translate}}</small>
                </i></mat-error>
            </div>
            <div>
              <span><strong>{{'CreditManagementModule.setNotification.create.channels' | translate}}:</strong></span>
              <mat-checkbox color="primary" formControlName="emailFlag" class="pad-lft"
                (change)="smsChannelSelection()">
                {{'CreditManagementModule.setNotification.create.email' | translate}}</mat-checkbox>
              <mat-checkbox color="primary" formControlName="smsFlag" (change)="smsChannelSelection()" class="pad-lft">
                {{'CreditManagementModule.setNotification.create.sms' | translate}}</mat-checkbox>
              <mat-error *ngIf="firstFormGroup.controls.Channels.invalid">
                {{'CreditManagementModule.setNotification.create.channelError' | translate}}</mat-error>
            </div>
            <!-- <div>
                  <span><strong>{{'CreditManagementModule.setNotification.create.channels' | translate}}:</strong></span>
                <ul formArrayName="Channels" *ngFor="let order of firstFormGroup.controls.Channels.controls; let i = index">
                  <mat-checkbox [formControlName]="i" (change)="smsChannelSelection()" >{{'CreditManagementModule.setNotification.create.'+channelsList[i].channelName | translate}}</mat-checkbox>
                  
                </ul>
                <mat-error *ngIf="firstFormGroup.controls.Channels.invalid">
                    {{'CreditManagementModule.setNotification.create.channelError' | translate}}</mat-error>
              </div> -->
            <mat-form-field style="width: 100%;" *ngIf="firstFormGroup.value.smsFlag==true">
              <mat-select placeholder="{{'CreditManagementModule.setNotification.create.sender' | translate}}"
                formControlName="senderList" required>
                <mat-option *ngFor="let sender of senderslist" [value]="sender.senderId">
                  {{sender.senderName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="firstFormGroup.controls.senderList.errors?.required">
                {{'CreditManagementModule.setNotification.create.senderRequired' | translate}}</mat-error>
            </mat-form-field>

            <mat-form-field style="width: 100%;">
              <input matInput
                placeholder="{{'CreditManagementModule.setNotification.create.expiringInDays' | translate}}"
                formControlName="days" maxlength="3" autocomplete="off" allow-number-nospace required>
              <mat-error *ngIf="firstFormGroup.controls.days.errors?.required">
                {{'CreditManagementModule.setNotification.create.expiringInDaysRequired' | translate}}
              </mat-error>
            </mat-form-field>

            <div class="mb-1">
              <mat-form-field class="example-full-width group-top-margin" style="width: 100%;">
                <textarea matInput autocomplete="off"
                  placeholder="{{'CreditManagementModule.setNotification.create.expiringMessage' | translate}}"
                  formControlName="smstext" class="typewriter" #message name="focus-input" rows="5"
                  maxlength="{{msglength}}" matTextareaAutosize matAutosizeMinRows="5"  matAutosizeMaxRows="5"
                  [ngClass]=" _arabic.test(firstFormGroup.value.smstext) ? {arabic : true} : {english : true}" required>
                    </textarea>

                <mat-hint align="end" style="color: green;font-weight: bold">{{charcount}}
                  {{'CreditManagementModule.setNotification.create.character' | translate}}(s) |
                  {{msgCount}} {{'CreditManagementModule.setNotification.create.message' | translate}}(s)</mat-hint>
              </mat-form-field>
            </div>

            <mat-form-field style="width: 100%;">
              <input matInput autocomplete="off"
                placeholder="{{'CreditManagementModule.setNotification.create.creditsbelow' | translate}}"
                formControlName="creditsbelow" allow-number-nospace maxlength="10" required>
              <mat-error *ngIf="firstFormGroup.controls.creditsbelow.errors?.required">
                {{'CreditManagementModule.setNotification.create.credits' | translate}}
              </mat-error>
              <mat-error *ngIf="firstFormGroup.controls.creditsbelow.errors?.minlength">
                {{'CreditManagementModule.setNotification.create.credits' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field style="width: 100%;">
              <textarea matInput autocomplete="off"
                placeholder="{{'CreditManagementModule.setNotification.create.creditsMessage' | translate}}" #message1
                formControlName="credittext" name="focus-input" rows="5" maxlength="{{msglength}}"
                matTextareaAutosize matAutosizeMinRows="5"  matAutosizeMaxRows="5"
                [ngClass]=" _arabic.test(firstFormGroup.value.credittext) ? {arabic : true} : {english : true}"
                required></textarea>
              <mat-hint align="end" style="color: green;font-weight: bold">{{charcount1}}
                {{'CreditManagementModule.setNotification.create.character' | translate}}(s) |
                {{msgCount1}} {{'CreditManagementModule.setNotification.create.message' | translate}}(s)</mat-hint>

              <!-- <mat-error *ngIf="firstFormGroup.controls.credittext.errors?.required">
                  {{'CreditManagementModule.setNotification.create.creditText' | translate}}
                </mat-error> -->
            </mat-form-field>

            <div>
              <button mat-raised-button
                matStepperNext>{{'CreditManagementModule.setNotification.create.Next' | translate}}</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>{{'CreditManagementModule.setNotification.create.Step-2' | translate}}
            </ng-template>

            <div formGroupName="updateDetails">
              <mat-form-field style="width: 100%;">
                <input matInput autocomplete="off"
                  placeholder="{{'CreditManagementModule.setNotification.create.name' | translate}}"
                  formControlName="name" allow-alpha-special-singlespace maxlength="20" required>
                <mat-error *ngIf="_updateDetails.controls.name.errors?.required">
                  {{'CreditManagementModule.setNotification.create.NameRequired' | translate}}
                </mat-error>
              </mat-form-field>

              <mat-form-field style="width: 100%;">
                <input matInput autocomplete="off"
                  placeholder="{{'CreditManagementModule.setNotification.create.emailId' | translate}}"
                  formControlName="email" maxlength="30" allow-email-charecters required>
                <mat-error *ngIf="_updateDetails.controls.email.errors?.required">
                  {{'CreditManagementModule.setNotification.create.requiredEmail' | translate}}
                </mat-error>
                <mat-error *ngIf="_updateDetails.controls.email.errors?.minlength">
                  {{'CreditManagementModule.setNotification.create.validemail' | translate}}
                </mat-error>
                <mat-error *ngIf="_updateDetails.controls.email.invalid">
                  {{'CreditManagementModule.setNotification.create.invalidEmail' | translate}}
                </mat-error>
              </mat-form-field>

              <mat-form-field style="width: 100%;">
                <input matInput autocomplete="off"
                  placeholder="{{'CreditManagementModule.setNotification.create.mobileNo' | translate}}"
                  formControlName="phone" minlength="12" maxlength="15" required allow-mobilenumber-nospace>
                <mat-error *ngIf="_updateDetails.controls.phone.errors?.required">
                  {{'CreditManagementModule.setNotification.create.mobilenumberreq' | translate}}
                </mat-error>
                <mat-error *ngIf="_updateDetails.controls.phone.errors?.minlength">
                  {{'CreditManagementModule.setNotification.create.validMobileNo' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-actions">
              <button mat-raised-button class="submitbutton" [disabled]="_updateDetails.invalid" type="button"
              actionClick (debounceClick)="addTableData(true)">{{'CreditManagementModule.setNotification.create.Add' | translate}}</button>
            </div>&nbsp;&nbsp;
            <mat-hint style="color: red" *ngIf="alertslist.length==0">
              {{'CreditManagementModule.setNotification.create.updateTableData' | translate}}</mat-hint>

            <div>
              <table class="table table-bordered" style="width:100%;">
                <thead>
                  <tr>
                    <th>{{'CreditManagementModule.setNotification.create.name' | translate}}</th>
                    <th>{{'CreditManagementModule.setNotification.create.emailId' | translate}}</th>
                    <th>{{'CreditManagementModule.setNotification.create.mobileNo' | translate}}</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody *ngIf="alertslist.length > 0">
                  <tr *ngFor="let alert of alertslist">
                    <td>
                      {{alert.name}}
                    </td>
                    <td>
                      {{alert.emailId}}
                    </td>
                    <td>
                      {{alert.mobileNo}}
                    </td>
                    <td>
                      <i class="ti-close" actionClick (debounceClick)="deleteTableData(alert)"></i>&nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
          <div style="margin-left: 12px;">
            <button mat-raised-button class="submitbutton" actionClick (debounceClick)="createnotification()"
              [disabled]="firstFormGroup.invalid ||  alertslist.length==0 || loading">{{ _editnotifydata ?
            ('ActionNames.update' | translate):('ActionNames.save' | translate)}}</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </mat-card-content>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>