
.Dheader2{width: 100%; padding: 1% 2%; background: #ffffff; z-index: 99;}
.Dheader2 h1{margin: 0; font-size: 34px; color: #636c6e;}
.Dheader2 .top-right{ text-align: right;}

.topStrip2 {width:100%; padding: 0.7% 2%; background: #04ade6; color: #ffffff; 
    font-size: 20px;  margin-bottom: 20px;}
  .topStrip2 .time{font-size: 25px; text-align: right;}
  .topStrip2 .time small{font-size: 12px; display: block;}
  .topStrip2 .title{font-size:26px; margin-top: 5px; color: #ffffff; }
  .bodysec{padding: 0 30px; }
  .bodysec .mat-card{  padding-right: 15px; border-top: 0;}

  .bodysec .title{background: #e0e0e0; color: #333333; padding: 5px 12px; font-weight: 600; font-size: 25px;}
  .bodysec .mat-card-content{border: 0 !important; font-size: 20px;}
  .bodysec .mat-card-content .cnt{ margin-bottom: 22px; color: #111111; font-weight: 400;}
  .bodysec .mat-card-content .cnt small{font-size: 16px; margin-top: 4px;}

.recpFooter{position: fixed; bottom: 0; font-weight: 600; width: 100%; background: #cccccc; padding: 18px; color: #333333; text-align: center;}
.recpFooter span{background: #72af08; padding: 6px 10px; margin: 2px; color: #ffffff; border-radius: 3px; border: 1px solid #6a9d13}
.sec-bord-rgt{ border-right: 2px solid #dddddd;}
.bodysec .deptbox:last-child .mat-card{ border-right: 0px}