.usercard .card-avatar img{width: 88%;}
.usercard .card-image{display:table; margin-right:10px;}
.usercard .card-avatar{display:table-cell; text-align: center; vertical-align: middle;}
.addbutton i{margin-right:5px; font-size:14px;}
.mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    vertical-align: top   
  }
  .mat-column-actions i { margin-right: 10px}
  .mat-column-actions div { margin-right: 5px}