<div  fxLayout="row wrap">
  <div fxFlex.gt-md="65" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" style="position: relative;">

    <div  fxLayout="row wrap">
      <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngFor="let sTokens of servingTokens">
        <mat-card fxFlex class="tknservebox">
          <mat-card-content>
            <div class="clearfix">
              <h3 class="title">{{sTokens?.drName}}</h3>
              <h5>{{sTokens?.serviceEngName}}</h5>
            </div>

            <div class="clearfix bord-top" style="padding: 8px 0;">
              <h3 class="mar-no"><span class="ntnk">{{sTokens?.tokenNo}}</span> / {{sTokens?.patientName}}</h3>
              <div  fxLayout="row wrap">
                <div fxFlex="50"><strong>{{'DoctorServingModule.roomNo' | translate }} :</strong> {{sTokens?.roomNo}}
                  <br>
                  <strong>{{'DoctorServingModule.mrn' | translate }}:</strong> {{sTokens?.mrnNo}}  
                </div>

                <div fxFlex="50" class="text-right">
                  <app-dtokentimeview (timedata)="gettime($event,sTokens)" [data]="sTokens?.servingTime"></app-dtokentimeview>
                </div>
              </div>
            </div>

            <div class="clearfix bord-top" style="padding-top: 8px;">
              <div  fxLayout="row wrap">
                <div fxFlex="50"><strong>{{'DoctorServingModule.appt' | translate }}</strong><br>
                  {{sTokens?.apptDate}} </div>
                <div fxFlex="50" class="text-right">
                  <strong>{{'DoctorServingModule.servingTime' | translate }}</strong><br>
                  {{sTokens?.servestattime}}</div>
              </div>
            </div>

            <div class="clearfix bord-top  ntkn-footer">
                <button mat-icon-button matTooltip="Transfer" class="transfer" (click)="Transfer(sTokens)" >
                  <img src="assets/images/transfer-white-icon .svg"></button>

              <button mat-icon-button matTooltip="Recall" class="recall" (click)="Recall(sTokens?.ticketId)" [disabled]="sTokens?.uservingTime ? 30 >= sTokens?.uservingTime :30 >= sTokens?.servingTime">
                <img src="assets/images/recall.svg"></button>

              <button mat-icon-button matTooltip="{{'DoctorServingModule.recycle' | translate }}" class="recycling"
                (click)="recycling(sTokens?.ticketId)"><img src="assets/images/recycling.svg"></button>

              <button mat-icon-button matTooltip="{{'DoctorServingModule.noshow' | translate }}" class="noshow" (click)="noshow(sTokens?.ticketId)"><img
                  src="assets/images/noshow.svg"></button>

              <button mat-icon-button matTooltip="{{'DoctorServingModule.tokenEnd' | translate }}" class="end" (click)="end(sTokens?.ticketId,sTokens?.tokenNo)"><img
                  src="assets/images/end.svg"></button>

              <button mat-icon-button matTooltip="Transfer" *ngIf="false" class="transfer" [matMenuTriggerFor]="trans"
                [disabled]="deptList?.length == 0"><img src="assets/images/transfer.svg"></button>

              <mat-menu #trans="matMenu">
                <div *ngFor="let dept of deptList"><button mat-menu-item (click)="transferedToken(sTokens?.ticketId,dept?.serviceId)">{{dept?.deptName}}</button></div>
              </mat-menu>

              <button mat-icon-button matTooltip="Next" *ngIf="false" class="next" (click)="callNextServingTOken(sTokens)"><img
                  src="assets/images/next.svg"></button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="fullloader2" *ngIf="loading || Sloading">
        <div class="fullloaderInner">
          <img src="assets/images/loading.gif">
        </div>
      </div>
    </div>
  </div>

  <div fxFlex.gt-md="35" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" style="position: relative;">
    <mat-card class="clearfix" style="margin-bottom: 20px !important;">

      <mat-card-content class="pad-no">
        <div class="ntbl">
          <div fxLayout="row wrap" class="ntblhead">
            <div fxFlex="40">{{'DoctorServingModule.name' | translate }}</div>
            <div fxFlex="30" class="text-center">{{'DoctorServingModule.tokenWait' | translate }}</div>
            <div fxFlex="30">{{'DoctorServingModule.avgwaitTime' | translate }}</div>
          </div>
          <div *ngFor="let doctor of doctorList">
          <div fxLayout="row wrap" class="ntblrow" *ngIf="doctor?.sumOfwaitingTokens != 0">
            <div fxFlex="40" class="drlink pad-rgt" *ngIf="doctor?.sumOfwaitingTokens == 0">{{doctor?.drName}}</div>
            <div fxFlex="40" class="drlink pad-rgt" *ngIf="doctor?.sumOfwaitingTokens != 0">
              <a (click)="openTokenView(doctor)">{{doctor?.drName}}</a></div>
            <div fxFlex="30" class="text-center">{{doctor?.sumOfwaitingTokens}}</div>
            <div fxFlex="30">{{doctor?.sumOfwaitTime | dformatTime }} <small>(hh:mm)</small></div>
          </div>
        </div>
        </div>

      </mat-card-content>
    </mat-card>

    <mat-card class="clearfix">
      <mat-card-content class="pad-no">
        <div class="ntbl">
          <div fxLayout="row wrap" class="ntblhead">
            <div fxFlex="40">{{'DoctorServingModule.service' | translate }}</div>
            <div fxFlex="30" class="text-center">{{'DoctorServingModule.tokenWait' | translate }}</div>
            <div fxFlex="30">{{'DoctorServingModule.avgwaitTime' | translate }}</div>
          </div>
          <div *ngFor="let service of ServiceList">
            <div fxLayout="row wrap" class="ntblrow" *ngIf="service?.sumOfwaitingTokens !=0">
              <div fxFlex="40" class="pad-rgt">{{service?.serviceEngName}}</div>
              <div fxFlex="30" class="text-center">{{service?.sumOfwaitingTokens}}</div>
              <div fxFlex="30">{{service?.sumOfwaitTime | dformatTime }} (hh:mm)</div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="fullloader2" *ngIf="tokenLoading">
      <div class="fullloaderInner">
        <img src="assets/images/loading.gif">
      </div>
    </div>
  </div>

</div>
