<h4>Mat-Select-AutoComplete</h4>
<mat-select-autocomplete class="grid-7-11"
    placeholder="Options Selection" appearance='outline' [options]="options" [display]="'display'"
    [value]="'value'" multiple='true' [labelCount]="1">
  </mat-select-autocomplete>

  <!-- with Reactiveform -->
  <!-- <mat-select-autocomplete placeholder="{{title}}" [options]="options" [display]="'display'" [value]="'value'" required
  [multiple]='true' [labelCount]="1" ngDefaultControl formControlName="serviceCollection" appearance='outline' (selectionChange)="changeDepartment($event,true)">
  </mat-select-autocomplete> -->

<router-outlet></router-outlet>
