<mat-card>
  <form [formGroup]="departmentsForm">
    <mat-card-header style="border-bottom: 1px solid #eee;">
      <h4>{{'ApprovalModule.department.title' | translate }}</h4>
      <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
          class="ti-close"></i></button>
    </mat-card-header>

    <mat-card-content>
      <div class="clearfix" cdkFocusInitial>
        <div class="col-sm-12">

          <div class="example-container">
            <table class="table table-bordered">
              <!-- <tr>
        <td class="heading"><strong>DepartmentId</strong></td>
        <td>{{ApprovalsList?.deptId}} </td>
      </tr> -->
              <tr>
                <td class="heading"><strong>{{'ApprovalModule.department.name' | translate }}</strong></td>
                <td>{{ApprovalsList?.deptName}} </td>
              </tr>
              <!-- <tr>
      <td class="heading"><strong>creditTypeId</strong></td>
      <td>{{ApprovalsList?.creditType.creditTypeId}} </td>
    </tr> -->
              <tr>
                <td class="heading"><strong>{{'ApprovalModule.department.creditName' | translate }}</strong></td>
                <td>{{ApprovalsList?.creditType.creditName}} </td>
              </tr>
              <tr>
                <td class="heading"><strong>{{'ApprovalModule.department.creditCode' | translate }}</strong></td>
                <td>{{ApprovalsList?.creditType.creditCode}} </td>
              </tr>

              <tr>
                <td class="heading"><strong>{{'ApprovalModule.department.status' | translate }}</strong></td>
                <td>
                  <span *ngIf="ApprovalsList?.status == -1">{{'ApprovalModule.department.pending' | translate }}</span>
                  <span *ngIf="ApprovalsList?.status == -2">{{'ApprovalModule.department.rejected' | translate }}</span>
                  <span *ngIf="ApprovalsList?.status == 1">{{'ApprovalModule.department.active' | translate }}</span>
                  <span *ngIf="ApprovalsList?.status == 0">{{'ApprovalModule.department.inActive' | translate }}</span>
                </td>
              </tr>
              <tr>
                <td class="heading"><strong>{{'ApprovalModule.department.description' | translate }}</strong></td>
                <td>{{ApprovalsList?.description}}</td>
              </tr>

              <!-- <tr>
    <td class="heading"><strong>Department</strong></td>
    <td>{{ApprovalsList?.depts[0]?.deptName}}</td>
  </tr> -->

            </table>



            <div fxLayout="row wrap" class="checkerbuttons">
              <div fxFlex="25">

                <div class="card-avatar" style="width:50px; margin-bottom: 10px; margin-left: 15px">
                  <img src="assets/images/success.svg" />
                </div>

                <button mat-raised-button type="button" class="green-button" [disabled]="loading"
                actionClick (debounceClick)="approveDepartment()">{{'ActionNames.approve' | translate }}</button>
              </div>
              <div fxFlex="75">
                <mat-form-field class="full-width">
                  <textarea matInput matTextareaAutosize matAutosizeMinRows="5"  matAutosizeMaxRows="5"
                    placeholder=" {{'ApprovalModule.rejectReason' | translate }}" formControlName="rejectReason" required></textarea>
                  <mat-error *ngIf="departmentsForm.controls.rejectReason.errors?.required ">
                    {{'ApprovalModule.rejectReasonReq' | translate }}</mat-error>
                </mat-form-field>

                <button mat-raised-button type="submit" class="red-button" actionClick (debounceClick)="rejectDepartment()"
                  [disabled]="!departmentsForm.valid || loading">{{'ActionNames.reject' | translate }}</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </mat-card-content>

  </form>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>
