<div fxLayout="row wrap" class="Dheader2">
  <div fxFlex.gt-xs="30" fxFlex="100">
    <img src="assets/images/qsmart-logo.svg" width="45%" />
  </div>
  <div fxFlex.gt-xs="70" fxFlex="100" class="top-right">
    <div class="clearfix">
      <div class="time col-sm-9" style="padding-top: 5px;">
        <strong>{{currentDateTime | date:'h:mm a'}}</strong>
        <small> {{currentDateTime | date:'fullDate' :null:'en-US'}}</small>
      </div>
      <div class="col-sm-3"><img src="assets/images/kfsh-logo.png" width="100%"></div>

    </div>
  </div>
</div>
<div fxLayout="row wrap" class="bodysec">

  <div fxFlex.gt-sm="20" fxFlex.gt-xs="50" fxFlex="100" class="text-center" style="border-left: 1px solid #ffffff;">
    <strong>{{data == -1 ? ('DisplaysModule.urlErrormsg' | translate) : ('DisplaysModule.identifyCode' | translate)+data}}</strong>
  </div>
</div>