.top-txt{position: absolute; right:3%; width: 40%; font-size: 12px;}
.top-txt h3{margin-bottom: 4px; margin-top: 0;}
.btm-logo{position: absolute; bottom:8%; right: 2%; text-align: right;}
.top-logo{position: absolute; top:8%; right: 2%; text-align: right;}
.login-img{position: relative; left: 13%; width: 50%;}

.session-wrapper{max-width: 80%; width:350px;}

.sec-left{background: #e7ebef;}


@media (max-width:1000px){
    .top-logo{ top:34%;}
  }

  @media (max-width:1024px){
    .login-img{width: 63%;}
  }
  
  @media (max-width:700px){
    .sec-right{display: none;}
    .sec-left{height: 100vh;}
  }

  