<p>gauge works!</p>
<div id="wrapper">
    <!-- <svg id="meter">
        <circle r="150" cx="50%" cy="50%" stroke="#FDE47F" stroke-width="30" fill="none" stroke-dasharray="471, 943">
        </circle>
    </svg> -->
    <svg viewBox="0 0 100 50" id="meter">
        <g fill-opacity="0" stroke-width="10">
            <path d="M5 50a45 45 0 1 1 90 0" stroke="#EBEDF8" />
            <path class="progress" d="M5 50a45 45 0 1 1 90 0" stroke="#00ca9d" stroke-dasharray="142"
                stroke-dashoffset="142" />
        </g>
    </svg>
</div>