<div fxLayout="row wrap">
    <div fxFlex.gt-sm="30" fxFlex="100">
        <mat-form-field class="example-full-width" class="mar-rgt">
            <input matInput placeholder="Enter Mobile/Email">
          </mat-form-field>
  
          <button mat-raised-button color="primary">Search</button>
    </div>
    <div fxFlex.gt-sm="70" fxFlex="100"><img src="assets/images/chts/periodSelector.jpg" class="img-responsive"></div>
  </div>
  
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="33.3" fxFlex="100" class="text-center mar-btm"><h2>Total Volume on Day</h2><img src="assets/images/chts/today-volume.jpg" style="width: 80%"/> </div>
    <div fxFlex.gt-sm="33.3" fxFlex="100" class="text-center mar-btm"><h2>Total Activity</h2><img src="assets/images/chts/total.jpg" style="width: 80%"/> </div>
    <div fxFlex.gt-sm="33.3" fxFlex="100" class="text-center mar-btm"><h2>Country Wise Usage</h2><img src="assets/images/chts/countrywise.jpg" style="width: 80%"/> </div>
    <div fxFlex.gt-sm="33.3" fxFlex="100" class="text-center mar-btm"><h2>Module Wise Usage</h2><img src="assets/images/chts/modulewise.jpg" style="width: 80%"/> </div>
    <div fxFlex.gt-sm="33.3" fxFlex="100" class="text-center mar-btm"><h2>SMS Campaigns</h2><img src="assets/images/chts/sms.jpg" style="width: 80%"/> </div>
    <div fxFlex.gt-sm="33.3" fxFlex="100" class="text-center mar-btm"><h2>SMS Alerts</h2><img src="assets/images/chts/SMSalerts.jpg" style="width: 80%"/> </div>
    <div fxFlex.gt-sm="33.3" fxFlex="100" class="text-center mar-btm"><h2>Email Campaign</h2><img src="assets/images/chts/emaicampaign.jpg" style="width: 80%"/> </div>
    <div fxFlex.gt-sm="33.3" fxFlex="100" class="text-center mar-btm"><h2>Email Stats</h2><img src="assets/images/chts/emailstats.jpg" style="width: 80%"/> </div>
    <div fxFlex.gt-sm="33.3" fxFlex="100" class="text-center mar-btm"><h2>MO Received</h2><img src="assets/images/chts/moreceived.jpg" style="width: 80%"/> </div>
  </div>