.green-button { background: #528526; color: #ffffff }
.red-button { background: #CC0607; color: #ffffff }
.checkerbuttons { align-items: flex-end; margin-top: 12px }
input:read-only { color: #cccccc;}
.heading { background: #f7f7f7; width:40%;  }