<mat-card class="groupusers">

  <mat-card-header style="border-bottom: 1px solid #eee;">
    <h4>{{data?.groupName}}<br>
      <!-- <small>Users: {{groupDetails?.users[0].login}}</small> -->
      </h4>

    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i class="ti-close"></i></button>
  </mat-card-header>

  <mat-card-content class="userscontent">
    <div class="clearfix">
      <div fxLayout="row wrap">

        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngFor="let user of groupDetails">
          <mat-card fxFlex class="usercard">
               <div fxLayout="row wrap">
                <div fxFlex="98" class="UcardLeft">
                  <div class="clearfix">
                    <div fxLayout="row wrap" class="clearfix card-top">
                      <div fxFlex="15">
                        <div class="card-avatar">
                          <div class="image-inner">
                          <img src="assets/images/customer_icon.svg" />
                        </div>
                        </div>
                      </div>
                      <div fxFlex="85">
                        <div class="card-details">
                          <span class="longtobreak">{{user?.login}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </mat-card>

        </div>

      </div>
    </div>
  </mat-card-content>
</mat-card>