 //user card
 .usercard .card-avatar img{width: 60%;}
 .usercard{background: none;}
 .usercard .card-avatar { width:35px;height: 35px}
 
.groupusers h4 small { color: #ffffff; margin-top: 5px}
.groupusers .userscontent { padding-top: 80px}
.groupusers .mat-card-header {align-items: center }


