<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
<h1 mat-dialog-title class="text-danger">Update Employee Record</h1>
<form class="example-form" [formGroup]="example_form">
<div mat-dialog-content class="left">
  <p>Enter Your Employee ID</p>
  <mat-form-field appearance="outline">
    <input matInput  formControlName="empid" maxlength="10"  required readonly>  
    <mat-error *ngIf="example_form.controls.empid.hasError('required')">
        Please enter Your Emp ID
    </mat-error>
    <mat-error *ngIf="example_form.controls.empid.hasError('minlength')">
      Please enter 5 digits
    </mat-error>
  </mat-form-field>
</div>

<div mat-dialog-content>
  <p>Enter Your Employee Name</p>
  <mat-form-field appearance="outline">
    <input matInput  formControlName="ename" maxlength="15"  required>
    <mat-error *ngIf="example_form.controls.ename.hasError('required')">
        Please enter Your Name
    </mat-error>
    <mat-error *ngIf="example_form.controls.ename.hasError('minlength')">
      Please enter 5 characters
    </mat-error>
  </mat-form-field>
</div>

<div mat-dialog-content class="left">
  <p>Enter Your Employee Position</p>
  <mat-form-field appearance="outline">
    <input matInput  formControlName="position" maxlength="20" required>
    <mat-error *ngIf="example_form.controls.position.hasError('required')">
        Please enter Your Position
    </mat-error>
    <mat-error *ngIf="example_form.controls.position.hasError('minlength')">
      Please enter 10 characters
    </mat-error>
  </mat-form-field>
</div>

<div mat-dialog-content>
  <p>Enter Your Employee Salary</p>
  <mat-form-field appearance="outline">
    <input matInput  formControlName="sal" maxlength="10"  required>
    <mat-error *ngIf="example_form.controls.sal.hasError('required')">
        Please enter Your Salary
    </mat-error>
    <mat-error *ngIf="example_form.controls.sal.hasError('minlength')">
      Please enter 4 digits
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-content>
    <p>Enter Date</p>
    <mat-form-field appearance="outline">
      <input matInput  formControlName="date" required>
      <mat-error *ngIf="example_form.controls.date.hasError('required')">
          Please enter Date
      </mat-error>
    </mat-form-field>
  </div>
  
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="example_form.value" [disabled]="!example_form.valid" cdkFocusInitial>Update</button>
</div>
</form>
</div>




