<mat-card>
  <form [formGroup]="mailserverForm">
    <mat-card-header style="border-bottom: 1px solid #eee;">
      <h4>{{_editmaildata ? ('MailServer.create.editTitle' | translate) : ('MailServer.create.title' | translate)}}</h4>
      <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
          class="ti-close"></i></button>
    </mat-card-header>

    <mat-card-content>
      <div class="clearfix">
        <div class="col-sm-12">

          <div class="example-container">
            <div style="width:100%;">
            <mat-form-field style="width: 95%;">
              <input matInput autocomplete="off" allow-alpha-numeric-singlespace placeholder="{{'MailServer.Name' | translate}}" 
                formControlName="serverName" cdkFocusInitial maxlength="20" [readonly]="_editmaildata != null" (change)="!mailserverForm.controls.serverName.errors?.required && mailserverForm.controls.serverName.valid ?
                mailserverForm.get('validateServerNameTemplate').setValue(mailserverForm.value.serverName): mailserverForm.get('validateServerNameTemplate').setValue(null)" required>
              <mat-error *ngIf="mailserverForm.controls.serverName.errors?.required">{{'MailServer.create.serverName' | translate}}
              </mat-error>
              <mat-error *ngIf="mailserverForm.controls.serverName.errors?.minlength">{{'MailServer.create.mailMinimum' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-error *ngIf="!mailserverForm.controls.validateServerNameTemplate.errors?.required &&
            !mailserverForm.controls.serverName.errors?.required && !mailserverForm.controls.validateServerNameTemplate.errors?.invalid
            " style="display: inline;"><i class=" ti-check text-success"></i></mat-error>
            <mat-error *ngIf="mailserverForm.controls.validateServerNameTemplate.errors?.invalid"><i class="ti-close
                text-danger">
                <small style="font-family: Arial, Helvetica, sans-serif;">{{'MailServer.create.mailNameExist' | translate}}</small>
              </i></mat-error>
            </div>
      
            <mat-form-field class="w100">
              <input matInput autocomplete="off" placeholder="{{'MailServer.mailAccount' | translate}}" allow-email-charecters  maxlength="50" formControlName="email"
              required>
              <mat-error *ngIf="mailserverForm.controls.email.errors?.required">{{'MailServer.create.emailRequired' | translate}}</mat-error>
             <mat-error *ngIf="mailserverForm.controls.email.errors?.pattern">{{'MailServer.create.InvalidEmail' | translate}}</mat-error>
            </mat-form-field>
            

            <mat-form-field style="width: 100%;">
              <input matInput autocomplete="off" placeholder="{{'MailServer.create.password' | translate}}"
                formControlName="password" type="password" maxlength="50" allow-all-nospace required>
              <mat-error *ngIf="mailserverForm.controls.password.errors?.required">{{'MailServer.create.pwdRequired' | translate}}
              </mat-error>
              <mat-error *ngIf="mailserverForm.controls.password.errors?.minlength">{{'MailServer.create.pwdMinimum' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-list>
              <label>{{'MailServer.mailBoxType' | translate}}</label> &nbsp;
              <mat-radio-group formControlName="mailboxtype" (change)="callMailBoxTypeOnChange($event)">
                <mat-radio-button color="primary" value="1">{{'MailServer.create.smtp' | translate}}</mat-radio-button>&nbsp;
                <mat-radio-button color="primary" value="2" >{{'MailServer.create.pop' | translate}}</mat-radio-button>&nbsp;
                <mat-radio-button color="primary" value="3">{{'MailServer.create.imap' | translate}}</mat-radio-button>
              </mat-radio-group>
            </mat-list>
            

            <mat-form-field style="width: 100%;">
              <input matInput autocomplete="off" placeholder="{{'MailServer.serverIP' | translate}}"
                formControlName="serverip" maxlength="50" required>
              <mat-error *ngIf="mailserverForm.controls.serverip.errors?.required">{{'MailServer.create.serverIpRequired' | translate}}
              </mat-error>
              <mat-error *ngIf="mailserverForm.controls.serverip.errors?.pattern">{{'MailServer.create.InvalidServerIP' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field style="width: 100%;">
              <input matInput autocomplete="off" placeholder="{{'MailServer.port' | translate}}" allow-numbers-nospace
                formControlName="port" minlength="2" maxlength="5" required>
              <mat-error *ngIf="mailserverForm.controls.port.errors?.required">{{'MailServer.create.portRequired' | translate}}
              </mat-error>
              <mat-error *ngIf="mailserverForm.controls.port.errors?.minlength">{{'MailServer.create.mailMinimum' | translate}}
              </mat-error>
              <mat-error *ngIf="mailserverForm.controls.port.errors?.pattern">{{'MailServer.create.InvalidPort' | translate}}</mat-error>
            </mat-form-field>

            <section>
                <mat-checkbox color="primary" class="example-margin" formControlName="checkedSSL">{{'MailServer.create.ssltls' | translate}}</mat-checkbox>
            </section>
            
            <mat-form-field *ngIf="mailserverForm.value.mailboxtype == 2 || mailserverForm.value.mailboxtype == 3">
              <mat-select formControlName="interval" placeholder="{{'MailServer.mailInterval' | translate}}" required>
                <mat-option *ngFor="let num of intervalNum" [value]="num">{{num}} Seconds</mat-option>
              </mat-select>
              <mat-error *ngIf="mailserverForm.controls.interval.errors?.required">{{'MailServer.create.intervalRequired' | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div style="margin-left: 12px;">
       <button  mat-raised-button class="submitbutton" actionClick (debounceClick)="crateAndUpdateAction()" [disabled]="!mailserverForm.valid || loading" type="submit">{{ _editmaildata ? ('ActionNames.update' | translate): ('ActionNames.save' | translate)}}</button>
      </div>
    </mat-card-actions>

  </form>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>