<mat-card>
  <mat-card-header>
    <div fxLayout="row wrap" style="margin-top:5px;">
      <h4>{{ 'serviceModule.service' | translate}}</h4>
    </div>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%; "><i class="ti-close"></i></button>
  </mat-card-header>

  <mat-card-content class="pad-all2">
    <div fxLayout="row wrap" class="mar-btm">
      <div fxFlex.gt-sm="100" class="example-container mar-rgt">
        <div>
          <form [formGroup]="serviceForm">
            <div>
              <mat-form-field style="width: 95%;">
                <input cdkFocusInitial matInput placeholder="{{ 'serviceModule.createservice.serviceEngName' | translate}}"
                  formControlName="serviceEngName" allow-Service-English minlength="3" maxlength="50" autocomplete="off"
                  required>
                <mat-error *ngIf="serviceForm.controls.serviceEngName.errors?.required">
                  {{'ActionNames.errorMessage' | translate}}
                </mat-error>
                <mat-error *ngIf="serviceForm.get('serviceEngName').hasError('minlength')">
                  {{'ActionNames.minLengthError3' | translate}}</mat-error>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field style="width: 95%;">
                <input matInput placeholder="{{ 'serviceModule.createservice.serviceArName' | translate}}"
                  formControlName="serviceArName" allow-Service-Arbic autocomplete="off" minlength="3" maxlength="50"
                  [ngClass]="{arabic: true}" required>
                <mat-error *ngIf="serviceForm.controls.serviceArName.errors?.required">
                  {{'ActionNames.errorMessage' | translate}}
                </mat-error>
                <mat-error *ngIf="serviceForm.get('serviceArName').hasError('minlength')">
                  {{'ActionNames.minLengthError3' | translate}}</mat-error>
              </mat-form-field>
            </div>

            <!-- <div *ngIf="Data.data?.serviceType!=0">
              <mat-form-field style="width: 95%;">
                <input matInput placeholder="{{ 'serviceModule.createservice.location' | translate}}"
                  formControlName="serviceLocation" allow-Service-English maxlength="50" autocomplete="off" required>
                <mat-error *ngIf="serviceForm.controls.serviceLocation.errors?.required">
                  {{'ActionNames.errorMessage' | translate}}
                </mat-error>
              </mat-form-field>
            </div> -->


            <div>
              <mat-form-field style="width: 95%;">
                <mat-select placeholder="{{ 'serviceModule.createservice.levelSelection' | translate}}"
                  formControlName="floorId" (selectionChange)="floorSelection()"
                  [disabled]="Data.data?.serviceType == 0" required>
                  <mat-option *ngFor="let level of totalLevels" [value]="level.floorId">
                    {{level.floorName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="serviceForm.controls.floorId.errors?.required">
                  {{'ActionNames.errorSelectMessage' | translate}}
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field style="width: 95%;">
                <mat-select placeholder="{{ 'serviceModule.createservice.deptSelection' | translate}}"
                  formControlName="deptId" [disabled]="Data.data?.serviceType == 0" required>
                  <mat-option *ngFor="let department of totalDepartments" [value]="department.deptId">
                    {{department?.deptName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="serviceForm.controls.deptId.errors?.required">
                  {{'ActionNames.errorSelectMessage' | translate}}
                </mat-error>
              </mat-form-field>
            </div>

            <mat-form-field style="width: 100%">
              <mat-select placeholder="{{ 'serviceModule.createservice.earlyCheckin' | translate}}"
                formControlName="npEarlyCheckin" required>
                <mat-option  *ngFor="let timeinterval of timeintervals"  [value]="timeinterval.intervalId">
                  {{timeinterval.Interval}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="serviceForm.controls.npEarlyCheckin.errors?.required">
                {{'ActionNames.errorSelectMessage' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field style="width: 100%">
              <mat-select placeholder="{{ 'serviceModule.createservice.lateCheckin' | translate}}"
                formControlName="npLateCheckin" required>
                <mat-option  *ngFor="let timeinterval of timeintervals"  [value]="timeinterval.intervalId">
                  {{timeinterval.Interval}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="serviceForm.controls.npLateCheckin.errors?.required">
                {{'ActionNames.errorSelectMessage' | translate}}
              </mat-error>
            </mat-form-field>
            <!-- (blur)="servicePrefixExist()" -->
            <div>
              <mat-form-field style="width: 95%;">
                <input matInput placeholder="{{ 'serviceModule.createservice.prefix' | translate}}"
                  formControlName="servicePrefix" allow-characters-withoutspace 
                  maxlength="5" autocomplete="off" required>
                <mat-error *ngIf="serviceForm.controls.servicePrefix.errors?.required">
                  {{'ActionNames.errorMessage' | translate}}
                </mat-error>
              </mat-form-field>
              <mat-error *ngIf="servicePrefixFlag && serviceForm.value.servicePrefix?.length>1"
                style="display: inline;"><i class=" ti-check text-success"></i></mat-error>
              <mat-error *ngIf="serviceDisableFlag && serviceForm.value.servicePrefix?.length>1"><i class="ti-close
                  text-danger">
                  {{'serviceModule.createservice.prefixExist' | translate}}
                </i></mat-error>
            </div>

            <div>
              <mat-form-field style="width: 50%; padding-right:10px;">
                <input matInput placeholder="{{ 'serviceModule.createservice.startToken' | translate}}"
                  formControlName="startToken" allow-number-customnospace (change)="startValidation()"
                  autocomplete="off" min="1" maxlength="4" required>
                <mat-error *ngIf="serviceForm.controls.startToken.errors?.required">
                  {{'ActionNames.errorMessage' | translate}}
                </mat-error>
              </mat-form-field>

              <mat-form-field style="width: 50%; padding-left:10px;">
                <input matInput placeholder="{{ 'serviceModule.createservice.endToken' | translate}}"
                  formControlName="endToken" min="1" maxlength="4" (change)="endValidation()" allow-number-customnospace
                  autocomplete="off" required>
                <mat-error *ngIf="serviceForm.controls.endToken.errors?.required">
                  {{'ActionNames.errorMessage' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </form>

          <br>
          <div class="pad-ver clearfix w100">
            <button mat-raised-button color="primary" (click)="onSubmit()"
              [disabled]="serviceForm.invalid">{{'ActionNames.submit' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>