<div>

  <div class="container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', primaryColour: '#3498DB', secondaryColour: '#FF0000', tertiaryColour: '#ffffff' }"></ngx-loading>
  </div>

  <ngx-datatable #table class="material"  [rows]="rows"  [columnMode]="'force'"  [headerHeight]="50"  [footerHeight]="50"  [rowHeight]="40"
    [externalPaging]="true"  [count]="page.totalElements"  [offset]="page.pageNumber"  [limit]="page.size"  (page)='setPage($event)'>

    <!-- <ngx-datatable-column name="campaignId" prop="campaignId" [resizeable]="false"  [draggable]="false" [width]="40">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span>Campaign Id</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column name="campName" prop="campName" [width]="100" [resizeable]="false"  [draggable]="false" >
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span>Campaign Name</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="startTime" prop="startTime" [width]="100" [resizeable]="false"  [draggable]="false">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span>Start Time</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="endTime" prop="endTime" [width]="100" [resizeable]="false"  [draggable]="false">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        End Time
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <!-- <ngx-datatable-column name="updatedBy" prop="updatedBy" [width]="100" [resizeable]="false"  [draggable]="false">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        Updated By
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column name="updatedTime" prop="updatedTime" [width]="100" [resizeable]="false"  [draggable]="false">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        Updated Time
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | slice:0:19}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="status" prop="status" [width]="60" [resizeable]="false"  [draggable]="false">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span>Status</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <!-- {{value}} -->
        <div *ngIf="row.status.trim() === 'PENDING'">
            <span style="color:blue">{{value}}</span>
          </div>
          <div *ngIf="row.status.trim() === 'COMPLETED'">
            <span style="color:green">{{value}}</span>
          </div>
          <div *ngIf="row.status.trim() != 'PENDING' || row.status.trim() != 'COMPLETED'">
            <span style="color:blue">{{value}}</span>
          </div>

      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>

</div>