<div>
    <div class="card">
        <div class="card-body">
            <div class="form">
                <form class="block-form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                    <div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Campaign Name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="campaignName" pattern="[a-zA-Z0-9]+" id="campaignName" [(ngModel)]="model.campaignName"
                                    placeholder="Campaign Name" (blur)="onSearchCampaign()"   #campaignName="ngModel" required
                                />
                                <div *ngIf="!showResponse">
                                    <div [hidden]="campaignName.valid || campaignName.pristine" class="alert alert-danger">
                                        <div [hidden]="!campaignName.hasError('required')">Campaign Name is required</div>
                                        <div [hidden]="!campaignName.hasError('pattern')">Only alphanumerics allowed</div>
                                    </div>
                                </div>
                                <div *ngIf="campaignExist" class="alert alert-danger">
                                    <div>{{message}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Promotion Type</label>
                            <div class="col-md-4">
                                <select [disabled]=isUploaded name="promoType" class="form-control" id="exampleFormControlSelect1" [(ngModel)]="model.selectPromoType"
                                    required (change)="onOpChange($event.target.value)">
                                    <option [selected]>Select</option>
                                    <option value="Promo">Promo</option>
                                    <option value="Info">Info</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="file" class="col-md-2 col-form-label">Welcome Prompt</label>
                            <div class="col-sm-4">
                                <!-- <input [disabled]=isUploaded type="file" name="welcomePrompt" (change)="selectFile($event)" style="color:transparent;"  onchange="this.style.color = 'black';"
                                /> -->
                                <!-- <input type="file" name="welcomePrompt"  (change)="selectFile($event)"
                                  onchange="document.getElementById('welPrompt').src 
                                 = window.URL.createObjectURL(this.files[0])"
                                      accept="audio/mp3/wav" /> -->

                                <input type="file" name="welcomePrompt"  (change)="selectFile($event)"    accept="audio/mp3/wav" />
                                <audio id="welPrompt" controlsList="nodownload"></audio>
                                <!-- <audio autoplay controls id="welPrompt" controlsList="nodownload"></audio> -->
                                <div *ngIf="filesizeEmpty" class="text-danger">
                                    <b>Invalid File. File should not be empty</b>
                                </div>
                                <div *ngIf="!isValidWavFileExt" class="text-danger">
                                    <b>File extension should be '.wav,.mp3' file</b>
                                </div>
                            </div>
                            <!-- 
                            <div class="col-sm-4" *ngIf="onReset">
                                <input [disabled]=isUploaded type="file" (change)="selectFile($event)" style="color:transparent;" />
                            </div> -->
                        </div>

                        <div class="form-group row" *ngIf="showPromo">
                            <label class="col-md-2 col-form-label">Valid Digits</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="validDigits" pattern="[,0-9]+" id="validDigits" [(ngModel)]="model.validDigits"
                                    placeholder="ValidDigits"   #validDigits="ngModel" required />
                                <div [hidden]="validDigits.valid || validDigits.pristine" class="alert alert-danger">
                                    <div [hidden]="!validDigits.hasError('required')">ValidDigits is required</div>
                                    <div [hidden]="!validDigits.hasError('pattern')">Only Numbers allowed</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="showPromo">
                            <label for="file" class="col-md-2 col-form-label">Final Prompt</label>
                            <div class="col-sm-4">
                                <!-- <input [disabled]=isUploaded type="file" name="finalPrompt" (change)="selectFinalFile($event)" style="color:transparent;"
                                     onchange="this.style.color = 'black';" /> -->
                                <!-- <input type="file"  name="finalPrompt"  (change)="selectFinalFile($event)"  onchange="document.getElementById('fPrompt').src = window.URL.createObjectURL(this.files[0])"
                                     accept="audio/mp3/wav" /> -->
                                <input type="file"  name="finalPrompt"  (change)="selectFinalFile($event)"  
                                     accept="audio/mp3/wav" />
                                <audio id="fPrompt" controlsList="nodownload"></audio>
                                <div *ngIf="filesizeEmpty" class="text-danger">
                                    <b>Invalid File. File should not be empty</b>
                                </div>
                                <div *ngIf="!isValidFileExt" class="text-danger">
                                    <b>File extension should be '.wav,.mp3' file</b>
                                </div>
                            </div>
                            <!-- <div class="col-sm-4" *ngIf="onReset">
                                <input [disabled]=isUploaded type="file" (change)="selectFile($event)" style="color:transparent;" />
                            </div> -->
                        </div>

                        <!-- <div class="form-group row">
                            <label class="col-md-2 col-form-label">Start DateTime</label>
                            <div class="col-md-4"> -->
                        <input type="hidden" class="form-control" [owlDateTimeTrigger]="startdate" [owlDateTime]="startdate" id="datepicker" placeholder="StartDateTime"
                            [(ngModel)]="model.StartDateTime" name="StartDateTime" [min]=startDatetime #DateTime="ngModel" required
                            readonly="readonly">
                        <owl-date-time #startdate></owl-date-time>
                        <!-- </div>
                        </div> -->

                        <!-- <div class="form-group row">
                            <label class="col-md-2 col-form-label">End DateTime</label>
                            <div class="col-md-4"> -->
                        <input type="hidden" class="form-control" [owlDateTimeTrigger]="enddate" [owlDateTime]="enddate" id="datepicker" placeholder="EndDateTime"
                            [(ngModel)]="model.EndDateTime" name="EndDateTime" [min]=startDatetime #DateTime="ngModel" required
                            readonly="readonly">
                        <owl-date-time #enddate></owl-date-time>
                        <!-- <div *ngIf="!dateValidation" class="text-danger">
                                    <b>End Date&Time should be greater than Start Date&Time</b>
                                </div>
                            </div>
                        </div> -->

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Mobile Number</label>
                            <div class="col-sm-4">
                                <input type="text" #mobileNumber="ngModel" minlength="10" pattern="[,0-9]+" class="form-control" name="mobileNumber" id="mobileNumber"
                                    [(ngModel)]="model.mobileNumber" placeholder="Mobile Number"   required />
                                <div *ngIf="!showResponse">
                                    <div [hidden]="mobileNumber.valid || mobileNumber.pristine" class="alert alert-danger">
                                        <div [hidden]="!mobileNumber.hasError('required')">MobileNumber is required</div>
                                        <div [hidden]="!mobileNumber.hasError('pattern')">Only Numbers allowed</div>
                                        <div [hidden]="!mobileNumber.hasError('minlength')">MobileNumber min length should be 10 digits</div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a>
                                    <span style="color:blue" tooltip="Maximum 10 Mobile Numbers allowed with separated by comma(,)">
                                        <i style="font-size:18px" class="fa">&#xf059;</i>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">DND</label>
                            <div class="col-md-1 col-form-label">
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" id="dnd" name="dnd" [(ngModel)]="model.dnd" />
                                </div>
                            </div>
                        </div>

                        <!-- <audio id="player">
                            <source id="source" src="https://mdn.mozillademos.org/files/2587/AudioTest%20(1).ogg"></source>
                        </audio> -->

                        <div class="form-group row">
                            <label for="file"  class="col-md-2 col-form-label"></label>
                            <div class="col-sm-4" style="width: 450px;" *ngIf="showPromo">
                                <!-- <button class="btn btn-success" [disabled]="!f.form.valid || !selectBox || !validWelcomeFile || !validFinalFile" (click)="upload()">Save</button> -->
                                <!-- <button class="btn btn-success" [disabled]="!f.form.valid || isUploaded" (click)="upload()">Save</button> -->
                                <!-- <button class="btn btn-success"  [disabled]="!selectedFiles || !selectBox || !selectActionBox || filesizeEmpty"  (click)="upload()">Upload</button> -->
                                <button class="btn btn-success" [disabled]="!f.form.valid || !selectBox || !validWelcomeFile || !validFinalFile" (click)="upload()">Save</button>
                                <button type="reset" class="btn btn-danger" (click)="reset()">Reset</button>
                                <!-- <button  class="btn btn-danger" (click)="playAudio()">Play</button> -->

                            </div>

                            <div class="col-sm-4" style="width: 450px;" *ngIf="!showPromo">
                                <button class="btn btn-success" [disabled]="!f.form.valid || !selectBox || !validWelcomeFile" (click)="upload()">Save</button>
                                <button type="reset" class="btn btn-danger" (click)="reset()">Reset</button>
                                <!-- <button  class="btn btn-danger" (click)="playAudio()">Play</button> -->
                            </div>
                        </div>
                    </div>

                    <div>
                        <div *ngIf="showProgress" class="col-sm-6">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                                {{progress.percentage}}%
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #popTemplate>
    <div>
        <font color="black">File extension should be allowed '.wav' only</font>
    </div>
    <div [innerHtml]="html"></div>
</ng-template>