<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

  <div fxLayout="row wrap">
    <div fxFlex="70">
      <h2>{{ 'PriorityModule.prioritizationmanage.title' | translate}} </h2>
    </div>
  </div>

  <div class="no-shadow">
    <table mat-table [dataSource]="dataSource" class="full-width-table" multiTemplateDataRows>
      <ng-container matColumnDef="priorityId">
        <th mat-header-cell *matHeaderCellDef> {{ 'PriorityModule.prioritizationmanage.priorityId' | translate}} </th>
        <td mat-cell *matCellDef="let data" ngClass="{{'category1'+data.msgCategory.categoryId}}">
          {{ data.priorityId }} </td>
      </ng-container>
      <ng-container matColumnDef="categoryDesc">
        <th mat-header-cell *matHeaderCellDef style="width: 23%"> {{ 'PriorityModule.prioritizationmanage.priority_category' | translate}}
        </th>
        <td mat-cell *matCellDef="let data;let i = dataIndex" [attr.rowspan]="getRowSpan('categoryDesc',i)"
          [style.display]="getRowSpan('categoryDesc', i) ? '' : 'none'">
          {{ data.msgCategory.categoryDesc }} </td>
      </ng-container>
      <ng-container matColumnDef="priorityName">
        <th mat-header-cell *matHeaderCellDef style="width: 25%"> {{ 'PriorityModule.prioritizationmanage.priorityName' | translate}} </th>
        <td mat-cell *matCellDef="let data">
          {{ data.priorityName }} </td>
      </ng-container>
      <ng-container matColumnDef="priorityDesc">
        <th mat-header-cell *matHeaderCellDef style="width: 25%" class="wraptext"> {{ 'PriorityModule.prioritizationmanage.remarks' | translate}} </th>
        <td mat-cell *matCellDef="let data" >
            {{data.visible ? data.priorityDesc : (data.priorityDesc | truncate : 40 : '...') }} 
            <a *ngIf="data.priorityDesc.length>40" color="primary" (click)="data.visible = !data.visible">
                {{ data.visible ?  ('ActionNames.less'|translate) : ('ActionNames.more'|translate) }}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'PriorityModule.prioritizationmanage.actions' | translate}} </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{'ActionNames.updateRemarks'|translate}}" (click)="updateRemarks(element)"> <button
            mat-icon-button><i class="ti-pencil-alt"></i></button>
        </td>
      </ng-container>
      <ng-container matColumnDef="ServiceInfo">
        <th mat-header-cell *matHeaderCellDef> {{ 'PriorityModule.prioritizationmanage.ServiceInfo' | translate}} </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{'ActionNames.getServiceInformation'|translate}}" (click)="GetSericeInfo(element)"> <button
            mat-icon-button><i class="ti-info-alt link"></i></button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ngClass="{{'category'+row.msgCategory.categoryId}}">
      </tr>



    </table>
  </div>

</div>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif"> </div> </div>
