<mat-card>
    <form [formGroup]="userQuotaSetlimitForm">
      <mat-card-header style="border-bottom: 1px solid #eee;">
        <mat-card-title >
           <h4>{{action}} Limit</h4> 
        </mat-card-title>
        <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
            class="ti-close"></i></button>
      </mat-card-header>
  
      <mat-card-content>
        <div class="clearfix">
          <div class="col-sm-12">
  
            <div class="example-container">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Platform Credits" formControlName="platformCredits" value=10000 readonly>
                </mat-form-field> 
  
              <mat-form-field class="full-width">
                <mat-select placeholder="Department" formControlName="department">
                  <mat-option value="IT">IT</mat-option>
                  <mat-option value="Accounts">Accounts</mat-option>
                  <mat-option value="Sales">Sales</mat-option>
                </mat-select>
                <mat-error *ngIf="userQuotaSetlimitForm.controls.department.errors?.required">Department is required </mat-error>
              </mat-form-field>
  
              <mat-form-field class="full-width" >
                <mat-select placeholder="User Name" formControlName="userName">
                  <mat-option value="User1" >User 1</mat-option>
                  <mat-option value="User2">User 2</mat-option>
                  <mat-option value="User3">User 3</mat-option>
                </mat-select>
                <mat-error *ngIf="userQuotaSetlimitForm.controls.userName.errors?.required">User Name is required</mat-error>
              </mat-form-field> 
  
              <mat-form-field class="full-width">
                  <mat-select placeholder="Account Type" formControlName="accountType"  [disabled]="userquotadata">
                      <mat-option value="Prepaid">Prepaid</mat-option>
                      <mat-option value="Postpaid">Postpaid</mat-option>
                  </mat-select>
                  <mat-error *ngIf="userQuotaSetlimitForm.controls.accountType.errors?.required">Account Type is required</mat-error>
              </mat-form-field>
              
              <div *ngIf="userQuotaSetlimitForm.controls.accountType.value == 'Prepaid'">
              
              <mat-form-field class="full-width">
                  <input matInput placeholder="Department Credits Available" formControlName="departmentCredit" value="10000" [readonly]="userquotadata">
              </mat-form-field>

              <mat-form-field class="full-width" >
                <input matInput placeholder="Available Balance" formControlName="availableBalance" maxlength="10" [readonly]="userquotadata">
              </mat-form-field>

              </div>

              <div *ngIf="userQuotaSetlimitForm.controls.accountType.value == 'Postpaid'">
              <mat-form-field class="full-width" >
                <input matInput placeholder="Current Thredhold Limit" formControlName="currentThresholdLimit" maxlength="10"
                  readonly>
              </mat-form-field>
              </div>
             
              <mat-form-field class="full-width">
                <mat-select placeholder="AdjustmentType" formControlName="adjustmentType">
                  <mat-option value="Recharge">Recharge</mat-option>
                  <mat-option value="Rollback">Roolback</mat-option>
                </mat-select>
                <mat-error *ngIf="userQuotaSetlimitForm.controls.adjustmentType.errors?.required">AdjustmentType is required</mat-error>
              </mat-form-field>
  
              <mat-form-field class="full-width">
                <input matInput placeholder="Credits" formControlName="credits"
                  allow-numbers-nospace autocomplete="off" maxlength="10" required>
                <mat-error *ngIf="userQuotaSetlimitForm.controls.credits.errors?.required">
                  Credits is required </mat-error>
              </mat-form-field>
              
              <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="picker" (focus)="picker.open()" parse-format="dd/MM/yyyy" placeholder="Expiry Date" formControlName="expiryDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> 
            </div>
          </div>
        </div>
      </mat-card-content>
  
      <mat-card-actions>
          <div style="margin-left: 12px;">
            <button mat-raised-button type="submit" class="submitbutton"
              [disabled]="!userQuotaSetlimitForm.valid">Save</button>
          </div>
      </mat-card-actions>
    </form>
  </mat-card>
  
  <div class="fullloader" *ngIf="loading">
    <div class="fullloaderInner">
      <img src="assets/images/loading.gif">
    </div>
  </div>
  
