
    <mat-card class="example-card">
        <form class="example-form" [formGroup]="example_form"> 
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>FirstName</mat-label>
                <input matInput type="text" formControlName="fname" maxlength="15" minlength="5"required>
                <mat-error *ngIf="example_form.controls.fname.hasError('required')">
                  Please enter FirstName
                </mat-error>
                <mat-error *ngIf="example_form.controls.fname.hasError('minlength')">
                  Please enter 5 characters
                </mat-error>
              </mat-form-field></td>

              <td><mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>LastName</mat-label>
                <input matInput type="text" formControlName="lname" maxlength="15" minlength="5"required>
                <mat-error *ngIf="example_form.controls.lname.hasError('required')">
                  Please enter LastName
                </mat-error>
                <mat-error *ngIf="example_form.controls.fname.hasError('minlength')">
                  Please enter 5 characters
                </mat-error>
              </mat-form-field></td>
            </tr></table>

            <mat-radio-group aria-label="Select an option" formControlName="gender" required>
              <b>Gender:</b>&nbsp;
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button value="2">FeMale</mat-radio-button>
              </mat-radio-group>  
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>UserName</mat-label>
                    <input matInput type="email" formControlName="email"
                           [errorStateMatcher]="matcher" maxlength="30" required>
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
            </div> 
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>Create password</mat-label>
                  <input matInput formControlName="pswrd"  placeholder="Enter your password" [type]="hide ? 'password' : 'text'" minlength="6" maxlength="15" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="example_form.controls.pswrd.hasError('minlength')">
                    Please enter minimum 6 characters
                  </mat-error>
                  <mat-error *ngIf="example_form.controls.pswrd.hasError('pswrd')">
                    Please enter minimum 6 characters
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="example-container">
                  <mat-form-field appearance="outline">
                      <mat-label>confirm password</mat-label>
                    <input matInput formControlName="rpwd"  (keyup)="checkPasswords()" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" minlength="6" maxlength="15" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="example_form.controls.rpwd.errors?.required">
                      Please enter Confirm Password
                    </mat-error>
                    <mat-error *ngIf="example_form.controls.rpwd.hasError('minlength')">
                      Please enter Match Password
                    </mat-error>
                    <!-- <mat-error *ngIf="example_form.controls.rpwd.hasError('notSame')">
                      Please enter Match Password
                    </mat-error> -->
                  </mat-form-field>
                 <mat-error *ngIf="notSame">
                    Passwords does not match
                  </mat-error>
                </div>
            <p><mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field></p>
           
          <mat-checkbox formControlName="Agree" required >I Agree to Terms & Conditions</mat-checkbox>
                {{example_form.value | json}}
          <div class="example-button-row">
              <button mat-raised-button color="primary" (click)="Nextpage()"[disabled]="!example_form.valid" >Next</button>
          </div>
          </form>
          
      </mat-card>
  
