<div class="session" style="background: #f5f5f5; padding: 0 4%;">
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100">

      <div class="session-content">
        <div class="session-wrapper">
          <div class="pad-hor">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class=" pb-1">
                <br><br>
                <img src="assets/images/synapse-logo.svg" width="280" />
                <br>
                <br>
                <br>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-around">
                <h3>Sign Up</h3>

                <div class="pb-1">
                  <mat-form-field style="width:100%">
                    <input formControlName="login" placeholder="User ID/Email ID" matInput required>
                    <mat-error *ngIf="form.controls.login.errors?.required ">
                      Email is required </mat-error>
                    <mat-error *ngIf="form.hasError('email') && form.controls.login.touched">
                      Please enter the correct email, this email not valid.
                    </mat-error>
                    <mat-error *ngIf="!form.controls.firstname.errors?.minlength ">
                      Email should be allowed minlength is 8 charcters </mat-error>
                  </mat-form-field>
                </div>
                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <input formControlName="firstname" placeholder="First Name" matInput required>
                    <mat-error *ngIf="form.controls.firstname.errors?.required ">
                      First Name is required </mat-error>
                    <mat-error *ngIf="form.controls.firstname.errors?.minlength ">
                      First Name should be allowed minlength is 4 charcters </mat-error>
                  </mat-form-field>
                </div>

                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <input formControlName="lastname" placeholder="Last Name" matInput required>
                    <mat-error *ngIf="form.controls.lastname.errors?.required ">
                      Last Name is required </mat-error>
                    <mat-error *ngIf="form.controls.lastname.errors?.minlength ">
                      Last Name should be allowed minlength is 4 charcters </mat-error>
                  </mat-form-field>
                </div>
                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <input formControlName="company" placeholder="Company" matInput required>
                    <mat-error *ngIf="form.controls.company.errors?.required ">
                      Company is required </mat-error>
                    <mat-error *ngIf="form.controls.company.errors?.minlength ">
                      Company should be allowed minlength is 4 charcters </mat-error>
                  </mat-form-field>
                </div>

                <div class="mar-btm int-mbl">
                  <div class="pb-1">
                    <label>Mobile</label>
                    <int-phone-prefix formControlName="contactNo" placeholder="Mobile" disabled required></int-phone-prefix>
                  </div>
                </div>

                <div class="pb-1">
                  <!-- <mat-checkbox>I have read and agree to the terms of service.</mat-checkbox> -->
                  By submitting this form, You agree to Synapse's <a class="text-primary">Privacy Policy</a>
                </div>
                <button mat-raised-button color="primary" class="btn-block" type="submit" [disabled]="!form.valid"
                  style="padding: 10px;">Create your account</button>
              </div>
              <div class="pt-1 pb-1 text-xs-center">
                <!-- <a [routerLink]="['/session/forgot']">Forgot password?</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
                <a [routerLink]="['/']">Login.</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div fxFlex.gt-sm="60" fxFlex.gt-xs="100" fxFlex="100">
      <div class="rgt-btm">
        <div>
          <img src="assets/images/login-img.jpg" width="100%" />
        </div>

        <br>

        <div fxLayout="row wrap" style="width: 100%; text-align: center">
            <div style="margin: 0 auto; width: 40%">
          <div fxFlex.gt-sm="33" fxFlex="50" matTooltip="Dynamically Send, Receive & Enhance Text Message Campaigns."
            [matTooltipPosition]="position" [matTooltipClass]="{'blue-tooltip': showExtraClass}"><span><img src="assets/images/sms.svg"
                width="18"> SMS</span></div>
          <div fxFlex.gt-sm="33" fxFlex="50" matTooltip="Secure sensitive transactions with an additional 2 Factor authentication"
            [matTooltipPosition]="position" [matTooltipClass]="{'blue-tooltip': showExtraClass}"><span><img src="assets/images/email2.svg"
                width="19"> Email</span></div>
          <!-- <div fxFlex.gt-sm="25" fxFlex="50" matTooltip="Increase engagement with your APP users and drive conversions with Push Notifications."
            [matTooltipPosition]="position" [matTooltipClass]="{'blue-tooltip': showExtraClass}"><span><img src="assets/images/bell.svg"
                width="18"> Pushnotification</span></div> -->
          <div fxFlex.gt-sm="33" fxFlex="50" matTooltip="Embed into the mobile App ecosystem to improve customer engagement with customer care, sales or support departments."
            [matTooltipPosition]="position" [matTooltipClass]="{'blue-tooltip': showExtraClass}"><span><img src="assets/images/voice.svg"
                width="18"> Voice</span></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>