<div fxLayout="row wrap" style="clear:both">
  <div fxFlex="70">
    <button mat-raised-button color="primary" (click)="createServices()" class="create-button">
      <i class="ti-plus"></i> &nbsp;{{'ServiceTypeModule.createservice.AddServicetype' | translate }}</button>
  </div>

  <div fxFlex="30">
      <mat-form-field class="pull-right">
          <input matInput [(ngModel)]="searchservice" placeholder="{{'ServiceTypeModule.manageservice.searchservice' | translate }}">
      </mat-form-field>
  </div>
</div>

<div fxLayout="row wrap">
  <div id="sndrActv" class="clearfix left-sec left-col" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
    <div class="search">
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="searchdata" placeholder="{{'ServiceTypeModule.manageservice.search' | translate }}">
      </mat-form-field>
    </div>

    <perfect-scrollbar style="height:46vh;">
      <div style="padding-right: 8px;">
        <mat-card style="cursor: pointer;" class=" no-shadow bord-all" *ngFor="let levelDetails of pagedlevelsData
        |  servicefilter: levellist : searchdata : 'floorName';first as isFirst"
          [class.pbActive]="floorId == 0 ? isFirst : (levelDetails?.floorId ==  floorId ? true :false)"
          (click)="activeClass($event)" style="padding:0">
          <mat-card-content (click)="floorId == levelDetails?.floorId ? false :assignServices(levelDetails?.serviceTpes)">
            <div fxFlex="90">
              <ngx-avatar class="card-avatar pull-left" size="25" name="{{levelDetails.floorName}}"></ngx-avatar>
              <div class="itemtext">{{levelDetails?.floorName}}</div>
            </div>
            <div class="Umore-btn" fxFlex="10">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit" class="pull-right"><i
                  class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <button mat-menu-item (click)="addServices(levelDetails.floorId)"><i class="ti-plus"></i>{{'ServiceTypeModule.manageservice.addservices' | translate }}
                </button>
              </mat-menu>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </perfect-scrollbar>
    <div *ngIf="levellist.length >pageSize" class="paging">
      <mat-paginator [length]="levellist?.length" [pageSize]="pageSize" [pageIndex]="initPage" (page)="getData($event)">
      </mat-paginator>
    </div>
  </div>





  <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100" class="cmpn-right">
    <!-- <div class="cntsearch clearfix">
      <mat-form-field class="pull-right">
          <input matInput [(ngModel)]="searchservice" placeholder="{{'ServiceTypeModule.manageservice.searchservice' | translate }}">
        </mat-form-field>
      </div> -->

    <perfect-scrollbar style="height:67vh;">

      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="pad-no" *ngFor="let service of filterServices
        |  servicefilter: serviceList : searchservice : 'srTypeName';">
          <mat-card fxFlex class="usercard">

            <mat-card-content>
              <div class="clearfix">
                <div fxLayout="row wrap" class="pad-all">

                  <div fxFlex="100" class="pad-lft">

                      <div class="card-details">
                          <strong>{{service?.svcSegmentId}} </strong> &nbsp;
                         </div>
                    <div class="card-details">
                      {{'ServiceTypeModule.manageservice.serviceType' | translate }} : {{service?.srTypeName}}  &nbsp;
                    </div>
                    <div class="card-details">
                      {{'ServiceTypeModule.manageservice.location' | translate }} :{{service?.srTypeLocation }} &nbsp;
                     </div>
                     <div class="card-details">
                      {{'ServiceTypeModule.manageservice.medical' | translate }} :{{service?.medicalService }} &nbsp;
                     </div>
                  </div>
                  <div class="Umore-btn" fxFlex="10">
                    <button mat-icon-button [matMenuTriggerFor]="UcardEdit" class="pull-right"><i
                        class="ti-more-alt"></i></button>
                    <mat-menu #UcardEdit="matMenu">
                      <button mat-menu-item (click)="editServices(service)"><i class="ti-pencil-alt"></i>&nbsp;&nbsp;{{'ServiceTypeModule.manageservice.edit' | translate }}
                        </button>
                    </mat-menu>
                  </div>
                </div>
              </div>
            </mat-card-content>

          </mat-card>
        </div>
      </div>
    </perfect-scrollbar>
    <div *ngIf="serviceList?.length>pageSize">
      <mat-card class="no-shadow bord-all">
        <mat-card-content class="text-right">
          <mat-paginator [length]="serviceList?.length" [pageSize]="pageSize" [pageIndex]="servicePage"
            (page)="getServiceData($event)">
          </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>
