<mat-card class="example-card">
  <mat-card-title [ngStyle]="{'color':'green'}">Login to your account</mat-card-title>
  <form class="example-form" [formGroup]="login_form">
      <mat-card-content>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-icon matPrefix>email</mat-icon>
      <input matInput placeholder="Email" formControlName="email" maxlength="30" minlength="10" >
      <mat-error *ngIf="login_form.controls.email.hasError('email') && !login_form.controls.email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="login_form.controls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Enter your password" formControlName="password" maxlength="12" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="login_form.controls.password.hasError('minlength')">
        Please enter minimum 6 characters
      </mat-error>
      <mat-error *ngIf="login_form.controls.password.hasError('password')">
        Please enter minimum 6 characters
      </mat-error>
    </mat-form-field>
      
    </mat-card-content>
  </form>
  <button mat-raised-button (click)="Submit()" color="primary" [disabled]="!login_form.valid">Login</button>
</mat-card>
