<mat-card class="no-shadow popCard" style="position: relative;">

    <mat-card-header class="wrap-word">
      <h4 class="details-heading clearfix">{{'DoctorServingModule.servingTokeninfo' | translate}}</h4>
      <button mat-icon-button (click)="close()">
        <i class="ti-close"></i>
      </button>
    </mat-card-header>
    <div class="pad-all2 wrap-word" *ngIf="roomData?.length > 0">
      <mat-form-field class="w20">
        <mat-select cdkFocusInitial placeholder="{{'DoctorServingModule.selectRoom' | translate}}" 
        [(ngModel)]="roomno" (selectionChange)="roomChange()" required>
            <mat-option *ngFor="let room of roomData" [value]="room">{{room}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <mat-card-content class="pad-all2 wrap-word" style="padding-top:0 !important" *ngIf="serviceArray?.length > 0">
      <div class="table-responsive" style="height:40vh; overflow: auto;">
      <table mat-table #table [dataSource]="dataSource" style="box-shadow: none; margin:0;" class="mar-no pad-no wrap-word table">
  
          <ng-container matColumnDef="tokenNo">
              <th mat-header-cell *matHeaderCellDef class="pad-all tbl-c">{{'DoctorServingModule.token' | translate}}
              </th>
              <td mat-cell *matCellDef="let element" class="pad-all tbl-c"> {{element.tokenNo}} / {{element.patientName}} </td>
            </ng-container>
      
            <ng-container matColumnDef="mrnNo">
              <th mat-header-cell *matHeaderCellDef class="pad-all tbl-c">{{'DoctorServingModule.mrnNo' | translate}}
              </th>
              <td mat-cell *matCellDef="let element" class="pad-all tbl-c"> {{element.mrnNo}} </td>
            </ng-container>
      
            <ng-container matColumnDef="apptDate">
              <th mat-header-cell *matHeaderCellDef class="pad-all tbl-c">{{'DoctorServingModule.apptDate' | translate}}</th>
              <td mat-cell *matCellDef="let element" class="pad-all tbl-c"> {{element.apptDate}} / {{element.serviceEngName}}
              </td>
            </ng-container>
  
        <ng-container matColumnDef="roomNo">
          <th mat-header-cell *matHeaderCellDef class="pad-all tbl-c"> {{'DoctorServingModule.room' | translate}}
          </th>
          <td mat-cell *matCellDef="let element" class="pad-all tbl-c">{{element.roomNo}} </td>
        </ng-container>
        <ng-container matColumnDef="nurseName">
          <th mat-header-cell *matHeaderCellDef class="pad-all tbl-c"> {{'DoctorServingModule.nurseName' | translate}}
          </th>
          <td mat-cell *matCellDef="let element" class="pad-all tbl-c">{{element.nurseName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="pad-all tbl-c">{{'DoctorServingModule.actions' | translate}}</th>
          <td mat-cell *matCellDef="let row" class="pad-all tbl-c">
            <div class="stkn-info">
              <!-- <button class="btn btn-success" [disabled]="row.roomId == 0" (click)="returnToQueue(row)">{{'DoctorServingModule.returnToqueue'
                  | translate}}</button> -->
            <button class="recycling" mat-icon-button matTooltip="Return to Queue" [disabled]="row.roomId == 0" (click)="returnToQueue(row)"><img src="assets/images/recycling.svg"></button> &nbsp;
           
            <!-- <button class="btn btn-danger" (click)="endToken(row)">{{'DoctorServingModule.end' | translate}}</button> -->
            <button class="end" mat-icon-button matTooltip="End Journey" (click)="endToken(row)"><img src="assets/images/end.svg"></button>
          </div>
        </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="padding-left: 8px;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  
    </mat-card-content>
    <mat-card-content class="pad-all2 wrap-word" *ngIf="serviceArray?.length == 0 && roomno">
      <span>{{'DoctorServingModule.noData' | translate}}</span>
      </mat-card-content>
    <div class="fullloader3" *ngIf="loading">
      <div class="fullloaderInner">
        <img src="assets/images/loading.gif">
      </div>
    </div>
  
  </mat-card>

