<div fxLayout="row wrap">

  <div fxFlex="60">
    <button mat-raised-button class="addbutton" (click)="addSmsTemplate()"
      style="margin-left: 5px; margin-bottom: 8px;">
      <img src="assets/images/add-user-button.svg" width="18" />&nbsp;{{'smsTemplateModule.title' | translate}}</button>
  </div>

  <div fxFlex="40" class="search-align pad-rgt">
    <div fxFlex="92">
      <a [matMenuTriggerFor]="SearchGrid"><img src="assets/images/filter-icon.png" width="12" /></a> &nbsp;
      <mat-form-field>
        <mat-menu #SearchGrid="matMenu">
          <button mat-menu-item (click)="searchFilter('1')"><i class="ti-check"></i>
            {{'ActionNames.active' | translate}}</button>
          <button mat-menu-item (click)="searchFilter('0')"><i class="ti-close"></i>
            {{'ActionNames.inActive' | translate}}</button>
          <button mat-menu-item (click)="searchFilter('')"><i class="ti-reload"></i>
            {{'ActionNames.reset' | translate}}</button>
        </mat-menu>
        <input matInput [(ngModel)]="searchdata" (keyup)="applyFilter($event.target.value)"
          placeholder="{{'ActionNames.search' | translate}}">
      </mat-form-field>
    </div>

    <div fxFlex="8">
      <div style="margin-top: 18px; font-size: 16px;">
          <i  *ngIf="listflag" class="ti-layout-grid2-alt  text-muted" matTooltip="{{'ActionNames.gridView' | translate}}"
            (click)="loadGrid()" style="cursor: pointer; "></i>
          <i *ngIf="!listflag" class="ti-menu text-muted" matTooltip="{{'ActionNames.listView' | translate}}" (click)="loadList()"
            style="cursor: pointer;"></i>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!listflag">
  <div fxLayout="row wrap"
    *ngIf="searchdata=='' ? true :(filterSmsTemplates | SmsTemplatefilter : SmsTemplatesList : searchdata) as result">
    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" fxFlex="100"
      *ngFor="let smstemplate of filterSmsTemplates  | SmsTemplatefilter : SmsTemplatesList : searchdata">
      <mat-card fxFlex class=" usercard no-shadow mat-elevation-z0">
        <mat-card-content>
          <div fxLayout="row wrap">
            <div fxFlex="98" class="UcardLeft">
              <div class="pad-all2 clearfix" style="padding-bottom: 8px !important;">
                <div fxLayout="row wrap" class="clearfix card-top">
                  <div class="card-avatar" *ngIf="smstemplate?.status == '1'">
                    <div class="image-inner">
                      <img src="assets/images/group.svg" />
                      <span class="status-g active"></span>
                    </div>
                  </div>
                  <div class="card-avatar" *ngIf="smstemplate?.status != '1'">
                    <div class="image-inner">
                      <img src="assets/images/group.svg" />
                      <span class="status-g inactive"></span>
                    </div>
                  </div>
                  <div fxFlex="77">
                    <div class="card-details">
                      <span>{{smstemplate.templateName}}</span>
                      <small><strong>{{'smsTemplateModule.msg' | translate}}:</strong>{{smstemplate.message}}</small>
                      <small><strong>{{'smsTemplateModule.description' | translate}}:
                        </strong>{{smstemplate.description}}</small>
                      <!-- <small><strong>Param: </strong>{{smstemplate.params}}</small> -->
                      <!-- <small style="color:green;" *ngIf="smstemplate.status=='-1'"><strong>Pending for
                        Approval</strong></small>
                    <small style="color:red;" *ngIf="smstemplate.status=='-2'"><strong>Rejected</strong></small> -->
                    </div>

                  </div>
                </div>

              </div>

            </div>
            <div class="Umore-btn">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <!-- <button mat-menu-item (click)="smstemplateDetails(smstemplate)"><i class="ti-info-alt"></i>
                Details</button> -->
                <div *ngIf="!smstemplate?.status">
                  <button mat-menu-item (click)="applyFilterStatus(smstemplate,1)"><i class="ti-check"></i>
                    {{'ActionNames.active' | translate}}</button>
                </div>
                <div *ngIf="smstemplate?.status">
                  <button mat-menu-item (click)="editSmsTemplate(smstemplate)"><i class="ti-pencil-alt"></i>
                    {{'ActionNames.edit' | translate}}</button>
                  <button mat-menu-item (click)="applyFilterStatus(smstemplate,0)"><i class="ti-close"></i>
                    {{'ActionNames.inActive' | translate}}</button>
                </div>
                <button mat-menu-item (click)="deleteSmstemplate(smstemplate)"><i class="ti-trash"></i>
                  {{'ActionNames.delete' | translate}}</button>
              </mat-menu>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="SmsTemplatesList?.length> pageSize && searchdata==''" style="width: 100%">
      <mat-paginator [length]="SmsTemplatesList?.length" [pageSize]="pageSize" [pageIndex]="initPage"
        showFirstLastButtons (page)="getData($event)">
      </mat-paginator>
    </div>
    <div *ngIf="(result.length==0 ||  SmsTemplatesList?.length==0) && !loading">
      {{ SmsTemplatesList?.length==0 ? ('ActionNames.noDataFound' | translate) :('ActionNames.noFilterDataFound' | translate)}}
    </div>
  </div>
</div>
<div *ngIf="listflag && (searchdata=='' ? SmsTemplatesList?.length>0 : dataSource.filteredData.length>0)"
  class="example-container mat-elevation-z8 no-shadow bord-all">
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()" class="listtable">
    <ng-container matColumnDef="templateName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'smsTemplateModule.tempName' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.templateName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'smsTemplateModule.msg' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.message}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'smsTemplateModule.description' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.message}}
      </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'smsTemplateModule.status' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status== 1 ? 'Active' : 'In-Active' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="mat-column-actions">
        {{'ActionNames.actions' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="element.status == '-2'">
          <i class="ti-pencil-alt link" matTooltip="{{'ActionNames.edit' | translate}}"
            (click)="editSmsTemplate(element)"></i>
        </span>
        <span *ngIf="(element.status != '-1' && element.status != '-2')">
          <span *ngIf="!element.status">
            <i class="ti-check link" matTooltip="{{'ActionNames.active' | translate}}"
              (click)="applyFilterStatus(element,1)"></i>
          </span>
          <span *ngIf="element.status">
            <i class="ti-pencil-alt link" matTooltip="{{'ActionNames.edit' | translate}}"
              (click)="editSmsTemplate(element)"></i>
            <i class="ti-close link" matTooltip="{{'ActionNames.inActive' | translate}}"
              (click)="applyFilterStatus(element,0)"></i>
          </span>
          <i class="ti-trash link" matTooltip="{{'ActionNames.delete' | translate}}"
            (click)="deleteSmstemplate(element)"></i>
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div  *ngIf="SmsTemplatesList.length>pageSize && searchdata==''">
    <mat-paginator [length]="SmsTemplatesList?.length" [pageSize]="pageSize" [pageIndex]="listPage" showFirstLastButtons
      (page)="getListData($event)">
    </mat-paginator>
  </div>
</div>
<div *ngIf="listflag && (searchdata=='' ? SmsTemplatesList?.length==0 : dataSource.filteredData?.length==0)">
  {{ SmsTemplatesList?.length==0 ? ('ActionNames.noDataFound' | translate) :('ActionNames.noFilterDataFound' | translate)}}
</div>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>