<!--The content below is only a placeholder and can be replaced.-->
<header-component></header-component>
<ul class="list-group list-group-horizontal list-group-flush bg-secondary">
    <li class="list-group-item bg-secondary"><a class="text-warning" href="#Users">USERS</a></li>
    <li class="list-group-item bg-secondary"><a class="text-warning" href="#Service">SERVICE</a></li>
    <li class="list-group-item bg-secondary"><a class="text-warning" href="#About">ABOUT</a></li>
</ul>
<router-outlet></router-outlet>
<footer-component></footer-component>
