<mat-card>
    <mat-card-header>
        <div fxLayout="row wrap">
          <h4> {{'simpleSms.title' | translate}}</h4>
        </div>
        <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%; ">
          <i class="ti-close"></i>
        </button>
    </mat-card-header>
    <mat-card-content>
  
      <form class="example-form" [formGroup]='simpleSMSForm'>
        <div class="clearfix" cdkFocusInitial>
          <div class="col-sm-12">
            <div class=" example-container">
              <span *ngIf="!allowcreditsFlag" style="color: red;">{{'simpleSms.allowCreditsError' | translate}}</span>
              <div class="mb-1" *ngIf="!sendSMSData?.groupId">
                <ngx-avatar size="20" initialsSize="2" cornerRadius="4" [round]="false">
                  <!-- name="{{_groupcontactCount}}">-->
                </ngx-avatar>
                <!-- <mat-form-field class="w100" *ngIf="!isChecked">
                  <input matInput autofocus cdkFocusInitial formControlName="contactNumbers" placeholder="Contact Numbers"
                    (change)="removeLastComma($event.target.value)" maxlength="800"> -->
                <!-- <mat-error *ngIf="simpleSMSForm.controls.contactNumbers.errors?.required">
                    Please fill the required field </mat-error> -->
  
                <!-- </mat-form-field> -->
                <!-- <mat-checkbox (change)="getRecipients()" formControlName="addressBook">
                    <span>Recipients</span>
                  </mat-checkbox>
                <mat-checkbox (change)="getAllContacts()" formControlName="addressBook">
                  <mat-icon >contacts</mat-icon> <span>Address Book</span>
                </mat-checkbox> -->
                <br>
  
                <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="addressBook">
                  <mat-button-toggle (change)="getRecipients()" value="1">  {{'simpleSms.recipients' | translate}}</mat-button-toggle>
                  <mat-button-toggle value="2" (change)="getAllContacts()">
                      <img src="assets/images/adress-book.svg" width="23" *ngIf="group.value==='1'" />
                      <img src="assets/images/adress-book-white.svg" width="17" *ngIf="group.value==='2'" />
                 {{'simpleSms.addressBook' | translate}}</mat-button-toggle>
                </mat-button-toggle-group>
                <br><br>
                <div *ngIf=textBoxFlag>
                  <mat-form-field class="w100">
                    <input matInput placeholder="{{'simpleSms.ContNum' | translate}}" allow-mobilenumber-charecters [errorStateMatcher]="matcher"
                      (keyup)="changecontact($event.target.value)" formControlName="contactNumbers" autocomplete="off" maxlength="800" required>
                    <mat-error *ngIf="simpleSMSForm.controls.contactNumbers.errors?.required">
                    {{'simpleSms.reqMessage' | translate}} </mat-error>
                  </mat-form-field>
  
                  <mat-error *ngIf="!contactValid">
                  {{'simpleSms.errorMessage' | translate}}
                  </mat-error>
                </div>
                <div *ngIf="isChecked">
                  <div class="dirglobalGroups">
                    <mat-form-field class="w100" *ngIf="!textBoxFlag">
                      <mat-select multiple placeholder="{{'simpleSms.selGrpType' | translate}}" formControlName="userType" (selectionChange)="loadGroups($event.value)" required>
                        <mat-option *ngFor="let type of userTypes" [value]="type">
                          {{type}}</mat-option>
                      </mat-select>
                      <!-- <mat-error *ngIf="simpleSMSForm.controls.userType.errors?.required">User Type is required
                      </mat-error> -->
                    </mat-form-field>
                    <span *ngIf="simpleSMSForm.value.userType != null && !global_user" class="recordcount2 example-margin">
                      <b>{{simpleSMSForm.value.userType.length}}</b>
                      {{'simpleSms.confirmmsg' | translate}}</span>
                  </div>
                  <div *ngIf="selUserTypes.indexOf('Global')!=-1 ">
                    <mat-form-field class="w100">
                      <mat-select multiple placeholder="{{'simpleSms.selGloGrp' | translate}}" (selectionChange)="forGroupCount($event.value)"
                        formControlName="global_groups" required>
                        <mat-select-trigger> 
                          {{groupname}}
                          <span *ngIf="(simpleSMSForm?.value.global_groups)?.length> 1" class="example-additional-selection">
                            (+{{(simpleSMSForm?.value.global_groups)?.length - 1}} others)
                          </span>
                        </mat-select-trigger>
  
                        <mat-option *ngFor="let group of globalGroupsList" [value]="group.cntGroupId">
                          {{group.cntGroupName}}</mat-option>
                      </mat-select>
                      <!-- <mat-error *ngIf="simpleSMSForm.controls.global_groups.errors?.required">User Type is required
                        </mat-error> -->
                      <mat-hint align="end" style="color: green;font-weight: bold">{{'simpleSms.contacts' | translate}} :
                        <!-- {{globalGroupsList[simpleSMSForm.value.global_groups]!=undefined?globalGroupsList[simpleSMSForm.value.global_groups].contactGlobals.length:0}}</mat-hint> -->
                        {{groupCount}}</mat-hint>
                    </mat-form-field>
  
                    <!-- <span style="color:green">Contacts :
                      {{globalGroupsList[simpleSMSForm.value.global_groups]!=undefined?globalGroupsList[simpleSMSForm.value.global_groups].contactGlobals.length:0}}</span> -->
                  </div>
                  <div *ngIf="selUserTypes.indexOf('Departments')!=-1  ">
                    <mat-form-field class="w100">
                      <mat-select multiple placeholder="{{'simpleSms.selDepgrp' | translate}}" (selectionChange)="forDepartmentCount($event.value)"
                        formControlName="department_groups" required>
  
                        <mat-select-trigger> 
                          {{deptname}}
                          <span *ngIf="(simpleSMSForm?.value.department_groups)?.length>1" class="example-additional-selection">
                            (+{{(simpleSMSForm?.value.department_groups)?.length - 1}} others)
                          </span>
                        </mat-select-trigger>
  
                        <mat-option *ngFor="let group of deptGroupsList" [value]="group.groupDeptId">
                          {{group.groupName}}</mat-option>
                      </mat-select>
                      <!-- <mat-error *ngIf="simpleSMSForm.controls.department_groups.errors?.required">User Type is required
                           </mat-error> -->
                      <mat-hint align="end" style="color: green;font-weight: bold">{{'simpleSms.contacts' | translate}} :
                        <!-- {{deptGroupsList[simpleSMSForm.value.department_groups]!=undefined?deptGroupsList[simpleSMSForm.value.department_groups].contactDepts.length:0}}</mat-hint> -->
                        {{departCount}}</mat-hint>
                    </mat-form-field>
                  </div>
                  <div *ngIf="selUserTypes.indexOf('Users')!=-1  ">
                    <mat-form-field class="w100">
                      <mat-select multiple placeholder="{{'simpleSms.selUsergrp' | translate}}" (selectionChange)="forUSerCount($event.value)"
                        formControlName="user_groups" required>
  
                        <mat-select-trigger> 
                          {{username}}
                          <span *ngIf="(simpleSMSForm?.value.user_groups)?.length>
                            1" class="example-additional-selection">
                            (+{{(simpleSMSForm?.value.user_groups)?.length - 1}} others)
                          </span>
                        </mat-select-trigger>
  
                        <mat-option *ngFor="let group of userGroupsList" [value]="group.groupUserId">
                          {{group.groupName}}</mat-option>
                      </mat-select>
                      <!-- <mat-error *ngIf="simpleSMSForm.controls.user_groups.errors?.required">User Type is required
                             </mat-error> -->
                      <mat-hint align="end" style="color: green;font-weight: bold">Contacts :
                        <!-- {{userGroupsList[simpleSMSForm.value.user_groups]!=undefined?userGroupsList[simpleSMSForm.value.user_groups].contactUsers.length:0}}</mat-hint> -->
                        {{userCount}}</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div *ngIf="sendSMSData?.groupId">
                <mat-form-field class="w100">
                  <input matInput placeholder="{{sendSMSData?.sendBaseType==1? ('simpleSms.groupName' | translate) :(sendSMSData?.sendBaseType==2?('simpleSms.departmentName' | translate): (sendSMSData?.sendBaseType==3?('simpleSms.userName' | translate): ('simpleSms.mobileNumber' | translate)))}}" readonly formControlName="editGroupName" 
                  [value]="sendSMSData?.sendBaseType==4?sendSMSData?.contactNo: sendSMSData?.groupName">
                </mat-form-field>
              </div>
  
  
              <!-- <span>{{sender.senderName}}</span> -->
              <div class="mb-1">
                <mat-form-field class="full-width">
                  <mat-select formControlName="Senderid" placeholder="{{'simpleSms.selectSender' | translate}}" required>
                    <mat-option *ngFor="let sender of sendersList " [value]="sender.senderName">
                      {{sender.senderName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="simpleSMSForm.controls.Senderid.errors?.required">
             {{'simpleSms.reqMessage1' | translate}} </mat-error>
                </mat-form-field>
              </div>
              <div class="clearfix">
                <div fxFlex="100">
                  <div class="mar-top ">
  
                    <div class="mb-1">
                      <mat-form-field class="example-full-width group-top-margin" style="width: 100%;">
                        <textarea matInput placeholder="{{'ActionNames.'+msgPlaceHolder | translate}}" formControlName="msgtxt" class="typewriter"
                          #message name="focus-input" rows="5" maxlength="{{msglength}}"
                          matTextareaAutosize matAutosizeMinRows="5"  matAutosizeMaxRows="5" [ngClass]=" _arabic.test(simpleSMSForm.value.msgtxt) ? {arabic : true} : {english : true}" required>
                  </textarea>
                        <!-- <mat-icon matSuffix>{{'simpleSms.personalvideo' | translate}}</mat-icon> -->
                        <mat-hint *ngIf="!templateData"><a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu1">
                            {{'simpleSms.insertemplate' | translate}}</a></mat-hint>
                        <mat-hint align="end" style="color: green;font-weight: bold">{{charcount}} {{'simpleSms.character' | translate}}(s) |
                          {{msgCount}} {{'simpleSms.message' | translate}}(s)</mat-hint>
                      </mat-form-field>
  
                      <mat-menu #menu1="matMenu">
                        <div *ngFor="let i of templateData">
                          <a (click)="simpleSMSForm.get('msgtxt').setValue(i.message)" mat-menu-item> {{i.template}} </a>
                        </div>
                      </mat-menu>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-left: 15px">
            <button *ngIf="isChecked" [disabled]="(allowcreditsFlag ? simpleSMSForm.invalid : true) || loading" mat-raised-button  class="submitbutton" actionClick (debounceClick)="sendGroupSMS()">
              {{'simpleSms.sendSMS' | translate}}</button>
            <button *ngIf="!isChecked" [disabled]="(allowcreditsFlag ? (simpleSMSForm.invalid ? true : !contactValid) : true) || loading" mat-raised-button class="submitbutton" actionClick (debounceClick)="sendContactSMS()">
              {{'simpleSms.sendSMS' | translate}}</button>
            <!-- <button mat-raised-button (click)="closeDialog()">Close</button> -->
            </div>
      </form>
    </mat-card-content>
   
  </mat-card>
  
  <div class="fullloader" *ngIf="loading">
    <div class="fullloaderInner">
      <img src="assets/images/loading.gif">  </div>  </div> <!-- {{simpleSMSForm.value | json}} -->