<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>Upload Your Info</h1>
  <button mat-raised-button color="primary" ngxFilePicker  [readMode]="readMode" accept=".xlsx; .xls" (change)="FileUpload($event)"> Upload File</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="secondary" ngxFilePicker  [readMode]="readMode" accept=".txt; .csv;" (change)="FileUpload1($event)"> Upload File</button>
</div> <br>

<mat-form-field appearance="outline">
  <mat-label>Select Sheet</mat-label>
  <mat-select (selectionChange)="getHeaders($event.value)">
    <mat-option *ngFor="let sheet of _excelSheetNames" [value]="sheet">
      {{sheet}}
    </mat-option>
  </mat-select>
</mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;

<mat-form-field appearance="outline">
  <mat-label>Select Header name</mat-label>
  <mat-select>
    <mat-option *ngFor="let header of columndata" [value]="header">
      {{header}}
    </mat-option>
  </mat-select>
</mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;

<mat-form-field appearance="outline">
  <mat-label>Select Text Header</mat-label>
  <mat-select (selectionChange)="getData($event.value)" >
    <mat-option *ngFor="let header of header" [value]="header">
      {{header}}
    </mat-option>
  </mat-select>
</mat-form-field>
<router-outlet></router-outlet>
