<ng-template [ngIf]="deleteAction">
  <h1 mat-dialog-title>{{'userModule.actions.hi' | translate}} {{_userdata.login | titlecase }}</h1>
  <div mat-dialog-content>
    <p>{{'userModule.actions.deleteUser' | translate}} <b>{{_userdata.login}}</b> ?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onDeleteUser()" color="primary">{{'ActionNames.ok' | translate}}</button>
    <button mat-button (click)="onNoClick()" cdkFocusInitial color="primary">{{'ActionNames.noThanks' | translate}}</button>
  </div>
</ng-template>

<ng-template [ngIf]="activateAction">
  <h1 mat-dialog-title>{{'userModule.actions.hi' | translate}} {{_userdata.login | titlecase }}</h1>
  <div mat-dialog-content>
    <p>{{'userModule.actions.activateUser' | translate}} <b>{{_userdata.login}}</b> ?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onActivateUser()" color="primary">{{'ActionNames.ok' | translate}}</button>
    <button mat-button (click)="onNoClick()" cdkFocusInitial color="primary">{{'ActionNames.noThanks' | translate}}</button>
  </div>
</ng-template>

<ng-template [ngIf]="inActivateAction">
  <h1 mat-dialog-title>{{'userModule.actions.hi' | translate}} {{_userdata.login | titlecase }}</h1>
  <div mat-dialog-content>
    <p>{{'userModule.actions.deActivateUser' | translate}} <b>{{_userdata.login}}</b> ?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onDeactivateUser()" color="primary">{{'ActionNames.ok' | translate}}</button>
    <button mat-button (click)="onNoClick()" cdkFocusInitial color="primary">{{'ActionNames.noThanks' | translate}}</button>
  </div>
</ng-template>


<ng-template [ngIf]="resetPasswordAction">
  <h1 mat-dialog-title>{{'userModule.actions.hi' | translate}} {{_userdata.login | titlecase }}</h1>
  <div mat-dialog-content>
    <p>{{'userModule.actions.resetPassword' | translate}} <b>{{_userdata.login}}</b> ?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onResetpwdStatus()" color="primary">{{'ActionNames.ok' | translate}}</button>
    <button mat-button (click)="onNoClick()" color="primary" cdkFocusInitial>{{'ActionNames.noThanks' | translate}}</button>
  </div>
</ng-template>


<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>