
<mat-card class="example-card">
  <form class="example-form" [formGroup]="toogleform">
    <div formArrayName="reportArray" *ngFor="let rlist of toogleform.get('reportArray')['controls']; let i=index">
        <div [formGroupName]="i">
            <mat-slide-toggle formControlName="toggle"></mat-slide-toggle>
            <h3 formControlName="data"></h3>
        </div>
    </div><br>                        
    <button mat-raised-button  color="primary" [disabled]="toogleform.invalid" (click)="Reports()">Submit</button>
  </form>
  
</mat-card>

 <app-drag-drop></app-drag-drop>