<div fxLayout="row wrap">

  <div fxFlex="60">
    <button mat-raised-button class="addbutton" (click)="addService()">
      <img src="assets/images/add-user-button.svg" width="18" />&nbsp;
      {{'ServiceManagementModule.createservice.Service'| translate}}</button>
  </div>

  <div fxFlex="40" class="search-align pad-rgt">
    <div fxFlex="92">
      <a [matMenuTriggerFor]="SearchGrid"><img src="assets/images/filter-icon.png" width="12" /></a> &nbsp;
      <mat-form-field>
        <mat-menu #SearchGrid="matMenu">
          <button mat-menu-item (click)="searchFilter('1')"><i class="ti-check"></i>
            {{'ActionNames.active'| translate}}</button>
          <button mat-menu-item (click)="searchFilter('0')"><i class="ti-close"></i>
            {{'ActionNames.inActive'| translate}}</button>
          <button mat-menu-item (click)="searchFilter('')"><i class="ti-reload"></i>
            {{'ActionNames.reset'| translate}}</button>
        </mat-menu>
        <input matInput [(ngModel)]="searchdata" (keyup)="applyFilter($event.target.value)"
          placeholder="{{'ServiceManagementModule.servicemanagement.search'| translate}}">
      </mat-form-field>
    </div>

    <div fxFlex="8">
      <div style="margin-top: 18px; font-size: 16px;">
          <i *ngIf="listflag" class="ti-layout-grid2-alt  text-muted" matTooltip="{{'ActionNames.gridView'| translate}}"
            (click)="loadGrid()" style="cursor: pointer; "></i>
          <i *ngIf="!listflag" class="ti-menu text-muted" matTooltip="{{'ActionNames.listView'| translate}}" (click)="loadList()"
            style="cursor: pointer;"></i>
      </div>
    </div>
  </div>

</div>
<div *ngIf="!listflag">
  <div fxLayout="row wrap"
    *ngIf="searchdata=='' ? true :(filterServices | Userfilter : servicesList : searchdata) as result">
    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" fxFlex="100"
      *ngFor="let service of filterServices | Userfilter : servicesList : searchdata">
      <mat-card fxFlex class="usercard no-shadow mat-elevation-z0">
        <mat-card-content>
          <div fxLayout="row wrap">
            <div fxFlex="98" class="UcardLeft">
              <div class="pad-all2 clearfix">
                <div fxLayout="row wrap" class="clearfix card-top">

                  <div>
                    <div *ngIf="service.status == '1'" class="card-avatar">
                      <div class="image-inner">
                        <img src="assets/images/service.svg" />
                        <span class="status-g active"></span>
                      </div>
                    </div>
                    <div *ngIf="service.status!= '1'" class="card-avatar">
                      <div class="image-inner">
                        <img src="assets/images/service.svg" />
                        <span class="status-g inactive"></span>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="77">
                    <div class="card-details">
                      <span>{{service.serviceName}}</span>
                      <small><strong>{{'ServiceManagementModule.servicemanagement.code'| translate}}:
                        </strong>{{service.serviceCode}}</small>
                      <small
                        *ngIf="service.msgCategory!=null"><strong>{{'ServiceManagementModule.servicemanagement.Category'| translate}}:
                        </strong>{{service.msgCategory.categoryDesc}}</small>
                      <small *ngIf="service.msgCategory!=null"><strong>
                          {{'ServiceManagementModule.servicemanagement.Priority'| translate}}:
                        </strong>{{service.msgPriorityInfo.priorityName}}</small>
                      <!-- <small style="color:green;" *ngIf="service.status=='-1'"><strong>{{'ActionNames.pending'| translate}}
                        </strong></small>
                      <small style="color:red;" *ngIf="service.status=='-2'"><strong>{{'ActionNames.rejected'| translate}}</strong></small> -->
                      <small *ngIf="service?.status==1|| service?.status==0"><strong>
                          {{'ActionNames.status'| translate}}:
                          </strong>{{service?.status==1?'Active':'InActive'}}</small>
                        <small style="color:green;" *ngIf="service?.status=='-1'"><strong>
                            {{'ActionNames.status'| translate}}:</strong><strong>{{'ActionNames.pending'| translate}}
                          </strong></small>
                        <small style="color:red;" *ngIf="service?.status=='-2'"><strong>
                            {{'ActionNames.status'| translate}}:</strong><strong>{{'ActionNames.rejected'| translate}}</strong></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" Umore-btn" *ngIf="service.status == '-2'">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <button mat-menu-item (click)="serviceDetails(service)"><i class="ti-info-alt"></i>
                  {{'ActionNames.details'| translate}}</button>
                <button mat-menu-item (click)="editService(service)"><i
                    class="ti-pencil-alt"></i>{{'ActionNames.edit'| translate}}</button>
              </mat-menu>
            </div>

            <div class=" Umore-btn" *ngIf="(service.status != '-1' && service.status != '-2')">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <button mat-menu-item (click)="serviceDetails(service)"><i class="ti-info-alt"></i>
                  {{'ActionNames.details'| translate}}</button>

                <button mat-menu-item (click)="deleteService(service)"><i class="ti-trash"></i>
                  {{'ActionNames.delete'| translate}}</button>
                <div *ngIf="!service.status">
                  <button mat-menu-item (click)="applyFilterStatus(service,1)"><i class="ti-check"></i>
                    {{'ActionNames.active'| translate}}</button>
                </div>
                <div *ngIf="service.status">
                  <button mat-menu-item (click)="editService(service)"><i class="ti-pencil-alt"></i>
                    {{'ActionNames.edit'| translate}}</button>
                  <button mat-menu-item (click)="applyFilterStatus(service,0)"><i class="ti-close"></i>
                    {{'ActionNames.inActive'| translate}}</button>
                </div>
              </mat-menu>
            </div>

          </div>

        </mat-card-content>
      </mat-card>

    </div>

    <div *ngIf="servicesList.length> pageSize && searchdata==''" style="width: 100%">
      <mat-paginator [length]="servicesList.length" [pageSize]="pageSize" [pageIndex]="initPage" showFirstLastButtons
        (page)="getData($event)">
      </mat-paginator>
    </div>
    <div *ngIf="(result.length==0 || servicesList?.length==0)&& !loading">
      {{servicesList?.length==0 ?('ActionNames.noDataFound' | translate): ('ActionNames.noFilterDataFound' | translate) }}
    </div>
  </div>
</div>
<div *ngIf="listflag && (searchdata=='' ? servicesList?.length>0 : dataSource.filteredData.length>0)"
  class="example-container mat-elevation-z8 no-shadow bord-all">

  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()" class="listtable">

    <!-- Position Column -->
    <ng-container matColumnDef="serviceName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'ServiceManagementModule.servicemanagement.name'| translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.serviceName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="serviceCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'ServiceManagementModule.servicemanagement.code'| translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.serviceCode}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="categoryDesc">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-category">
        {{'ServiceManagementModule.servicemanagement.Category'| translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-category">
        {{element.msgCategory!=null?element.msgCategory.categoryDesc:''}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="priorityName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'ServiceManagementModule.servicemanagement.Priority'| translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.msgCategory!=null?element.msgPriorityInfo.priorityName:''}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="mat-column-actions">
        {{'ActionNames.actions'| translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-actions">

        <span *ngIf="element.status == '-2'">
          <i class="ti-info-alt link" matTooltip="{{'ActionNames.details' | translate}}"
            (click)="serviceDetails(element)"></i>&nbsp;&nbsp;
          <i class="ti-pencil-alt link" matTooltip="{{'ActionNames.edit' | translate}}"
            (click)="editService(element)"></i>&nbsp;&nbsp;
        </span>
        <span *ngIf="(element.status != '-1' && element.status != '-2')">
          <i class="ti-info-alt link" matTooltip="{{'ActionNames.details' | translate}}"
            (click)="serviceDetails(element)"></i>
          <i class="ti-trash link" matTooltip="{{'ActionNames.delete' | translate}}"
            (click)="deleteService(element)"></i>
          <span *ngIf="!element.status">
            <i class="ti-check link" matTooltip="{{'ActionNames.active' | translate}}"
              (click)="applyFilterStatus(element,1)"></i>
          </span>
          <span *ngIf="element.status">
            <i class="ti-pencil-alt link" matTooltip="{{'ActionNames.edit' | translate}}"
              (click)="editService(element)"></i>
            <i class="ti-close link" matTooltip="{{'ActionNames.inActive' | translate}}"
              (click)="applyFilterStatus(element,0)"></i>
          </span>
        </span>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div *ngIf="servicesList.length>pageSize && searchdata==''">
    <mat-paginator [length]="servicesList?.length" [pageSize]="pageSize" [pageIndex]="listPage" showFirstLastButtons
      (page)="getListData($event)">
    </mat-paginator>
  </div>
</div>
<div *ngIf="listflag && (searchdata=='' ? servicesList?.length==0 : dataSource.filteredData.length==0)">
  {{servicesList?.length==0 ?('ActionNames.noDataFound' | translate): ('ActionNames.noFilterDataFound' | translate) }}
</div>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>