<!--The content below is only a placeholder and can be replaced.-->
<h1>Rooms Information</h1>
<b>UserName:</b>&nbsp;
 <mat-form-field class="example-full-width" appearance="outline">
    <input matInput placeholder="Enter UserName" (keyup)=Uname($event)>
</mat-form-field>  &nbsp;&nbsp;&nbsp;

<b>UserId:</b>&nbsp;
 <mat-form-field class="example-full-width" appearance="outline">
    <input matInput placeholder="Enter UserId" (keyup)=Uid($event)>
</mat-form-field>  &nbsp;&nbsp;&nbsp;

<a href="rooms">Rooms.</a> &nbsp;&nbsp;&nbsp;
<a href="vmrn">Validate Mrn No.</a> <hr> 
<router-outlet></router-outlet>
