<mat-card>
    <mat-card-header style="border-bottom: 1px solid #eee;">
        <h4>{{data ? ('OfflineAlertManager.createOfflineAlert.updateAlert'|translate):('OfflineAlertManager.createOfflineAlert.createAlert'|translate)}}</h4>
        <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
            class="ti-close"></i></button>
      </mat-card-header>

      <mat-card-content>
          <div class="mystepper" cdkFocusInitial>
          <mat-vertical-stepper [linear]="true" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>{{'OfflineAlertManager.createOfflineAlert.Step-1'|translate}}</ng-template>
                 <div class="w100">
                  <mat-form-field class="w95">
                    <input matInput placeholder="{{'OfflineAlertManager.alertName'|translate}}" autocomplete="off" formControlName="offlineAlertName" allow-alpha-numeric-singlespace [readonly]="data" (keyup)="validateAlertName()"  required>
                    <mat-error *ngIf="firstFormGroup.controls.offlineAlertName.errors?.required">{{'OfflineAlertManager.createOfflineAlert.alertRequired'|translate}}</mat-error>
                    <!-- <mat-error *ngIf="firstFormGroup.controls.offlineAlertName.errors?.maxlength">Please Enter minimum 5 Characters</mat-error> -->
                  </mat-form-field>
                  <mat-error *ngIf="alertNameValid && firstFormGroup.value.offlineAlertName!=''" style="display: inline;"><i class=" ti-check
                    text-success"></i></mat-error>
                <mat-error *ngIf="!alertNameValid && firstFormGroup.value.offlineAlertName!='' && !data"><i class="ti-close text-danger">
                    <small style="font-family: Arial, Helvetica, sans-serif;">{{'OfflineAlertManager.createOfflineAlert.alertExists'|translate}}</small>
                  </i></mat-error>
                </div>
                  <mat-form-field class="w100">
                      <input matInput placeholder="{{'OfflineAlertManager.createOfflineAlert.filePath'|translate}}" formControlName="filepath" allow-all-nospace autocomplete="off" required>
                      <mat-error *ngIf="firstFormGroup.controls.filepath.errors?.required">{{'OfflineAlertManager.createOfflineAlert.filePathRequired'|translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w100">
                        <input matInput placeholder="{{'OfflineAlertManager.createOfflineAlert.movePath'|translate}}" autocomplete="off" formControlName="movePath" allow-all-nospace  required>
                        <mat-error *ngIf="firstFormGroup.controls.movePath.errors?.required">{{'OfflineAlertManager.createOfflineAlert.movePathRequired'|translate}}</mat-error>
                      </mat-form-field>

              <div class="w100">
                  <mat-form-field style="width:100%;">
                    <mat-select placeholder="{{'OfflineAlertManager.createOfflineAlert.fileType'|translate}}" formControlName="filetype" required>
                        <mat-option value="csv">{{'OfflineAlertManager.createOfflineAlert.CSV'|translate}}</mat-option>
                        <mat-option value="txt">{{'OfflineAlertManager.createOfflineAlert.Text'|translate}}</mat-option>
                        <mat-option value="xls">{{'OfflineAlertManager.createOfflineAlert.XLS'|translate}}</mat-option>
                        <mat-option value="xlsx">{{'OfflineAlertManager.createOfflineAlert.XLSX'|translate}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="firstFormGroup.controls.filetype.errors?.required">{{'OfflineAlertManager.createOfflineAlert.filetypeRequired'|translate}}</mat-error>
                </mat-form-field>
                <!-- <div class="helpicon"><i class="ti-help-alt" (click)="showpopup=true"></i></div> -->
              </div>
                <mat-form-field class="w100">
                  <input matInput placeholder="{{'OfflineAlertManager.createOfflineAlert.filePattern'|translate}}" formControlName="filePattern" autocomplete="off" allow-all-nospace maxLength="25" required>
                  <mat-error *ngIf="firstFormGroup.controls.filePattern.errors?.required">{{'OfflineAlertManager.createOfflineAlert.filePatternRequired'|translate}}</mat-error>
                  <mat-error *ngIf="firstFormGroup.controls.filePattern.errors?.maxlength">{{'OfflineAlertManager.createOfflineAlert.fileMinlen'|translate}}</mat-error>
              </mat-form-field>
                  <mat-form-field style="width:80%;">
                      <input matInput placeholder="{{'OfflineAlertManager.createOfflineAlert.headerNames'|translate}}" formControlName="header" autocomplete="off" (keyup)="splitColumns()" allow-ColumnNames-charecters required>
                       <mat-error *ngIf="firstFormGroup.controls.header.errors?.required">{{'OfflineAlertManager.createOfflineAlert.columnNames'|translate}}</mat-error>

                  </mat-form-field>
                  <a style="color:primary;" [matMenuTriggerFor]="help">{{'OfflineAlertManager.createOfflineAlert.help'|translate}}?</a>
                  <mat-menu #help="matMenu">
                    <button mat-menu-item>{{'OfflineAlertManager.createOfflineAlert.mobileNo'|translate}}</button>
                    <button mat-menu-item>{{'OfflineAlertManager.createOfflineAlert.message'|translate}}</button>
                  </mat-menu>
                  <mat-error *ngIf="columnsInvalid && firstFormGroup.value.header[firstFormGroup.value.header.length-1]==','">
                      {{'OfflineAlertManager.createOfflineAlert.mobileAndMessageError'|translate}}
                    </mat-error>

                  <!-- <a style="color:primary;">Help?</a> -->
                  <mat-form-field class="w100">
                    <mat-select placeholder="{{'OfflineAlertManager.createOfflineAlert.mobileField'|translate}}" formControlName="mobileColumn" required>
                        <mat-option *ngFor="let mobile of columnsList" [value]="mobile">
                            {{mobile}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="firstFormGroup.controls.mobileColumn.errors?.required">{{'OfflineAlertManager.createOfflineAlert.mobileRequired'|translate}}</mat-error>

                </mat-form-field>
                  <mat-form-field class="w100" *ngIf="showDelimiter">
                      <!-- <input matInput placeholder="Column Delimeter" formControlName="delimiter" autocomplete="off" allow-special-characters-singlespace maxLength="2"> -->
                      <mat-select placeholder="{{'OfflineAlertManager.createOfflineAlert.columnDelimeter'|translate}}" formControlName="delimiter" required>
                        <mat-option value=",">,</mat-option>
                        <mat-option value="|">|</mat-option>
                      </mat-select>
                      <mat-error *ngIf="firstFormGroup.controls.delimiter.errors?.required">{{'OfflineAlertManager.createOfflineAlert.selectColumnDelimeter'|translate}}</mat-error>
                   </mat-form-field>

                  <div>


                    <button mat-raised-button matStepperNext class="submitbutton">{{'ActionNames.next' | translate}}</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>{{'OfflineAlertManager.createOfflineAlert.Step-2'|translate}}</ng-template>

                  <mat-form-field style="width: 100%;">

                    <mat-select placeholder="{{'OfflineAlertManager.createOfflineAlert.senderId'|translate}}"
                      formControlName="senderId" autocomplete="off" required>
                      <mat-option *ngFor="let sender of senderdata;" [value]="sender.senderId">
                        {{sender.senderName}}</mat-option>

                    </mat-select>
                    <mat-error *ngIf="secondFormGroup.controls.senderId.errors?.required">
                        {{'OfflineAlertManager.createOfflineAlert.senderRequired'|translate}}</mat-error>
                  </mat-form-field>
                  <!-- <mat-form-field class="w100"> -->
                    <mat-checkbox formControlName="messageType" color="primary" (change)="customMessage(secondFormGroup.controls.messageType.value)" >{{'OfflineAlertManager.createOfflineAlert.customMessage'|translate}}
                    </mat-checkbox>

                <!-- </mat-form-field> -->
                <div class="mb-1" *ngIf="secondFormGroup.controls.messageType.value">
                    <mat-form-field style="width: 80%;">
                      <mat-select placeholder="{{'OfflineAlertManager.createOfflineAlert.customFiled'|translate}}"
                        formControlName="customfield">
                        <mat-option *ngFor="let column of columnsList" [value]="column">{{column}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>&nbsp;
                    <label *ngIf="secondFormGroup.value.customfield != null" for="focus-input" type="button"
                      class="btn btn-primary"
                       (click)="addCustomField()">{{'ActionNames.add'|translate}}</label>
                  </div>
              <mat-form-field class="example-full-width group-top-margin" style="width: 100%;">
                <textarea matInput placeholder="{{'ActionNames.'+msgPlaceHolder | translate }}" formControlName="message" class="typewriter"
                  #message name="focus-input" matTextareaAutosize matAutosizeMinRows="5"  matAutosizeMaxRows="5"
                  rows="5" maxlength="{{msglength}}"
                  [ngClass]=" _arabic.test(secondFormGroup.value.message) ? {arabic : true} : {english : true}" required>
              </textarea>
                <!-- <mat-icon matSuffix>personal_video</mat-icon> -->
                <!-- <mat-hint  *ngIf="!templateData?.length"><a #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu1">Insert Template</a></mat-hint> -->
                <mat-hint align="end" style="color: green;font-weight: bold">{{charcount}}
                    {{'OfflineAlertManager.createOfflineAlert.character'|translate}} (s) |
                  {{msgCount}} {{'OfflineAlertManager.createOfflineAlert.message'|translate}}(s)</mat-hint>
                <mat-error *ngIf="secondFormGroup.controls.message.errors?.required">
                    {{'OfflineAlertManager.createOfflineAlert.msgRequired'|translate}}</mat-error>
              </mat-form-field>

                  <div class="clearfix">
                      <div class="col-sm-12 mar-btm">
                      <div>{{'OfflineAlertManager.scheduledJob'|translate}}</div>
                      </div>
                      <div>
                        <mat-form-field style="width: 100%;">
                            <mat-select placeholder="{{'OfflineAlertManager.createOfflineAlert.intervalType'|translate}}" formControlName="interval" (selectionChange)="scheduletime(true)" required>
                              <mat-option [value]="type.intervalTypeId" *ngFor="let type of intervalTypeList">{{type.intervalName}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="secondFormGroup.controls.interval.errors?.required">{{'OfflineAlertManager.createOfflineAlert.intervalTypeRequired'|translate}}</mat-error>
                        </mat-form-field>
                              <mat-form-field style="width: 100%;">
                                <mat-select placeholder="{{secondFormGroup.value.interval=='1' ? ('OfflineAlertManager.createOfflineAlert.selectSeconds'|translate) : secondFormGroup.value.interval=='2' ? ('OfflineAlertManager.createOfflineAlert.selectMinutes' | translate): secondFormGroup.value.interval=='3' ? ('OfflineAlertManager.createOfflineAlert.selectHours' | translate) : ('OfflineAlertManager.createOfflineAlert.selectIntervalTime' | translate)}} " formControlName="intervalTime" required>
                                  <mat-option *ngFor="let time of Time" [value]="time">{{time}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="secondFormGroup.controls.intervalTime.errors?.required">
                                  {{'OfflineAlertManager.createOfflineAlert.pleaseSelect' | translate}}{{secondFormGroup.value.interval=='1' ? ('OfflineAlertManager.createOfflineAlert.Seconds' | translate) : secondFormGroup.value.interval=='2' ? ('OfflineAlertManager.createOfflineAlert.Minutes' | translate): secondFormGroup.value.interval=='3' ? ('OfflineAlertManager.createOfflineAlert.Hours' | translate) : ('OfflineAlertManager.createOfflineAlert.intervalTime' | translate)}} 
                                </mat-error>
                              </mat-form-field>

                            </div>
                            <mat-form-field style="width: 100%;" >
                                <mat-select placeholder="{{'OfflineAlertManager.createOfflineAlert.serviceName'|translate}}" formControlName="serviceId" required >
                                    <mat-option  *ngFor="let service of serviceList;" [value]="service.templateId">{{service.serviceName}}</mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="secondFormGroup.controls.serviceId.errors?.required">{{'OfflineAlertManager.createOfflineAlert.serviceRequired'|translate}}</mat-error>
                            </mat-form-field>
                      </div>

                  <div>
                    <button mat-raised-button matStepperPrevious>{{'ActionNames.back' | translate}}</button>&nbsp;&nbsp;
                    <button mat-raised-button matStepperNext class="submitbutton">{{'ActionNames.next' | translate}}</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>{{  data  ? ('ActionNames.update' | translate) : ('ActionNames.save' | translate) }}</ng-template>
                <div class="stepcontainer">
                    <div class="wizardForm">
                      <table class="table table-bordered campaigndetails">
                        <tbody>
                          <tr>
                            <td style="width: 45%">{{'OfflineAlertManager.alertName'|translate}}</td>
                            <td>{{firstFormGroup.value.offlineAlertName}}</td>
                          </tr>
                          <tr>
                            <td style="width: 45%">{{'OfflineAlertManager.filePath'|translate}}</td>
                            <td>{{firstFormGroup.value.filepath}}</td>
                          </tr>
                          <tr>
                            <td style="width: 45%">{{'OfflineAlertManager.createOfflineAlert.requiredColumns'|translate}}</td>
                            <td>{{firstFormGroup.value.header}}</td>
                          </tr>
                          <tr *ngIf="showDelimiter">
                            <td style="width: 45%">{{'OfflineAlertManager.createOfflineAlert.columnDelimeter'|translate}}</td>
                            <td>{{firstFormGroup.value.delimiter}}</td>
                          </tr>
                          <tr>
                            <td style="width: 45%">{{'OfflineAlertManager.createOfflineAlert.senderName'|translate}}</td>
                            <td>{{_senderName}}</td>

                          </tr>
                          <tr>
                            <td style="width: 45%">{{'OfflineAlertManager.createOfflineAlert.message'|translate}}</td>
                            <td>{{secondFormGroup.value.message}}</td>
                          </tr>
                          <tr>
                              <td style="width: 45%">{{'OfflineAlertManager.createOfflineAlert.serviceCode'|translate}}</td>
                              <td>{{_serviceCode}}</td>
                            </tr>
                        </tbody>
                      </table>

                    </div>

                    <div class="pad-all2">
                      <button matStepperPrevious mat-raised-button>{{'ActionNames.back' | translate}}</button>&nbsp;&nbsp;
                      <button mat-raised-button  actionClick (debounceClick)="submit()" [disabled]="loading" class="submitbutton">{{data ? ('ActionNames.update' | translate):('ActionNames.save' | translate)}}</button>
                    </div>

                  </div>

              </mat-step>
            </mat-vertical-stepper></div>
      </mat-card-content>
</mat-card>
<div class="fullloader" *ngIf="loading">
    <div class="fullloaderInner">
      <img src="assets/images/loading.gif">
    </div>
  </div>
