<h1>{{ 'DashBoardModule.doctordashboard.title' | translate}}
  <span style="color: #49BDEE;">{{_userName}}</span>
</h1>


<div *ngIf="Info" class="mar-top">

  <div fxLayout="row wrap" class="hm-tiles">

    <div fxFlex.gt-sm="70" fxFlex="100" class="pad-rgt">
      <mat-card>
        <mat-card-content class="pad-all2">
          <div fxLayout="row wrap">
            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="text-center">
              <mat-card class="pad-no mar-no shadow-none bord-no">
                <mat-card-content>
                  <div><img src="assets/images/appoinment.svg" width="23%" /></div>
                  <div class="tile-head" style="color: #22bad1;">{{ 'DashBoardModule.doctordashboard.todayappts' |translate}}</div>
                  <h2 class="cnt">{{Info.totalAppts}}</h2>
                </mat-card-content>
              </mat-card>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="text-center">
              <mat-card class="pad-no mar-no shadow-none bord-no">
                <mat-card-content>
                  <div><img src="assets/images/check-in.svg" width="23%" /></div>
                  <div class="tile-head" style="color: #f69922 ;">{{
                    'DashBoardModule.doctordashboard.patientscheckedin'| translate}}</div>
                  <h2 class="cnt">{{Info.totalCheckin}}</h2>
                </mat-card-content>
              </mat-card>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="text-center">
              <mat-card class="pad-no mar-no shadow-none bord-no">
                <mat-card-content>
                  <div><img src="assets/images/patient.svg" width="23%" /></div>
                  <div class="tile-head" style="color: #71a60f;">{{ 'DashBoardModule.doctordashboard.patientswaiting' | translate}}</div>
                  <h2 class="cnt">{{0 >= Info.patientswaiting ? 0 : Info.patientswaiting}}</h2>
                </mat-card-content>
              </mat-card>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="text-center">
              <mat-card class="pad-no mar-no shadow-none bord-no">
                <mat-card-content>
                  <div><img src="assets/images/avg-waiting-time.svg" width="23%" /></div>
                  <div class="tile-head" style="color: #ef66a4;">{{ 'DashBoardModule.doctordashboard.avgWaitingTime' | translate}}
                  </div>
                  <h2 class="cnt">{{0 >= Info.avgWaiting ? 0 : Info.avgWaiting}}<small>
                    {{'DashBoardModule.doctordashboard.min' | translate}}</small></h2>
                </mat-card-content>
              </mat-card>
            </div>


          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex.gt-sm="30" fxFlex="100">
      <mat-card>
        <mat-card-content class="pad-all2">
          <div fxLayout="row wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="text-center">
              <mat-card class="pad-no mar-no shadow-none bord-no">
                <mat-card-content>
                  <div><img src="assets/images/tokens-serving.svg" width="30%" /></div>
                  <div class="tile-head" style="color: #37d8bd;">{{ 'DashBoardModule.doctordashboard.patientsserving' | translate}}
                  </div>
                  <h2 class="cnt">{{Info.totalServing}}</h2>
                </mat-card-content>
              </mat-card>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="text-center">
              <mat-card class="pad-no mar-no shadow-none bord-no">
                <mat-card-content>
                  <div><img src="assets/images/tokens-served.svg" width="30%" /></div>
                  <div class="tile-head" style="color: #a652e3;">{{ 'DashBoardModule.doctordashboard.patientsserved' | translate}}</div>
                  <h2 class="cnt">{{Info.totalServed}}</h2>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>
  <br>

  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="70" fxFlex="100" class="pad-rgt">
      <canvas height="100" baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartHorizontalOptions"
        [colors]="lineChartColors" [legend]="barChartLegend" [chartType]="barChartHorizontalType">
      </canvas>
    </div>
  </div>

</div>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>