table {
  width: 100%;
}

.no-recrds{ width: 100%;  text-align: center; padding-top: 15%; font-size: 20px;}

td.mat-cell{ width:12.5%;}
th.mat-header-cell{width:12.5%;}

.mat-paginator{
  background: transparent;
}

.fullloader3{background: #000000; opacity: 0.7; width: 100%; height:70vh; position: absolute; z-index: 999999999; top: 0; text-align: center; 
display: table;}
.fullloaderInner{display: table-cell; vertical-align: middle;}
.fullloaderInner img{ width: 50px;}

.btn-primary{ background:#22bad1; border:#22bad1;  }
