div:nth-child(1){
    display:inline-block;
    width:200px;
    height:100px;
    background-color: rgb(19, 10, 7); 
    color: aqua;
}
div:nth-child(2){
    width:200px;
    height:100px;
    background-color:brown; 
    color:rgb(247, 246, 248);
    display:inline-block;
    margin-top: 0px;
}
div:nth-child(3){
    background-color:darkorange;display:inline-block;
}
