<mat-card style="box-shadow: none;">
        <mat-card-header style="border-bottom: 1px solid #eee;">
           
                <h4 class="details-heading wrap-word w80">{{ 'ClientsModule.LicenseDetails.title' | translate}}</h4>
            
            <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i class="ti-close"></i></button>
        </mat-card-header>
        <mat-card-content class="wrap-word">

            <div class="clearfix pad-top licensedetails pre-content">

                <div fxLayout="row wrap" class="clearfix">
                    <div fxFlex class="detailbox">
                        <div class="col-sm-10 pad-no">
                            <h5><strong>{{'ClientsModule.LicenseDetails.organization' | translate}}</strong></h5>
                            <h2 class="text-primary">{{editData?.organization}}</h2>
                        </div>
                        <div class="col-sm-2 pad-no text-right">
                            <img src="assets/images/licence.svg" width="90%;">
                        </div>
                    </div>


                </div>

                <div fxLayout="row wrap" class="clearfix">
                    <div fxFlex class="detailbox">
                        <h5 style="margin-top: 10px"><strong> {{ 'ClientsModule.createclient.emailId' | translate}}
                                :</strong> {{editData?.emailId}}</h5>
                        <h5 style="margin-top: 10px"><strong>{{ 'ClientsModule.createclient.mobileNo' | translate}}
                                :</strong> {{editData?.mobileNo}} </h5>
                    </div>
                </div>

                <div fxLayout="row wrap" class="clearfix">
                    <div fxFlex class="detailbox">
                        <h5><strong>{{ 'ClientsModule.LicenseDetails.generation' | translate}} :</strong></h5>
                        {{resData?.generation}}
                    </div>
                    <div fxFlex class="detailbox">
                        <h5><strong>{{ 'ClientsModule.LicenseDetails.expire' | translate}} :</strong></h5>
                        {{resData?.expire}}
                    </div>
                </div>

                <div fxLayout="row wrap" class="clearfix">
                    <div fxFlex class="detailbox">
                        <h5><strong>{{ 'ClientsModule.LicenseDetails.licenseExpire' | translate}} :</strong></h5>
                        {{resData?.licenseMaintainanceExpire}}
                    </div>
                    <div fxFlex class="detailbox">
                        <h5><strong>{{ 'ClientsModule.LicenseDetails.customer' | translate}} :</strong></h5>
                        {{resData?.customer}}
                    </div>
                </div>

                <div fxLayout="row wrap" class="clearfix text-center">
                    <div fxFlex class="detailbox">
                        <h5 style="margin-bottom: 15px;"><strong>{{ 'ClientsModule.LicenseDetails.company' |
                                translate}}
                                :</strong></h5>
                        <h3>{{resData?.company}}</h3>
                    </div>
                </div>
                <br>
                <h4 *ngIf="totalHospitals?.length!=0">{{'ClientsModule.hospitals' | translate }}:</h4>

                <div fxLayout="row wrap" class="clearfix detailbox" *ngFor="let item of totalHospitals">

                    <div fxFlex class="">
                        <h5 class="mar-no"> <strong>{{'ClientsModule.licenceId' | translate }} :</strong>
                            {{item.licenseid}}</h5>
                    </div>
                    <div fxFlex class="">
                        <h5 class="mar-no"> <strong>{{'ClientsModule.facility' | translate }} :</strong>
                            {{item.facility}}</h5>
                    </div>
                </div>
            </div>
            <!-- <span *ngIf="invalidStatus">{{'ClientsModule.createclient.invalidLicense' | translate}}</span> -->
        
        </mat-card-content>

</mat-card>