table {
    width: 100%;
  }

  .no-recrds{ width: 100%;  text-align: center; padding-top: 15%; font-size: 20px;}

  td.mat-cell{ width:16.5%;}
th.mat-header-cell{width:16.5%;}

.mat-paginator{
  background: transparent;
  
   }