<mat-card style="box-shadow: none;">
  <mat-card-header style="border-bottom: 1px solid #eee; padding: 10px">
    <div mat-card-avatar><img src="assets/images/icons/user-light.svg" /></div>
    <mat-card-title>
      <h4 class="details-heading">{{campDetails?.campName}}</h4>
    </mat-card-title>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i class="ti-close"></i></button>
  </mat-card-header>

  <mat-card-content>
    <div class="details-content">
      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'campaigns.details.fileName' | translate}}</strong>
          </div>
          <div class="pad-all-sm"> {{campDetails?.campaignInfo?.filename}}</div>
        </div>

        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'campaigns.details.fileType' | translate}}</strong>
          </div>
          <div class="pad-all-sm"> {{campDetails?.campaignInfo?.fileType}}</div>
        </div>

        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'campaigns.details.sheetName' | translate}}</strong>
          </div>
          <div class="pad-all-sm"> {{campDetails?.campaignInfo?.sheetname}}</div>
        </div>
      </div>

      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'campaigns.details.validCount' | translate}}</strong>
          </div>
          <div class="pad-all-sm"> {{campDetails?.campaignInfo?.validcount}}</div>
        </div>

        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'campaigns.details.inValid' | translate}}</strong> </div>
          <div class="pad-all-sm"> {{campDetails?.campaignInfo?.invalidcount}}</div>
        </div>
      </div>

      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'campaigns.create.msg' | translate}}</strong> </div>
          <div class="pad-all-sm"> {{campDetails?.message}}</div>
        </div>
      </div>

      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'campaigns.details.senderId' | translate}}</strong>
          </div>
          <div class="pad-all-sm"> {{selectSender}}</div>
        </div>

        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'campaigns.details.campMode' | translate}}</strong>
          </div>
          <div class="pad-all-sm">
            {{campDetails?.campMode == 0 ?('campaigns.create.promotional' | translate) :('campaigns.create.transactional' | translate)}}
          </div>
        </div>

        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'campaigns.create.campType' | translate}}</strong> </div>
          <div class="pad-all-sm"> {{campDetails?.campType == 0 ? ('campaigns.create.bulk' | translate) :('campaigns.create.custom' | translate)}}</div>
        </div>
      </div>

      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex class="bord-all">
          <div class="pad-all-sm  dtable-header-top"> <strong>{{'campaigns.details.startTime' | translate}}</strong> </div>
          <div class="pad-all-sm"> {{campDetails?.campStartTime}}</div>
        </div>
      </div>

      <!-- <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex class="bord-all">
          <div class="pad-all-sm  dtable-header-top"> <strong>{{'campaigns.details.deptGroup' | translate}}</strong> </div>
          <div class="pad-all-sm"> {{campDetails?.campaignInfo?.deptGroups}}</div>
        </div>
      </div>
      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex class="bord-all">
          <div class="pad-all-sm  dtable-header-top"> <strong>{{'campaigns.details.globalGroup' | translate}}</strong> </div>
          <div class="pad-all-sm"> {{campDetails?.campaignInfo?.globalGroups}}</div>
        </div>
      </div>
      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex class="bord-all">
          <div class="pad-all-sm  dtable-header-top"> <strong>{{'campaigns.details.userGroup' | translate}}</strong> </div>
          <div class="pad-all-sm"> {{campDetails?.campaignInfo?.userGroups}}</div>
        </div>
      </div> -->

    </div>
  </mat-card-content>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>