@import "scss/material.variables";
@import "scss/material.themes";
@import "scss/mixins/bi-app/bi-app-ltr";
// Core Variables and Mixins
@import "scss/app.variables";
@import "scss/mixins";
// Core Styles
@import "scss/core";
@import "scss/material";
@import "scss/utilities/utilities";

@import "custome.scss";
@import "fujairah.scss";

////////////other//////////////
$blueClr:#38a0f4;
$greenClr:#A0C34C;
$yellowClr:#EABD33;
$redClr:#CB3131;
$purpleClr:#C565E4;
$drkgreyClr:#333333;
$greyClr:#666666;
$lgtgreyClr:#cccccc;

.full-width {
  width: 100%;
}
.w95 { width: 95%}

.btn-light-mint{background:#41D0A2; color: #ffffff !important; }

.text-info {  color: $blueClr !important; }
.text-warning {  color:$yellowClr !important;}


  
  body .mat-card.mat-card {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow:none !important;
    margin: 2%
  }

.mat-card {
  //margin: 0.8rem !important;
  border: 1px solid #eeeeee !important;
  color: #444444 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow:none !important;
}

.bord-btm{border-bottom: 1px solid #dddddd!important;  }

.mat-checkbox label{font-weight: normal !important;}
.tokeneditor .angular-editor-toolbar { font-size: 1.2rem !important;}
.tokeneditor .angular-editor-textarea{height: 20rem !important;}

.privCheck .mat-checkbox-layout .mat-checkbox-label{min-width: 200px !important} 
.aduserChk .mat-checkbox-layout .mat-checkbox-label{min-width: 170px !important;}

//Slide left dailog
      @-webkit-keyframes slideLeft{
        0%{opacity: 0;
          -webkit-transform: translateY(0%); 
          -webkit-transform: translateX(100%);
        }
        50%{opacity: 00;
          -webkit-transform: translateY(0%); 
          -webkit-transform: translateX(50%);
        }
        100%{
          -webkit-transform: translateY(0%);
          -webkit-transform: translateX(0%);
        }
      }

      @-moz-keyframes slideLeft{
        0%{opacity: 0;
          -moz-transform: translateY(0%); 
          -moz-transform: translateX(100%);
        }
        50%{opacity: 00;
          -moz-transform: translateY(0%); 
          -moz-transform: translateX(50%);
        }
        100%{
          -moz-transform: translateY(0%);
          -moz-transform: translateX(0%);
        }
      }

      @-o-keyframes slideLeft{
          0%{opacity: 0;
            -o-transform: translateY(0%); 
            -o-transform: translateX(100%);
          }
          50%{opacity: 00;
            -o-transform: translateY(0%); 
            -o-transform: translateX(50%);
          }
          100%{
            -o-transform: translateY(0%);
            -o-transform: translateX(0%);
          }
      }
      @-ms-keyframes slideLeft{
        0%{opacity: 0;
          -ms-transform: translateY(0%); 
          -ms-transform: translateX(100%);
        }
        50%{opacity: 00;
          -ms-transform: translateY(0%); 
          -ms-transform: translateX(50%);
        }
        100%{
          -ms-transform: translateY(0%);
          -ms-transform: translateX(0%);
        }
      }

      @keyframes slideLeft{
          0%{opacity: 0;
          transform: translateY(0%); 
          transform: translateX(100%);
          }
          50%{opacity: 00;
          transform: translateY(0%); 
          transform: translateX(50%);
          }
          100%{
          transform: translateY(0%);
          transform: translateX(0%);
          }
      }
    
    .rightdailog.cdk-overlay-pane{
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);

    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);

    -webkit-animation: slideLeft 0.5s forwards 0s ease-out;
    -moz-animation: slideLeft 0.5s forwards 0s ease-out;
    -o-animation: slideLeft 0.5s forwards 0s ease-out;
    -ms-animation: slideLeft 0.5s forwards 0s ease-out;
    animation: slideLeft 0.5s forwards 0s ease-out;
    }

    ////////////////////////////////////////////////////////
 


    //Slide right dailog
    // @keyframes closeRight{
    //   0%{opacity: 0;
    //   transform: translateY(0%); 
    //   transform: translateX(0%);
    //   }
    //   50%{opacity: 00;
    //   transform: translateY(0%); 
    //   transform: translateX(50%);
    //   }
    //   100%{
    //   transform: translateY(0%);
    //   transform: translateX(100%);
    //   }
    //   }

    // .closeRgtdailog{
    //   transform: translateY(0%);
    //   transform: translateX(100%);
    //   animation: closeRight 0.5s forwards 0s ease-out;
    //   }
///////////////////////////////////////////////

    .rightdailog.cdk-overlay-pane{ width: 30vw;}
    .rightdailog.cdk-overlay-pane .mat-card{margin: 0 !important; border: 0 !important; box-shadow: none ;}
    .rightdailog .mat-dialog-container{ padding: 0;}
    .rightdailog.cdk-overlay-pane .mat-card-title {padding-top: 0.2rem !important;}
    .rightdailog.cdk-overlay-pane .mat-card .mat-card .mat-card-title {padding:1rem !important; border-bottom: 1px solid #eee;}
    .rightdailog.cdk-overlay-pane .mat-card-actions{ padding: 10px !important; padding-top: 18px !important; background: #ffffff; }
    .rightdailog.cdk-overlay-pane .mat-card-header{position: absolute; padding: 2px 0; width: 100%; z-index: 99999;}
    //.rightdailog.cdk-overlay-pane .dialogbox {position: relative}
    //.rightdailog.cdk-overlay-pane .dialogbox .mat-card-header{position: fixed; padding: 2px 0; width: 100%; z-index: 99999;}
   
    .rightdailog.cdk-overlay-pane .mat-card-content{padding-top: 60px;}

    .rightdailog.cdk-overlay-pane .mat-card-avatar{ border: 1px solid #eeeeee; padding: 8px; text-align: center;}
    .rightdailog.cdk-overlay-pane .mat-card-avatar img{width: 100%;}
    .rightdailog.cdk-overlay-pane .mat-card-avatar i{    margin-top: 21%; display: block;}

    .rightdailog.cdk-overlay-pane .mat-card .rolesg .mat-card{ border: 1px solid #cccccc !important;}
    .rightdailog.cdk-overlay-pane .mat-horizontal-content-container{padding: 0;}

    .rightdailog.cdk-overlay-pane  label{ font-weight: normal;}
    .rightdailog.cdk-overlay-pane .mat-horizontal-stepper-header-container{background: #f6f6f6;}

   

    .hr2{margin-top: 10px; margin-bottom: 10px;}


    //custom mat corlors///////////////////////////////////
    .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{ background: $blueClr;}
    .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background{ background: $blueClr;}
    .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{background: $blueClr;}
    .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{background: #9ccef7;}
    .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{color: $blueClr;}



    //Map tooltip
    .details {background:transparent; padding: 5px 10px; position: relative;  z-index:7;}
    .details table {color: #ffffff;}
    .details table td {text-align: left !important;}
    .country-tooltipbg {background:#333333; padding: 5px 10px; border-radius: 5px;}
    .country-tooltiptable {font-size: 12px; font-family: arial,helvetica; min-width:140px}
    .tooltip-cname {font-weight: bold}


    //DarkMode
    .app-dark .head2 {background: #666666 !important;}
    .app-dark .tab-rgt-sec{background: #444444 !important;}
    .app-dark .tab-rgt-sec a{color: #ffffff !important;}
    .app-dark .tab-lft-sec{background: #666666 !important;}
    .app-dark .tabs-left a{color: #ffffff!important;}
    .app-dark .tabs-left > li.active > a, .app-dark .tabs-left > li.active > a:hover, .app-dark .tabs-left > li.active > a:focus{background: #444444 !important;}
    .app-dark .mat-card {border-top: 1px solid #666666;}
    .app-dark .bord-btm{border-bottom: 1px solid #666666!important;  }
    
    //.mat-header-row{min-height: 35px !important;}
    
    //Table search
    .tblSrch{position: absolute; right: 10px; top: 11px;}
    .tblSrch span{ float: left; margin-right: 4px; font-size: 13px; padding-top: 3px;}
    .tblSrch .mat-input-element{ width: auto; border: 1px solid #999999; padding: 2px; font-size: 12px; border-radius: 2px;}

    .userImg{border-radius: 50%; width: 30px; height: 30px; background: #eeeeee; border: 1px solid #eeeeee;}

    .rolesg .mswift{padding-left: 0;}
    .rolesg .mswift .mat-card{ margin-bottom: 10px !important; padding: 10px; border: 1px solid #cccccc; }
    .rolesg .mswift .mat-card .mat-slide-toggle-content{font-size: 12px;}
    .rolesg .mat-checkbox-inner-container .mat-checkbox-frame { border: 1px solid #cccccc;}
    .rolesg .mswift .mat-card .check-margin{margin: 0; font-size: 12px; }
    .rolesg .mswift .mat-card .mat-checkbox-layout{margin-bottom: 0;}
    .rolesg .mswift .mat-card .mat-checkbox-label{font-weight: normal;}
    .rolesg .mat-checkbox-inner-container{ position: absolute; right: 0; width: 15px; height: 15px; top: 12px;}

    
    .ckactive{border-top: 1.5px solid $blueClr !important}


   .int-mbl .form-control{ 
    border: 0 !important;
    border-bottom: 1px solid #999999 !important; 
    box-shadow:none !important; -webkit-box-shadow:none !important;
    height: 30px;
    }
    .int-mbl .input-group-addon{
      border: 0 !important;
      border-bottom: 1px solid #999999 !important; 
      box-shadow:none !important; -webkit-box-shadow:none !important;
      border-radius: 1px;
      background: none;
      margin-top: -1px;
    }
    .int-mbl .input-group-addon .dropbtn{box-shadow:none !important; -webkit-box-shadow:none !important;}
    .int-mbl .input-group-addon .btn{border-radius: 0px; padding: 0px 12px;}
    .int-mbl label{font-size: 11px; font-weight: normal; color: #9a9a9a;}
    
    .no-shadow{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow:none !important;
    }
    // .mat-card{
    //   box-shadow: none !important;
    //   -webkit-box-shadow: none !important;
    //   -moz-box-shadow:none !important;
    //   border: 1px solid #eeeeee !important;
    //   }
    .ps__thumb-x { display: none !important}

.rightdailog .mat-card-header .mat-icon-button { width: 30px !important; height:30px !important; line-height: 30px !important; margin: 4px !important}

.mystepper .mat-vertical-stepper-header .mat-step-label { min-width: 20px !important }
.mystepper .mat-vertical-stepper-header { padding: 12px 0 12px 24px}
  .campaigndetails { margin-top: 10px }
  .campaigndetails td { padding: 6px }
  .campaigndetails tr td:nth-child(odd) { background: #fafafa; font-weight: bold; width: 30%; word-break: break-word; word-wrap:break-word}
.mat-step-icon[ng-reflect-ng-switch="number"] { font-weight: bold !important }
.stepcontainer { margin: 6px 0 15px 0; padding: 0; overflow: hidden}
.stepcontainer .mat-form-field:first-child { margin: 0 } 
.hl7tree { margin-left: 20px !important}
.activestatus { color: #2DA301 }
  
.fullloader { background: #000000; opacity: 0.7; width: 100%; height: 100%; position: fixed; z-index:999999; top:0;
left:0; bottom: 0; right: 0; text-align: center; display: table;}
.fullloaderInner { display: table-cell; vertical-align: middle;}
.fullloaderInner img { width: 50px;}

.mat-vertical-content-container{
  margin-left: 24px !important;
  }  

  .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
    border-color: #38a0f4;
  }
  .mat-radio-button.mat-primary .mat-radio-inner-circle {
    background-color: #38a0f4;
  }
  .availablecredits { float:right;font-size:12px }
  .belowthreshold { color:#ff0000; font-weight: 600; font-size:12px }
  .abovethreshold { color:#08C916; font-weight: 600; font-size:12px }
  .loginerror { position: relative; top: -15px }

  //////mat tabs////////////////
  .mat-tab-body{padding: 20px; border: 1px solid #dddddd; border-top: 0;}
  .mat-tab-label-active{background: #dddddd;}
  .mat-ink-bar{ background: #05c9e4 !important;}
  .mat-tab-label{border: 1px solid #dddddd; border-bottom: 0;}
  .mat-tab-labels { border-bottom: 1px solid #dddddd}

  .nodatalabel { padding-left: 20px !important}
  table td {word-break:break-word} 
  .wraptext { word-break:break-word }

  .prepaidcard {
    border-right: 12px solid #5A9EE5 !important; border-left: none !important
  }
  .prepaidcard .typetext, .prepaidtext {
    color: #5A9EE5
  }
  .postpaidcard {
    border-right: 12px solid #FF583D !important; border-left: none !important
  }
  .postpaidcard .typetext, .postpaidtext {
    color: #FF583D
  }


  *::-ms-backdrop, table td{word-break: break-all; }
  *::-ms-backdrop, .wraptext{word-break: break-all; } 
// .mainbody .ps__rail-y[style] {right: 0 !important; left: inherit !important}

//Responsive Media quiery
@media (max-width:700px){
  .rightdailog.cdk-overlay-pane {width: 80vw !important;  }
  .mat-drawer-content{padding-top: 40px;}
  .dbAlerts-stepper-cntnt{padding-top:15% !important;}
}

@media (min-width:701px) and (max-width:768px){
  .rightdailog.cdk-overlay-pane {width: 60vw !important;  }
  .mat-drawer-content{padding-top: 40px;}
  .dbAlerts-stepper-cntnt{padding-top:15% !important;}
}

@media (min-width:769px) and (max-width:1024px){
  .profilePagepic {
    width: 200px !important; height: 200px;
  }
  .rightdailog.cdk-overlay-pane {width: 60vw !important;  }
  .dbAlerts-stepper-cntnt{padding-top:15% !important;}
}

@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

// Using the $theme variable from the pre-built theme you can call the theming function
@include mat-datetimepicker-theme($theme);

