////////////other//////////////
$blueClr:#38a0f4;
$greenClr:#A0C34C;
$yellowClr:#EABD33;
$redClr:#CB3131;
$purpleClr:#C565E4;
$drkgreyClr:#333333;
$greyClr:#666666;
$lgtgreyClr:#cccccc;


 //Profile page
 .profilePsec{margin-top:80px;  padding-top:5%; padding-bottom: 5%;}
 // .profilePagepic{width: 100px;  height: 100px; border: 0; position: absolute;  border-radius: 50%; background: #ccc; top: -63px;
 //   left: 33%;}
 //  .profilePagepic img{width: 100%;  height: 100px; border-radius: 50%; border: 1px solid #cccccc;}
  .profilePagepic{width: 280px;  height: 280px; border: 6px solid #ffffff; position: relative;  border-radius: 50%; background: #ccc; 
}
  .profilePagepic img{width: 100%;  height: 100%; border-radius: 50%; }

  .profilePagepic .browsIcon{
   position: absolute;
   cursor: pointer;
   bottom: 23%;
   left: -6%;
   background: #666666;
   border: 2px solid #ffffff;
   color: #ffffff;
   padding: 10px;
   width: 50px;
   height: 50px;
   border-radius: 50px;}

   .profilePagepic .mat-icon{  font-size: 25px;}

   .profileDetails{ width: 73%; margin: 0 auto;}
   .profileDetails h1{margin-bottom: 0px ;}
   .profileDetails .mat-icon-button{width: 25px !important;}
   .profileDetails .sec1{background: #ffffff; padding: 8px 0 }
   // .profileUsers{ text-align: center}
   // .profileUsers .pic{width: 100px; height: 100px; border-radius: 50%; background: #ccc; margin: 0 auto;  margin-bottom: 10px;}
   // .profileUsers .pic img{width: 100px; height: 100px; border-radius: 50%;}
 
 
 //phonebook
 .phonebook .card-avatar{ border-radius: 50%; background: #ccc; margin-right: 10px; font-size: 10px; 
   text-align: center; padding: 2px 4px;  color: #ffffff; width: 23px; height: 23px;}
 .phonebook .pbGroups-sec{padding-right: 15px;}
 .phonebook .pbGroups-sec .mat-card{background: #f5f5f5;}
 .phonebook .pbGroups-sec .pbActive{ background:#e6e6e6; border: 0; color: #38a0f4 !important; 
  // box-shadow: 3px 3px 3px -2px rgba(0,0,0,.2) !important;
 }
 // .phonebook .pbGroups-sec .pbActive::after{content: url(../../assets/images/right-arrow.svg); width: 20px;  position: absolute; right: -10px; top: 10px; border-right: 5px solid #38a0f4;}
 .phonebook .pbGroups-sec .pbActive::after{content: url();   position: absolute; height: 100%; left: 0px; top: 0px; border-right: 3px solid #38a0f4;}
 .phonebook .pbGroups-sec .grpmor{color: #888888; display: inline-block; margin-top: 5px;}
 .phonebook .contacts-sec .mat-card{background: #F4F4F6; border: 0;}
 .phonebook .contacts-sec p{ margin-bottom: 8px;}
 .phonebook .contacts-sec p:last-child{margin-bottom: 0;}
 .phonebook .contacts-sec i{margin-right: 6px; font-size: 11px;}
 .phonebook .contacts-sec img{margin-right: 6px; width: 10px;
   // border: 1px solid #ffffff; border-radius: 50%;
   }
 //.phonebook .contacts-sec .mat-list .mat-list-item .mat-card{width: 100%;}
 //.phonebook .contacts-sec .mat-list .mat-list-item .mat-list-item-content{ padding: 0;}
 .phonebook .contacts-sec a{color: #2E8BC2 !important;}
 .phonebook .contacts-sec .Cchk{ position: absolute; bottom:0px; right: 0px;}
 .phonebook .contacts-sec .Cchk .mat-checkbox-inner-container{width: 15px; height: 15px;}
 .phonebook .contacts-sec .mat-checkbox-frame{ border: 1px solid #cccccc; background: #ffffff;}
 .phonebook .contacts-sec .Pcard-rgt{ position: relative;}
 .phonebook .contacts-sec .Cmore-btn{ position: absolute; top: 0px; right: 0px; color: #848181;}
 .phonebook .contacts-sec .Cmore-btn a{color: #848181 !important;}
 .phonebook .contacts-sec .onaction-sec{ font-size: 11px;}
 .phonebook .contacts-sec .onaction-sec .mat-button{font-size: 11px;}

 //segments
 .segments .mat-checkbox-inner-container{width: 15px; height: 15px;}
 .segments .mat-checkbox-frame{ border: 1px solid #cccccc; background: #ffffff;}
 

 //////////////////////////////////////
 .mswift .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mswift .mat-checkbox-checked.mat-primary .mat-checkbox-background {
   background: #ffffff; }
 .mswift .mat-checkbox-checkmark-path{stroke:$blueClr !important;}

 .mat-fab-bottom-right{bottom: 5rem !important;}

 .dbAlerts-stepper-cntnt{padding-top: 9% !important;}


//.rightdailog .mat-vertical-stepper-header{ padding: 12px !important; margin-bottom: 0px;}

.pad-hor{padding: 0 12px !important;}
.pad-ver{padding: 12px 0 !important;}

.cmpn-left .grp-title{ float: left; padding-left:5px;}
.cmpn-left .grp-right{ text-align: right;}

.cmpn-left .mat-card{ box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow:none !important;}
 
.pbGroups-sec ngx-avatar .avatar-container{ float: left;}
.pbGroups-sec .grp-right{ text-align: right;}

.ssmscustomtabs .mat-tab-labels
{
  min-width: 50px !important;
  padding: 0 6px !important;
  border-bottom: 1px solid #dddddd !important;
}

.ssmscustomtabs .mat-tab-label{ border: 1px solid #dddddd;}

.w100{width: 100%;}
.w50{ width: 50%;}
.w75{width: 75%;}
.w25{width: 25%;}

.pad-all-sm{padding: 8px;}

.btn-dark{background: #666666; color: #ffffff;}
.btn-dark:hover{background: #444444; color: #ffffff !important;}

.rightdailog .mat-vertical-stepper-header{ margin-bottom: 0px;}
.mat-stepper-vertical-line::before{top: -4px !important;  bottom: -4px !important}
.helppop .carousel-control { color: #000000 !important; width: 6% !important}
.helppop .carousel-control:focus, .helppop .carousel-control:hover {color: #000000 !important}
.helppop .carousel-control.right { background: transparent !important;}
.helppop .carousel-control.left { background: transparent !important;}
.helppop .glyphicon-chevron-left, .helppop .glyphicon-chevron-right{font-size: 24px !important;}
.long-break { word-break: break-all }


//////RTL//////
[dir="rtl"] .cmpn-left .card-avatar{ float: right !important;}

[dir="rtl"] .cmpn-left .grp-title{ float: right !important; padding-right:5px;}
[dir="rtl"] .cmpn-left .grp-right{ text-align: left;}
[dir="rtl"] .pbGroups-sec ngx-avatar .avatar-container{ float: right !important;}
[dir="rtl"] .pbGroups-sec .grp-right{ text-align: left;}
[dir="rtl"] .pbGroups-sec .grp-title{ float: right !important;}
[dir="rtl"] .analytics .ngx-charts { width: 200px; float: right !important;}
.helppop { background: #ffffff !important; width: 450px !important; height: 400px !important; overflow: auto !important; position: absolute !important; right: 10px !important; top: 60px !important; z-index:9999 !important; text-align: left !important; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important}
.helppop_title { width:100%; height: 30px; line-height: 30px; background: #cccccc; text-align: right; padding-right:10px}
.helppop_title i { cursor: pointer;}

[dir="rtl"] .usercard .UcardLeft .card-avatar{ margin:0px;}
[dir="rtl"] .usercard .card-details{padding-right:10px;}
[dir="rtl"] .usercard .Umore-btn {position: absolute; top: -3px; right: inherit; left:1px; color: #848181;}
[dir="rtl"] .search-align{ text-align:left;}
// [dir="rtl"] .profile-align{ text-align:right;}
[dir="rtl"] .selectcontainer {padding: 25px 40px 25px 0;}
[dir="rtl"] .rightpad-45 {padding-left: 45px; padding-right:0px;}
[dir="rtl"] .morebtn{position: absolute; right: inherit; left: 0px; top: 0px;}
[dir="rtl"] .smartdir .cmpn-left .secr { text-align:left;}
[dir="rtl"] .status {  float: left;}

[dir="rtl"] mat-header-cell:last-of-type{padding-left:10px !important;}
[dir="rtl"] .headerlink i{float:right; margin-top:15px; margin-left:5px;}
[dir="rtl"] .mat-header-row .mat-header-cell, .listtable .mat-row .mat-cell { text-align:right; }
[dir="rtl"] .mat-menu-item i {margin-left: 10px }
[dir="rtl"] table.listtable .mat-row .mat-cell { text-align:right !important; }
[dir="rtl"] .listtable .mat-sort-header-button { text-align: right }
[dir="rtl"] .nodatalabel { padding-right: 20px !important}
[dir="rtl"] .mat-paginator-range-label { direction: ltr}
[dir="rtl"] .pageheading { padding-right: 12px}
[dir="rtl"] .availablecredits {float:left;font-size:12px}
[dir="rtl"] .prepaidcard {
  border-left: 12px solid #5A9EE5; border-right: none !important
}

[dir="rtl"] .postpaidcard {
  border-left: 12px solid #FF583D; border-right: none !important
}
// [dir="rtl"] .mainbody .ps__rail-y[style] {left: 0 !important; right: inherit !important}
