<div fxLayout="row wrap" class="">
  <div fxFlex="100" class="example-container mar-rgt">
    <!-- {{printerform.value | json}} [disabled]="editData"-->
    <form [formGroup]="printerform">

      <div>
        <mat-form-field style="width: 100%;">
          <mat-select  placeholder="{{'DevicesModule.level' | translate}} "
            (selectionChange)="levelChange($event.value)" cdkFocusInitial formControlName="printerLevel"
            required>
            <mat-option *ngFor="let levelDetails of levelInfo" [value]="levelDetails?.floorId">
              {{levelDetails?.floorName}}</mat-option>
          </mat-select>

          <mat-error *ngIf="printerform.controls.printerLevel.errors?.required">{{ 'ActionNames.errorSelectMessage' | translate }}</mat-error>
        </mat-form-field>

      </div>

      <div>
        <mat-form-field style="width: 96%;">
          <input matInput allow-alpha-numeric-singlespace
            placeholder="{{ 'DevicesModule.printers.printerName' | translate}}" formControlName="printerName" required
            (change)="printerNameExist()" maxlength="30" minlength="4" >
          <mat-error *ngIf="printerform.controls.printerName.errors?.required">
            {{ 'ActionNames.errorMessage' | translate }}
             </mat-error>
            <mat-error *ngIf="printerform.get('printerName').hasError('minlength')"> {{'ActionNames.minLengthError4' | translate}}</mat-error>
        </mat-form-field>
        <mat-error *ngIf="printerNameFlag && printerform.value.printerName?.length>3"
          style="display: inline;"><i class=" ti-check text-success"></i></mat-error>
        <mat-error *ngIf="printerNameDisableFlag && printerform.value.printerName?.length>3"><i class="ti-close
            text-danger">
            {{'DevicesModule.printers.printerExist' | translate}}
          </i></mat-error>
      </div>



      <div>
        <mat-form-field style="width: 100%;">
          <input matInput allow-numbers-nospace placeholder="{{'DevicesModule.printers.number' | translate}}"
            formControlName="printerNo" required maxlength="3">
          <mat-error *ngIf="printerform.controls.printerNo.errors?.required">
            {{ 'ActionNames.errorMessage' | translate }}
             </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width: 100%;">
          <mat-select placeholder="{{'DevicesModule.printers.dPrinter' | translate}}" formControlName="destPrinter"
            required>
            <mat-option *ngFor="let list of printersList" [value]="list.destPrinter">{{list.destPrinter}}</mat-option>
          </mat-select>
          <mat-error *ngIf="printerform.controls.destPrinter.errors?.required">
            {{ 'ActionNames.errorSelectMessage' | translate }}
             </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>

<div class="pad-ver">
  <button mat-raised-button color="primary" (click)="createPrinter()"
    [disabled]="!printerform.valid || !printerNameFlag ">
    {{'ActionNames.submit' | translate}}</button>


</div>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>
