table td{
  width:40%;
}
table {
  border-collapse:separate;
  border-spacing:0 15px;

}
table .hospList {
  border-bottom: 1px solid;
}


td {
  border: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

table tr.border { border-bottom: 1px solid #000; }

.details-heading{margin-top: 10px;}

.licensedetails h1, h2, h3, h4, h5{margin: 0; margin-bottom: 6px;}
.detailbox{background: #f7f8fb; border: 1px solid #dddddd; padding: 10px; margin-right: 6px; margin-bottom: 6px;}

