<mat-card>
  <mat-card-header style="border-bottom: 1px solid #eee;">
    <h4>{{data ? ('OnlineAlertsModule.editTitle' | translate):('OnlineAlertsModule.title' | translate)}}</h4>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%"><i class="ti-close"></i></button>
  </mat-card-header>

  <mat-card-content>
    <div class="clearfix">
      <div class="col-sm-12">
        <form [formGroup]="profileFormGroup">

          <div class="example-container" cdkFocusInitial>

            <div class="w100">
            <mat-form-field class="w95">
              <input formControlName="profileName" placeholder="{{'OnlineAlertsModule.profileName' | translate}}"
                matInput required allow-all-singlespace [readonly]="data" minlength="5" maxlength="20"
                (change)="!profileFormGroup.controls.profileName.errors?.required && profileFormGroup.controls.profileName.valid ?
                profileFormGroup.get('validateprofileName').setValue(profileFormGroup.value.profileName): profileFormGroup.get('validateprofileName').setValue(null)">
              <mat-error *ngIf="profileFormGroup.controls.profileName.errors?.required">
                {{'OnlineAlertsModule.createprofile.pNameRequired' | translate}}
              </mat-error>
              <mat-error *ngIf="profileFormGroup.controls.profileName.errors?.minlength">
                {{'OnlineAlertsModule.createprofile.profileMinimum' | translate}}</mat-error>
            </mat-form-field>
            <mat-error *ngIf="!data &&
            !profileFormGroup.controls.validateprofileName.errors?.required &&
            !profileFormGroup.controls.profileName.errors?.required && !profileFormGroup.controls.validateprofileName.errors?.invalid
            " style="display: inline"><i class=" ti-check text-success"></i></mat-error>
            <mat-error *ngIf="profileFormGroup.controls.validateprofileName.errors?.invalid"><i class="ti-close
                text-danger">
                {{'OnlineAlertsModule.createprofile.pNameExist' | translate}}
              </i></mat-error>
            </div>

            <mat-form-field class="full-width">
              <mat-select placeholder="{{'OnlineAlertsModule.dbType' | translate}}" formControlName="dbType"
                (selectionChange)="dbtypeChange(profileFormGroup.controls.dbType.value)" required>
                <mat-option *ngFor="let dataType of dataTypeList" [value]="dataType.dbTypeId">{{dataType.dbName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="profileFormGroup.controls.dbType.errors?.required">
                {{'OnlineAlertsModule.createprofile.dbTypeRequired' | translate}}</mat-error>
            </mat-form-field>
            <div *ngIf="connectivityFlag">
              <mat-form-field class="full-width">
                <mat-select placeholder="{{'OnlineAlertsModule.connectivity' | translate}}"
                  formControlName="oraConnectionType" required>
                  <mat-option value="SID">{{'OnlineAlertsModule.createprofile.sid' | translate}}</mat-option>
                  <mat-option value="SERVICENAME">{{'OnlineAlertsModule.createprofile.serviceName' | translate}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="profileFormGroup.controls.oraConnectionType.errors?.required">
                  {{'OnlineAlertsModule.createprofile.connRequired' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field class="full-width">
              <input formControlName="ipAddress" placeholder="{{'OnlineAlertsModule.ipAddress' | translate}}"
              allow-alpha-numeric-nospacewithdot matInput required maxlength="20" autocomplete="off" minlength="6">
              <mat-error *ngIf="profileFormGroup.controls.ipAddress.errors?.required">
                {{'OnlineAlertsModule.createprofile.ipAddressRequired' | translate}}
              </mat-error>
              <mat-error *ngIf="profileFormGroup.controls.ipAddress.errors?.pattern">
                {{'OnlineAlertsModule.createprofile.ipValid' | translate}}</mat-error>
                <mat-error *ngIf="profileFormGroup.controls.ipAddress.errors?.minlength">
                  {{'OnlineAlertsModule.createprofile.ipMinimumRequired' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input formControlName="port" placeholder="{{'OnlineAlertsModule.port' | translate}}" matInput required
                allow-numbers-nospace maxlength="6" autocomplete="off">
              <mat-error *ngIf="profileFormGroup.controls.port.errors?.required">
                {{'OnlineAlertsModule.createprofile.portRequired' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input formControlName="userName" placeholder="{{'OnlineAlertsModule.userName' | translate}}" matInput
                required allow-all-singlespace minlength="2" maxlength="10" autocomplete="off">
              <mat-error *ngIf="profileFormGroup.controls.userName.errors?.required">
                {{'OnlineAlertsModule.createprofile.userNameRequired' | translate}}</mat-error>
              <mat-error *ngIf="profileFormGroup.controls.userName.errors?.minlength">
                {{'OnlineAlertsModule.createprofile.userNameMinimum' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input formControlName="password" placeholder="{{'OnlineAlertsModule.createprofile.pass' | translate}}"
                type="password" matInput required allow-all-nospace minlength="3" maxlength="30" autocomplete="off">
              <mat-error *ngIf="profileFormGroup.controls.password.errors?.required">
                {{'OnlineAlertsModule.createprofile.passRequired' | translate}}</mat-error>
              <mat-error *ngIf="profileFormGroup.controls.password.errors?.minlength">
                {{'OnlineAlertsModule.createprofile.passMinimum' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input formControlName="dbName"
                placeholder="{{connectivityFlag ? ('OnlineAlertsModule.createprofile.serviceId' | translate):('OnlineAlertsModule.dbName' | translate) }}"
                matInput required allow-all-singlespace maxlength="20">
              <mat-error *ngIf="profileFormGroup.controls.dbName.errors?.required">
                {{'OnlineAlertsModule.createprofile.dbNameRequired' | translate}}</mat-error>
              <mat-error *ngIf="profileFormGroup.controls.dbName.errors?.minlength">
                {{'OnlineAlertsModule.createprofile.dbNameMinimum' | translate}}
              </mat-error>
            </mat-form-field>
            <div *ngIf="_roleCode=='SA' || _roleCode=='PA'">
              <mat-form-field class="full-width rightpad-45">
                <mat-select placeholder="{{'OnlineAlertsModule.createprofile.dept' | translate}}" required formControlName="departmentName" [disabled]="data"
                  required>
                  <mat-option *ngFor="let dept of deptList" [value]="dept.deptId">{{dept.deptName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="profileFormGroup.controls.departmentName.errors?.required">
                  {{'OnlineAlertsModule.createprofile.deptRequired' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>


  <mat-card-actions class="toast-top-right">
    <div style="margin-left: 12px;">
      <button mat-raised-button class="submitbutton" type="submit" [disabled]="!savedisable || loading"
      actionClick (debounceClick)="profileCreation()">{{data ? ('ActionNames.update' | translate):('ActionNames.save' | translate)}}</button>
      <button mat-raised-button color="warn" actionClick (debounceClick)="TestProfileConnection()"
        [disabled]="profileFormGroup.invalid ">{{'ActionNames.test' | translate}}</button>
    </div>
  </mat-card-actions>
</mat-card>
<div class="fullloader" *ngIf="loading || loadingT">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>