.details-heading 
{
    font-size: 18px;
    color: #ffffff;
    margin: 3px 0 5px 3px;
}
.details-sub-heading {
    font-size: 12px;
    color: #cccccc;
    margin: 2px 0 0 2px
}
.mat-card-avatar {
    margin-top: 5px
}
.mat-icon-button {
    margin-top: 5px
}
.vtop {
    vertical-align: top
}
.details-content {
    margin-top: 12px
}