<mat-card style="box-shadow: none;">
  <mat-card-header style="border-bottom: 1px solid #eee; padding: 10px">
    <div mat-card-avatar><img src="assets/images/icons/user-light.svg" /></div>
    <mat-card-title>
      <h4 class="details-heading">{{data.firstname + ' '+ data.lastname}}</h4>
      <h3 class="details-sub-heading">{{data.mobileNo}}</h3>
    </mat-card-title>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i class="ti-close"></i></button>
  </mat-card-header>

  <mat-card-content>
    <div class="details-content" cdkFocusInitial>
      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex>
          <div class="bord-all pad-all-sm" style="background: #fafafa">
            <strong>{{'userModule.details.firstname' | translate}}</strong> </div>
          <div class="bord-all pad-all-sm"> {{data.firstname}}</div>
        </div>
        <div fxFlex *ngIf="data?.lastname.length>0">
          <div class="bord-all pad-all-sm" style="background: #fafafa">
            <strong>{{'userModule.details.lastName' | translate}}</strong></div>
          <div class="bord-all pad-all-sm">{{data.lastname}}</div>
        </div>
      </div>

      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex>
          <div class="bord-all pad-all-sm" style="background: #fafafa">
            <strong>{{'userModule.details.email' | translate}}</strong> </div>
          <div class="bord-all pad-all-sm"> {{data.emailId}}</div>
        </div>

        <div fxFlex>
          <div class="bord-all pad-all-sm" style="background: #fafafa">
            <strong>{{'userModule.details.login' | translate}}</strong> </div>
          <div class="bord-all pad-all-sm"> {{data.login}}</div>
        </div>
      </div>


      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex>
          <div class="bord-all pad-all-sm" style="background: #fafafa">
            <strong>{{'userModule.details.role' | translate}}</strong> </div>
          <div class="bord-all pad-all-sm">
            <mat-chip-list>
              <mat-chip *ngFor="let roles of data.roles;">
                {{roles.roleName}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <div fxFlex *ngIf="data?.depts.length>0">
          <div class="bord-all pad-all-sm" style="background: #fafafa">
            <strong>{{'userModule.details.departmentName' | translate}}</strong></div>
          <div class="bord-all pad-all-sm" *ngFor="let depts of data.depts">{{depts.deptName}}</div>
        </div>
        <!-- <div fxFlex>
            <div class="bord-all pad-all-sm" style="background: #fafafa"><strong>{{'userModule.details.departmentName' | translate}}</strong></div>
            <div class="bord-all pad-all-sm">{{ data?.depts.length>0? data.depts[0].deptName? data.depts[0].deptName: N/A : N/A}}</div>
          </div> -->
      </div>
      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex>
          <div class="bord-all pad-all-sm" style="background: #fafafa">
            <strong>{{'userModule.details.mobNo' | translate}}</strong> </div>
          <div class="bord-all pad-all-sm"> {{data.mobileNo}}</div>
        </div>

      </div>
      <div fxLayout="row wrap" class="clearfix pad-top">

        <div fxFlex>
          <div class="bord-all pad-all-sm" style="background: #fafafa">
            <strong>{{'userModule.details.apikey' | translate}}</strong> </div>
          <div class="bord-all pad-all-sm">
            <span class="apiKeyHide" style="background: #fafafa">{{apiKeyHide? data.apiKey : "*********"}}</span>

            <mat-icon matSuffix (click)="apiKeyHide = !apiKeyHide">{{apiKeyHide ? 'visibility_off' : 'visibility'}}
            </mat-icon>

          </div>
        </div>
      </div>
      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex>
          <div class="bord-all pad-all-sm" style="background: #fafafa">
            <strong>{{'userModule.details.creditName' | translate}}</strong></div>
          <div class="bord-all pad-all-sm"> {{data.creditType.creditName}}</div>
        </div>
      </div>


      <!-- <div fxLayout="row wrap" class="clearfix pad-top">
              <div fxFlex>
                  <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Created By</strong> </div> 
                  <div class="bord-all pad-all-sm"> {{createdby}}</div>
              </div>
  
              <div fxFlex>
                <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Time Zone</strong> </div> 
                <div class="bord-all pad-all-sm"> UAE</div>
            </div>
          </div> -->

      <!-- <div fxLayout="row wrap" class="clearfix pad-top">
          <div fxFlex>
            <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Account</strong> </div> 
            <div class="bord-all pad-all-sm"> Postpaid</div>
        </div>  
        </div> -->
    </div>
    <!-- 
      <div fxLayout="row wrap" class="clearfix pad-top">
              <div fxFlex>
                      <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Created By</strong> </div> 
                      <div class="bord-all pad-all-sm" style="background: #fafafa"><strong>Modified By</strong></div>
                      <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Created Date</strong> </div> 
                      <div class="bord-all pad-all-sm" style="background: #fafafa"><strong>Modified Date</strong></div>
                  </div>
      
               
        </div> -->
  </mat-card-content>
</mat-card>