<mat-card>
  <form [formGroup]="sendersForm">
    <mat-card-header style="border-bottom: 1px solid #eee;">
      <div fxLayout="row wrap">
        <h4>
          {{data ? ('SenderModule.createsenders.editsender' | translate):('SenderModule.createsenders.Sender' | translate)}}
        </h4>
      </div>
      <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
          class="ti-close"></i></button>
    </mat-card-header>

    <mat-card-content>
      <div class="clearfix">
        <div class="col-sm-12">
          <div class="example-container">
            <div class="full-width">
              <mat-form-field style="width: 95%;float: left">
                <input autocomplete="off" matInput allow-alpha-numeric-special-singlespace
                  placeholder="{{'SenderModule.createsenders.sendername'|translate}}" formControlName="senderName"
                  (change)="!sendersForm.controls.senderName.errors?.required && sendersForm.controls.senderName.valid ?
               sendersForm.get('validateSenderName').setValue(sendersForm.value.senderName): sendersForm.get('validateSenderName').setValue(null)"
                  cdkFocusInitial maxlength="20" minlength="3" required>
                <mat-error *ngIf="sendersForm.controls.senderName.errors?.required">
                  {{'SenderModule.createsenders.errorMessageName'|translate}}
                </mat-error>
                <mat-error *ngIf="sendersForm.controls.senderName.errors?.minlength">
                  {{'SenderModule.createsenders.NamelengthError'|translate}}
                </mat-error>
              </mat-form-field>
              <mat-error *ngIf="!sendersForm.controls.validateSenderName.errors?.required &&
                !sendersForm.controls.senderName.errors?.required &&
                !sendersForm.controls.validateSenderName.errors?.invalid" style="width: 5%; float:left; margin-top: 12px">
                <i class=" ti-check text-success"></i></mat-error>
            </div>
            <mat-error *ngIf="sendersForm.controls.validateSenderName.errors?.invalid"><i class="ti-close text-danger">
                <small style="font-family: Arial, Helvetica, sans-serif;">{{'SenderModule.createsenders.NameAllreadyExist' | translate}}</small>
              </i></mat-error>

              <section>
                <mat-checkbox color="primary" formControlName="mt" (change)="callMTChange($event)">{{'SenderModule.createsenders.MT'|translate}}</mat-checkbox>&nbsp;&nbsp;
                <mat-checkbox color="primary" formControlName="mo" (change)="callMOChange($event)">{{'SenderModule.createsenders.MO'|translate}}</mat-checkbox>
                <mat-error *ngIf="!isMTSelected && !isMOSelected">{{'SenderModule.createsenders.checkbox' | translate}}</mat-error>
              </section>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div style="margin-left: 12px">
        <button mat-raised-button class="submitbutton" type="submit" [disabled]="!sendersForm.valid ||  (!isMTSelected && !isMOSelected) || loading"
        actionClick (debounceClick)="createSender()">{{data ? ('ActionNames.update' | translate):('ActionNames.save' | translate)}}</button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>

