<div fxLayout="row wrap">
  <div fxFlex="100" class="example-container ">
    <!-- {{displaybordform.value | json}}[disabled]="editData" -->
    <form [formGroup]="displaybordform">
      <div>
        <mat-form-field style="width: 100%;">
          <mat-select  placeholder="{{ 'DevicesModule.level' | translate}}" cdkFocusInitial formControlName="displayLevel"
            (selectionChange)="changeLevel($event.value,true)" required>
            <mat-option *ngFor="let levelDetails of levelInfo" [value]="levelDetails.floorId">
              {{levelDetails.floorName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="displaybordform.controls.displayLevel.errors?.required">
            {{ 'ActionNames.errorSelectMessage' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width: 96%;">
          <input matInput allow-alpha-numeric-singlespace autofocus
            placeholder="{{ 'DevicesModule.displayboard.name' | translate}}"
            formControlName="displayName" required (change)="displaybordform?.controls.displayName.valid?dispalyNameExist():false" maxlength="30" minlength="4"
            autocomplete="off">
          <mat-error *ngIf="displaybordform.controls.displayName.errors?.required">
            {{ 'ActionNames.errorMessage' | translate }}
             </mat-error>
            <mat-error *ngIf="displaybordform.get('displayName').hasError('minlength')"> {{'ActionNames.minLengthError4' | translate}}</mat-error>
        </mat-form-field>
        <mat-error *ngIf="displayNameFlag && displaybordform.value.displayName.trim()?.length>3"
          style="display: inline;"><i class=" ti-check text-success"></i></mat-error>
        <mat-error *ngIf="displayNameDisableFlag && displaybordform.value.displayName.trim()?.length>3"><i class="ti-close
            text-danger">
            {{ 'DevicesModule.displayboard.displayExist' | translate}}
          </i></mat-error>
      </div>


      <mat-form-field style="width: 100%;">
        <mat-select placeholder="{{ 'DevicesModule.displayboard.type' | translate}}" formControlName="displayType"
          (selectionChange)="displayType()"  required>
          <mat-option *ngFor="let displaytype of displaylist" [value]="displaytype.id">
            {{displaytype.displaybrdtype}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="displaybordform.controls.displayType.errors?.required">
          {{ 'ActionNames.errorSelectMessage' | translate }}
           </mat-error>
      </mat-form-field>
      <div *ngIf="displaybordform.value.displayType == 'W'">
        <mat-form-field style="width: 100%;">
          <mat-select multiple #departements placeholder="{{ 'DevicesModule.displayboard.departmnts' | translate}}"
            formControlName="departmentCollection" (selectionChange)="changeDepartment($event.value,true)"  required>
            <mat-option #departement *ngFor="let dept of totalDepartements1" [value]="dept?.deptId">{{dept?.deptName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="displaybordform.controls.departmentCollection.errors?.required && totalDepartements1?.length
            !=0">
            {{ 'ActionNames.errorMessage' | translate }}
             </mat-error>
        </mat-form-field>
        <mat-error *ngIf="totalDepartements1?.length == 0">
          {{ 'DevicesModule.displayboard.departmentNotAvailable' | translate}}
        </mat-error>

        <mat-form-field style="width: 100%;">
          <mat-select multiple #services placeholder="{{ 'DevicesModule.displayboard.service' | translate}}"
            formControlName="serviceCollection">
            <mat-option #service *ngFor="let serv of serviceList" [value]="serv?.serviceId">{{serv?.serviceEngName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="displaybordform.controls.serviceCollection.errors?.required && serviceList?.length != 0">
            {{ 'ActionNames.errorMessage' | translate }}</mat-error>
          <mat-error *ngIf="serviceList?.length == 0">{{ 'DevicesModule.displayboard.serviceNotAvailable' | translate}}
          </mat-error>
        </mat-form-field>

      </div>
    </form>
  </div>
</div>
<div class="pad-ver">
  <button mat-raised-button color="primary" [disabled]="!displaybordform.valid || !displayNameFlag"
    (click)="createDisplayboard()">
    {{'ActionNames.submit' | translate}}</button>
</div>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>
