<div>
    <div class="container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', primaryColour: '#3498DB', secondaryColour: '#FF0000', tertiaryColour: '#ffffff' }"></ngx-loading>
    </div>

    <div class="text-right">
        <button class="btn btn-primary px-4" type="submit" (click)="doAddAction()" data-toggle="modal">
            Add Role
        </button>
    </div>

    <!-- <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
        [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)'> -->

    <ngx-datatable #table class="material"  [rows]="rows"  [columnMode]="'force'"  [headerHeight]="50"  [footerHeight]="50"  [rowHeight]="40"
        [externalPaging]="true"  [count]="page.totalElements"  [offset]="page.pageNumber"  [limit]="page.size"  (page)='setPage($event)'>

        <ngx-datatable-column name="roleId" [width]="70" [resizeable]="false"  [draggable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">Role Id</span>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="roleName" [width]="600" [resizeable]="false"  [draggable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">Role Name</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="createdBy" [width]="70" [resizeable]="false"  [draggable]="false">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">Created By</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
        </ng-template>
    </ngx-datatable-column> -->

        <!-- <ngx-datatable-column name="updatedBy" [width]="70" [resizeable]="false"  [draggable]="false">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()">Updated By</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
        </ng-template>
    </ngx-datatable-column> -->

        <ngx-datatable-column name="Action" prop="" [width]="100" [resizeable]="false"  [draggable]="false">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button class="btn-sm btn-primary" type="button" data-toggle="modal" (click)="doEditAction(value)">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn-sm btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="addPopoverMessage"
                    [confirmText]="confirmText" [cancelText]="cancelText" [placement]="placement" (confirm)="confirmClicked = true; doDeleteAction(value)"
                    (cancel)="cancelClicked = true" confirmButtonType="green" cancelButtonType="default" (click)="confirmClicked = false; cancelClicked = false; removeClick(row)"
                    [appendToBody]="true">
                    <i class="fa fa-trash"></i>
                </button>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</div>

<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: 'static', keyboard: false}">
    <div class="modal-dialog-ls modal-primary" style="width:660px" role="document">
        <!-- <div class="modal-dialog modal-primary" role="document"> -->
        <div class="modal-content">
            <div class="modal-header" *ngIf="rolestatus == 2">
                <h4 class="modal-title">Edit Role</h4>
                <!-- <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                </button> -->
            </div>
            <div class="modal-header" *ngIf="rolestatus == 1">
                <h4 class="modal-title">Add Role</h4>
                <!-- <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                    </button> -->
            </div>
            <div class="modal-body">
                <form class="form-horizontal" #f="ngForm">
                    <div class="form-group" *ngIf="rolestatus == 2">
                        <!-- <div class="col-sm-12"> -->
                        <!-- <label for="username">Role Id</label> -->
                        <input type="hidden" readonly class="form-control" name="roleId" id="roleId" [(ngModel)]="roleId" placeholder="Role Id" required>
                        <!-- </div> -->
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="username">Role Name</label>
                            <input type="text" class="form-control" pattern="[a-zA-Z0-9]+" #roleName="ngModel" name="roleName" id="roleName" [(ngModel)]="model.roleName"
                                placeholder="Role Name" (blur)="onSearchRole()" required>
                            <div [hidden]="roleName.valid || roleName.pristine" class="alert alert-danger">
                                <div [hidden]="!roleName.hasError('required')">Role Name is required</div>
                                <div [hidden]="!roleName.hasError('pattern')">Only alphanumerics allowed</div>
                            </div>
                            <div *ngIf="roleExist" class="alert alert-danger">
                                <div>Role Name already Exist</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="modal-footer" *ngIf="rolestatus ===1">
                                <button type="button" [disabled]="!f.form.valid || roleExist" class="btn btn-primary" (click)="doSaveAction(f)">Save</button>
                                <button type="reset" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
                            </div>
                            <div class="modal-footer" *ngIf="rolestatus === 2">
                                <button type="button" [disabled]="!f.form.valid || roleExist"  class="btn btn-primary" (click)="doUpdateAction(f)">Update</button>
                                <button type="reset" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>