<mat-card>

  <form [formGroup]="priorityForm">
    <mat-card-header style="border-bottom: 1px solid #eee;">
      <h4>{{ 'PriorityModule.prioritizationAction.title' | translate}}</h4>
      <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
          class="ti-close"></i></button>
    </mat-card-header>
    <mat-card-content>
      <div class="clearfix">
        <div class="col-sm-12">
          <div class="example-container">
            <mat-form-field style="width:100%">
              <textarea matInput cdkFocusInitial placeholder=" {{ 'PriorityModule.prioritizationmanage.remarks' | translate}}" matTextareaAutosize matAutosizeMinRows="5"
                 matAutosizeMaxRows="5" formControlName="priorityDesc" (keyup.enter)="onSave()" minlength="5"
                maxLength="200" required></textarea>
              <mat-error *ngIf="priorityForm.controls.priorityDesc.errors?.minlength">{{ 'PriorityModule.prioritizationAction.errorlength' | translate}}
              </mat-error>
              <mat-error *ngIf="priorityForm.controls.priorityDesc.errors?.required">{{ 'PriorityModule.prioritizationAction.errormsg' | translate}}</mat-error>
              <mat-hint>{{ 'PriorityModule.prioritizationAction.remarkshint' | translate}}</mat-hint>
            </mat-form-field>

            <mat-dialog-actions>
              <button mat-raised-button class="submitbutton" type="submit" actionClick (debounceClick)="onSave()"
                [disabled]="priorityForm.invalid || loading">{{'ActionNames.update'| translate}}</button>

            </mat-dialog-actions>
          </div>
        </div>
      </div>
    </mat-card-content>
  </form>
</mat-card>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>
