<h2 class="pageheading">{{ 'DashBoardModule.dashboard.title' | translate}}</h2>
<div class="example-container mat-elevation-z8 no-shadow bord-all" *ngIf="dashBoard?.length>0">
  <table mat-table [dataSource]="dataSource" class="full-width listtable">

    <ng-container matColumnDef="PriorityName">
      <th mat-header-cell *matHeaderCellDef>{{ 'DashBoardModule.dashboard.priority' | translate}}</th>
      <td mat-cell *matCellDef="let row"> {{ 'DashBoardModule.dashboard.'+row.PriorityName | translate }}</td>
    </ng-container>
    <ng-container matColumnDef="Incoming">
      <th mat-header-cell *matHeaderCellDef>{{ 'DashBoardModule.dashboard.messagesReceived' | translate}}</th>
      <td mat-cell *matCellDef="let row">{{ row.Incoming }}</td>
    </ng-container>
    <ng-container matColumnDef="Pending">
      <th mat-header-cell *matHeaderCellDef>{{ 'DashBoardModule.dashboard.messagesPending' | translate}}</th>
      <td mat-cell *matCellDef="let row">{{ row.Pending }}</td>
    </ng-container>
    <ng-container matColumnDef="Outgoing">
      <th mat-header-cell *matHeaderCellDef>{{ 'DashBoardModule.dashboard.messagesSent' | translate}}</th>
      <td mat-cell *matCellDef="let row">{{ row.Outgoing }}</td>
    </ng-container>
    <ng-container matColumnDef="Delivered">
      <th mat-header-cell *matHeaderCellDef>{{ 'DashBoardModule.dashboard.messagesDelivered' | translate}}</th>
      <td mat-cell *matCellDef="let row">{{ row.Delivered }}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<div class="example-container mat-elevation-z8 no-shadow" *ngIf="dataSource ?dashBoard?.length == 0: false">
  <span>{{'DashBoardModule.dashboard.noDataFound' | translate}}</span>
</div>