<form class="example-form" [formGroup]="example_form">
<p>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address</mat-label>
      <textarea matInput formControlName="add" required></textarea>
      <mat-error *ngIf="example_form.controls.add.hasError('required')">
        Please enter Address
      </mat-error>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0" ><tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>city</mat-label>
      <input matInput formControlName="city" required>
      <mat-error *ngIf="example_form.controls.city.hasError('required')">
        Please enter City
      </mat-error>
    </mat-form-field></td>

    <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>State</mat-label>
      <input matInput formControlName="state" required>
      <mat-error *ngIf="example_form.controls.state.hasError('required')">
        Please enter State
      </mat-error>
    </mat-form-field></td></tr><tr>

    <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>postalCode</mat-label>
      <input matInput type="number" #postalCode maxlength="5" formControlName="postal" required>
      <mat-error *ngIf="example_form.controls.postal.hasError('required')">
        Please enter PostalCode
      </mat-error>
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field></td>
  
    <td> <mat-form-field class="example-full-width" appearance="outline">
        <span matPrefix>+1 &nbsp;</span>
        <mat-label>Telephone</mat-label>
        <input type="tel" matInput type="number" formControlName="tno">
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="example_form.controls.tno.hasError('required')">
          Please enter TelePhone Number
        </mat-error>
      </mat-form-field></td>
  </tr>
</table>
<div>
    <mat-form-field appearance="outline">
        <mat-label>Security Questions</mat-label>
        <mat-select formControlName="Options" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let question of questions" [value]="question">
            {{question.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="example_form.controls.Options.hasError('required')">
          Please Select Security Question
        </mat-error>
      </mat-form-field>
</div>
<div class="example-button-row">
    <button mat-raised-button color="primary" (click)="Success()" [disabled]="!example_form.valid" >Submit</button>
</div>
</form>
