.example-container .mat-form-field {
    width: 100%;
    }
.usercard{position: relative;}
.usercard .Umore-btn{ position: absolute; top: -3px; right: 1px; color: #848181;} 
.usercard .mat-card-content{padding: 0 !important;}
.usercard{ background: #ffffff; box-shadow:none !important; -webkit-box-shadow:none !important; padding: 14px;}
.usercard .UcardLeft{padding: 6px; padding-right: 0;}
.usercard .UcardRight{position: relative;}
.usercard .card-top{ margin-bottom: 20px;}
.usercard .card-avatar{width: 50px; height: 50px; position: relative;  border-radius: 50%; 
   background: #ccc; }
.userdetails .card-avatar{ position: relative; }
.mat-paginator{background: transparent; }
.mat-menu-item i { margin-right: 6px}
