<div fxLayout="row wrap">
  
    <div fxFlex="70">
        <button mat-raised-button color="primary" (click)="createBuilding()" style="margin-left: 5px; margin-bottom: 8px;">
            <i class="ti-plus"></i> &nbsp; Add Building</button>
    </div>
  
    <div fxFlex="30" class="text-right pad-rgt">
      <mat-form-field>
            <input matInput [(ngModel)]="searchdata" placeholder="Search"> 
      </mat-form-field>
    </div>
    
  </div>
  
  <div fxLayout="row wrap" *ngIf="!listflag">
    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" fxFlex="100" *ngFor="let building of filterBuildings">
      <mat-card fxFlex class="usercard">
        <mat-card-content>
          <div fxLayout="row wrap">
            <div fxFlex="90" class="UcardLeft">
              <div class="pad-all2 clearfix" style="padding-bottom: 8px !important;">
                <div fxLayout="row wrap" class="clearfix card-top">
                    <div class="inner-lft">
                        <div class="card-avatar">
                          <ngx-avatar size="50" name="{{building.buildingName}}"></ngx-avatar>
                        </div>
                      </div>
                  <div fxFlex="77">
                    <div class="card-details pre-content">
                      <span>{{building.buildingName}}</span>
                    </div>
                  </div>
                </div>
              </div>        
            </div>
            
              <div class="Umore-btn">
                <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
                <mat-menu #UcardEdit="matMenu">
                  <button mat-menu-item (click)="editBuilding(building)"><i class="ti-pencil-alt"></i> Edit</button>
                </mat-menu>
              </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div *ngIf="buildingsList.length> pageSize" style="width: 100%">
      <mat-paginator [length]="buildingsList.length" [pageSize]="pageSize" [pageIndex]="initPage" showFirstLastButtons (page)="getData($event)">
      </mat-paginator>
    </div>
  </div>