
<perfect-scrollbar style="height:100vh; background: #1b1b1b;">
  
  <div fxLayout="row wrap" class="Dheader2">
    <div fxFlex.gt-xs="30" fxFlex="100">
      <img src="assets/images/qsmart-logo.svg" width="45%" />
    </div>
    <div fxFlex.gt-xs="70" fxFlex="100" class="top-right">
      <div class="clearfix">
        <div class="time col-sm-9">
          <strong>{{currentDateTime | date:'h:mm a'}}</strong>
          <small> {{currentDateTime | date:'fullDate' :null:'en-US'}}</small>
          <!-- <button (click)="playAudio()">play</button> -->
        </div>
        <div class="col-sm-3"><img src="assets/images/kfsh-logo.png" width="100%"></div>
  
      </div>
    </div>
  </div>
  
  
  <div fxLayout="row wrap" class="bodysec">
  
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="text-center"
      *ngFor="let data of WaitingListFinal" style="padding: 2px;">
      <mat-card  class="no-shadow" style="background: transparent">
        <div class="titlestrp ">
          <div class="title ">
            <div class="title-innr">
              {{arbicFlag ? data?.serviceArbName : data?.serviceEngName}}
            </div>
          </div>
        </div>
        <mat-card-content>
          <div *ngFor="let item of data?.tokens | slice:0:4;index as i">
              <div class="cnt " *ngIf="item?.token !=''" [ngClass]="tokenThemes[data?.serviceColor] == null ? tokenThemes['0'] : tokenThemes[data?.serviceColor]">
                  <div class="cnt-inn">
                    <h1>{{item?.token}}</h1>
                    <!-- <small *ngIf="item?.status == 'serving'">Room No:{{item?.roomNumber}}</small>   -->
                    <small *ngIf="arbicFlag" >{{item?.roomNumber}} : {{item?.arbRoomName}}</small> 
                    <small *ngIf="!arbicFlag" >{{item?.engRoomName}} : {{item?.roomNumber}}</small> 
                  </div>
                </div>
            <!-- <div class="cnt " *ngIf="item?.status === 'serving'" style="background: red"> *ngIf="item?.status == 'serving'"
              <div class="cnt-inn">
                <h1>{{item?.token}}</h1>
                <small *ngIf="item?.status == 'serving'">{{arbicFlag ? item?.arbRoomName : item?.engRoomName}}:{{item?.roomNumber}}</small> 
              </div>
            </div> -->
       
           
          </div>
          <!-- <div *ngFor="let number of [0,1,2,3,4] | slice:0:(5-data?.tokens.length);index as i">
              <div class="cnt nrmltkn">
                <div class="cnt-inn">
                  
                </div>
              </div>
            </div> -->
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  
  </perfect-scrollbar>
  <!-- <div class="fullloader" *ngIf="alertloading">
    <div class="fullloaderInner">
      <h1>{{tokendata.token}}</h1>
      <h1>{{tokendata.roomNumber}}</h1>
      <h1>{{alertloading}}</h1>
    </div>
  </div> -->