<mat-card class="popCard no-shadow" style="position: relative;">

  <mat-card-header class="wrap-word">
    <h4 class="details-heading clearfix w80">{{doctor?.drName}}</h4>
    <button mat-icon-button (click)="close()">
      <i class="ti-close"></i>
    </button>
  </mat-card-header>
  <mat-card-content class="pad-all2 wrap-word">

    <div class="table-responsive" style="height:45vh; overflow: auto;">
  <table mat-table #table [dataSource]="dataSource" cdkFocusInitial style="box-shadow: none; margin:0;" class="mar-no pad-no table wrap-word">


      <ng-container matColumnDef="tokenNo">
        <th mat-header-cell *matHeaderCellDef class="pad-hor tbl-c">{{'DoctorServingModule.token' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="pad-hor tbl-c"> {{element.tokenNo}} / {{element.patientName}} </td>
      </ng-container>
      <ng-container matColumnDef="mrnNo">
        <th mat-header-cell *matHeaderCellDef class="pad-hor tbl-c">{{'DoctorServingModule.mrnNo' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="pad-hor tbl-c"> {{element.mrnNo}} </td>
      </ng-container>
      <ng-container matColumnDef="apptDate">
        <th mat-header-cell *matHeaderCellDef class="pad-hor tbl-c">{{'DoctorServingModule.apptDate' | translate}}</th>
        <td mat-cell *matCellDef="let element" class="pad-hor tbl-c"> {{element.apptDate}} / {{element.serviceEngName}} </td>
      </ng-container>

      <ng-container matColumnDef="waitingTime">
        <th mat-header-cell *matHeaderCellDef class="pad-hor tbl-c">{{'DoctorServingModule.waiting' | translate}}</th>
        <td mat-cell *matCellDef="let element" class="pad-hor tbl-c">{{element.checkinTime}} / {{element.waitingTime  | dformatTime}} </td>
      </ng-container>

      <ng-container matColumnDef="roomId">
        <th mat-header-cell *matHeaderCellDef class="pad-hor tbl-c"> {{'DoctorServingModule.room' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="pad-hor tbl-c">
          <mat-select placeholder="{{'DoctorServingModule.selectRoom' | translate}}" [(ngModel)]="element.roomId" style="width: 80%;">
            <mat-option *ngFor="let room of rooms" [value]=room.roomId>{{room?.roomNameEn}}:{{room?.roomNumber}} </mat-option>
          </mat-select>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="pad-hor tbl-c"> {{'DoctorServingModule.actions' | translate}} </th>
        <td mat-cell *matCellDef="let row" class="pad-hor tbl-c">
          <button class="btn btn-success"[disabled]="row.roomId == 0" (click)="serveToken(row)">{{'DoctorServingModule.serve' | translate}}</button> &nbsp;
          <button class="btn btn-danger" (click)="endToken(row)">{{'DoctorServingModule.end' | translate}}</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="vitalStatus">
        <th mat-header-cell *matHeaderCellDef class="pad-hor tbl-e">{{'DoctorServingModule.vital' | translate}}</th>
        <td mat-cell *matCellDef="let element" class="pad-hor tbl-e" ><i class="ti-check" *ngIf="element.vitalStatus!=0"></i></td>
      </ng-container>
      <ng-container matColumnDef="journey">
        <th mat-header-cell *matHeaderCellDef class="pad-hor tbl-d">{{'DoctorServingModule.journey' | translate}}</th>
        <td mat-cell *matCellDef="let element" class="pad-hor tbl-d"><img src="assets/images/journey-icon.svg" width="30px" style="cursor: pointer;" (click)="servejourney(element)"/></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"  style="padding-left: 8px;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" matTooltip="{{row?.tokenStatus == 3 ? 'Last no showed at '+row?.engRoomName+' : '+row?.roomNo +' , '+ row?.noshowTime:''}}"
      [matTooltipPosition]="'above'" [ngClass]="{'activerow': 0 == row?.tokenStatus ,'rowyellow': 3 == row?.tokenStatus ,'rowblue': 4 == row?.tokenStatus}"></tr>
    </table>
  </div>

  </mat-card-content>

  <div class="fullloader3" *ngIf="loading">
    <div class="fullloaderInner">
      <img src="assets/images/loading.gif">
    </div>
  </div>

</mat-card>
