<mat-card style="box-shadow: none;">
  <mat-card-header style="border-bottom: 1px solid #eee;">
    <h4>{{'emailTemplateModule.details' | translate}}</h4>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i class="ti-close"></i></button>
  </mat-card-header>

  <mat-card-content>
    <div class="details-content">
      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'emailTemplateModule.templateName' | translate}}</strong> </div>
          <div class="pad-all-sm"> {{emailTemplateDetails?.templateName}}</div>
        </div>

        <!-- <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'emailTemplateModule.message' | translate}}</strong> </div>
          <div class="pad-all-sm"> {{emailTemplateDetails?.emailMessage}}</div>
        </div> -->
      </div>

      <div fxLayout="row wrap" class="clearfix pad-top">
        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'emailTemplateModule.emailFormat' | translate}}</strong> </div>
          <div class="pad-all-sm"> {{emailTemplateDetails?.emailFormat==1 ?('emailTemplateModule.html' | translate):('emailTemplateModule.plain' | translate)}}</div>
        </div>

        <div fxFlex class="bord-all">
          <div class="pad-all-sm dtable-header-top"> <strong>{{'ActionNames.status' | translate}}</strong> </div>
          <div class="pad-all-sm"> {{emailTemplateDetails?.status== 1 ?('ActionNames.active'| translate) : ('ActionNames.inActive'| translate)}}</div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>