.example-card {
    max-width: 300px;
    background-color:skyblue;
    float: left;
    margin: 10px
  }
 b{
   color: blue;
 }
 button{
   margin-right: 50px;
 }
 .edit{
   float: right;;
 }
 .delete{
   float:right;
 }
 
  