<div fxLayout="row wrap">

  <div fxFlex="60">
    <button mat-raised-button class="addbutton" [disabled]="_deptStatus==0"
      title="{{_deptStatus==0 ? 'User create Action is denied':''}}" (click)="addUser()">
      <img src="assets/images/add-user-button.svg" width="18" />&nbsp; {{'userModule.addTitle' | translate}}</button>
  </div>

  <div fxFlex="40" class="search-align pad-rgt">
    <div fxFlex="92">
      <a [matMenuTriggerFor]="SearchGrid"><img src="assets/images/filter-icon.png" width="12" /></a> &nbsp;
      <mat-form-field>
        <mat-menu #SearchGrid="matMenu">
          <button mat-menu-item (click)="searchFilter('1')"><i class="ti-check"></i>
            {{'ActionNames.active' | translate}}</button>
          <button mat-menu-item (click)="searchFilter('0')"><i class="ti-close"></i>
            {{'ActionNames.inActive' | translate}}</button>
          <button mat-menu-item (click)="searchFilter('')"><i class="ti-reload"></i>
            {{'ActionNames.reset' | translate}}</button>
        </mat-menu>
        <input matInput [(ngModel)]="searchdata" (keyup)="applyFilterDataSouce($event.target.value)" autocomplete="off"
          placeholder="{{'ActionNames.search' | translate}}">
      </mat-form-field>
    </div>
    <div fxFlex="8">
      <div style="margin-top: 18px; font-size: 16px;">
        <i *ngIf="listflag" class="ti-layout-grid2-alt  text-muted" matTooltip="{{'ActionNames.gridView' | translate}}"
          (click)="loadGrid()" style="cursor: pointer; "></i>
        <i *ngIf="!listflag" class="ti-menu text-muted" matTooltip="{{'ActionNames.listView' | translate}}"
          (click)="loadList()" style="cursor: pointer;"></i>
      </div>
    </div>
  </div>

</div>
<div *ngIf="!listflag">
  <div fxLayout="row wrap"
    *ngIf="searchdata=='' ? true :(filterUsers | Userfilter : totalUsers : searchdata) as result">
    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" fxFlex="100"
      *ngFor="let user of filterUsers | Userfilter: totalUsers: searchdata">
      <mat-card fxFlex class="usercard no-shadow mat-elevation-z0">
        <mat-card-content>
          <div fxLayout="row wrap">
            <div fxFlex="98" class="UcardLeft">
              <div class="pad-all2 clearfix">
                <div fxLayout="row wrap" class="clearfix card-top">
                  <div>
                    <div class="card-avatar" *ngIf="user.isactive == '1'">
                      <div class="image-inner">
                        <img src="assets/images/customer_icon.svg" />
                        <span class="status-g active"></span>
                      </div>
                    </div>
                    <div class="card-avatar" *ngIf="user.isactive != '1'">
                      <div class="image-inner">
                        <img src="assets/images/customer_icon.svg" />
                        <span class="status-g inactive"></span>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="77">
                    <div class="card-details">
                      <span> {{user.firstname}} {{user.lastname}} &nbsp;</span>
                      <!-- <a class="ti-info-alt text-info" (click)="editDetailsUser(user)" matTooltip="User Info"></a> -->
                      <!-- <a class="ti-star prepaid-text" matTooltip="{{user.creditType?.creditName}} User"></a> -->
                      <small><strong> {{'userModule.login' | translate}}: </strong>{{user.login}}</small>
                      <small *ngIf="user?.depts.length>0"><strong>{{'userModule.manage.deptName' | translate}}:
                        </strong><span *ngFor="let user of user.depts">{{user.deptName ? user.deptName : 'N/A'}}</span>
                      </small>
                      <small><strong>{{'userModule.manage.creditType' | translate}}:
                        </strong>{{user.creditType?.creditName}}</small>
                      <small><strong>{{'userModule.manage.role' | translate}}: </strong><span
                          *ngFor="let user of user.roles" class="rol">
                          {{user.roleName}}<span *ngIf="user.roleName!=''"></span>
                        </span></small>
                      <!-- <small style="color:green;"
                        *ngIf="user.isactive=='-1'"><strong>{{'ActionNames.pending' | translate}}</strong></small>
                      <small style="color:red;"
                        *ngIf="user.isactive=='-2'"><strong>{{'ActionNames.rejected' | translate}}</strong></small> -->

                      <small style="color:green;" *ngIf="user?.isactive=='-1'"><strong>
                          {{'ActionNames.status'| translate}}:</strong><strong>{{'ActionNames.pending'| translate}}
                        </strong></small>
                      <small style="color:red;" *ngIf="user?.isactive=='-2'"><strong>
                          {{'ActionNames.status'| translate}}:</strong><strong>{{'ActionNames.rejected'| translate}}</strong></small>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="Umore-btn" *ngIf="user.isactive == '-2'">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <button mat-menu-item (click)="editDetailsUser(user)"><i class="ti-info-alt"></i>
                  {{'ActionNames.details' | translate}}</button>
                <button mat-menu-item (click)="editUser(user)"><i class="ti-pencil-alt"></i>
                  {{'ActionNames.edit' | translate}}</button>
              </mat-menu>
            </div>

            <div class="Umore-btn" *ngIf="(user.isactive != '-1' && user.isactive != '-2')">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <button mat-menu-item (click)="editDetailsUser(user)"><i class="ti-info-alt"></i>
                  {{'ActionNames.details' | translate}}</button>

                <div *ngIf="user.isactive=='0'">
                  <button mat-menu-item (click)="activeUser(user)"><i class="ti-check"></i>
                    {{'ActionNames.active' | translate}}</button>
                </div>

                <div *ngIf="user.isactive=='1'">
                  <button mat-menu-item [disabled]="_deptStatus==0"
                    title="{{_deptStatus==0 ? 'User Edit Action is denied':''}}" (click)="editUser(user)"><i
                      class="ti-pencil-alt"></i> {{'ActionNames.edit' | translate}}</button>
                  <button mat-menu-item (click)="deleteUser(user)"><i class="ti-trash"></i>
                    {{'ActionNames.delete' | translate}}</button>
                  <button mat-menu-item (click)="inactiveUser(user)"><i class="ti-close"></i>
                    {{'ActionNames.inActive' | translate}}</button>
                  <button mat-menu-item (click)="resetPwdDialog(user)"><i
                      class="ti-key"></i>{{'userModule.manage.resetPass' | translate}}</button>
                </div>

              </mat-menu>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div  *ngIf="totalUsers?.length> pageSize && searchdata==''" style="width: 100%">
      <mat-paginator [length]="totalUsers.length" [pageSize]="pageSize" [pageIndex]="initPage" showFirstLastButtons
        (page)="getData($event)">
      </mat-paginator>
    </div>
    <div *ngIf="(result.length==0 || totalUsers?.length==0)&& !loading">
      {{totalUsers?.length==0 ?('ActionNames.noDataFound' | translate): ('ActionNames.noFilterDataFound' | translate) }}
    </div>
  </div>
</div>
<div *ngIf="listflag && (searchdata=='' ? totalUsers?.length>0 : dataSource.filteredData?.length>0)"
  class="example-container mat-elevation-z8 no-shadow bord-all">

  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()" class="listtable">

    <!-- Position Column -->
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'userModule.name' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-login">{{'userModule.login' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-login"> {{element.login}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="departmentName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-deptName">
        {{'userModule.manage.deptName' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-deptName">
        <table>
          <tr *ngFor="let dept of element.depts">
            <td>{{dept.deptName}}</td>
          </tr>
          </table>
      </mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="departmentName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-deptName">
        {{'userModule.manage.deptName' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-deptName">
        {{ element?.depts.length>0? element.depts[0].deptName? element.depts[0].deptName: "N/A" : "N/A"}}
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="roleName">
      <mat-header-cell *matHeaderCellDef class="mat-column-rolename">{{'userModule.roleName' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-rolename">
        <table>
          <tr *ngFor="let role of element.roles">
            <td>{{role.roleName}}</td>
          </tr>
        </table>
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="checker">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'userModule.checker' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.checker  == 0 ? 'Yes':'No'}}
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="mat-column-actions">
        {{'ActionNames.actions' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-actions">
        <span *ngIf="element.isactive == '-2'">
          <i class="ti-info-alt link" matTooltip="{{'ActionNames.details' | translate}}"
            (click)="editDetailsUser(element)"></i>
          <i class="ti-pencil-alt link" matTooltip="{{'ActionNames.edit' | translate}}" (click)="editUser(element)"></i>
        </span>
        <span *ngIf="(element.isactive != '-1' && element.isactive != '-2')">
          <i class="ti-info-alt link" matTooltip="{{'ActionNames.details' | translate}}"
            (click)="editDetailsUser(element)"></i>

          <span *ngIf="element.isactive=='0'">
            <i class="ti-check link" matTooltip="{{'ActionNames.active' | translate}}"
              (click)="activeUser(element)"></i>
          </span>
          <span *ngIf="element.isactive=='1'">
            <i class="ti-pencil-alt link" matTooltip="{{'ActionNames.edit' | translate}}"
              (click)="editUser(element)"></i>
            <i class="ti-close link" matTooltip="{{'ActionNames.inActive' | translate}}"
              (click)="inactiveUser(element)"></i>
            <i class="ti-trash link" matTooltip="{{'ActionNames.delete' | translate}}"
              (click)="deleteUser(element)"></i>
            <i class="ti-key link" matTooltip="{{'userModule.manage.resetPass' | translate}}"
              (click)="resetPwdDialog(element)"></i>
          </span>

        </span>

      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div *ngIf="totalUsers.length>pageSize && searchdata==''">
    <mat-paginator [length]="totalUsers.length" [pageSize]="pageSize" [pageIndex]="listPage" showFirstLastButtons
      (page)="getListData($event)"></mat-paginator>

  </div>
</div>
<div *ngIf="listflag && (searchdata=='' ? totalUsers?.length==0 : dataSource.filteredData.length==0)">
  {{totalUsers?.length==0 ?('ActionNames.noDataFound' | translate): ('ActionNames.noFilterDataFound' | translate) }}
</div>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>