table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    float: left;
     
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: justify;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }
  ul {
    list-style: circle;
    float: left;
  }
 
  .container{
    color: darkblue;
    font-size: 20px;
  }