<div id="page-title" style="padding-right:0;" class="scroll-top">
</div>
    <div fxLayout="row wrap" class="mar-btm">
      <form [formGroup]="priviligeForm">
        <div class="clearfix">
          <div class="col-sm-6">
              <fieldset class="scheduler-border-admin aduserChk">
                <legend class="scheduler-border">{{'userModule.create.admin' | translate}}</legend>
                <div class="privCheck" formArrayName="adminPrevilages" *ngFor="let modulesInfo of _adminData;">
                  <mat-checkbox class="example-margin" color="primary" [labelPosition]="labelPosition"
                    [checked]="modulesInfo.checked"  (change)="onAdminChange($event)" [value]="modulesInfo">
                    {{modulesInfo.modulename}}
                  </mat-checkbox>
                </div>
              </fieldset>
          </div>

        <div class="col-sm-6">
            <fieldset class="scheduler-border-user aduserChk">
              <legend class="scheduler-border">{{'userModule.create.user' | translate}}</legend>
              <section class="privCheck" formArrayName="userPrevilages" *ngFor="let modulesInfo of _userData;">
                <mat-checkbox class="example-margin" color="primary" [labelPosition]="labelPosition"
                  [checked]="modulesInfo.checked"  (change)="onUserChange($event)" [value]="modulesInfo">
                  {{modulesInfo.modulename}}
                </mat-checkbox>
              </section>                  
            </fieldset>
        </div>
      </div>
        <br />
        <button mat-raised-button class="submitbutton" style="margin-left: 15px" type="submit" actionClick (debounceClick)="Submit()"
          [disabled]="!priviligeForm.valid || loading">{{'ActionNames.save'| translate}}</button>
      </form>
    </div>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>