<mat-card>
  <form [formGroup]="platformCreditsForm">
    <mat-card-header style="border-bottom: 1px solid #eee;">
      <div fxLayout="row wrap" fxFlex.gt-sm="88" style="word-break: break-all; word-wrap:break-word">
        <h4>{{'CreditManagementModule.platFormQuota.setLimitComponent.setLimit' |translate }}</h4>
      </div>
      <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
          class="ti-close"></i></button>
    </mat-card-header>

    <mat-card-content>
      <div class="clearfix">
        <div class="col-sm-12">
          <div class="example-container">
            <mat-form-field class="full-width">
              <mat-select required
                placeholder="{{'CreditManagementModule.platFormQuota.setLimitComponent.accntType' |translate }}"
                formControlName="accountType" disabled cdkFocusInitial>
                <mat-option *ngFor="let credit of creditTypes" [value]="credit.creditTypeId">{{credit.creditName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="platformCreditsForm.controls.accountType.errors?.required">
                {{'CreditManagementModule.platFormQuota.setLimitComponent.accntRequired' |translate }}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput
                placeholder="{{platformCreditsForm.value.accountType==2 ?('CreditManagementModule.platFormQuota.setLimitComponent.currentbalance' | translate) :( 'CreditManagementModule.platFormQuota.setLimitComponent.availablethreshold' |translate) }}"
                formControlName="availableBalance" autocomplete="off" readonly>
            </mat-form-field>


            <mat-form-field class="full-width">
              <mat-select autofocus
                placeholder="{{ 'CreditManagementModule.platFormQuota.setLimitComponent.adjustmentType' |translate }}"
                formControlName="adjustmentType" required>
                <mat-option value="1">{{'CreditManagementModule.platFormQuota.setLimitComponent.TopUp' |translate }}
                </mat-option>
                <mat-option value="2" *ngIf="editData.credits > 0">
                  {{'CreditManagementModule.platFormQuota.setLimitComponent.Rollback' |translate }}</mat-option>
              </mat-select>
              <mat-error *ngIf="platformCreditsForm.controls.adjustmentType.errors?.required">
                {{'CreditManagementModule.platFormQuota.setLimitComponent.adjustmentRequired' |translate }}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput
                placeholder="{{platformCreditsForm.value.accountType==2 ?('CreditManagementModule.platFormQuota.setLimitComponent.Credits' |translate ):('CreditManagementModule.platFormQuota.setLimitComponent.updatethreshold'| translate)}}"
                formControlName="modifiedCredits" allow-number-nospace maxlength="10" autocomplete="off" required>
              <mat-error *ngIf="platformCreditsForm.controls.modifiedCredits.errors?.required">
                {{'CreditManagementModule.platFormQuota.setLimitComponent.CreditsRequired' |translate }} </mat-error>
              <mat-error *ngIf="platformCreditsForm.controls.modifiedCredits.errors?.minlength">
                {{'CreditManagementModule.platFormQuota.setLimitComponent.creditminlengthRequired' |translate }}
              </mat-error>
            </mat-form-field>
            <mat-error
              *ngIf="platformCreditsForm.value.adjustmentType == 2 && platformCreditsForm.value.modifiedCredits > editData.credits">
              {{platformCreditsForm.value.accountType==2 ? ('CreditManagementModule.platFormQuota.setLimitComponent.availBalErrors' | translate):('CreditManagementModule.platFormQuota.setLimitComponent.availcreditsError' | translate)}}
            </mat-error>

            <mat-checkbox color="primary" formControlName="hasExpiry" class="clearfix" (change)="hasExpiry()">
              {{'CreditManagementModule.platFormQuota.setLimitComponent.hasExpiry' |translate }}</mat-checkbox>

            <mat-form-field class="full-width" *ngIf="platformCreditsForm.controls.hasExpiry.value == true">
              <input matInput [matDatepicker]="picker" [min]="minDate" required
                placeholder="{{'CreditManagementModule.platFormQuota.setLimitComponent.expiryDate' |translate }}"
                formControlName="expiryDate" parse-format="MM/dd/yyyy" readonly (focus)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="platformCreditsForm.controls.expiryDate.errors?.required">
                {{'CreditManagementModule.platFormQuota.setLimitComponent.expiryDateRequired' |translate }}</mat-error>
            </mat-form-field>
            <mat-error
              *ngIf="platformCreditsForm.value.hasExpiry==1 && platformCreditsForm.value.expiryDate!=null && platformCreditsForm.value.expiryDate < minDate">
              {{'CreditManagementModule.platFormQuota.setLimitComponent.expiryDateError' |translate }}</mat-error>
          </div>
        </div>
      </div>
      <button mat-raised-button class="submitbutton mar-lft mar-top" [disabled]="!platformCreditsForm.valid ||  (platformCreditsForm.value.adjustmentType == 2
        && platformCreditsForm.value.modifiedCredits > editData.credits)|| loading "
        actionClick (debounceClick)="UpdateplatformCredit()">{{'ActionNames.save' | translate}}</button>
    </mat-card-content>
  </form>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>