<mat-card style="box-shadow: none; position: relative;">
  <mat-card-header style="border-bottom: 1px solid #eee;">

          <h4 class="details-heading wrap-word w80">{{'DoctorServingModule.token' | translate }}: {{tokenData?.tokenNo}} / {{tokenData?.patientName}}</h4>

      <button mat-icon-button (click)="close()" style="position: absolute; right: 1%;"><i class="ti-close" ></i></button>
  </mat-card-header>
  <div style="background-color: #eeeeee;margin:0px; padding:10px;" class="wrap-word">
    {{tokenData?.serviceEngName}}
  </div>
  <mat-card-content class="wrap-word">

      <div fxLayout="row wrap">
        <div fxFlex="50" class="text-center">
          <br/>
          <img src="assets/images/transfer-icon.svg" style="width:60%;"/>
        </div>

        <div fxFlex="50">
            <form [formGroup]="transferForm">
              <br>
          <mat-form-field class="w80">
              <mat-select placeholder="{{'DoctorServingModule.selectService' | translate }}" cdkFocusInitial formControlName="service" (selectionChange)="changeService($event.value)">
              <mat-option [value]="service.serviceId" *ngFor="let service of servicesList">{{service?.serviceEngName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="transferForm.controls.service.errors?.required">{{ 'DoctorServingModule.selServiceErrorMessage' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w80">
              <mat-select placeholder="{{'DoctorServingModule.transferDoctor' | translate }}" formControlName="doctor">
              <mat-option [value]="doctor.userId" *ngFor="let doctor of doctorsList">{{doctor?.firstname}} {{doctor?.lastname}}</mat-option>
            </mat-select>
            <mat-error *ngIf="transferForm.controls.doctor.errors?.required">{{ 'DoctorServingModule.selDoctorErrorMessage' | translate }}
            </mat-error>
          </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="transferToken()" [disabled]="!transferForm.valid">{{'DoctorServingModule.transfer' | translate }}</button>
        <br/><br/>
        </div>


      </div>
  </mat-card-content>

  <div class="fullloader2" *ngIf="loading">
    <div class="fullloaderInner">
      <img src="assets/images/loading.gif">
    </div>
  </div>
</mat-card>

