<div fxLayout="row wrap">
  <div fxFlex.gt-sm="20" fxFlex="100">
    </div>
<div fxFlex.gt-sm="80" fxFlex="100" class="session">
    <div class="session-content text-center wordwrap" style="flex-direction:row;padding-right:5%" >
      <div class="welcmtxt">
          <h1>Welcome to</h1>
<h2>King Faisal Specialist Hospital & Research Centre</h2>
<h2>أهلا بكم في مستشفى الملك فيصل التخصصي ومركز الأبحاث</h2>
<div class="row" >
        <button mat-raised-button color="primary" (click)="selectLanguage('english')" [disabled]="!Iskioskid" style="font-size:25px; padding: 15px 25px !important; width: 140px;" class="slide-right">English</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="selectLanguage('arabic')" [disabled]="!Iskioskid" style="font-size:25px; padding: 15px 25px !important;width: 140px;" class="slide-left">عربى</button>
    </div>    
</div>
    </div>
</div>
</div>