<mat-card style="box-shadow: none; position: relative;">
  <mat-card-header style="border-bottom: 1px solid #eee;">

          <h4 class="details-heading">{{'DoctorServingModule.patientJourney.title' | translate}} : {{tokenData?.patientName}}</h4>

      <button mat-icon-button (click)="close()" style="position: absolute; right: 1%;"><i class="ti-close" ></i></button>
  </mat-card-header>
  <div fxlayout="row wrap" style="background-color: #eeeeee;margin:0px; padding:10px;">
    <div fxFlex="50" style="padding-left:5px;">
      <span style="margin-right:20px;"><strong>{{'DoctorServingModule.patientJourney.mrnNo' | translate}} :</strong>{{tokenData?.mrnNo}}</span>
      <span><strong>{{'DoctorServingModule.patientJourney.tokenNo' | translate}} :</strong>{{tokenData?.tokenNo}}</span>
    </div>
    <div fxFlex="50" class="text-right" style="padding-right:5px;">
      <span style="margin-right:20px;"><strong>{{'DoctorServingModule.patientJourney.appointment' | translate}} :</strong>{{tokenData?.apptDate}}</span>
      <span><strong>{{'DoctorServingModule.patientJourney.checkIn' | translate}} :</strong>{{tokenData?.checkinTime}}</span>
    </div>
  </div>
  <mat-card-content>
    <br><div *ngIf="tokenJourneyList.length>0 && dataFlag">
    <mat-table #table [dataSource]="dataSource" style="box-shadow: none; margin:0;" class="mar-no pad-no journey-tble">

      <ng-container matColumnDef="roomName">
        <mat-header-cell *matHeaderCellDef class="pad-hor">
          <div fxFlex="100"><img src="assets/images/room.svg" width="26%" /></div>
          <div fxFlex="100" class="journey-title">{{'DoctorServingModule.patientJourney.room' | translate}}</div>
          <div fxFlex="100" style="margin-bottom: 5px;"><img src="assets/images/arrow-icon.svg" width="20%"/></div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="pad-all text-center">{{element.roomName}} : {{element.roomNo}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="serviceResourseName">
          <mat-header-cell *matHeaderCellDef class="pad-hor">
              <div fxFlex="100"><img src="assets/images/service-resource.svg" width="30%" /></div>
              <div fxFlex="100" class="journey-title">{{'DoctorServingModule.patientJourney.serviceResource' | translate}}</div>
              <div fxFlex="100" style="margin-bottom: 5px;"><img src="assets/images/arrow-icon.svg" width="20%"/></div>
            </mat-header-cell>
        <mat-cell *matCellDef="let element" class="pad-all"> {{element.serviceResourseName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="waitingTime">
          <mat-header-cell *matHeaderCellDef class="pad-hor">
              <div fxFlex="100"><img src="assets/images/wait-time.svg" width="30%" /></div>
              <div fxFlex="100" class="journey-title">{{'DoctorServingModule.patientJourney.waitTime' | translate}}</div>
              <div fxFlex="100" style="margin-bottom: 5px;"><img src="assets/images/arrow-icon.svg" width="20%"/></div>
            </mat-header-cell>
        <mat-cell *matCellDef="let element" class="pad-all"> {{element.waitingTime | formatTime}}(hh:mm)</mat-cell>
      </ng-container>

      <ng-container matColumnDef="careStartTime">
          <mat-header-cell *matHeaderCellDef class="pad-hor">
              <div fxFlex="100"><img src="assets/images/care-start-time.svg" width="30%" /></div>
              <div fxFlex="100" class="journey-title">{{'DoctorServingModule.patientJourney.careStartTime' | translate}}</div>
              <div fxFlex="100" style="margin-bottom: 5px;"><img src="assets/images/arrow-icon.svg" width="20%"/></div>
            </mat-header-cell>
        <mat-cell *matCellDef="let element" class="pad-all">{{element.careStartTime}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="careEndTime">
          <mat-header-cell *matHeaderCellDef class="pad-hor">
              <div fxFlex="100"><img src="assets/images/care-end-time.svg" width="30%" /></div>
              <div fxFlex="100" class="journey-title">{{'DoctorServingModule.patientJourney.careEndTime' | translate}}</div>
              <div fxFlex="100" style="margin-bottom: 5px;"><img src="assets/images/arrow-icon.svg" width="20%"/></div>
            </mat-header-cell>
        <mat-cell *matCellDef="let element" class="pad-all"><span *ngIf="element.careEndTime">{{element.careEndTime}}</span><span *ngIf="!element.careEndTime">_</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="pad-hor">
              <div fxFlex="100"><img src="assets/images/status.svg" width="30%" /></div>
              <div fxFlex="100" class="journey-title">{{'DoctorServingModule.patientJourney.status' | translate}}</div>
              <div fxFlex="100" style="margin-bottom: 5px;"><img src="assets/images/arrow-icon.svg" width="20%"/></div>
            </mat-header-cell>
        <mat-cell *matCellDef="let element" class="pad-all"><span *ngIf="element.status">{{element.status}}</span><span *ngIf="!element.status">_</span></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" style="padding-left: 8px;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table></div>
    <div *ngIf="tokenJourneyList.length==0 && dataFlag"><span>{{'DoctorServingModule.patientJourney.noDataFound' | translate}}</span></div>
  </mat-card-content>

  <div class="fullloader2" *ngIf="loading">
    <div class="fullloaderInner">
      <img src="assets/images/loading.gif">
    </div>
  </div>
</mat-card>

