<h1 mat-dialog-title class="text-warning">Employee Record</h1>

<form class="example-form" [formGroup]="room_form">
    <div mat-dialog-content class="left">
    <p>Enter Allows To Access Id:</p>
    <mat-form-field appearance="outline">
      <input matInput   formControlName="allowedToAccess" maxlength="2" required>
      <mat-error *ngIf="room_form.controls.allowedToAccess.hasError('required')">
          Please enter Token Id
      </mat-error>
     
      <mat-error *ngIf="room_form.controls.allowedToAccess.hasError('minlength')">
        Please enter minimum 2 digits 
      </mat-error>
    </mat-form-field>
  </div>  
<div mat-dialog-content >
  <p>Enter Floor Id:</p>
  <mat-form-field appearance="outline">
    <input matInput   formControlName="floorId" maxlength="3" required>
    <mat-error *ngIf="room_form.controls.floorId.hasError('required')">
        Please enter Floot Id
    </mat-error>
   
    <mat-error *ngIf="room_form.controls.floorId.hasError('minlength')">
      Please enter minimum 1 digits 
    </mat-error>
  </mat-form-field>
</div>

<div mat-dialog-content class="left" >
    <p>Enter Organization Id:</p>
    <mat-form-field appearance="outline">
      <input matInput   formControlName="orgId" maxlength="5" required>
      <mat-error *ngIf="room_form.controls.orgId.hasError('required')">
          Please enter Floot Id
      </mat-error>
     
      <mat-error *ngIf="room_form.controls.orgId.hasError('minlength')">
        Please enter minimum 2 digits 
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-content >
        <p>Enter Room Id:</p>
        <mat-form-field appearance="outline">
          <input matInput   formControlName="roomId" maxlength="3" required>
          <mat-error *ngIf="room_form.controls.roomId.hasError('required')">
              Please enter Floot Id
          </mat-error>
         
          <mat-error *ngIf="room_form.controls.roomId.hasError('minlength')">
            Please enter minimum 1 digits 
          </mat-error>
        </mat-form-field>
      </div>
<div mat-dialog-content class="left">
    <mat-form-field  appearance="outline">
        <mat-label>Room Name AB</mat-label>
        <mat-select formControlName="roomNameAb">
            <mat-option *ngFor="let name of roomname" [value]="name.value">
              {{name.rname}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="room_form.controls.roomNameAb.hasError('required')">
            Please select Room Name
          </mat-error>
      </mat-form-field>
  </div>
  <div mat-dialog-content>
    <mat-form-field  appearance="outline">
        <mat-label>Room Name EN</mat-label>
        <mat-select formControlName="roomNameEn">
            <mat-option *ngFor="let name of roomNameEn" [value]="name.value">
              {{name.rname}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="room_form.controls.roomNameEn.hasError('required')">
            Please select Room Name
          </mat-error>
      </mat-form-field>
  </div>
  <div mat-dialog-content class="left" >
    <mat-form-field  appearance="outline">
        <mat-label>Room Number</mat-label>
        <select matNativeControl required formControlName="roomNumber">
          <option value="R1">R1</option>
          <option value="R2">R2</option>
          <option value="R3">R3</option>
          <option value="R4">R4</option>
          <option value="R5">R5</option>
        </select>
        <mat-error *ngIf="room_form.controls.roomNumber.hasError('required')">
            Please select Room Number
          </mat-error>
      </mat-form-field>
  </div>
  <div mat-dialog-content >
        <mat-form-field  appearance="outline">
            <mat-label>Room Type</mat-label>
            <select matNativeControl required formControlName="roomType">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <mat-error *ngIf="room_form.controls.roomType.hasError('required')">
                Please select Room Type
              </mat-error>
          </mat-form-field>
      </div>
  <div mat-dialog-content  >
    <p>Enter Room Discription:</p>
    <mat-form-field appearance="outline">
      <input matInput   formControlName="roomTypeDsc" maxlength="10" required>
      <mat-error *ngIf="room_form.controls.roomTypeDsc.hasError('required')">
          Please enter Floot Id
      </mat-error>
     
      <mat-error *ngIf="room_form.controls.roomTypeDsc.hasError('minlength')">
        Please enter minimum 5 characters 
      </mat-error>
    </mat-form-field>
  </div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="room_form.value" [disabled]="room_form.invalid" cdkFocusInitial>Create</button>
</div>
</form>





