<!--The content below is only a placeholder and can be replaced.-->


<form class="example-form" [formGroup]="department_form" > 
    <table class="example-full-width"><tr><td>
      <mat-form-field appearance="outline">
        <mat-label>Select Department Name</mat-label>
        <mat-select  (selectionChange)="onSelect($event.value)" formControlName="dpname" required>
            <mat-option>-- None --</mat-option>
            <mat-option *ngFor="let department of departmentlist" [value]="department.dname" >
                {{department.dname}}
            </mat-option>
        </mat-select>
      </mat-form-field> </td></tr>

      <tr><td>
      <mat-form-field appearance="outline">
        <mat-label>Users</mat-label>  
        <mat-select formControlName="users" >
            <mat-option *ngFor="let user of userList" [value]="user.uid" >
                {{user.uid}} -- {{user.uname}}
            </mat-option>
        </mat-select>
      </mat-form-field> </td></tr>
  </table>
  <div>
      <mat-form-field class="example-full-width" appearance="outline">
           <input matInput  formControlName="sname" placeholder="Enter Service Name" 
                              maxlength="15" (keyup)="getvalue($event)" required>
           <mat-error *ngIf="department_form.controls.sname.hasError('required')">
              Please enter service Name
          </mat-error>
          <mat-error *ngIf="department_form.controls.sname.hasError('minlength')">
            Please enter minimum 5 character
        </mat-error>
      </mat-form-field>
  </div>
  <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="Nextpage()" [disabled]="!department_form.valid" >submit</button>
  </div>
</form>

<router-outlet></router-outlet>

   