<!--The content below is only a placeholder and can be replaced.-->
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="outline" translate>
      <input matInput  [matKeyboard]="'en-alpha'"  placeholder="Enter Name" >
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline" translate>
      <input matInput  [matKeyboard]="'en-num'"  placeholder="Enter Mobile No." >
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline" translate>
    <input matInput   [matKeyboard]="'en'"  placeholder="Enter Passport No." >
  </mat-form-field>

  <button mat-raised-button (click)="openAttachedKeyboard(defaultLocale)">{{'lang' |translate}}</button>
 <mat-form-field class="example-full-width" appearance="outline" translate>
    <input matInput #attachTo [(ngModel)]="attachModelValue" name="attach" placeholder="Enter Email" >
  </mat-form-field>
</form>

 
<router-outlet></router-outlet>
