<mat-toolbar class="main-header" color="light">
  <div class="branding">
    <div class="logo" style="background-image: url('assets/images/s8-logo.svg')"></div>
  </div>
</mat-toolbar>
<div class="head2"></div>
<div class="app-inner">

  <div fxFlex.gt-sm="80" fxFlex="100">
    <div class="row pwcontainer">
      <div class="col-sm-7 col-xs-12">
        <h2 style="width: 100%">
          <div style="width:60px; height:60px;" class="changpw-icon"></div>
          <div style="margin-top:10px; float:left;">{{'profileModule.manage.changePass' | translate }}</div>
        </h2>
        <div fxLayout="row wrap" style="width: 100%; padding-top: 8px !important">
          <small>{{'profileModule.changePassword.title' | translate }}</small></div>
        <form [formGroup]="passwordForm" style="margin-top:15px;">

          <mat-form-field style="width:100%;">
            <input matInput autocomplete="off" placeholder="{{'profileModule.manage.newPass' | translate }}"
              [type]=" !cnfPasswordHide ? 'password' : 'text'" formControlName="newpswd" minlength="5">
            <span matSuffix (click)="cnfPasswordHide = !cnfPasswordHide"
              [ngClass]="cnfPasswordHide ? 'ti-close' : 'ti-eye'"></span>
            <mat-error *ngIf="passwordForm.controls.newpswd.errors?.required">
              {{'profileModule.manage.newPassRequired' | translate }}
            </mat-error>
            <mat-error *ngIf="passwordForm.controls.newpswd.errors?.minlength">
              {{'profileModule.passwordMinimum' | translate }}
            </mat-error>
          </mat-form-field>


          <mat-form-field style="width: 100%;">
            <input matInput autocomplete="off" minlength="5"
              placeholder="{{'profileModule.changePassword.confirmNewPassword' | translate }}"
              [type]="!repasswordHide ? 'password' : 'text'" formControlName="cnfmpswd" [errorStateMatcher]="matcher">
            <span matSuffix (click)="repasswordHide = !repasswordHide"
              [ngClass]="repasswordHide ? 'ti-close' : 'ti-eye'"></span>
            <mat-error *ngIf="passwordForm.controls.cnfmpswd.errors?.minlength">
              {{'profileModule.passwordMinimum' | translate }}
            </mat-error>
            <mat-error *ngIf="passwordForm.hasError('notSame')">
              {{'profileModule.manage.passNotMatch' | translate }}
            </mat-error>
          </mat-form-field>

          <br><br>
          <button type="button" class="btn-sm submitbutton" mat-raised-button btn-sm [disabled]="!passwordForm.valid || loading"
          actionClick (debounceClick)="ChangePassword()"><i class="ti-key"></i>
            &nbsp;{{'profileModule.manage.changePass' | translate }}</button>
          <div *ngIf="success" class="mar-top successtext">{{'profileModule.changePassword.passwordUpdated' | translate }}
            &nbsp;<button type="button" class="submitbutton" mat-raised-button btn-sm
            actionClick (debounceClick)="redirectLogin()">{{'profileModule.changePassword.login' | translate }}</button></div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>