.main-header .branding{ margin: 0;}
.main-header .logo{ margin-left: 0; margin-bottom: 30px}
.main-header { position: fixed;}
.head2 {
    background: #e6e6e6;
    box-shadow: 0 3px 4px rgba(0,0,0,.2);
    padding: 4px 18px;
    /* overflow: overlay; */
    color: #666666;
    position: fixed;
    top: 35px;
    width: 100%;
    z-index: 99;
    font-size: 11px;
    height: 30px
  }
  .pwcontainer { border: 1px solid #e5e5e5; padding: 40px; margin-top: 100px; margin-left: 40px; }
  .successtext { color: #00C900}
  