<mat-card>
  <mat-card-content class="pad-all2">
    <mat-tab-group [selectedIndex]="selectedTab" #matgroup (selectedTabChange)="onTabChange($event)" class="alertstabs">
      <mat-tab label="{{'SubMenuNames.Alert Manager' | translate}}">
        <div fxLayout="row wrap">
          <div fxFlex="60">
            <button mat-raised-button class="addbutton" (click)="addOnlineAlert()"
              style="margin-left: 5px; margin-bottom: 8px;">
              <i class="ti-plus"></i>&nbsp; {{'Alert Manager.onlineAlert' | translate}}</button>
          </div>

          <div fxFlex="40" class="search-align pad-rgt">
            <div fxFlex="100">
              <mat-form-field>
                <input matInput [(ngModel)]="searchdata" (keyup)="searchchange()"
                  placeholder="{{'ActionNames.search' | translate}}">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" 
            *ngIf="searchdata=='' ? true :(pagedAlert | Alertsfilter : totalAlertsList : searchdata) as result"
            class="smartdir">
            <div fxFlex.gt-sm="40" *ngIf="(result?.length==0 || totalAlertsList?.length==0)&& !loading"
              class="pointer example-container mat-elevation-z8 no-shadow bord-all">
              {{ totalAlertsList?.length==0 ? ('ActionNames.noDataFound' | translate) :('ActionNames.noFilterDataFound' | translate)}}
            </div>
            <div fxFlex.gt-sm="40" id="mtcampaignact" fxFlex.gt-xs="40" fxFlex="100" class="cmpn-left">
              <div  style="height:100%;">
              <perfect-scrollbar style="height:35vh;">
                <div  style="padding-right: 8px;">
                  <mat-card class="pointer example-container mat-elevation-z8 no-shadow bord-all"
                    *ngFor="let alert of pagedAlert | Alertsfilter : totalAlertsList : searchdata ; first as isFirst;"
                    [class.pbActive]="alert?.alertOnlineId==selectedAlertList?.alertOnlineId ? true :false">
                    <mat-selection-list>
                      <mat-card-content (click)="activeAlert(alert)">
                        <div fxFlex="10">
                          <ngx-avatar class="card-avatar" size="28" name="{{alert.onlineAlertName}}"></ngx-avatar>
                        </div>
                        <div fxFlex="90">
                          <div class="grp-title">&nbsp;{{alert.onlineAlertName}}</div>
                        </div>
                        <div class="Umore-btn" fxFlex="10">
                          <button mat-icon-button [matMenuTriggerFor]="UcardEdit" class="pull-right"><i
                              class="ti-more-alt"></i></button>
                          <mat-menu #UcardEdit="matMenu">
                            <button mat-menu-item (click)="alertDetails(selectedAlertList)"><i class="ti-info-alt"></i>
                              {{'ActionNames.details' | translate}}</button>
                          </mat-menu>
                        </div>
                      </mat-card-content>
                    </mat-selection-list>
                  </mat-card>
                </div>
              </perfect-scrollbar>
            
              <div *ngIf="totalAlertsList?.length >pageSize  && searchdata==''">
                <mat-card class="example-container mat-elevation-z8 no-shadow bord-all">
                  <mat-card-content class="text-right">
                    <mat-paginator [length]="totalAlertsList?.length" [pageSize]="pageSize" [pageIndex]="initPage"
                      (page)="getData($event)">
                    </mat-paginator>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            </div>
            <!-- </div> -->

            <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="cmpn-right" *ngIf="selectedAlertList">
              <div fxLayout="row wrap" style="padding: 0 8px;">
                <div fxFlex="100">
                  <h3 class="wraptext"><strong>{{'Alert Manager.alertName' | translate}} :</strong>
                    {{selectedAlertList?.onlineAlertName}}</h3>
                </div>
                <!-- <div fxFlex="50" class="text-right" (click)="deleteDialog1(user)">
        <button mat-raised-button color="warn" class="btn-sm">Abort All</button>
      </div> -->
              </div>

              <div fxLayout="row wrap">
                <div fxFlex.gt-xs="50" fxFlex="100">
                  <div fxLayout="row wrap">
                    <div fxFlex="100">
                      <mat-card class="no-shadow bord-all">
                        <mat-card-title class="camptype">
                          <a *ngIf="selectedAlertList?.status==1" (click)="updateStatusAlert(selectedAlertList,2)">
                            {{'ActionNames.start' | translate}} </a>
                          <a *ngIf="selectedAlertList?.status==2" (click)="updateStatusAlert(selectedAlertList,1)">
                            {{'ActionNames.stop' | translate}} </a>
                          <span class="status"><strong>{{'ActionNames.status' | translate}}: </strong><span
                              class="text-success">{{statusdata[selectedAlertList?.status+'']}}</span></span>
                        </mat-card-title>
                        <mat-card-content>
                          <!-- <small class="text-center campaigndttime">04/23/2019</small> -->
                          <small class="messagetext"
                            [ngClass]=" _arabic.test(selectedAlertList?.message) ? {arabic : true} : {english : true}">
                            {{messageVisibility ? selectedAlertList?.message : (selectedAlertList?.message | truncate : 100  : '...') }} 
                            <a *ngIf="selectedAlertList?.message.length>100" color="primary" (click)="messageVisibility = !messageVisibility">
                                {{ messageVisibility ?  ('ActionNames.less'|translate) : ('ActionNames.more'|translate) }}</a></small>
                          <!-- <small class="messagetext">{{selectedAlertList?.message}}</small> -->
                          <div class="messagedetails">
                            <table>
                              <tr>
                                <td style="width:48%">
                                  <strong>{{'Alert Manager.customMessage' | translate}}</strong>
                                </td>
                                <td>
                                  {{selectedAlertList?.messageType==1 ? 'True' : 'False'}}
                                </td>
                              </tr>
                              <tr>
                                <td style="width:48%">
                                  <strong>{{'Alert Manager.senderId' | translate}}</strong>
                                </td>
                                <td>
                                  {{selectSender}}
                                </td>
                              </tr>

                              <tr>
                                <td style="width:48%">
                                  <strong>{{'Alert Manager.profileName' | translate}}</strong>
                                </td>
                                <td>
                                  {{selectedAlertList?.dbProfileInfo.profileName}}
                                </td>
                              </tr>
                              <tr>
                                <td style="width:48%">
                                  <strong>{{'Alert Manager.scheduleTime' | translate}}</strong>
                                </td>
                                <td>
                                  {{selectedAlertList?.intervalValue}} {{selectedAlertList?.intervalType.intervalName}}
                                </td>
                              </tr>
                            </table>
                          </div>
                        </mat-card-content>
                        <mat-card-actions>
                          <div fxLayout="row wrap" class="actions">
                            <button mat-raised-button color="green" *ngIf="selectedAlertList?.status==0"
                              (click)="updateStatusAlert(selectedAlertList,1)">
                              <i class="ti-check"></i>&nbsp; {{'ActionNames.active' | translate}}</button>
                            <button mat-raised-button color="warn" *ngIf="selectedAlertList?.status==1"
                              (click)="updateStatusAlert(selectedAlertList,0)">
                              <i class="ti-na"></i>&nbsp; {{'ActionNames.deActive' | translate}}</button>
                            <!-- <button mat-raised-button color="warn" (click)="deleteAlert(selectedAlertList)">
                            <i class="ti-na"></i>&nbsp; Abort Alert</button> -->
                            <button mat-raised-button color="accent" *ngIf="selectedAlertList?.status==1"
                              (click)="editAlert(selectedAlertList)">
                              <i class="ti-pencil-alt"></i> {{'Alert Manager.editAlert' | translate}}</button>
                          </div>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="{{'SubMenuNames.Profile Manager' | translate}}" *ngIf="profilemanageFlag">
        <app-profilemanage></app-profilemanage>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>