.full-width { width: 100%}
.arabictext { direction: rtl; text-align: right}
.arabic {
    direction: rtl;
    text-align: right;
  }
  .descriptiontext { resize: none; height: 50px}
  .mat-menu-item i { margin-right: 6px}
  .usercard { position: relative; border: 1px solid red }
  .usercard .devicecard-footer { position: absolute; bottom: 0}