<mat-card style="box-shadow: none;">
  <form>
      <mat-card-header>

<h4>Credits History</h4>
        <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
            class="ti-close"></i></button>
      </mat-card-header>
    <mat-card-content>

        <div fxLayout="row wrap" class="clearfix pad-top">
            <table class="table table-striped table-bordered" style="width:100%">
              <tr>
                <td><strong>Name</strong></td>
                <td><strong>Current Threshold</strong></td>
                <td><strong>Updated Threshold</strong></td>
                <td><strong>Date</strong></td>
              </tr>
              <tr>
                <td>User1</td>
                <td>60%</td>
                <td>50%</td>
                <td>April 13, 2019</td>
              </tr>
              <tr>
                  <td>User2</td>
                  <td>60%</td>
                  <td>50%</td>
                  <td>April 14, 2019</td>
                </tr>
                <tr>
                    <td>User3</td>
                    <td>60%</td>
                    <td>50%</td>
                    <td>April 15, 2019</td>
                  </tr>
                  <tr>
                      <td>User3</td>
                      <td>60%</td>
                      <td>50%</td>
                      <td>April 16, 2019</td>
                    </tr>
            </table>
        </div>

      
    </mat-card-content>
  </form>
</mat-card>