<div fxLayout="row wrap" class="mar-btm">
  <div fxFlex="40">
    <button mat-raised-button class="addbutton" style="margin-left: 5px; margin-bottom: 8px;" (click)="addGroup()">
      <i class="ti-plus"></i> &nbsp;{{'smartDirectoryModule.createsmartgroup.title' | translate}}</button>&nbsp;&nbsp;

    <button mat-raised-button class="addbutton-new" style="margin-left: 5px; margin-bottom: 8px;"
      (click)="addContact()">
      <i class="ti-plus"></i> &nbsp;{{'smartDirectoryModule.title' | translate}}</button>
  </div>


  <div fxFlex="60">
    <mat-button-toggle-group value="global" #singleGroup="matButtonToggleGroup" (change)="selectTab(singleGroup.value)">
      <mat-button-toggle value="global">{{'smartDirectoryModule.smartmanage.globalToggle' | translate}}
      </mat-button-toggle>
      <mat-button-toggle value="department">{{'smartDirectoryModule.smartmanage.deptToggle' | translate}}
      </mat-button-toggle>
      <mat-button-toggle value="users">{{'smartDirectoryModule.smartmanage.usersToggle' | translate}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

</div>


<div class="smartdir">
  <!-- <div fxFlex="30" class="text-right pad-rgt">        
      </div> -->
  <div fxLayout="row wrap" *ngIf="global">
    <div fxFlex.gt-sm="40" id="alertact" fxFlex.gt-xs="40" fxFlex="100" class="cmpn-left">
      <mat-form-field *ngIf="globalGroup?.length> pageSize" style="margin: 0 10px; width: 95%">
        <input matInput [(ngModel)]="searchdata" placeholder="{{'smartDirectoryModule.smartmanage.searchGroup' | translate}}">
      </mat-form-field>
      <perfect-scrollbar style="height: 45vh;">
        <div style="padding-right: 8px;" *ngIf="searchdata=='' ? true :(filterGroups | Globalfilter : globalGroup : searchdata) as result">
         
          <mat-card class="pointer no-shadow bord-all" *ngFor="let group of filterGroups
          | Globalfilter: globalGroup: searchdata:'cntGroupName'">
            <mat-selection-list>
              <mat-card-content (click)="assignContacts(group)">
                <div fxFlex="100">
                  <div fxFlex="10">
                    <ngx-avatar class="card-avatar" size="28" name="{{group?.cntGroupName}}"></ngx-avatar>
                  </div>
                  <div fxFlex="70">
                    <span>{{group?.cntGroupName}}</span>
                  </div>
                  <div fxFlex="20" class="secr text-right">
                    {{group?.contactGlobals?.length}}
                    <span >
                      &nbsp; <i [matMenuTriggerFor]="morebtn" mat-icon-button class="ti-more-alt"></i>
                      <mat-menu #morebtn="matMenu">
                        <button *ngIf="DisplayString =='PA' && global" mat-menu-item (click)="editGlobal(group)"><i class="ti-pencil-alt"></i>{{'ActionNames.edit' | translate}}</button>
                        <button *ngIf="group?.contactGlobals?.length>0" mat-menu-item (click)="sendSmsFromGlobalGroup(group)"><i class="ti-comment-alt"></i>{{'smartDirectoryModule.sendSMS' | translate}}</button>
                        <button *ngIf="DisplayString =='PA' && global" mat-menu-item (click)="deleteGlobalGroup(group)"><i class="ti-trash"></i>{{'ActionNames.delete' | translate}}</button>
                        <!-- <button mat-menu-item>Active</button> -->
                      </mat-menu>
                    </span>
                  </div>
                </div>
              </mat-card-content>
            </mat-selection-list>
          </mat-card>
          <div *ngIf="(result?.length==0 || globalGroup?.length==0 )"  class="pointer no-shadow">
            <span class="nodatalabel"> {{'ActionNames.noDataFound' | translate}}</span>
            </div>
        </div>
      </perfect-scrollbar>
      <div>
        <mat-card class="no-shadow bord-all"  *ngIf="globalGroup?.length> pageSize && searchdata==''">
          <mat-card-content class="text-right">
            <div style="width: 100%">
              <mat-paginator [length]="globalGroup?.length" [pageSize]="pageSize" [pageIndex]="initPage"
                showFirstLastButtons (page)="getData($event)">
              </mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="cmpn-right">
        <perfect-scrollbar style="height: 69vh;">
      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="50" fxFlex="100" *ngFor="let contacts of contactsData">
          <mat-card class="no-shadow bord-all contactcard" fxFlex>
            <mat-card-content>
              <div class="mar-btm">
                <h4 class="mar-no"> {{contacts?.firstName}}</h4>
                <div>{{contacts?.mobileNo}}</div>
              </div>
              <div>{{contacts?.emailId}}</div>
              <span class="morebtn"  >
                <button mat-icon-button [matMenuTriggerFor]="more"><i class="ti-more-alt"></i></button>
                <mat-menu #more="matMenu">
                  <button mat-menu-item *ngIf="DisplayString=='PA' && global" (click)="editContactGlobal(contacts)"><i class="ti-pencil-alt"></i>{{'smartDirectoryModule.smartmanage.editContact' | translate}}</button>
                  <button mat-menu-item *ngIf="(DisplayString =='PA' && global) ||  DisplayString=='DA' || DisplayString=='NA'" (click)="sendSmsFromGlobalContact(contacts)"><i class="ti-comment-alt"></i>{{'smartDirectoryModule.sendSMS' | translate}}</button>
                  <button mat-menu-item *ngIf="DisplayString=='PA' && global" (click)="deleteContactGlobal(contacts)"><i class="ti-trash"></i>{{'smartDirectoryModule.smartmanage.deleteContact' | translate}}</button>
                </mat-menu>
              </span>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
      </perfect-scrollbar>
    </div>
  </div>

  <div fxLayout="row wrap" *ngIf="department">
    <div fxFlex.gt-sm="40" id="alertact" fxFlex.gt-xs="40" fxFlex="100" class="cmpn-left">
      <div class="pad-hor" *ngIf="deptDisplay">
        <form [formGroup]="departementForm">
          <mat-form-field class="w50 pad-rgt" *ngIf="deptDisplay" style="margin: 0 10px; width: 95%">
            <mat-select placeholder="{{'smartDirectoryModule.smartmanage.selectDept' | translate}}" (selectionChange)="departementSelect()"
              formControlName="deptName" required>
              <mat-option *ngFor="let dept of  deptList" value="{{dept?.deptId}}">
                {{dept?.deptName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <mat-form-field *ngIf="departementGroup?.length> pageSize" style="margin: 0 10px; width: 95%">
        <input matInput [(ngModel)]="searchdept" placeholder="{{'smartDirectoryModule.smartmanage.searchGroup' | translate}}">
      </mat-form-field>
      <div *ngIf="departementGroup?.length>0">
        <perfect-scrollbar style="height: 45vh;">
          <div style="padding-right: 8px;" *ngFor="let departement of filterDepartement
        | Departementfilter: departementGroup: searchdept:'groupName'">
            <mat-card class="pointer no-shadow bord-all contactcard">
              <mat-selection-list>
                <mat-card-content (click)="assigndeptContacts(departement)">
                  <div fxFlex="100">
                    <div fxFlex="10">
                      <ngx-avatar class="card-avatar" size="28" name="{{departement?.groupName}}"></ngx-avatar>
                    </div>

                    <div fxFlex="70">
                      <span class="pull-left">{{departement?.groupName}} </span>
                    </div>

                    <div fxFlex="20" class="secr text-right">
                      {{departement?.contactDepts?.length}}&nbsp;
                      <span *ngIf="DisplayString=='DA' || DisplayString=='NA'">
                        &nbsp; <i [matMenuTriggerFor]="morebtn" mat-icon-button class="ti-more-alt"></i>
                        <mat-menu #morebtn="matMenu">
                          <button mat-menu-item *ngIf="DisplayString=='DA' && department" (click)="editDepartement(departement)"><i class="ti-pencil-alt"></i>{{'ActionNames.edit' | translate}}</button>
                          <button mat-menu-item *ngIf="departement?.contactDepts?.length>0" (click)="sendSmsFromDeptGroup(departement)"><i class="ti-comment-alt"></i>{{'smartDirectoryModule.sendSMS' | translate}}</button>
                          <button mat-menu-item *ngIf="DisplayString=='DA' && department" (click)="deleteDepartementGroup(departement)"><i class="ti-trash"></i>{{'ActionNames.delete' | translate}}</button>
                          <!-- <button mat-menu-item>Active</button> -->
                        </mat-menu>
                      </span>
                       <!-- <i [matMenuTriggerFor]="morebtn" mat-icon-button
                        class="ti-more-alt"></i>
                      <mat-menu #morebtn="matMenu">
                        <button mat-menu-item *ngIf="DisplayString=='DA' && department"
                          (click)="editDepartement(departement)">{{'ActionNames.edit' | translate}}</button>
                          <button mat-menu-item *ngIf="DisplayString=='DA' && department"
                          (click)="deleteDepartement(departement)">{{'ActionNames.delete' | translate}}</button>
                      </mat-menu> -->
                    </div>
                  </div>
                </mat-card-content>
              </mat-selection-list>
            </mat-card>

          </div>
        </perfect-scrollbar>
        <div>
          <mat-card class="no-shadow bord-all contactcard" *ngIf="departementGroup?.length> pageSize">
            <mat-card-content class="text-right">
              <div style="width: 100%">
                <mat-paginator [length]="departementGroup?.length" [pageSize]="pageSize" [pageIndex]="initDeptPage"
                  showFirstLastButtons (page)="getDepartementData($event)">
                </mat-paginator>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div *ngIf="departementGroup ?departementGroup?.length==0:false">
        <span class="nodatalabel">{{'smartDirectoryModule.smartmanage.groupsError' | translate}}</span>
      </div>
    </div>

    <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="cmpn-right">
        <perfect-scrollbar style="height: 69vh;">
      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="50" fxFlex="100" *ngFor="let deptdata of deptData">
          <mat-card class="no-shadow bord-all contactcard">
            <mat-card-content>
              <div class="mar-btm">
                <h4 class="mar-no">{{deptdata?.firstName}}</h4>
                <div>{{deptdata?.lastName}}</div>
              </div>
              <div>{{deptdata?.mobileNo}}</div>
              <span *ngIf="DisplayString=='DA' || DisplayString=='NA'" class="morebtn">
                <button mat-icon-button class="morebtn" [matMenuTriggerFor]="more"><i class="ti-more-alt"></i></button>
                <mat-menu #more="matMenu">
                  <button mat-menu-item *ngIf="DisplayString=='DA' && department" (click)="editContactDept(deptdata)"><i class="ti-pencil-alt"></i>{{'smartDirectoryModule.smartmanage.editContact' | translate}}</button>
                  <button mat-menu-item *ngIf="(DisplayString=='DA' && department) || DisplayString=='NA'" (click)="sendSmsFromDeptContact(deptdata)"><i class="ti-comment-alt"></i>{{'smartDirectoryModule.sendSMS' | translate}}</button>
                  <button mat-menu-item *ngIf="DisplayString=='DA' && department" (click)="deleteContactDept(deptdata)"><i class="ti-trash"></i>{{'smartDirectoryModule.smartmanage.deleteContact' | translate}}</button>
                </mat-menu>
              </span>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      </perfect-scrollbar>
    </div>
  </div>

  <div fxLayout="row wrap" *ngIf="users">
    <div fxFlex.gt-sm="40" id="alertact" fxFlex.gt-xs="40" fxFlex="100" class="cmpn-left">

      <div class="pad-hor">
        <form [formGroup]="departementForm">
          <mat-form-field class="w50 pad-rgt" *ngIf="deptDisplay">
            <mat-select placeholder="{{'smartDirectoryModule.smartmanage.selectDept' | translate}}" (selectionChange)="departementUserSelect()"
              formControlName="deptName" required>
              <mat-option *ngFor="let dept of  deptList" [value]="dept">
                {{dept?.deptName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w50 pad-rgt" *ngIf="normalDisplay">
            <mat-select placeholder="{{'smartDirectoryModule.smartmanage.selectUser' | translate}}" (selectionChange)="userSelect()" formControlName="userId" required>
              <mat-option *ngFor="let user of  userList" value="{{user.userId}}">
                {{user?.login}}</mat-option>
            </mat-select>
          </mat-form-field>

        </form>
      </div>
      <mat-form-field *ngIf="userGroup?.length> pageSize" style="margin: 0 10px; width: 95%">
        <input matInput [(ngModel)]="searchuser" placeholder="{{'smartDirectoryModule.smartmanage.searchGroup' | translate}}">
      </mat-form-field>
      <div *ngIf="userGroup?.length>0">
        <perfect-scrollbar style="height: 45vh;">
          <div style="padding-right: 8px;" *ngFor="let users of filteruserGroup
        | Userfilter: userGroup: searchuser:'groupName'">
            <mat-card class="pointer no-shadow bord-all contactcard">
              <mat-selection-list>
                <mat-card-content (click)="assignuserContacts(users)">
                  <div fxFlex="100">
                    <div fxFlex="10">
                      <ngx-avatar class="card-avatar" size="28" name="{{users?.groupName}}"></ngx-avatar>
                    </div>

                    <div fxFlex="70">
                      <span class="pull-left">{{users?.groupName}} </span>
                    </div>

                    <div fxFlex="20" class="secr text-right">
                      {{users?.contactUsers?.length}}&nbsp; 
                      <span *ngIf="DisplayString=='NA' && users">
                        &nbsp; <i [matMenuTriggerFor]="morebtn" mat-icon-button class="ti-more-alt"></i>
                        <mat-menu #morebtn="matMenu">
                          <button mat-menu-item (click)="editUser(users)"><i class="ti-pencil-alt"></i>{{'ActionNames.edit' | translate}}</button>
                          <button mat-menu-item *ngIf="users?.contactUsers?.length>0 && DisplayString=='NA'" (click)="sendSmsFromUserGroup(users)"><i class="ti-comment-alt"></i>{{'smartDirectoryModule.sendSMS' | translate}}</button>
                          <button mat-menu-item (click)="deleteUserGroup(users)"><i class="ti-trash"></i>{{'ActionNames.delete' | translate}}</button>
                          <!-- <button mat-menu-item>Active</button> -->
                        </mat-menu>
                      </span>
                      <!-- <i [matMenuTriggerFor]="morebtn" mat-icon-button
                        class="ti-more-alt"></i>
                      <mat-menu #morebtn="matMenu">
                        <button mat-menu-item *ngIf="DisplayString=='NA' && users"
                          (click)="editUser(users)">{{'ActionNames.edit' | translate}}</button>
                      </mat-menu> -->
                    </div>
                  </div>
                </mat-card-content>
              </mat-selection-list>
            </mat-card>
          </div>
        </perfect-scrollbar>
        <div>
          <mat-card class="no-shadow bord-all contactcard" *ngIf="userGroup?.length> pageSize">
            <mat-card-content class="text-right">
              <div style="width: 100%">
                <mat-paginator [length]="userGroup?.length" [pageSize]="pageSize" [pageIndex]="initUserPage"
                  showFirstLastButtons (page)="getUserData($event)">
                </mat-paginator>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div *ngIf="userGroup? userGroup?.length==0 :false">
        <span class="nodatalabel">{{'smartDirectoryModule.smartmanage.userError' | translate}}</span>
      </div>
    </div>
    <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="cmpn-right" *ngIf="contactsUsersData?.length >0">
        <perfect-scrollbar style="height: 69vh;">
      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="50" fxFlex="100" *ngFor="let userContactData of contactsUsersData">

          <mat-card class="no-shadow bord-all contactcard">
            <mat-card-content>
              <div class="mar-btm">
                <h4 class="mar-no">{{userContactData?.firstName}}</h4>
                <div>{{userContactData?.mobileNo}}</div>
              </div>
              <div>{{userContactData?.emailId}}</div>

              <span *ngIf="DisplayString=='NA' && users" class="morebtn">
                <button mat-icon-button class="morebtn" [matMenuTriggerFor]="more"><i class="ti-more-alt"></i></button>
                <mat-menu #more="matMenu">
                  <button mat-menu-item (click)="editContactUser(userContactData)"><i class="ti-pencil-alt"></i>{{'smartDirectoryModule.smartmanage.editContact' | translate}}</button>
                  <button mat-menu-item (click)="sendSmsFromUserContact(userContactData)"><i class="ti-comment-alt"></i>{{'smartDirectoryModule.sendSMS' | translate}}</button>
                  <button mat-menu-item (click)="deleteContactUser(userContactData)"><i class="ti-trash"></i>{{'smartDirectoryModule.smartmanage.deleteContact' | translate}}</button>
                </mat-menu>
              </span>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
      </perfect-scrollbar>
    </div>
  </div>

</div>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>