table {
  width: 100%;
}
.arabic {
    direction: rtl;
    text-align: right;
  }

.messagebox {
  resize: none;
  padding: 0 12px;
}
.full-width{ width: 100%; } 
.mat-menu-item i { margin-right: 6px}


