body {font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;}

/* $main-panel
 ------------------------------------------*/
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;

.app-inner {
  position: relative;
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  font-weight: 300; font-family: 'Roboto', sans-serif !important; 
  height: calc(100vh - #{$mat-toolbar-height-desktop});
  @include flexbox;
  @include flex-direction(row);
}

// As per specs, mobile devices will use a different height for toolbars than for desktop.
// The height for mobile landscape devices has been ignored since relying on `@media orientation`
// is causing issues on devices with a soft-keyboard.
// See: https://material.io/guidelines/layout/structure.html#structure-app-bar
@media ($mat-xsmall) {
  .app-inner {
    height: calc(100vh - #{$mat-toolbar-height-mobile-portrait});
  }
}

/* Boxed layout*/

.app.boxed {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 48em) {
  .app.boxed {
    max-width: 46.88rem;
  }
}

@media (min-width: 62rem) {
  .app.boxed {
    max-width: 60.63rem;
  }
}

@media (min-width: 75rem) {
  .app.boxed {
    max-width: 73.13rem;
  }
}

.mat-drawer-content {
  height: 100%;
  background: #f6f6f6;
  top:30px;
  padding-bottom: 52px;
  > .ps {
    position: relative;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    @include flex-direction(column);
    @include flexbox;
    @include flex(1);
    overflow-y: auto;
    overflow-x: hidden;
    //padding: ($gutter/3);
    padding:20px;
   // padding-top: 50px;
    //padding-bottom: 70px;
  
  }
  > .main-content {
    box-sizing: border-box;
    @include flex-direction(column);
    @include flexbox;
    @include flex(1);
    > .content-view {
      position: relative;
      box-sizing: border-box;
      padding: $gutter;
      @include flex(1 0 auto);
    }
  }
}

.app-dark .mat-drawer-content {
  background-color: rgba(53, 53, 53, 1.00);
}

@include media-breakpoint-up(md) {
  .side-panel-opened[dir="rtl"] .mat-drawer-content {
    margin-left: 0!important;
    margin-right: $sidebar-width!important;
  }
}

.pad-no{ padding: 0!important;}
.pad-top {  padding-top: 15px;}
.pad-btm {  padding-bottom: 15px;}
.pad-rgt {  padding-right: 15px;}
.pad-lft {  padding-left: 15px;}
.pad-all { padding: 15px;}
//.pad-all2 { padding: 10px;}

.mar-no{ margin: 0!important;}
.mar-top {  margin-top: 15px;}
.mar-btm { margin-bottom: 15px;}
.mar-rgt {  margin-right: 15px;}
.mar-lft {  margin-left: 15px;}
.mar-all { padding: 15px;}

.panel-title{ margin-bottom: 0 !important; }

.panel-control {
  height: 100%;
  position: relative;
  float: right;
  padding: 0 15px;
}

.panel-title{ float: left;}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid #eeeeee !important;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  background-color: #fff;
  color: #758697;
  position: fixed;
  padding-top: 7px;
  bottom: 0px;
  z-index: 8;
  left: 0;
  right: 0;
  height: 35px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.13);
  font-size: 11px;
}

[dir="rtl"] .panel-control{
  float: left !important;
}

[dir="rtl"] .panel-title{
  float: right !important;
  }

[dir="rtl"] .tab-lft-sec{ float: right;  margin-right: 7px !important; padding-left: 0 !important; }
[dir="rtl"] .tab-rgt-sec{ right: 41px; left: inherit !important; position: absolute;  padding-right: 0; }

[dir="rtl"] .tabs-left{ margin-right: 7px; margin-left: 0px; }

[dir="rtl"] .text-right{text-align: left !important;}



//////////////////floating-form /////////////////

.floating-form {
  width:320px;
}

/****  floating-Lable style start ****/
.floating-label { 
  position:relative; 
  margin-bottom:30px; 
}
.floating-input , .floating-select {
  font-size:14px;
  padding:4px 4px;
  display:block;
  width:100%;
  height:30px;
  background-color: transparent;
  border:none;
  border-bottom:1px solid #dddddd;

  

}

.floating-input:focus , .floating-select:focus {
     outline:none;
     border-bottom:2px solid #5264AE; 
}

// .mat-drawer-content label {
//   color:#999; 
//   font-size:14px;
//   font-weight:normal !important;
//   position:absolute;
//   pointer-events:none;
//   left:5px;
//   //top:5px;
//   transition:0.2s ease all; 
//   -moz-transition:0.2s ease all; 
//   -webkit-transition:0.2s ease all;
// }

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-check-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: .75rem;
}

.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: .3125rem;
  margin-left: 0;
}

.form-check label{

  left: 33px;
  top: 1px;
}


.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
  top:-18px;
  font-size:11px;
  color:#5264AE;
}

.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
  top:-18px;
  font-size:11px;
  color:#5264AE;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width:50%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-textarea {
   min-height: 30px;
   max-height: 260px; 
   overflow:hidden;
  overflow-x: hidden; 
}

/* highlighter */
.highlight {
  position:absolute;
  height:50%; 
  width:100%; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}


/***   daniel - Fork me friend - style   ***/
.floating-credit { position:fixed; bottom:10px;right:10px; color:#aaa; font-size:13px;font-family:arial,sans-serif; }
.floating-credit a { text-decoration:none; color:#000000; font-weight:bold; }
.floating-credit a:hover { border-bottom:1px dotted #f8f8f8; }
.floating-heading { position:fixed; color:#aaa; font-size:20px; font-family:arial,sans-serif; }
/***  daniel - Fork me friend - style  ***/


////////////////////// checkbox/////////////////////////@at-root

.checkbox {
  padding-left: 20px; margin-top: 0; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;  top: 0;}
    .checkbox label::before {
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }

      .checkbox, .radio {
        margin-top: 0!important;
      }
      .checkbox label, .radio label{
        padding-left: 0!important;
      }
 
//end of form floating label

.bord-all {
  border: 1px solid #e9e9e9;
}

.form-control{
  border-radius: 0!important;
}

.panel{
  border-radius: 0!important;
}


//\\\\\\\\\\\\\\\\\\tabs\\\\\\\\\\\\\\\\\\\
// .mat-tab-body{ background: #ffffff;}
// .mat-tab-label-container{ background: #26a69a; }
// .mat-tab-label{ opacity: 1!important; height: 42px!important;}
// .mat-tab-label:first-child{ background: #42a5f5;}
// .mat-tab-label:nth-child(2){ background: #00bcd4;}
// .mat-tab-label:last-child{ background: #26a69a;}
// .mat-tab-label-active{ background: #ffffff !important; border: 0 !important;}
// .mat-tab-label-content{color: #dddddd !important}
// .mat-tab-label-active .mat-tab-label-content{ color: #42a5f5 !important}

.role-page-tabs .mat-tab-label{flex:auto; }
//\\\\\\\\\\\\\\\\\\\\\\tabs end\\\\\\\\\\\\\\\\\


// \\\\\\\\\\\\\\\\\\\\\\\stepper\\\\\\\\\\\\\\
// .mat-stepper-horizontal{font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
// .mat-body, .mat-body-1, .mat-typography{font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;}

 .mat-step-header {flex:auto; text-align: center; height: 44px !important;}

// .mat-horizontal-stepper-header:first-child{ background: #42a5f5;}
// .mat-horizontal-stepper-header:nth-child(3){ background: #00bcd4;}
// .mat-horizontal-stepper-header:last-child{ background: #26a69a;}

// .mat-step-header .mat-step-icon{background: #ffffff; color: #758697!important;}
// .mat-step-header .mat-step-icon-not-touched{background: #ddd; color: #758697!important;}

// .mat-step-header .mat-step-label.mat-step-label-active{color: #ddd!important;}
// .mat-step-header .mat-step-label.mat-step-label-selected{ color: #ffffff !important;}

// .mat-stepper-horizontal-line{ display: none}
//\\\\\\\\\\\\\\\\\\\\\\\stepper end\\\\\\\\\\\\\\\


.panel-body{background: #ffffff;}

.bg-info, .bg-info a {
  color: #fff;
}

.bg-info {
  background-color: #00bcd4!important;
}

.btn-primary {color: #fff;}

.status-success {color: #41D0A2 !important;}
.status-progress { color: #CB3131 !important;} 
//.mat-tab-header{ border-bottom: 0;}

//.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6{font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

//.mat-drawer{top: 28px !important;}
//.mat-cell{padding: 6px 10px !important;}



