.usercard .card-avatar img{width: 88%;}
.prepaidcard {
  border-right: 12px solid #5A9EE5 !important
}
.prepaidcard .typetext, .prepaidtext {
  color: #5A9EE5
}
.postpaidcard {
  border-right: 12px solid #FF583D !important
}
.postpaidcard .typetext, .postpaidtext {
  color: #FF583D
}



