<mat-card style="box-shadow: none;">
    <form>
        <mat-card-header>
            <h4>User Quota Details</h4>
            <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i class="ti-close"></i></button>
        </mat-card-header>
        <mat-card-content>

            <div fxLayout="row wrap" class="clearfix pad-top">
                <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa">
                        <strong>User Name</strong> </div>
                    <div class="bord-all pad-all-sm">{{userQuotaDetails.userName}}</div>
                </div>

                <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa"><strong>Department</strong></div>
                    <div class="bord-all pad-all-sm">{{userQuotaDetails.deptName}}</div>
                </div>
            </div>

            <div fxLayout="row wrap" class="clearfix pad-top">
                <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa">
                        <strong>Account Type</strong>
                    </div>
                    <div class="bord-all pad-all-sm"> {{userQuotaDetails.accountType}}</div>
                </div>
            </div>

            <div fxLayout="row wrap" class="clearfix pad-top" *ngIf="userQuotaDetails.accountType == 'Prepaid'">
                <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa">
                        <strong>Available Balance</strong>
                    </div>
                    <div class="bord-all pad-all-sm">{{userQuotaDetails.availableBalance}}</div>
                </div>

                <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa">
                        <strong>Department Credits Available</strong>
                    </div>
                    <div class="bord-all pad-all-sm">{{userQuotaDetails.departmentCredit}}</div>
                </div>

            </div>

            <div fxLayout="row wrap" class="clearfix pad-top"  *ngIf="userQuotaDetails.accountType == 'Postpaid'">
            <div fxFlex>
                <div class="bord-all pad-all-sm" style="background: #fafafa">
                    <strong>Current Threshold Limit</strong>
                </div>
                <div class="bord-all pad-all-sm"> {{userQuotaDetails.currentThresholdLimit}}</div>
            </div>
           </div>

            <div fxLayout="row wrap" class="clearfix pad-top">
                <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa"><strong>Platform Credits</strong></div>
                    <div class="bord-all pad-all-sm">{{userQuotaDetails.platformCredits}}</div>
                </div>
            </div>

            <div fxLayout="row wrap" class="clearfix pad-top">
                    <div fxFlex>
                        <div class="bord-all pad-all-sm" style="background: #fafafa"><strong>Adjustment Type</strong></div>
                        <div class="bord-all pad-all-sm">{{userQuotaDetails.adjustmentType}}</div>
                    </div>
            </div>

            <div fxLayout="row wrap" class="clearfix pad-top">
               <div fxFlex>
                  <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Expiry Date</strong> </div> 
                  <div class="bord-all pad-all-sm">{{userQuotaDetails.expiryDate}}</div>
              </div>
            </div>
        </mat-card-content>
    </form>
</mat-card>