<mat-card>
  <mat-card-header style="border-bottom: 1px solid #eee;">
    <h4>{{action}} Building</h4>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;">
      <i class="ti-close"></i>
    </button>
  </mat-card-header>

  <mat-card-content class="pad-all2">
    <div fxLayout="row wrap" class="mar-btm">
      <div fxFlex.gt-sm="100" class="example-container">
        <div>
          <form [formGroup]="buildingForm">
            <mat-form-field class="full-width">
              <input matInput cdkFocusInitial placeholder="Building Name" formControlName="buildingName" allow-Service-English1 maxlength="20" minlength="5" required>
              <mat-error *ngIf="buildingForm.controls.buildingName.errors?.required">Building Name is required</mat-error>
              <mat-error *ngIf="buildingForm.controls.buildingName.errors?.minlength">Enter minimum of 5 characters</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="Building Arabic Name" formControlName="buildingArabicName" allow-Service-Arbic1 maxlength="20" minlength="5" required>
              <mat-error *ngIf="buildingForm.controls.buildingArabicName.errors?.required">Building Arabic Name is required</mat-error>
              <mat-error *ngIf="buildingForm.controls.buildingArabicName.errors?.minlength">Enter minimum of 5 characters</mat-error>
            </mat-form-field>
            <div class="clearfix pad-ver">
              <button mat-raised-button color="primary" type="submit" [disabled]="!buildingForm.valid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="fullloader" *ngIf="loading">
    <div class="fullloaderInner">
      <img src="assets/images/loading.gif">
    </div>
  </div>
