<div fxLayout="row wrap">
  <div fxFlex="70">
    <button *ngIf="globallist.length>0" mat-raised-button class="addbutton" (click)="createNewMTCampaign()"
      style="margin-left: 5px; margin-bottom: 8px;">
      <i class="ti-plus"></i> &nbsp;{{'campaigns.title' | translate}}</button>
  </div>
  <div fxFlex="30" class="search-align pad-rgt">
    <mat-form-field>
      <input matInput [(ngModel)]="searchdata" (keyup)="searchchange()"
        placeholder="{{'ActionNames.search' | translate}}">
    </mat-form-field>
  </div>
</div>

<div fxLayout="row wrap"
  *ngIf="searchdata=='' ? true :(pagedCampaigns | campfilter : totalCampaigns : searchdata) as result" class="smartdir">
  <div  fxFlex.gt-sm="40" *ngIf="(result?.length==0 || totalCampaigns?.length==0)&& totalCampaigns" class="pointer example-container mat-elevation-z8 no-shadow bord-all">
    {{ totalCampaigns?.length==0 ? ('ActionNames.noDataFound' | translate) :('ActionNames.noFilterDataFound' | translate)}}
  </div>
  <div fxFlex.gt-sm="40" id="mtcampaignact" fxFlex.gt-xs="40" fxFlex="100" class="cmpn-left">
    <perfect-scrollbar style="height:51vh;">
      <div  style="padding-right: 8px;">
        <mat-card class="pointer example-container mat-elevation-z8 no-shadow bord-all"
          *ngFor="let campaign of pagedCampaigns | campfilter: totalCampaigns: searchdata;first as isFirst;"
          [class.pbActive]="campaign?.campId==selectedCampaign?.campId ? true :false">
          <mat-selection-list>
            <mat-card-content (click)="assignCamp(campaign)">
              <div fxFlex="10">
                <ngx-avatar class="card-avatar" size="28" name="{{campaign?.campName}}"></ngx-avatar>

              </div>
              <div fxFlex="70">
                <div class="grp-title">{{campaign?.campName}}</div>
              </div>
              <div fxFlex="20" class="grp-right"> <small class="text-sm">
                  {{'campaigns.manage.mtTitle' | translate}}</small> &nbsp; <img src="assets/images/loading-8.gif"
                  width="20%" *ngIf="campaign?.status ==3"></div>
              <div class="Umore-btn">
                <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
                <mat-menu #UcardEdit="matMenu">
                  <button mat-menu-item (click)="campaignDetails(selectedCampaign)"><i class="ti-info-alt"></i>
                    {{'campaigns.manage.details' | translate}}</button>
                </mat-menu>
              </div>
            </mat-card-content>
          </mat-selection-list>
        </mat-card>
      </div>
    </perfect-scrollbar>
    <div *ngIf="totalCampaigns?.length >pageSize  && searchdata==''">
      <mat-card class="example-container mat-elevation-z8 no-shadow bord-all">
        <mat-card-content class="text-right">
          <mat-paginator [length]="totalCampaigns?.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
            showFirstLastButtons (page)="getData($event)">
          </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  
  </div>

  <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="cmpn-right" *ngIf="selectedCampaign">
    <div fxLayout="row wrap" style="padding: 0 8px;">
      <div fxFlex="100">
        <h3 class="wraptext"><strong>{{'campaigns.manage.mtCamp' | translate}}:</strong> {{selectedCampaign?.campName}}</h3>
      </div>
      <!-- <div fxFlex="50" class="text-right" (click)="deleteDialog1(user)">
        <button mat-raised-button color="warn" class="btn-sm">Abort All</button>
      </div> -->
    </div>

    <div fxLayout="row wrap">
      <div fxFlex.gt-xs="50" fxFlex="100">
        <div fxLayout="row wrap">
          <div fxFlex="100">
            <mat-card class="example-container mat-elevation-z8 no-shadow bord-all">
              <mat-card-title class="camptype">{{'campaigns.manage.sms' | translate}}
                <span class="status"><strong>{{'campaigns.manage.status' | translate}}: </strong><span
                    class="text-success">{{selectedCampaign?.status ==2
                    ? (countDown | async) >= selectedCampaign?.timeDiff ?'Processing' :
                    statusdata[selectedCampaign?.status+''] : statusdata[selectedCampaign?.status+'']}}</span></span>
              </mat-card-title>
              <mat-card-content>
                <small class="text-center campaigndttime">{{selectedCampaign?.scheduleType == 0 ? 'Send
                  Now':'Schedule'}} ({{selectedCampaign?.campStartTime}})</small>
                <small class="messagetext" [ngClass]=" _arabic.test(selectedCampaign?.message) ? {arabic : true} : {english : true}">
                  <!-- {{selectedCampaign?.message | truncate : 100 : '...' }} -->
                  {{messageVisibility ? selectedCampaign?.message : (selectedCampaign?.message | truncate : 100  : '...') }} 
                  <a *ngIf="selectedCampaign?.message.length>100" color="primary" (click)="messageVisibility = !messageVisibility">
                      {{ messageVisibility ?  ('ActionNames.less'|translate) : ('ActionNames.more'|translate) }}</a>
                </small>
                <div class="messagedetails">
                  <table>
                    <tr>
                      <td style="width:48%;">
                        <strong>{{'campaigns.manage.senderId' | translate}}</strong>
                      </td>
                      <td>{{selectSender}}</td>
                    </tr>

                    <tr>
                      <td style="width:48%;">
                        <strong>{{'campaigns.manage.camp' | translate}}</strong>
                      </td>
                      <td>{{selectedCampaign?.campType == 0 ? 'Bulk' : 'Custom' }}</td>
                    </tr>

                    <tr>
                      <td style="width:48%;">
                        <strong>{{'campaigns.manage.baseCount' | translate}}</strong>
                      </td>
                      <td>
                        {{selectedCampaign?.campaignInfo?.validcount}}
                      </td>
                    </tr>
                  </table>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <div fxLayout="row wrap" class="actions"
                  *ngIf="selectedCampaign?.status != 5 && selectedCampaign?.status != 6 &&  selectedCampaign?.status != 8 && selectedCampaign?.scheduleType != 0">
                  <!-- <div fxFlex="100" class="text-center">{{today | date:'medium'}}</div> -->
                  <div fxFlex="50" style="padding-right: 4px;" *ngIf="selectedCampaign?.status != 4">
                    <a class="btn btn-danger btn-sm pull-right" (click)="deleteCampaign(selectedCampaign)">
                      <i class="ti-na"></i>&nbsp;{{'campaigns.manage.abort' | translate}}</a>
                  </div>
                  <div fxFlex="50" style="padding-left: 4px;"
                    *ngIf="selectedCampaign?.status != -1 && selectedCampaign?.status != 1 && selectedCampaign?.status != 3 && (selectedCampaign?.status == 2 ? selectedCampaign?.timeDiff >= (countDown | async)  : true)">
                    <button class="btn btn-warning btn-sm" color="accent" (click)="editCampaign(selectedCampaign)">
                      <i class="ti-pencil-alt"></i>&nbsp;{{'campaigns.manage.editCamp' | translate}}</button>
                  </div>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>

      <div fxFlex.gt-sm="50" fxFlex="100" *ngIf="false">
        <mat-card fxFlex class="example-container mat-elevation-z8 no-shadow bord-all">
          <mat-card-title class="bord-btm">{{'campaigns.manage.analytics' | translate}}</mat-card-title>
          <mat-card-content>
            {{'campaigns.manage.datacomes' | translate}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</div>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>