/** No CSS for this example */
.pointer{
    cursor: pointer;
  }

  mat-selection-list:focus{
    background: #e6e6e6;
}

.arabic {
  direction: rtl;
  text-align: right;
}
.english {
  direction: ltr;
  text-align: left;
}
.no-shadow{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow:none !important;
  }


  

