<div class="mar-btm">
  <form [formGroup]="kioskform">
    <div class="clearfix">
      <div fxFlex="100" class="example-container">
<!-- [disabled]="editData"  -->
        <div>
          <mat-form-field style="width: 100%;">
            <mat-select placeholder="{{'DevicesModule.level' | translate}}" cdkFocusInitial formControlName="kioskLevel"
             (selectionChange)="levelChange($event.value)"  required>
              <mat-option *ngFor="let levelDetails of levelInfo" [value]="levelDetails.floorId">
                {{levelDetails.floorName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="kioskform.controls.kioskLevel.errors?.required"> {{ 'ActionNames.errorSelectMessage' | translate }}</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field style="width: 96%;">
            <input matInput  allow-alpha-numeric-singlespace (change)="kioskNameExist()"
              placeholder="{{ 'DevicesModule.kiosk.KioskName' | translate}}" formControlName="kioskName" minlength="4"
              maxlength="30"  autocomplete="off" required>
            <mat-error *ngIf="kioskform.controls.kioskName.errors?.required">
              {{ 'ActionNames.errorMessage' | translate }}</mat-error>
          </mat-form-field>
          <mat-error *ngIf="kioskform.get('kioskName').hasError('minlength')"> {{'ActionNames.minLengthError4' | translate}}</mat-error>

          <mat-error *ngIf="kioskNameFlag && kioskform.value.kioskName?.length>3"
            style="display: inline;"><i class=" ti-check text-success"></i></mat-error>
          <mat-error *ngIf="kioskNameDisableFlag && kioskform.value.kioskName?.length>3"><i class="ti-close
              text-danger">
              {{ 'DevicesModule.kiosk.kioskExist' | translate}}
            </i></mat-error>
        </div>


        <div>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="{{ 'DevicesModule.kiosk.ipAddress' | translate}}" formControlName="kioskIp"
              allow-alpha-numeric-nospacewithdot 
              (change)="!kioskform.controls.kioskIp.errors?.required && kioskform.value.kioskIp?.length >4 ? kioskform.get('validateKioskIp').setValue(kioskform.value.kioskIp) : kioskform.get('validateKioskIp').setValue(null)"
              maxlength="20"   autocomplete="off">
            <mat-error *ngIf="kioskform.controls.kioskIp.errors?.required">
              {{ 'ActionNames.errorMessage' | translate }}
               </mat-error>
            <!-- <mat-error *ngIf="kioskform.controls.kioskIp.errors?.pattern">  [readonly]="editData ? editData?.kioskIp!='' : false"
            invalid ipAddress
             </mat-error> -->
          </mat-form-field>
          <mat-error style="display: initial; margin-left: 5px" *ngIf="!editData &&
            !kioskform.controls.validateKioskIp.errors?.required  && kioskform.value.kioskIp?.length >4 &&
            !kioskform.controls.kioskIp.errors?.required && !kioskform.controls.validateKioskIp.errors?.invalid
            "><i class=" ti-check text-success"></i></mat-error>
          <mat-error *ngIf="kioskform.controls.validateKioskIp.errors?.invalid"><i class="ti-close text-danger">
              {{ 'DevicesModule.kiosk.ipExist' | translate}}</i></mat-error>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <mat-checkbox *ngFor="let menu of menuItems" value={{menu.typeId}}  (change)="addMenuItems(menu,$event)"
        [checked]="menu.checked" required class="mar-rgt">{{menu.description}}</mat-checkbox>
    </div>
    <mat-form-field style="width: 100%;">
      <mat-select placeholder="{{ 'DevicesModule.kiosk.destination' | translate}}" formControlName="destPrinter" required>
        <mat-option *ngFor="let list of destinationPrintersList" [value]="list.destPrinter" class="mar-rgt">
          {{list.destPrinter}}
        </mat-option>
      </mat-select>
      <!-- <input matInput
              placeholder="{{ 'DevicesModule.kiosk.destination' | translate}}" formControlName="destPrinter"> -->
    </mat-form-field>
  </form>
</div>
<div class="pad-ver">
  <button mat-raised-button color="primary" [disabled]="!kioskform.valid || !kioskNameFlag" (click)="createKisok()">
    {{'ActionNames.submit' |translate}}</button>
</div>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>
