<div fxLayout="row wrap">

  <div fxFlex="60">
    <button mat-raised-button class="addbutton" (click)="addProfile()" style="margin-left: 5px; margin-bottom: 8px;">
      <img src="assets/images/add-user-button.svg"
        width="18" />&nbsp;{{'OnlineAlertsModule.title' | translate}}</button>
  </div>

  <div fxFlex="40" class="search-align pad-rgt">
    <div fxFlex="92">
      <a [matMenuTriggerFor]="SearchGrid"><img src="assets/images/filter-icon.png" width="12" /></a> &nbsp;
      <mat-form-field>
        <mat-menu #SearchGrid="matMenu">
          <button mat-menu-item
            (click)="searchFilter('1')"><i class="ti-check"></i>{{'ActionNames.active' | translate}}</button>
          <button mat-menu-item
            (click)="searchFilter('0')"><i class="ti-close"></i>{{'ActionNames.inActive' | translate}}</button>
          <button mat-menu-item
            (click)="searchFilter('')"><i class="ti-reload"></i>{{'ActionNames.reset' | translate}}</button>
        </mat-menu>
        <input matInput [(ngModel)]="searchdata" (keyup)="applyFilter($event.target.value)"
          placeholder="{{'ActionNames.search' | translate}}">
      </mat-form-field>
    </div>

    <div fxFlex="8">
      <div style="margin-top: 18px; font-size: 16px;">
          <i *ngIf="listflag" class="ti-layout-grid2-alt text-muted" matTooltip="{{'ActionNames.gridView' | translate}}"
            (click)="loadGrid()" style="cursor: pointer"></i>
          <i *ngIf="!listflag" class="ti-menu text-muted" matTooltip="{{'ActionNames.listView' | translate}}" (click)="loadList()"
            style="cursor: pointer"></i>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!listflag">
  <div fxLayout="row wrap"
    *ngIf="searchdata=='' ? true :(filterProfileList | Profilefilter : profilesList : searchdata) as result">
    <div fxFlex.gt-sm="33.3" fxFlex="100"
      *ngFor="let profile of filterProfileList | Profilefilter : profilesList : searchdata">
      <mat-card fxFlex class="usercard no-shadow mat-elevation-z0">
        <mat-card-content>
          <div fxLayout="row wrap">
            <div fxFlex="98" class="UcardLeft">
              <div class="pad-all2 clearfix" style="padding-bottom: 8px !important;">
                <div fxLayout="row wrap" class="clearfix card-top">
                  <div>
                    <div class="card-avatar" *ngIf="profile?.status == '1'">
                      <div class="image-inner">
                        <img src="assets/images/dbProfile.svg" />
                        <span class="status-g active"></span>
                      </div>
                    </div>
                    <div class="card-avatar" *ngIf="profile?.status != '1'">
                      <div class="image-inner">
                        <img src="assets/images/dbProfile.svg" />
                        <span class="status-g inactive"></span>
                      </div>
                    </div>

                  </div>
                  <div fxFlex="75">
                    <div class="card-details">
                      {{profile.profileName}}
                      <small><strong>{{'OnlineAlertsModule.userName' | translate}}:
                        </strong>{{profile.username}}</small>
                      <small><strong>{{'OnlineAlertsModule.dbType' | translate}}:
                        </strong>{{profile.databaseTypes?.dbName}}</small>
                      <small><strong>{{'OnlineAlertsModule.dbName' | translate}}: </strong>{{profile.dbname}}</small>
                      <small *ngIf="profile?.status==1|| profile?.status==0"><strong>
                          {{'ActionNames.status'| translate}}:
                          </strong>{{profile?.status==1?'Active':'InActive'}}</small>
                        <small style="color:green;" *ngIf="profile?.status=='-1'"><strong>
                            {{'ActionNames.status'| translate}}:</strong><strong>{{'ActionNames.pending'| translate}}
                          </strong></small>
                        <small style="color:red;" *ngIf="profile?.status=='-2'"><strong>
                            {{'ActionNames.status'| translate}}:</strong><strong>{{'ActionNames.rejected'| translate}}</strong></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" Umore-btn" *ngIf="profile.status == '-2'">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <button mat-menu-item (click)="profileDetails(profile)"><i
                    class="ti-info-alt"></i>{{'ActionNames.details' | translate}}</button>
                <button mat-menu-item (click)="editProfile(profile)"><i
                    class="ti-pencil-alt"></i>{{'ActionNames.edit' | translate}}</button>
              </mat-menu>
            </div>

            <div class=" Umore-btn" *ngIf="(profile.status != '-1' && profile.status != '-2')">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <button mat-menu-item (click)="profileDetails(profile)"><i
                    class="ti-info-alt"></i>{{'ActionNames.details' | translate}}</button>
                <div *ngIf="!profile.status">
                  <button mat-menu-item (click)="profileActiveDialog(profile,1)"><i class="ti-check"></i>
                    {{'ActionNames.active' | translate}}</button>
                </div>
                <div *ngIf="profile.status">
                  <button mat-menu-item (click)="editProfile(profile)"><i
                      class="ti-pencil-alt"></i>{{'ActionNames.edit' | translate}}</button>
                  <button mat-menu-item (click)="profileActiveDialog(profile,0)"><i class="ti-close"></i>
                    {{'ActionNames.inActive' | translate}}</button>
                </div>
              </mat-menu>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="profilesList?.length> pageSize && searchdata==''" style="width: 100%">
      <mat-paginator [length]="profilesList.length" showFirstLastButtons [pageSize]="pageSize" [pageIndex]="initPage"
        (page)="getData($event)">
      </mat-paginator>
    </div>
    <div *ngIf="(result?.length==0 || profilesList?.length == 0)&& !loading">
      {{ profilesList?.length==0 ? ('ActionNames.noDataFound' | translate) :('ActionNames.noFilterDataFound' | translate)}}
    </div>
  </div>
</div>
<div *ngIf="listflag && (searchdata=='' ? profilesList?.length>0 : dataSource.filteredData?.length>0)"
  class="example-container mat-elevation-z8 no-shadow bord-all">
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()" class="full-width-table listtable">
    <ng-container matColumnDef="profileName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'OnlineAlertsModule.profileName' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.profileName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dbType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'OnlineAlertsModule.dbType' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.databaseTypes?.dbName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dbname">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-dbname">{{'OnlineAlertsModule.dbName' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-dbname"> {{element.dbname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serverIp">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'OnlineAlertsModule.profilemanage.serverName' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.serverIp}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'OnlineAlertsModule.userName' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="port">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'OnlineAlertsModule.port' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.port}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="connectivity">
      <mat-header-cell *matHeaderCellDef>{{'OnlineAlertsModule.connectivity' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.oraConnectionType? element.oraConnectionType :'N/A'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'ActionNames.status' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.status== 1 ? ('ActionNames.active' | translate)  : ('ActionNames.inActive' | translate)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="mat-column-actions">
        {{'ActionNames.actions' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-actions">
        <span *ngIf="element.status == '-2'">
          <i class="ti-info-alt link" matTooltip="{{'ActionNames.details' | translate}}"
            (click)="profileDetails(element)"></i>
          <i class="ti-pencil-alt link" matTooltip="{{'ActionNames.edit' | translate}}"
            (click)="editProfile(element)"></i>
        </span>
        <span *ngIf="(element.status != '-1' && element.status != '-2')">
          <i class="ti-info-alt link" matTooltip="{{'ActionNames.details' | translate}}"
            (click)="profileDetails(element)"></i>
          <span *ngIf="element.status==0">
            <i class="ti-check link" matTooltip="{{'ActionNames.active' | translate}}"
              (click)="profileActiveDialog(element,1)"></i>
          </span>
          <span *ngIf="element.status==1">
            <i class="ti-pencil-alt link" matTooltip="{{'ActionNames.edit' | translate}}"
              (click)="editProfile(element)"></i>
            <i class="ti-close link" matTooltip="{{'ActionNames.inActive' | translate}}"
              (click)="profileActiveDialog(element,0)"></i>
          </span>
        </span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div *ngIf="profilesList.length>pageSize && searchdata==''" style="width: 100%">
    <mat-paginator #paginator [length]="profilesList.length" [pageSize]="pageSize" [pageIndex]="listPage"
      showFirstLastButtons (page)="getListData($event)">
    </mat-paginator>
  </div>
</div>
<div *ngIf="listflag && (searchdata=='' ? profilesList?.length==0 : dataSource.filteredData?.length==0)">
  {{ profilesList?.length==0 ? ('ActionNames.noDataFound' | translate) :('ActionNames.noFilterDataFound' | translate)}}
</div>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>