 .usercard .card-avatar img{width: 55%; height: 50px; margin:0 0 0 20%}
   .campaigndttime { display: block; font-weight:  bold; border-bottom: 1px solid #eeeeee; padding-bottom: 3px}
  .status { float: right; font-size: 13px}
  .actions {justify-content: space-between;}
  .actions .mat-raised-button:last-child { margin-right: 0}
