<div fxLayout="row wrap">

  <div fxFlex="60">
    <button mat-raised-button class="addbutton" (click)="addOfflinealert()"
      style="margin-left: 5px; margin-bottom: 8px;">
      <img src="assets/images/add-user-button.svg" width="18" />&nbsp;
      {{'OfflineAlertManager.offlineAlerts'|translate}}</button>
  </div>

  <div fxFlex="40" class="search-align pad-rgt">
    <div fxFlex="100">
      <!-- <a [matMenuTriggerFor]="SearchGrid"><img src="assets/images/filter-icon.png" width="12" /></a> &nbsp; -->
      <mat-form-field>
        <input matInput [(ngModel)]="searchdata" (keyup)="searchchange()"
          placeholder="{{'ActionNames.search' | translate}}">
      </mat-form-field>
    </div>
  </div>

  <div fxFlex="100"
    *ngIf="searchdata=='' ? true :(filterOfflineAlerts | offlinefilter : offlineAlertsList : searchdata) as result"
     class="smartdir">
    <div fxFlex.gt-sm="40" *ngIf="(result?.length==0 || offlineAlertsList?.length==0)&& !loading"
      class="pointer example-container mat-elevation-z8 no-shadow bord-all">
      {{ offlineAlertsList?.length==0 ? ('ActionNames.noDataFound' | translate) :('ActionNames.noFilterDataFound' | translate)}}
    </div>
    <div fxFlex.gt-sm="40" id="mtcampaignact" fxFlex.gt-xs="40" fxFlex="100" class="cmpn-left">
      <perfect-scrollbar style="height:56vh;">
        <div  style="padding-right: 8px;">
          <mat-card class="pointer example-container mat-elevation-z8 no-shadow bord-all"
            [class.pbActive]="alert?.alertOfflineId==selectedAlert?.alertOfflineId ? true :false"
            *ngFor="let alert of filterOfflineAlerts | offlinefilter : offlineAlertsList : searchdata ; first as isFirst">
            <mat-selection-list>
              <mat-card-content (click)="activeAlert(alert)">
                <div fxFlex="10">
                  <ngx-avatar class="card-avatar" size="28" name="{{alert.offlineAlertName}}"></ngx-avatar>
                </div>
                <div fxFlex="90">
                  <div class="grp-title">{{alert.offlineAlertName}}</div>
                </div>
                <div class=" Umore-btn">
                  <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
                  <mat-menu #UcardEdit="matMenu">
                    <button mat-menu-item (click)="offlineAlertDetails(alert)"><i
                        class="ti-info-alt"></i>{{'ActionNames.details' | translate}}</button>
                  </mat-menu>
                </div>
              </mat-card-content>
            </mat-selection-list>
          </mat-card>
        </div>
      </perfect-scrollbar>
      <div *ngIf="offlineAlertsList.length >pageSize  && searchdata==''">
        <mat-card class="example-container mat-elevation-z8 no-shadow bord-all">
          <mat-card-content class="text-right">
            <mat-paginator [length]="offlineAlertsList?.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
              showFirstLastButtons (page)="getData($event)">
            </mat-paginator>

          </mat-card-content>
        </mat-card>
      </div>

    </div>

    <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="cmpn-right" *ngIf="selectedAlert">
      <div fxLayout="row wrap" style="padding: 0 8px;">
        <div fxFlex="100">
          <h3 class="wraptext"><strong>{{'OfflineAlertManager.alertName'|translate}} :</strong> {{selectedAlert?.offlineAlertName}}</h3>
        </div>
        <!-- <div fxFlex="50" class="text-right" (click)="deleteDialog1(user)">
          <button mat-raised-button color="warn" class="btn-sm">Abort All</button>
        </div> -->
      </div>


      <div fxLayout="row wrap">
        <div fxFlex.gt-xs="50" fxFlex="100">
          <div fxLayout="row wrap">
            <div fxFlex="100">
              <mat-card class="no-shadow bord-all" *ngIf="selectedAlert">
                <mat-card-title class="camptype">
                  <a *ngIf="selectedAlert.status==1"
                    (click)="updateAlertStatus(selectedAlert,2)">{{'ActionNames.start' | translate}}</a>
                  <a *ngIf="selectedAlert.status==2"
                    (click)="updateAlertStatus(selectedAlert,1)">{{'ActionNames.stop' | translate}}</a>
                  <span class="status"><strong>{{'ActionNames.status' | translate}}: </strong><span
                      class="text-success">{{statusdata[selectedAlert?.status+'']}}</span></span>
                </mat-card-title>
                <mat-card-content>
                  <small class="messagetext" > 
                      {{messageVisibility ? selectedAlert?.message : (selectedAlert?.message | truncate : 100  : '...') }} 
                      <a *ngIf="selectedAlert?.message.length>100" color="primary" (click)="messageVisibility = !messageVisibility">
                          {{ messageVisibility ?  ('ActionNames.less'|translate) : ('ActionNames.more'|translate) }}</a>
                  </small>

                  <div class="messagedetails">
                    <table>
                      <tr>
                        <td style="width:48%;">
                          <strong>{{'OfflineAlertManager.scheduledJob'|translate}}</strong>
                        </td>
                        <td>
                          {{selectedAlert.intervalValue}} {{selectedAlert.intervalType.intervalName}}
                        </td>
                      </tr>
                      <tr>
                        <td style="width:48%;">
                          <strong>{{'OfflineAlertManager.filePath'|translate}}</strong>
                        </td>
                        <td>
                          {{selectedAlert.filepath}}
                        </td>
                      </tr>
                      <tr>
                        <td style="width:48%;">
                          <strong>{{'OfflineAlertManager.senderId'|translate}}</strong>
                        </td>
                        <td>
                          {{selectSender}}
                        </td>
                      </tr>
                      <!-- <tr>
                          <td>
                            <strong>Service ID</strong>
                          </td>
                          <td>
                              {{selectedAlert.serviceId}}
                          </td>
                        </tr> -->
                      <!-- <tr>
                        <td>
                          <strong>Subject</strong>
                        </td>
                        <td>
                          gsdjghjksdghklj
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <strong>Database</strong>
                        </td>
                        <td>
                          2,00,000
                        </td>
                      </tr> -->
                    </table>
                  </div>
                </mat-card-content>
                <mat-card-actions>
                  <div fxLayout="row wrap" class="actions">
                    <button mat-raised-button color="warn" *ngIf="selectedAlert.status==1"
                      (click)="updateAlertStatus(selectedAlert,0)">
                      <i class="ti-na"></i>&nbsp; {{'ActionNames.deActive' | translate}}</button>
                    <button mat-raised-button color="warn" *ngIf="selectedAlert.status==0"
                      (click)="updateAlertStatus(selectedAlert,1)">
                      <i class="ti-check"></i>&nbsp; {{'ActionNames.active' | translate}}</button>
                    <button mat-raised-button color="accent" *ngIf="selectedAlert.status==1"
                      (click)="editAlert(selectedAlert)">
                      <i class="ti-pencil-alt"></i> {{'Alert Manager.editAlert' | translate}}</button>
                  </div>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="50" fxFlex="100">
          <mat-card fxFlex class="example-container mat-elevation-z8 no-shadow bord-all" *ngIf="false">
            <mat-card-title class="bord-btm"> Analytics </mat-card-title>
            <mat-card-content>
              Data comes here
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>