<mat-card style="box-shadow: none;">
  <form>
      <mat-card-header>

<h4>{{'Alert Manager.createAlert.alertDetails' | translate}}</h4>
        <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
            class="ti-close"></i></button>
      </mat-card-header>
    <mat-card-content>

        <div fxLayout="row wrap" class="clearfix pad-top">
            <div fxFlex>
                <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>{{'Alert Manager.alertName' | translate}}</strong> </div> 
                <div class="bord-all pad-all-sm"> {{alerttDetails?.onlineAlertName}}</div>
            </div>

            <div fxFlex>
              <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>{{'Alert Manager.department' | translate}}</strong> </div> 
              <div class="bord-all pad-all-sm"> {{alerttDetails?.deptName}}</div>
          </div>
        </div>
        
        <div fxLayout="row wrap" class="clearfix pad-top">
            <div fxFlex>
              <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>{{'Alert Manager.profileName' | translate}}</strong> </div> 
              <div class="bord-all pad-all-sm"> {{alerttDetails?.dbProfileInfo.profileName}}</div>
          </div>  
          </div>

          <div fxLayout="row wrap" class="clearfix pad-top">
              <div fxFlex>
                <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>{{'Alert Manager.table' | translate}}</strong> </div> 
                <div class="bord-all pad-all-sm"> {{alerttDetails?.tableName}}</div>
            </div>  
            </div>

            <div fxLayout="row wrap" class="clearfix pad-top">
                <div fxFlex>
                  <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>{{'Alert Manager.uniqueColumn' | translate}}</strong> </div> 
                  <div class="bord-all pad-all-sm"> {{alerttDetails?.uniqueColumn}}</div>
              </div>  
              </div>

              <div fxLayout="row wrap" class="clearfix pad-top">
                  <div fxFlex>
                    <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>{{'Alert Manager.message' | translate}}</strong> </div> 
                    <div class="bord-all pad-all-sm"> {{alerttDetails?.message}}</div>
                </div>  
              </div>
    </mat-card-content>
  </form>
</mat-card>