<mat-card style="box-shadow: none;">

  <mat-card-header style="border-bottom: 1px solid #eee;">
      <h4 class="details-heading wrap-word w80">{{ 'ClientsModule.UpdateLincense.title' | translate}} </h4>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i class="ti-close"></i></button>
  </mat-card-header>
  <mat-card-content class="wrap-word">
    <div fxLayout="row wrap" class="clearfix pad-top userdetails">
      <div fxFlex="100">

        <!-- <input type="hidden" formControlName="licenseId"> -->


        <div>
          <!-- <small>{{ 'ClientsModule.createclient.licenseFileLabel' | translate}}</small> -->
          <!-- <input type="file" #validatebtn formControlName="licensePath" accept=".l4j" style="color:transparent;" (change)='FileUpload($event,true)'
                      required>&nbsp; -->
          <button mat-raised-button color="primary" [ngxFilePicker]="readMode" accept=".l4j"
            (change)="FileUpload($event)"
            required>{{ 'ClientsModule.createclient.licenseFileLabel' | translate}}</button>
          <span style="color:red;" *ngIf="fileerror">{{ 'ClientsModule.createclient.licenseFileValidation' |
            translate}}</span>

          <!-- <div class="pull-left" style="padding-top: 15px;"> -->
          <span *ngIf="validLicense"><i class=" ti-check text-success"></i></span>
          <span *ngIf="inValidLicense"><i class=" ti-close text-danger"></i></span>
          <span style="padding-top: 15px;" *ngIf="message">{{ 'ClientsModule.createclient.count' | translate}}
            {{message}}</span>
          <!-- <button mat-raised-button color="primary" type="submit"
                            [disabled]="clientform.controls.licensePath.invalid || fileerror "
                            (click)="validate(this.clientform.controls.licensePath)">{{ 'ClientsModule.createclient.validateLicense' | translate}}</button> -->
          <!-- </div> -->

          <div *ngIf="validLicense" class="licensedetails mar-top">


            <div fxLayout="row wrap">
              <div fxFlex class="detailbox">
                <strong>{{ 'ClientsModule.UpdateLincense.licenseId' | translate}}</strong><br>
                {{licenseResponse.licenseId}}
              </div>
              <div fxFlex class="detailbox">
                <strong>{{ 'ClientsModule.UpdateLincense.hospitalsCount' | translate}}</strong><br>
                {{licenseResponse.hospitalsCount}}
              </div>
            </div>

            <hr style="border-color: #dddddd;">

            <div *ngFor="let item of editData" class="licensedetails">
              <div fxLayout="row wrap">
                <div fxFlex class="detailbox"><strong>{{ 'ClientsModule.UpdateLincense.organization' | translate}}
                  </strong>
                  <br>{{item?.facility}}</div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex class="detailbox"> <strong>{{ 'ClientsModule.createclient.emailId' | translate}}
                  </strong><br>
                  {{item?.emailId}}
                </div>
                <div fxFlex class="detailbox"> <strong>{{ 'ClientsModule.createclient.mobileNo' | translate}}
                  </strong><br>
                  {{item?.mobileNo}}
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex class="detailbox">
                  <strong> {{ 'ClientsModule.createclient.address' | translate}}</strong>
                  <br>{{item?.address}}
                </div>
              </div>

              <hr style="border-color: #dddddd;">
            </div>


          </div>
          <br>
          <span *ngIf="inValidLicense"
            style="margin-top:30px;">{{'ClientsModule.createclient.invalidLicense' | translate}}<br></span>
          <button mat-raised-button color="primary" (click)="onSubmit()" style="margin-top:30px;"
            [disabled]="!validLicense">
            {{ 'ActionNames.submit' |translate}}</button>
        </div>


      </div>
    </div>
  </mat-card-content>

</mat-card>