.tblheader{ background:#42ABDB; color: #ffffff; font-size: 12px;}
.tknservebox .title{color: #0485ba; margin: 0;}
.tknservebox h3{ word-break: break-all;}
.ntnk{color: #E9660F;}

.ntkn-footer{text-align: right; padding-top: 12px; margin-top: 8px;}
.ntkn-footer button{border-radius: 50px; background: #878A8C; margin-left: 5px; height: 28px; width: 26px; line-height: 27px;}
.ntkn-footer button.transfer img{ height: 17px;}
.ntkn-footer button:hover.transfer{ background: #3391CD !important;}

.ntkn-footer button.next img{ height: 12px;}
.ntkn-footer button:hover.next{ background: #68BF1A !important;}

.ntkn-footer button.noshow img{ height: 16px;}
.ntkn-footer button:hover.noshow{ background: #E3B410 !important;}

.ntkn-footer button.end img{ height: 14px;}
.ntkn-footer button:hover.end{ background: #D13A1C !important;}

.ntkn-footer button.recycling img{ height: 16px;}
.ntkn-footer button:hover.recycling{ background: #A632D6 !important;}

.ntkn-footer button.recall img{ height: 16px;}
.ntkn-footer button:hover.recall{ background: #ED70D7 !important;}

.drlink{ font-weight: bold; color: #0969BA; word-break:break-word;}

.ntbl .ntblhead{background:#42ABDB; color: #ffffff; font-size: 12px; padding: 8px; font-weight: bold; word-break: break-word}
.ntbl .ntblrow{ padding: 8px; border-top: 1px solid #dddddd; word-break: break-word}


.fullloader2{background: #000000; opacity: 0.7; width: 100%; height: 83vh; position: absolute; z-index: 999999999; top: 0; text-align: center; 
    display: table;}
    .fullloaderInner{display: table-cell; vertical-align: middle;}
    .fullloaderInner img{ width: 50px;}
