<mat-card>
  <form [formGroup]="interfacesForm">
    <mat-card-header style="border-bottom: 1px solid #eee;">
          <div fxLayout="row wrap">
        <h4>
          {{data ? ('InterfacesModule.createinterface.editinterface' | translate):('InterfacesModule.createinterface.interface' | translate)}}
        </h4>
      </div>
      <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
          class="ti-close"></i></button>
    </mat-card-header>

    <mat-card-content>
      <div class="clearfix">
        <div class="col-sm-12">
          <div class="example-container">

            <input type="hidden" formControlName="interfaceCode">

            <!-- <mat-form-field class="full-width">
              <input matInput allow-all-selected-characters-singlespace placeholder="Interface Code *"
                formControlName="interfaceCode" cdkFocusInitial  minlength="3"
                maxlength="10" [readonly]="data != null">
              <mat-error *ngIf="interfacesForm.controls.interfaceCode.errors?.required">Interface code is required
              </mat-error>
              <mat-error *ngIf="interfacesForm.controls.interfaceCode.errors?.minlength">Enter Minimum of 3 characters
              </mat-error>
            </mat-form-field> -->
<div class="w100">
            <mat-form-field class="w95">
              <input autocomplete="off" matInput cdkFocusInitial required
                placeholder="{{'InterfacesModule.createinterface.interfacename' | translate}}" [readonly]="data"
                formControlName="interfaceName" allow-alpha-numeric-singlespace maxLength="30" minlength="5"
                (change)="!interfacesForm.controls.interfaceName.errors?.required && interfacesForm.controls.interfaceName.valid ?
                interfacesForm.get('validateInterfaceName').setValue(interfacesForm.value.interfaceName): interfacesForm.get('validateInterfaceName').setValue(null)">
              <mat-error *ngIf="interfacesForm.controls.interfaceName.errors?.required">
                {{'InterfacesModule.createinterface.errormsginterface' | translate}}
              </mat-error>
              <mat-error *ngIf="interfacesForm.controls.interfaceName.errors?.minlength">
                {{'InterfacesModule.createinterface.minlenerror' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-error *ngIf="!data &&
            !interfacesForm.controls.validateInterfaceName.errors?.required &&
            !interfacesForm.controls.interfaceName.errors?.required && !interfacesForm.controls.validateInterfaceName.errors?.invalid
            " style="display: inline"><i class=" ti-check text-success"></i></mat-error>
            <mat-error *ngIf="interfacesForm.controls.validateInterfaceName.errors?.invalid"><i class="ti-close
                text-danger">
                {{'InterfacesModule.createinterface.interfaceExist' | translate}}
              </i></mat-error>
            </div>
            <mat-form-field class="full-width">
              <input autocomplete="off" matInput allow-all-space
                placeholder="{{'InterfacesModule.createinterface.interfacedesp' | translate}} *"
                formControlName="interfaceDesc" minlength="5" maxLength="50">
              <mat-error *ngIf="interfacesForm.controls.interfaceDesc.errors?.required">
                {{'InterfacesModule.createinterface.interfacedesperror' | translate}}
              </mat-error>
              <mat-error *ngIf="interfacesForm.controls.interfaceDesc.errors?.minlength">
                {{'InterfacesModule.createinterface.minlenerror' | translate}}
              </mat-error>
            </mat-form-field>
            <!-- 
              <p>Status</p>
              <mat-slide-toggle [checked]="useStatus" color="primary" formControlName="interfaceStatus">{{interfacesForm.value.interfaceStatus ? 'Active' : 'Passive'}}</mat-slide-toggle> -->
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div style="margin-left: 12px;">
        <button mat-raised-button class="submitbutton" type="submit" [disabled]="!interfacesForm.valid || loading"
        actionClick (debounceClick)="createInterface()">{{data ? ('ActionNames.update' | translate):('ActionNames.save' | translate)}}</button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif"> </div> </div>