<mat-card>
  <form [formGroup]="usersForm">
    <mat-card-header>
      <div fxLayout="row wrap">
        <h4>{{editData ? ('userModule.editTitle' | translate):('userModule.addTitle' | translate)}}</h4>
      </div>
      <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%; "><i
          class="ti-close"></i></button>
    </mat-card-header>
    <mat-card-content>
      <div class="clearfix">

        <div class="clearfix">
          <div class="col-sm-6">
            <!-- <mat-form-field style="width: 93%;">
              <input matInput allow-email-charecters [readonly]="editData" cdkFocusInitial
                placeholder="{{'userModule.create.email' | translate}}" formControlName="login" maxlength="50"
                minlength="10"
                (change)="!usersForm.controls.login.errors?.required && usersForm.controls.login.valid ?
                  usersForm.get('validateUserName').setValue(usersForm.value.login): usersForm.get('validateUserName').setValue(null)"
                autocomplete="on" required>
              <mat-error *ngIf="usersForm.controls.login.errors?.required">
                {{'userModule.create.emailRequired' | translate}}</mat-error>
              <mat-error *ngIf="usersForm.controls.login.errors?.minlength">
                {{'userModule.create.emailMinimum' | translate}}</mat-error>
            </mat-form-field>

            <span *ngIf="!usersForm.controls.validateUserName.errors?.required && !usersForm.controls.login.errors?.required && !usersForm.controls.validateUserName.errors?.invalid
                ">
              <i class="ti-check text-success"></i></span>
            <mat-error *ngIf="usersForm.controls.validateUserName.errors?.invalid"><i class="ti-close text-danger">
                {{'userModule.create.userExist' | translate}}
              </i></mat-error> -->
            <mat-form-field style="width: 100%">
              <mat-select placeholder="{{ 'userModule.create.userType' | translate}}" formControlName="userType"
                (selectionChange)="changeUserType()" [disabled]="editData" required>
                <!-- <mat-option [value]="1">{{'userModule.ldap' | translate}}</mat-option> -->
                <mat-option [value]="0">{{'userModule.synapse' | translate}}</mat-option>
              </mat-select>
              <mat-error *ngIf="usersForm.controls.userType.errors?.required">
                {{ 'ActionNames.errorSelectMessage' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field style="width: 63%; padding-right: 6px;">
              <input matInput cdkFocusInitial [readonly]="editData || !verifyButton"
                placeholder="{{'userModule.create.userid' | translate}}" formControlName="login" allow-email-charecters
                maxlength="50" minlength="5" autocomplete="off" required>
              <mat-error *ngIf="usersForm.controls.login.errors?.required">
                {{ 'userModule.create.userrequired' | translate }}
              </mat-error>
              <mat-error *ngIf="usersForm.get('login').hasError('minlength')">
                {{'userModule.minimumLength5' | translate}}</mat-error>
            </mat-form-field>

            <span *ngIf="!editData">
              <button class="btn submitbutton"   type="button"  (click)="verifyName()"
                [disabled]="verifyButton?!usersForm?.controls.login.valid:false"  >
                <span *ngIf="verifyButton">
                  {{ 'ActionNames.verifyButton' | translate}}</span>
                <span *ngIf="!verifyButton">
                  {{ 'ActionNames.clearButton' | translate}}</span>
              </button>
            </span>

            <mat-error *ngIf="loginFlag" style="display: inline; margin-left: 8px;"><i
                class=" ti-check text-success"></i>
            </mat-error>
            <mat-error *ngIf="loginDisableFalg && usersForm.value.userType=='0'"><i class=" ti-close text-danger">
              <small style="font-family: Arial, Helvetica, sans-serif;">
                {{ 'userModule.create.userExist' | translate}}</small>
              </i></mat-error>
            <mat-error *ngIf="loginDisableFalg && usersForm.value.userType=='1'"><i class=" ti-close text-danger">
              <small style="font-family: Arial, Helvetica, sans-serif;">
                {{ ldapError}}</small>
              </i></mat-error>
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="{{'userModule.create.emailid'| translate}}" formControlName="emailId"
                allow-email-charecters maxlength="50" required autocomplete="off">
              <mat-error *ngIf="usersForm.controls.emailId.errors?.required">
                {{'userModule.create.emailRequired'| translate}}
              </mat-error>
              <mat-error *ngIf="usersForm.controls.emailId.errors?.pattern">
                {{'userModule.create.errormsg'| translate}}
              </mat-error>
            </mat-form-field>
     

          </div>

          <div class="col-sm-6">

            <mat-form-field style="width: 100%;">
              <input matInput allow-alphabets-singlespace placeholder="{{'userModule.create.firstName' | translate}}"
                formControlName="firstname" maxLength="30" minlength="1" autocomplete="off" required>
              <mat-error *ngIf="usersForm.controls.firstname.errors?.required">{{'userModule.errorMessage' | translate}}
              </mat-error>
              <mat-error *ngIf="usersForm.controls.firstname.errors?.minlength">
                {{'userModule.minimumLength1' | translate}}</mat-error>
            </mat-form-field>

            <mat-form-field style="width: 100%;">
              <input matInput allow-alphabets-singlespace placeholder="{{'userModule.create.lastName' | translate}}"
                formControlName="lastname" maxlength="30" minlength="1" autocomplete="off">
              <!-- <mat-error *ngIf="usersForm.controls.lastname.errors?.required">{{'userModule.errorMessage' | translate}}
              </mat-error>
              <mat-error *ngIf="usersForm.controls.lastname.errors?.minlength">
                {{'userModule.minimumLength1' | translate}}</mat-error> -->
            </mat-form-field>
            <mat-form-field style="width: 100%;">
              <input matInput allow-mobilenumber-nospace placeholder="{{'userModule.create.mobile' | translate}}"
                 formControlName="mobileNo" minlength="12" maxlength="15"  required autocomplete="off">
              <mat-error *ngIf="usersForm.controls.mobileNo.errors?.required">{{'userModule.errorMessage' | translate}}
              </mat-error>
              <mat-error *ngIf="usersForm.controls.mobileNo.errors?.minlength">
                {{'userModule.create.mobileMinimum' | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-sm-12">
          <mat-form-field style="width: 100%;">
            <mat-select placeholder="{{'userModule.create.role' | translate}}" formControlName="role"
              [disabled]="editData" (selectionChange)="roleSelection()" required>
              <mat-option *ngFor="let role of _roledata" value="{{role.roleCode}}">{{role.roleDescription}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="usersForm.controls.role.errors?.required">{{'userModule.errorSelectMessage' | translate}}
            </mat-error>
          </mat-form-field>
          <div *ngIf=" usersForm.value.role && usersForm.value.role !== 'NA'">
            <mat-checkbox formControlName="checker" (change)="changeChecker()" [labelPosition]="after">
              {{'userModule.checker' | translate}}
            </mat-checkbox>
          </div>
          <mat-form-field *ngIf="departementflag" style="width: 100%;">
            <mat-select placeholder="{{'userModule.create.deptSelect' | translate}}" formControlName="departements"
              [disabled]="editData || _roleCode=='DA'" (selectionChange)="departementSelection($event.value)" required>
              <mat-option *ngFor="let dept of _deptdata" value="{{dept.deptName}}">{{dept.deptName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="usersForm.controls.departements.errors?.required">
              {{'userModule.errorSelectMessage' | translate}}
            </mat-error>
          </mat-form-field>
          <span><small style="color:red;"
              *ngIf="departementnotfoundflag">{{'userModule.create.deptDeactivate' | translate}}</small>
          </span>

          <mat-form-field *ngIf="creditflag" style="width: 100%;">
            <mat-select placeholder="{{'userModule.create.creditType' | translate}}" (selectionChange)="creditSelect()"
              [disabled]="editData || creditFlag" formControlName="creditType" required>
              <mat-option *ngFor="let type of creditTypes" [value]="type.creditName">{{type.creditName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="usersForm.controls.creditType.errors?.required">
              {{'userModule.errorSelectMessage' | translate}}
            </mat-error>
          </mat-form-field>

        </div>
        <br>

        <div class="clearfix">
          <div class="col-sm-6">
            <mat-card *ngIf="usersForm.value.role && usersForm.value.role !== 'NormalUser'">
              <fieldset class="scheduler-border-admin aduserChk">
                <legend class="scheduler-border">{{'userModule.create.admin' | translate}}</legend>
                <div formArrayName="adminPrevilages"
                   *ngFor="let item of usersForm.get('adminPrevilages')['controls']; let i=index;">
                  <div [formGroupName]="i">
                    <mat-checkbox formControlName="checker" color="primary" [disabled]="usersForm.value.role =='PA' || usersForm.value.role =='NA' || item.value.moduleId == 1 ||
                  item.value.moduleId == 2" [labelPosition]="labelPosition">{{item.value.modulename}}</mat-checkbox>
                  </div>
                </div>
              </fieldset>
            </mat-card>
          </div>

          <div class="col-sm-6">
            <mat-card *ngIf="usersForm.value.role" style="height:100">
              <fieldset class="scheduler-border-user aduserChk">
                <legend class="scheduler-border">{{'userModule.create.user' | translate}}</legend>
                <div formArrayName="userPrevilages"
                   *ngFor="let item of usersForm.get('userPrevilages')['controls']; let i=index;">
                  <div [formGroupName]="i">
                    <mat-checkbox formControlName="checker" color="primary" [disabled]="usersForm.value.role =='PA'"
                      [labelPosition]="labelPosition">{{item.value.modulename}}</mat-checkbox>
                  </div>
                </div>
              </fieldset>
            </mat-card>
          </div>
        </div>
        <div class="col-sm-12 clearfix mar-top">
          <button mat-raised-button class="submitbutton" type="submit" [disabled]="!usersForm.valid || loading"
            (click)="createUser()">{{editData ? ('ActionNames.update' | translate):('ActionNames.save' | translate)}}</button>
        </div>
      </div>
    </mat-card-content>
  </form>
</mat-card>

<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>