.helpicon {font-size: 18px; cursor: pointer; display:inline-block; padding-left:15px;}
.helppop_title{background:#ffffff; padding-left: 10px; border-bottom: 1px solid #cccccc}
.helppop_title strong{float:left;}
.content-header{border-bottom:1px  solid #cccccc;}
.content-header img{width:440px; height:auto}