<mat-card>
    <form [formGroup]="emailtoSmsForm">
      <mat-card-header style="border-bottom: 1px solid #eee;">
        <h4>{{_editemailToSmsdata ? ('emailToSmsModule.CreateEmail.editEmail' | translate) : ('emailToSmsModule.CreateEmail.createEmail' | translate) }}</h4>
        <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
            class="ti-close"></i></button>
      </mat-card-header>
  
      <mat-card-content>
        <div class="clearfix">
          <div class="col-sm-12">
  
            <div class="example-container">
        <div class="w100">
              <mat-form-field class="w95">
                <input matInput autofocus autocomplete="off" [readonly]="_editemailToSmsdata" (change)="!emailtoSmsForm.controls.name.errors?.required && emailtoSmsForm.controls.name.valid ?
                emailtoSmsForm.get('validateEmailToSmsName').setValue(emailtoSmsForm.value.name): emailtoSmsForm.get('validateEmailToSmsName').setValue(null)" placeholder="{{'emailToSmsModule.CreateEmail.emailtosmsName' | translate}}" formControlName="name" allow-alpha-numeric-special-singlespace cdkFocusInitial maxlength="30" required>
                <mat-error *ngIf="emailtoSmsForm.controls.name.errors?.required">{{'emailToSmsModule.CreateEmail.emailNameRequired' | translate}}
                </mat-error>
                <!-- <mat-error *ngIf="emailtoSmsForm.controls.name.errors?.minlength">{{'emailToSmsModule.CreateEmail.nameLen' | translate}}
                </mat-error> -->
                <mat-error *ngIf="emailtoSmsForm.controls.name.errors?.minlength">{{'emailToSmsModule.CreateEmail.nameLen' | translate}}
                </mat-error>
              </mat-form-field>
             
              <mat-error *ngIf="!emailtoSmsForm.controls.validateEmailToSmsName.errors?.required &&
              !emailtoSmsForm.controls.name.errors?.required && !emailtoSmsForm.controls.validateEmailToSmsName.errors?.invalid
              " style="display: inline;"><i class=" ti-check text-success"></i></mat-error>
              <mat-error *ngIf="emailtoSmsForm.controls.validateEmailToSmsName.errors?.invalid"><i class="ti-close
                  text-danger">
                  <small style="font-family: Arial, Helvetica, sans-serif;">
                    {{'emailToSmsModule.CreateEmail.emailNameExists' | translate}}</small>
                </i></mat-error>
              </div>
              <mat-form-field class="w100" *ngIf="_roleCode=='SA' || _roleCode=='PA'">
                <mat-select placeholder="{{'emailToSmsModule.CreateEmail.department' | translate}}" formControlName="department" (selectionChange)="departmentChange(true)" required>
                  <mat-option *ngFor="let dept of departmentList" [value]="dept.deptId">{{dept.deptName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="emailtoSmsForm.controls.department.errors?.required">{{'emailToSmsModule.CreateEmail.deptRequired' | translate}}
                </mat-error>
              </mat-form-field>
  
              <mat-form-field class="w100" *ngIf="_roleCode!='NA'">
                <mat-select placeholder="{{'emailToSmsModule.CreateEmail.user' | translate}}" formControlName="user" required>
                  <mat-option *ngFor="let user of usersList" [value]="user.userId">{{user.login}}</mat-option>
                </mat-select>
                <mat-error *ngIf="emailtoSmsForm.controls.user.errors?.required">{{'emailToSmsModule.CreateEmail.userRequired' | translate}}
                </mat-error>
              </mat-form-field>
  
              <mat-form-field class="w100">
                <mat-select placeholder="{{'emailToSmsModule.CreateEmail.mailBox' | translate}}" formControlName="mailBox" required>
                  <mat-option *ngFor="let server of mailServerList" [value]="server.emailServerId" >{{server.emailServerName}} </mat-option>
                </mat-select>
                <mat-error *ngIf="emailtoSmsForm.controls.mailBox.errors?.required">{{'emailToSmsModule.CreateEmail.mailBoxRequired' | translate}}
                </mat-error>
              </mat-form-field>
              <mat-radio-group formControlName="whitelistType" (change)="domainChange(false)">
                <mat-radio-button color="primary" value="1">{{'emailToSmsModule.CreateEmail.whiteListMails' | translate}}</mat-radio-button>&nbsp;&nbsp;
                <mat-radio-button color="primary" value="2">{{'emailToSmsModule.CreateEmail.domain' | translate}}</mat-radio-button>
              </mat-radio-group>
              <mat-form-field class="w100" *ngIf="emailtoSmsForm.value.whitelistType=='1'">
                  <input matInput allow-multiple-email-charecters maxlength="500" autocomplete="off" placeholder="{{emailtoSmsForm.value.whitelistType=='1'? ('emailToSmsModule.CreateEmail.whiteListMails' | translate) : ('emailToSmsModule.CreateEmail.domain' | translate) }}" formControlName="whitelistMail"   required>
                  <mat-error *ngIf="emailtoSmsForm.controls.whitelistMail.errors?.required">{{emailtoSmsForm.value.whitelistType=='1'? ('emailToSmsModule.CreateEmail.whiteListRequired' | translate) : ('emailToSmsModule.CreateEmail.domainRequired' | translate) }}</mat-error>
                  <mat-error *ngIf="emailtoSmsForm.controls.whitelistMail.errors?.pattern">{{emailtoSmsForm.value.whitelistType=='1' ?('emailToSmsModule.CreateEmail.validEmail' | translate): ('emailToSmsModule.CreateEmail.validDomain' | translate) }}</mat-error>
              </mat-form-field>
              <mat-form-field class="w100" *ngIf="emailtoSmsForm.value.whitelistType=='2'">
                <input matInput  autocomplete="off" maxlength="500" placeholder="{{'emailToSmsModule.CreateEmail.domain' | translate }}" formControlName="whitelistMail"   required>
                <mat-error *ngIf="emailtoSmsForm.controls.whitelistMail.errors?.required">{{'emailToSmsModule.CreateEmail.domainRequired' | translate }}</mat-error>
                <mat-error *ngIf="emailtoSmsForm.controls.whitelistMail.errors?.pattern">{{'emailToSmsModule.CreateEmail.validDomain' | translate }}</mat-error>
              </mat-form-field>
              <!-- <mat-form-field class="w100" *ngIf="domainFlag">
                <input matInput  placeholder="Domains" formControlName="domain"  maxlength="50" required>
                <mat-error *ngIf="emailtoSmsForm.controls.domain.errors?.required">Domain is required</mat-error>
                <mat-error *ngIf="emailtoSmsForm.controls.domain.errors?.minlength">Enter minimum of 10 characters</mat-error>   
                <mat-error *ngIf="emailtoSmsForm.controls.domain.errors?.pattern">Enter valid emails</mat-error>    
            </mat-form-field> placeholder="{{'emailToSmsModule.CreateEmail.format' | translate}}" -->
              <div class="w100">
                <mat-form-field style="width:90%">
                    <mat-label>{{'emailToSmsModule.CreateEmail.format' | translate }}</mat-label>
                    <mat-select  formControlName="format" required>
                        <mat-option *ngFor="let recipient of recipientList" [value]="recipient.recipientTypeId">{{recipient.recepientName}}</mat-option>
                    </mat-select>    
                  <mat-error *ngIf="emailtoSmsForm.controls.format.errors?.required">{{'emailToSmsModule.CreateEmail.formatRequired' | translate}}
                  </mat-error>
                </mat-form-field>

                <div style="width:10%" class="helpicon"><i class="ti-help-alt" actionClick (debounceClick)="showpopup=true"></i></div>
              </div>
               <mat-checkbox formControlName="tag" color="primary" (change)="onMessageBodyTagSelection(emailtoSmsForm.controls.tag.value)">{{'emailToSmsModule.CreateEmail.messageBox' | translate}}</mat-checkbox> 
              <div *ngIf="tagFlag">
              <mat-form-field class="w100">
                <input matInput  autocomplete="off" placeholder="{{'emailToSmsModule.CreateEmail.startTag' | translate}}" formControlName="startTag" required>
                <mat-error *ngIf="emailtoSmsForm.controls.startTag.errors?.required">{{'emailToSmsModule.CreateEmail.startTagRequired' | translate}}</mat-error>            
              </mat-form-field> 

              <div class="w100">
              <mat-form-field style="width:90%;">
                  <input matInput autocomplete="off"  placeholder="{{'emailToSmsModule.CreateEmail.endTag' | translate}}" formControlName="endTag" required>
                  <mat-error *ngIf="emailtoSmsForm.controls.endTag.errors?.required">{{'emailToSmsModule.CreateEmail.endTagRequired' | translate}}</mat-error>            
              </mat-form-field>
              <div style="width:10%" class="helpicon"><i class="ti-help-alt" actionClick (debounceClick)="showPopUp=true"></i></div>
              </div>
            </div>
              <mat-form-field class="w100">
                  <mat-select placeholder="{{'emailToSmsModule.CreateEmail.senderId' | translate}}" formControlName="senderId" required>
                    <mat-option *ngFor="let sender of senderList" [value]="sender.senderId">{{sender.senderName}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="emailtoSmsForm.controls.senderId.errors?.required">{{'emailToSmsModule.CreateEmail.senderIdRequired' | translate}}
                  </mat-error>
                </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="form-actions">
        <div style="margin-left: 12px;">
          <button mat-raised-button type="submit" class="submitbutton"
            [disabled]="!emailtoSmsForm.valid || loading" actionClick (debounceClick)="onSubmit()">{{_editemailToSmsdata ? ('ActionNames.update' | translate):('ActionNames.save' | translate)}}</button>
        </div>
     
      </mat-card-actions>
  
    </form>
  </mat-card>

  <div *ngIf="showpopup" class="helppop">
      <div class="helppop_title"><strong>{{'emailToSmsModule.TemplateFormate.templateFormats'| translate}}</strong><i class="ti-close" actionClick (debounceClick)="showpopup=false"></i></div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item active">
                <div class="content-header">
                    <div style="padding: 10px; ">
                      <p><strong>{{'emailToSmsModule.TemplateFormate.Template'| translate}} 1:</strong>{{'emailToSmsModule.TemplateFormate.template1Instructions'| translate}}</p>
                      <img src="assets/images/e2s-help.jpg">
                    </div>
                </div>
            </div>
        
            <div class="item">
                <div class="content-header">
                    <div style="padding: 10px; ">
                      <p><strong>{{'emailToSmsModule.TemplateFormate.Template'| translate}} 2:</strong>{{'emailToSmsModule.TemplateFormate.template2Instructions'| translate}}</p>
                      <img src="assets/images/e2s-help.jpg">
                    </div>
                  </div>
            </div>
        
            <div class="item">
                <div class="content-header">
                    <div style="padding: 10px; ">
                      <p><strong>{{'emailToSmsModule.TemplateFormate.Template'| translate}} 3:</strong>{{'emailToSmsModule.TemplateFormate.template3Instructions'| translate}}</p>
                      <img src="assets/images/e2s-help.jpg">
                    </div>
                  </div>
            </div>

            <div class="item">
                <div class="content-header">
                    <div style="padding: 10px; ">
                      <p><strong>{{'emailToSmsModule.TemplateFormate.Template'| translate}} 4:</strong>{{'emailToSmsModule.TemplateFormate.template4Instructions'| translate}}</p>
                      <img src="assets/images/e2s-help.jpg">
                    </div>
                  </div>
            </div>
          </div>

          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">{{'ActionNames.Previous' | translate}}</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">{{'ActionNames.next' | translate}}</span>
          </a>
        </div>
  </div>

  <div *ngIf="showPopUp" class="helppop">
      <div class="helppop_title"><strong>{{'emailToSmsModule.TemplateFormate.tagFormats'| translate}}</strong><i class="ti-close" actionClick (debounceClick)="showPopUp = false"></i></div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="item active">
                <div class="content-header">
                    <div style="padding: 10px; ">
                      <p><strong>{{'emailToSmsModule.TemplateFormate.Template'| translate}} 5:</strong>{{'emailToSmsModule.TemplateFormate.template5Instructions'| translate}}</p>
                      <img src="assets/images/s2m-help2.jpg">
                    </div>
                  </div>
            </div>
        
            <div class="item">
                <div class="content-header">
                    <div style="padding: 10px; ">
                      <p><strong>{{'emailToSmsModule.TemplateFormate.Template'| translate}} 5-A:</strong>{{'emailToSmsModule.TemplateFormate.template5AInstructions'| translate}}</p>
                      <img src="assets/images/s2m-help2.jpg">
                    </div>
                  </div>
            </div>

          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">{{'ActionNames.Previous' | translate}}</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">{{'ActionNames.next' | translate}}</span>
          </a>
        </div>
        </div>
  </div>
        <div class="fullloader" *ngIf="loading">
            <div class="fullloaderInner">
              <img src="assets/images/loading.gif">
            </div>
          </div>