<mat-card>
        <mat-card-header style="border-bottom: 1px solid #eee;">
            <h4>{{'CustomermanagementModule.segmentManagement.create.customerDetails' | translate }}</h4>
            <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
                    class="ti-close"></i></button>
        </mat-card-header>
    
        <mat-card-content>
            <div class="clearfix">
                <div class="col-sm-12">
                    <!-- <div class="example-container" style="margin-bottom: 10px">
                      <div fxFlex="100" class="mar-rgt">
                      <div fxFlex="20" class="mar-rgt">
    
                      </div>
    
                      <div fxFlex="80" class="mar-rgt">
                          9848612458<br>
                          {{custonerDetails?.customerEmail}}
                      </div>
                      </div>
                </div> -->
    
                    <div class="example-container" style="margin-bottom: 10px">
                        <div class="mar-rgt">
                            <div fxLayout="row wrap" class="row" style="margin-bottom: 10px">
                                <!-- <div fxFlex="20" class="bord-all pad-all"><img src="assets/images/customer-details.svg" width="70"/></div> -->
                                <div fxFlex="50" class="pad-all">
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.customerName' | translate }}</small><br><span>{{customerDetails?.customerName}}</span>
                                        </p>
                                    </div>
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.mobileNumber' | translate }}</small><br>{{customerDetails?.mobileNo}}
                                        </p>
                                    </div>
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.emailId' | translate }}</small><br>&nbsp;{{customerDetails?.emailId}}
                                        </p>
                                    </div>
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.country' | translate }}</small><br>&nbsp;{{customerDetails?.country}}
                                        </p>
                                    </div>
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.residency/visa' | translate }}</small><br>&nbsp;{{customerDetails?.residenceType}}
                                        </p>
                                    </div>
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.NationalId' | translate }}</small><br>&nbsp;{{customerDetails?.nationalId}}
                                        </p>
                                    </div>
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.prefLanguage' | translate }}</small><br>{{customerDetails?.language==0?'English':'Arabic'}}
                                        </p>
                                    </div>
                                </div>
                                <div fxFlex="50" class="pad-all">
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.dob' | translate }}</small><br>{{customerDetails?.dob}}
                                        </p>
                                    </div>
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.placeofBirth' | translate }}</small><br>{{customerDetails?.pob}}
                                        </p>
                                    </div>
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.City' | translate }}</small><br>{{customerDetails?.city}}
                                        </p>
                                    </div>
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.nationality' | translate }}</small><br>&nbsp;{{customerDetails?.nationality}}
                                        </p>
                                    </div>
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.passportNumber' | translate }}</small><br>&nbsp;{{customerDetails.passportNo}}
                                        </p>
                                    </div>
                                    <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.prefChannels' | translate }}</small><br>{{channels}}
                                        </p>
                                    </div>
                                    <!-- <div fxLayout="row wrap" class="row bord-all pad-all detailcard">
                                        <p class="detailpara">
                                            <small>{{'CustomermanagementModule.segmentManagement.create.custSeg' | translate }}</small><br>{{customerDetails.segmentMaster.segmentName}}
                                        </p>
                                    </div> -->
                                </div>
                            </div>
                            <!--
                          <div fxLayout="row wrap" class="row detailcard">
                              <div fxFlex class="bord-all pad-all"><p class="detailpara"><strong>Preferred Timings from and to</strong><br>08:00 AM - 08:00 PM</p></div>
                            </div> -->
    
                           
    
                            <!-- <div fxLayout="row wrap" class="clearfix pad-top">
                          <div fxFlex>
                                  <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Created By</strong> </div>
                                  <div class="bord-all pad-all-sm" style="background: #fafafa"><strong>Modified By</strong></div>
                                  <div class="bord-all pad-all-sm" style="background: #fafafa"> <strong>Created Date</strong> </div>
                                  <div class="bord-all pad-all-sm" style="background: #fafafa"><strong>Modified Date</strong></div>
                              </div>
    
                              <div fxFlex>
                                  <div class="bord-all pad-all-sm">Super Admin</div>
                                  <div class="bord-all pad-all-sm">Super Admin</div>
                                  <div class="bord-all pad-all-sm">April 15, 2019</div>
                                  <div class="bord-all pad-all-sm">April 17, 2019</div>
                              </div>
                    </div> -->
    
    
                        </div>
                    </div>
    
    
                </div>
            </div>
        </mat-card-content>
    
    </mat-card>