//.customerdetails { background: #F6F6F6; padding: 10px}
.customerdetails .key { width: 25%; float: left; padding: 6px; font-weight:bold}
.customerdetails .value { width: 75%; float: left; padding: 6px}

.customerdetails .row:nth-child(even) {
    background: #F6F6F6;
}

.customerdetails .row:nth-child(odd) {
    background:#F6F6F6;
}
.detailpara { margin: 0 }
.detailpara small { font-weight: bold}
.detailcard {margin-bottom: 5px; margin-left: 5px; background:#F6F6F6;}

