
<perfect-scrollbar style="height:75vh">
<h1>{{ 'DashBoardModule.facilitydashboard.title' | translate}} <span style="color: #49BDEE;"> {{_userName}}</span></h1>

<mat-card>
    <mat-card-content class="pad-all2 wrap-word">
        <div fxLayout="row wrap" class="hm-tiles text-center">
            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
                <mat-card class="pad-no mar-no shadow-none bord-no">
                    <mat-card-content>
                        <div><img src="assets/images/appoinment.svg" width="15%" /></div>
                        <div class="tile-head" style="color: #22bad1 ;">
                            {{ 'DashBoardModule.facilitydashboard.appointments' | translate}}</div>
                        <div class="cnt">{{facilityDashboardData?.totalAppts}}</div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
                <mat-card class="pad-no mar-no shadow-none bord-no">
                    <mat-card-content>
                        <div><img src="assets/images/check-in.svg" width="15%" /></div>
                        <div class="tile-head" style="color: #f69922 ;">
                            {{ 'DashBoardModule.facilitydashboard.patientcheckin' | translate}}</div>
                        <div class="cnt">{{facilityDashboardData?.totalCheckin}}</div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
                <mat-card class="pad-no mar-no shadow-none bord-no">
                    <mat-card-content>
                        <div><img src="assets/images/patient.svg" width="15%" /></div>
                        <div class="tile-head" style="color: #8ec824;">
                            {{ 'DashBoardModule.facilitydashboard.patientwaiting' | translate}}</div>
                        <div class="cnt">
                            {{0 >= facilityDashboardData?.waitingtokens ? 0 : facilityDashboardData?.waitingtokens}}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
                <mat-card class="pad-no mar-no shadow-none bord-no">
                    <mat-card-content>
                        <div><img src="assets/images/avg-waiting-time.svg" width="15%" /></div>
                        <div class="tile-head" style="color: #ee4949;">
                            {{ 'DashBoardModule.facilitydashboard.averagewaiting' | translate}}</div>
                        <div class="cnt">
                            {{0 >= facilityDashboardData?.waitingTime ? 0 : facilityDashboardData?.waitingTime}}<small
                                style="font-size: 60%;">
                                {{ 'DashBoardModule.facilitydashboard.minutes' | translate}}</small></div>
                    </mat-card-content>
                </mat-card>
            </div>


        </div>
    </mat-card-content>
</mat-card>

<div fxLayout="row wrap" class="mar-top tbl-cnt">
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card fxFlex>
            <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center" class="wrap-word"
                style=" color: #666666; font-size: 16px; margin-bottom: 10px;padding: 2rem 2rem 0 2rem;">
                {{ 'DashBoardModule.facilitydashboard.currentServingTokens' | translate}}
            </mat-card-subtitle>

            <mat-card-content class="wrap-word">
                <table class="table table-striped text-rgt">
                    <thead class="text-rgt">
                        <tr>
                            <th style="width:35%"><i class="ti-user"></i><br>
                                {{ 'DashBoardModule.facilitydashboard.name' | translate}}</th>
                            <th style="width:35%"><i class="ti-layout-grid2"></i><br>
                                {{ 'DashBoardModule.facilitydashboard.departement' | translate}}</th>
                            <th style="width:30%"><i class="ti-ticket"></i><br>
                                {{ 'DashBoardModule.facilitydashboard.tokenNumber' | translate}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let token of _tokenData">
                            <td style="width:35%">{{token?.firstName}}</td>
                            <td style="width:35%">{{token?.department}}</td>
                            <td style="width:30%">{{token?.tokenNo}}</td>
                        </tr>

                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card fxFlex>
            <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center" class="wrap-word"
                style=" color: #666666; font-size: 16px; margin-bottom: 10px;padding: 2rem 2rem 0 2rem;">
                {{ 'DashBoardModule.facilitydashboard.queues' | translate}}
            </mat-card-subtitle>

            <mat-card-content class="wrap-word">
                <table class="table table-striped text-rgt">
                    <thead class="text-rgt">
                        <tr>
                            <th style="width:40%"><i class="ti-layout-grid2"></i><br> Department</th>
                            <th style="width:30%"><i
                                    class="ti-user"></i><br>{{ 'DashBoardModule.facilitydashboard.waitingPatients' | translate}}
                            </th>
                            <th style="width:30%"><i
                                    class="ti-time"></i><br>{{ 'DashBoardModule.facilitydashboard.waitingTime' | translate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let queue of _queueData">
                            <td style="width:40%">{{queue?.department}}</td>
                            <td style="width:30%">{{queue?.waitPatients}}</td>
                            <td style="width:30%">{{0 >= queue?.waitTime ? 0 :  queue?.waitTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
</perfect-scrollbar>
<div class="fullloader" *ngIf="loading">
    <div class="fullloaderInner">
        <img src="assets/images/loading.gif">
    </div>
</div>