<div fxLayout="row wrap">

  <div fxFlex="60">
    <button mat-raised-button class="addbutton" (click)="addGroup()" style="margin-left: 5px; margin-bottom: 8px;">
      <img src="assets/images/add-user-button.svg" width="18" />&nbsp;
      {{'groupManagementModule.manage.title' | translate }}</button>
  </div>

  <div fxFlex="40" class="search-align pad-rgt">
    <div fxFlex="92">
      <a [matMenuTriggerFor]="SearchGrid"><img src="assets/images/filter-icon.png" width="12" /></a> &nbsp;
      <mat-form-field>
        <mat-menu #SearchGrid="matMenu">
          <button mat-menu-item (click)="searchFilter('1')"><i class="ti-check"></i>
            {{'ActionNames.active' | translate }}</button>
          <button mat-menu-item (click)="searchFilter('0')"><i class="ti-close"></i>
            {{'ActionNames.inActive' | translate }}</button>
          <button mat-menu-item (click)="searchFilter('')"><i class="ti-reload"></i>
            {{'ActionNames.reset' | translate }}</button>
        </mat-menu>
        <input matInput [(ngModel)]="searchdata" (keyup)="applyFilter($event.target.value)"
          placeholder="{{'ActionNames.search' | translate }}">
      </mat-form-field>
    </div>

    <div fxFlex="8">
      <div style="margin-top: 18px; font-size: 16px;">
        <i *ngIf="listflag" class="ti-layout-grid2-alt  text-muted" matTooltip="{{'ActionNames.gridView' | translate}}"
          (click)="loadGrid()" style="cursor: pointer; "></i>
        <i *ngIf="!listflag" class="ti-menu text-muted" matTooltip="{{'ActionNames.listView' | translate}}" (click)="loadList()"
          style="cursor: pointer;"></i>
      </div>
    </div>
  </div>

</div>

<div *ngIf="!listflag">
  <div fxLayout="row wrap"
    *ngIf="searchdata=='' ? true :(filterGroups | groupfilter : groupsList : searchdata) as result">
    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" fxFlex="100"
      *ngFor="let group of filterGroups | groupfilter : groupsList : searchdata">
      <mat-card fxFlex class="usercard no-shadow mat-elevation-z0">
        <mat-card-content>
          <div fxLayout="row wrap">
            <div fxFlex="98" class="UcardLeft">
              <div class="pad-all2 clearfix" style="padding-bottom: 8px !important;">
                <div fxLayout="row wrap" class="clearfix card-top">
                  <div class="card-avatar" *ngIf="group.status == '1'">
                    <div class="image-inner">
                      <img src="assets/images/group.svg" />
                      <span class="status-g active"></span>
                    </div>
                  </div>
                  <div class="card-avatar" *ngIf="group.status != '1'">
                    <div class="image-inner">
                      <img src="assets/images/group.svg" />
                      <span class="status-g inactive"></span>
                    </div>
                  </div>
                  <div fxFlex="77">
                    <div class="card-details">
                      <span>{{group.groupName}}</span>
                      <small><strong>{{'groupManagementModule.description' | translate }}:
                        </strong>{{group.description}}</small>
                      <small><strong>{{'groupManagementModule.users' | translate }}: </strong><a
                          (click)="getGroupUsers(group)">{{group?.users?.length}}</a></small>
                      <!-- <small style="color:green;" *ngIf="group.status=='-1'"><strong>{{'ActionNames.pending' | translate }}</strong></small>
                      <small style="color:red;" *ngIf="group.status=='-2'"><strong>{{'ActionNames.rejected' | translate }}</strong></small> -->
                        <small style="color:green;" *ngIf="group?.status=='-1'"><strong>
                            {{'ActionNames.status'| translate}}:</strong><strong>{{'ActionNames.pending'| translate}}
                          </strong></small>
                        <small style="color:red;" *ngIf="group?.status=='-2'"><strong>
                            {{'ActionNames.status'| translate}}:</strong><strong>{{'ActionNames.rejected'| translate}}</strong></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" Umore-btn" *ngIf="group.status == '-2'">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <button mat-menu-item (click)="groupDetails(group)"><i class="ti-info-alt"></i>
                  {{'ActionNames.details' | translate }}</button>
                <button mat-menu-item (click)="editGroup(group)"><i class="ti-pencil-alt"></i>
                  {{'ActionNames.edit' | translate }}</button>
              </mat-menu>
            </div>

            <div class=" Umore-btn" *ngIf="(group.status != '-1' && group.status != '-2')">
              <button mat-icon-button [matMenuTriggerFor]="UcardEdit"><i class="ti-more-alt"></i></button>
              <mat-menu #UcardEdit="matMenu">
                <button mat-menu-item (click)="groupDetails(group)"><i class="ti-info-alt"></i>
                  {{'ActionNames.details' | translate }}</button>
                <div *ngIf="!group.status">
                  <button mat-menu-item (click)="groupActiveDialog(group,1)"><i class="ti-check"></i>
                    {{'ActionNames.active' | translate }}</button>
                </div>
                <div *ngIf="group.status">
                  <button mat-menu-item (click)="editGroup(group)"><i class="ti-pencil-alt"></i>
                    {{'ActionNames.edit' | translate }}</button>
                  <button mat-menu-item (click)="groupActiveDialog(group,0)"><i class="ti-close"></i>
                    {{'ActionNames.inActive' | translate }}</button>
                  <button mat-menu-item (click)="deleteGroup(group)"><i class="ti-trash"></i>
                    {{'ActionNames.delete' | translate }}</button>
                </div>
              </mat-menu>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="groupsList.length> pageSize && searchdata==''" style="width: 100%">
      <mat-paginator [length]="groupsList.length" [pageSize]="pageSize" [pageIndex]="initPage" showFirstLastButtons
        (page)="getData($event)">
      </mat-paginator>
    </div>
    <div *ngIf="(result.length==0 || groupsList.length==0) && !loading">
      {{groupsList?.length==0 ?('ActionNames.noDataFound' | translate): ('ActionNames.noFilterDataFound' | translate) }}
    </div>
  </div>
</div>

<div *ngIf="listflag && (searchdata=='' ? groupsList.length>0 : dataSource.filteredData.length>0)"
  class="example-container mat-elevation-z8 no-shadow bord-all">

  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()" class="listtable">

    <ng-container matColumnDef="groupName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-groupname">
        {{'groupManagementModule.create.groupName' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-groupname"> {{element.groupName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'groupManagementModule.description' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'groupManagementModule.manage.usersCount' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> <a (click)="getGroupUsers(element)">{{element.users?.length}}</a> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'groupManagementModule.manage.status' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a>{{element.status== 1 ? 'Active' : 'In-Active'}}</a> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="mat-column-actions">
        {{'ActionNames.actions' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-actions">

        <span *ngIf="element.status == '-2'">
          <i class="ti-info-alt link" matTooltip="{{'ActionNames.details' | translate}}"
            (click)="groupDetails(element)"></i>
          <i class="ti-pencil-alt link" matTooltip="{{'ActionNames.edit' | translate}}"
            (click)="editGroup(element)"></i>
        </span>
        <span *ngIf="(element.status != '-1' && element.status != '-2')">
          <i class="ti-info-alt link" matTooltip="{{'ActionNames.details' | translate}}"
            (click)="groupDetails(element)"></i>
          <span *ngIf="element.status==0">
            <i class="ti-check link" matTooltip="{{'ActionNames.active' | translate}}"
              (click)="groupActiveDialog(element,1)"></i>
          </span>
          <span *ngIf="element.status==1">
            <i class="ti-pencil-alt link" matTooltip="{{'ActionNames.edit' | translate}}"
              (click)="editGroup(element)"></i>
            <i class="ti-close link" matTooltip="{{'ActionNames.inActive' | translate}}"
              (click)="groupActiveDialog(element,0)"></i>
          </span>
          <i class="ti-trash link" matTooltip="{{'ActionNames.delete' | translate}}" (click)="deleteGroup(element)"></i>
        </span>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div *ngIf="groupsList.length>pageSize && searchdata==''" style="width: 100%">
    <mat-paginator #paginator [length]="groupsList.length" [pageSize]="pageSize" [pageIndex]="listPage"
      showFirstLastButtons (page)="getListData($event)"></mat-paginator>
  </div>
</div>
<div *ngIf="listflag && (searchdata=='' ? groupsList.length==0 : dataSource.filteredData.length==0)">
  {{groupsList?.length==0 ?('ActionNames.noDataFound' | translate): ('ActionNames.noFilterDataFound' | translate) }}
</div>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>