<mat-card>
  <form [formGroup]="sendersForm">
    <mat-card-header style="border-bottom: 1px solid #eee;">
      <h4>{{'ApprovalModule.sender.title' | translate }}</h4>
      <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%;"><i
          class="ti-close"></i></button>
    </mat-card-header>

    <mat-card-content>
      <div class="clearfix" cdkFocusInitial>
        <div class="col-sm-12">

          <div class="example-container">
            <table class="table table-bordered">
              <tr>
                <td class="heading"><strong>{{'ApprovalModule.sender.name' | translate }}</strong></td>
                <td>{{ApprovalsList?.senderName}}</td>
              </tr>
              <!-- <tr>
                <td class="heading"><strong>Created On</strong></td>
                <td>Apr 25, 2019 07:00 pm</td>
              </tr>
              <tr>
                <td class="heading"><strong>Created By</strong></td>
                <td>Platform Admin</td>
              </tr> -->
            </table>

            <div fxLayout="row wrap" class="checkerbuttons">
              <div fxFlex="25">

                <div class="card-avatar" style="width:50px; margin-bottom: 10px; margin-left: 15px">
                  <img src="assets/images/success.svg" />
                </div>

                <button mat-raised-button type="button" class="green-button" [disabled]="loading" actionClick (debounceClick)="approveSender()">{{'ActionNames.approve' | translate }}</button>
              </div>
              <div fxFlex="75">
                <mat-form-field class="full-width">
                  <textarea matInput matTextareaAutosize matAutosizeMinRows="5"  matAutosizeMaxRows="5" placeholder=" {{'ApprovalModule.rejectReason' | translate }}" formControlName="rejectReason" required></textarea>
                  <mat-error *ngIf="sendersForm.controls.rejectReason.errors?.required ">
                    {{'ApprovalModule.rejectReasonReq' | translate }}</mat-error>
                </mat-form-field>

                <button mat-raised-button type="submit" class="red-button" actionClick (debounceClick)="rejectSender()"
                  [disabled]="!sendersForm.valid || loading">{{'ActionNames.reject' | translate }}</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </mat-card-content>

  </form>
</mat-card>
<div class="fullloader" *ngIf="loading">
  <div class="fullloaderInner">
    <img src="assets/images/loading.gif">
  </div>
</div>
