<mat-card>
  <mat-card-header>
    <div fxLayout="row wrap" class="w80" >
      <h4 class="wrap-word">{{'serviceModule.assignService.title' | translate }}</h4>
    </div>
    <button mat-icon-button [mat-dialog-close] style="position: absolute; right: 1%; "><i class="ti-close"></i></button>
  </mat-card-header>
  <mat-card-content class="wrap-word pre-content">
    <div class="example-container">

      <div fxLayout="row wrap">
        <div fxFlex="100">
          <mat-card>
            <mat-card-content>
              <div fxLayout="row flex" class="mar-btm bord-all pad-all-sm bglte2">
                <div fxFlex="50" cdkFocusInitial><strong>{{'serviceModule.createservice.serviceEngName' | translate }}:</strong> <br> {{data?.serviceEngName}}</div>
                <div fxFlex="50" ><strong>{{'serviceModule.assignService.serviceType' | translate }}:</strong> <br></div>
              </div>
             
              <dual-list [sort]="true" [source]="ServiceNameList" [key]="key" [display]="display"
                [filter]="ServiceNameList?.length > 2 ? true : false" [(destination)]="LocationList" height="200px"
                [format]="format" class="assgndual"></dual-list>

                <br>
                <div>
                  <button mat-raised-button color="primary" (click)="CreateServices()" [disabled]="SubminAction ? false : LocationList?.length == 0 ">
                    {{ 'ActionNames.submit' | translate}}</button>
                </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      
    </div>
  </mat-card-content>
</mat-card>
<div class="fullloader" *ngIf="loading">
    <div class="fullloaderInner">
      <img src="assets/images/loading.gif">
    </div>
  </div>
