<perfect-scrollbar style="height: 76vh;">
<div fxLayout="row">
<div fxFlex="70" class="pad-rgt">
          
    <app-drilldowndashboard></app-drilldowndashboard>
    <div fxLayout="row">
      <div fxFlex="50">
          <div class="mat-elevation-z1">
          <mat-card  style="margin: 0 !important">
              <mat-card-content>
                  <img src="assets/images/kfsh1.jpg" class="img-responsive">
              </mat-card-content>
          </mat-card>
      </div>
      </div>

      <div fxFlex="50">
              <div class="mat-elevation-z1">
              <mat-card  style="margin: 0 !important">
                  <mat-card-content>
                      <img src="assets/images/kfsh2.jpg" class="img-responsive">
                  </mat-card-content>
              </mat-card>
              </div>
          </div>
  </div>
</div>


  <div fxFlex="30" >
         <app-alertdashboard></app-alertdashboard>      
  </div>
  </div>
</perfect-scrollbar>

<!-- [perfectScrollbar]="config" [disabled]="mediaMatcher.matches" -->
<!-- <mat-sidenav-container class="app-inner"> -->

  <!-- <div > -->
    <!-- <router-outlet></router-outlet> -->
  <!-- </div> -->
<!-- </mat-sidenav-container> -->

