.table {
    width: 100%;
    margin-bottom: 0 !important;
  }
  
.tab-c{
    width:18%;
}

.tab-head th{ background: #999999; color: #ffffff; text-align: center}
.tab-head td{text-align: center;}

tr.mat-footer-row, tr.mat-row{height: auto !important;}

.alert{margin-bottom: 5px;}

.alert span{font-size: 13px; margin:0 3px; color:#333333;}